<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-s margin-bottom-s">
  <div class="flex flex-wrapped flex-middle margin-top-xl">
    <button #btnSelect mat-flat-button i18n type="button" [color]="'primary'" (click)="onClickBtnSelect()">
      Select File
    </button>
    <input type="file" #fileInput class="hidden" />
    <div i18n class="mat-caption padding-left-xs margin-remove-bottom">
      {{ file ? file.name : "Click to select a file" }}
    </div>
  </div>
</div>
