<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="loader" class="margin-left-s margin-top-m padding-top-m">
  <app-spinner
    [spinMode]="'indeterminate'"
    [spinSize]="'large'"
    [spinWidth]="'thin'"
    [spinValue]="70"
    [spinColor]="'primary'"
    class="progress-circular-full"
  >
  </app-spinner>
</ng-container>
<ng-container *ngIf="!loader && !isSiemensInstance">
  <app-detailed-view [skillQuotientData]="skillQuotientData"></app-detailed-view>
</ng-container>
