/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';

.default{
    width: 47%;
    height:10%;
}
.attempt-score{
    width: 100% !important;
}
.assessment{
    width: 49%;
}
.quotient{
    margin-left: 30%;
}
.title{
    margin-left: 18%;
    // padding-bottom: 3%;
}
.expansion-panel{
    width:60%;
}
.graph-card-header{
    margin:-16px -16px -8px -16px;
    background-color: #5ba46e;
    padding-top:2%;
    color: white;
}
.card-title{
    padding-bottom: 2%;
}
.feature-icon{
    padding-bottom: 2%;
}
.panel-description{
    margin-right: -35%;
}
.default-description{
    margin-right: -19%;
}
.content-quotient-zero{
    margin-right: -46%;
}
@media only screen and (max-width: 600px){
    .graph-card{
        margin-right: 11%;
        margin-left: 5%;
    }
    .skill-card {
        margin-right: 11%;
        margin-left: 5%;
    }
    .expansion-panel{
        width: 83%;
    }
}
