<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="refresh-btn">
  <button title="Refresh Database" mat-icon-button color="primary" (click)="initializeDb(true)">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<app-spinner *ngIf="!initialLoading"></app-spinner>
<ng-container *ngIf="initialLoading">
  <div class="margin-s text-justify" [innerHtml]="contentData.problemStatement"></div>
  <div class="margin-s">
    <div class="margin-top-s flex flex-between flex-wrapped">
      <div class="table-result" [ngClass]="{'table-width-1-1': !dbStructure?.length, 'table-width-1-2': dbStructure?.length}">
        <div class="result">Write your query here</div>
        <ace-editor class="code-container" [(text)]="contentData.query" theme="eclipse" [mode]="'sql'" [options]="options" #queryEditor></ace-editor>
        <div class="padding-xs">
          <button mat-raised-button color="primary" [disabled]="verified" (click)="verify()" i18="button verify">Verify</button>
          <button mat-raised-button color="primary" [disabled]="submitted" class="margin-left-xs" (click)="submit()" i18="button submit">Submit</button>
        </div>
      </div>
      <div class="table-result table-width-1-2 dbStructure-table" *ngIf="dbStructure?.length">
        <div class="result">Database structure</div>
        <div class="padding-xs" *ngFor="let db of dbStructure">
          <span class="table-name">{{db.tablename}}</span>
          <span> {{ ' ' + db.columnname}} </span>
        </div>
      </div>
    </div>

    <div class="margin-top-s flex flex-between flex-wrapped">
      <div class="table-result" [ngClass]="{'table-width-1-1': !contentData.expectedOutput, 'table-width-1-2': contentData.expectedOutput}">
        <div class="result">Query Result</div>
        <app-spinner *ngIf="verified || submitted"></app-spinner>
        <app-execution-result *ngIf="executedResult && executedResult?.data" [executedResult]="executedResult"></app-execution-result>
        <div class="margin-s" *ngIf="executedResult?.status?.message || errorMessage" [ngClass]="{'query-success': executedResult?.validationStatus, 'query-failed': !executedResult?.validationStatus}">
          {{ executedResult?.status?.message || errorMessage }}
        </div>
      </div>
      <div class="table-result table-width-1-2" *ngIf="contentData.expectedOutput">
        <div class="result">Expected Result</div>
        <app-spinner *ngIf="loading"></app-spinner>
        <app-execution-result *ngIf="expectedOutput && !loading" [executedResult]="expectedOutput"></app-execution-result>
        <div *ngIf="expectedOutputErrorMsg" class="query-failed">
          {{ expectedOutputErrorMsg }}
        </div>
      </div>
    </div>
    <div class="tell-text margin-top-s padding-s" [ngClass]="{'query-success telltext-success': executedResult?.validationStatus, 'query-failed telltext-failed': !executedResult?.validationStatus}"
      *ngIf="telltext && !submissionResult">
      {{telltext}}
    </div>
    <div class="tell-text margin-top-s padding-s" [ngClass]="{'query-success telltext-success': submissionResult?.status, 'query-failed telltext-failed': !submissionResult?.status}"
      *ngIf="submissionResult">
      {{submissionResult?.message}}
    </div>
  </div>
</ng-container>

<input #dbRefreshSuccess type="hidden" i18n-value value="Database refreshed successfully." />
<input #dbRefreshFailed type="hidden" i18n-value value="Database refresh failed." />