<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar id="khubHome-id-12" color="primary">
  <a mat-icon-button [routerLink]="'/home'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span *ngIf="!screenSizeIsLtMedium" i18n="page title: Khub home" class="margin-left-xs">Knowledge Hub</span>
  <span *ngIf="screenSizeIsLtMedium" i18n="page title: Khub home" class="margin-left-xs">Khub</span>
  <span class="spacer"></span>
  <form *ngIf="searchDirector === 'search'" class="example-form" (keydown)="onPress($event)">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Search Here for Documents, Projects, Tools etc..."
        value="query"
        name="search"
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-icon class="search-icon" i18n matSuffix (click)="goToSearch()">search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-toolbar>
<app-spinner *ngIf="screenSizeIsLtMedium && !fetchStatus"></app-spinner>
<!-- <ws-boxplot-graph></ws-boxplot-graph> -->
<section *ngIf="!screenSizeIsLtMedium">
  <app-home-bubble
    [show]="fetchStatus"
    [count]="KhubResult"
    [marketingContent]="searchResults.result"
    [isIntranet]="isIntranet"
  ></app-home-bubble>
</section>
<ng-container *ngIf="fetchStatus">
  <div *ngFor="let item of khubResult2 | keys">
    <app-home-courosal
      id="{{ item.key.toLowerCase() }}model"
      [curosalData]="item.value"
      [title]="item.key"
      [screen]="screenSizeIsLtMedium"
    ></app-home-courosal>
  </div>
</ng-container>
<app-modalpopup
  [show]="errObj.show"
  [title]="errObj.title"
  [body]="errObj.body"
  [modelType]="errObj.modelType"
  [btnType]="errObj.btnType"
  [cancelText]="errObj.cancelText"
  [okText]="errObj.okText"
></app-modalpopup>
