<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: about" class="margin-left-xs">About</span>
</mat-toolbar>

<section class="about-content">
  <div class="about-info" [style.backgroundImage]="platformBanner">
    <div class="about-info-bg"></div>
    <div class="position-relative">
      <div class="mat-display-3 margin-bottom-xl" i18n="about first section heading">Infosys Wingspan</div>
      <div class="mat-display-1 margin-bottom-l about-intro-desc">
        <ng-container i18n *ngIf="isClient"> Wingspan is </ng-container>
        <ng-container i18n *ngIf="!isClient"> Lex is an implementation of Wingspan, </ng-container>
        <ng-container i18n>
          a next-generation learning solution accessible anytime, anywhere and on any device.
        </ng-container>
      </div>
      <a
        mat-raised-button
        href="https://www.infosys.com/newsroom/press-releases/Pages/launches-wingspan-transformational-learning-solution.aspx"
        target="blank"
        i18n="about first section action button"
        >Read More
      </a>
    </div>
  </div>

  <section class="margin-m">
    <h1 class="mat-heading" i18n="about second section heading">Overview</h1>
    <div class="about-overview-content">
      <div class="text-justify padd-right-gt-m width-expand">
        <p i18n="about second section description one">
          Infosys Wingspan is a next-gen learning solution that helps organizations accelerate their talent
          transformation journey. It enables organizations to focus on training their talent of today, to be ready for
          tomorrow. Based on open source technologies, Infosys Wingspan is a cloud-first and mobile-first solution that
          is designed to be accessible anytime, anywhere and on any device. Organizations using Infosys Wingspan can
          facilitate a culture of learning and collaboration for their employees as well as enable their leaders to
          derive strategic insights to track talent productivity.
        </p>
        <p i18n="about second section description two">
          Learners can interact with the voice-enabled ‘learning assistant’ for learning guidance. With an ever evolving
          range of curated content, it facilitates learning based on interest, skill set and function/role. Learning
          modules are a combination of instructor-led, assisted learning and self-learning sessions. With on-the-go
          access, Infosys Wingspan helps accelerate business and employee engagement. It aids talent in navigating their
          next by creating an environment for continuous learning to acquire the right and relevant skills.
        </p>
        <p i18n="about second section description three">
          Wingspan is the robust holistic learning solution that can help you Navigate Your Next in your talent
          transformation experience.
        </p>
      </div>
      <iframe [src]="videoLink" i18n-title title="about-video" allow="fullscreen" class="about-video"></iframe>
    </div>
  </section>
  <mat-divider></mat-divider>

  <section class="margin-m">
    <h1 class="mat-heading" i18n="about third section heading">Features</h1>
    <p class="text-justify" i18n="about third section description">
      Welcome aboard! Make the learning experience of your organization’s talent more interactive and intuitive with
      role-based onboarding kits, curated playlists and custom goals which can be tracked by managers and learning
      anchors. There are a lot of cool features that make Wingspan a desirable learning platform for many organizations,
      for their talent transformation pursuit.
    </p>
    <mat-accordion>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading one"> Flexible and Convenient </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description one">
          Infosys Wingspan provides the best-in-class curated content from multiple sources. Learners can access it
          seamlessly anytime, anywhere and on any device. Learning on-the-move is made easier as the content is
          available online and offline. Learners get a bird's-eye view on a topic of interest or delve deep into it for
          enriching their knowledge. The built-in AI-powered voice-enabled learning assistant responds to learners’
          queries and also enables access to courses of interest within the solution.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading two"> Personal and Engaging </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description two first">
          There are several elements in Wingspan that make learning a much more enjoyable and engaging experience. Some
          of them are listed below.
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description two second">
            Learners can create ‘Goals’ to achieve learning fitness. Managers can also set goals for their team members
            and track their progress. The ‘Navigator’ directs learners to steer through dynamic learning paths specially
            crafted for them. Learners can explore role-based offerings, acquire skills of their choice and build on
            their current skill set.
          </ng-container>
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description two third">
            ‘Time Spent’ is a measure of the amount of time spent on learning initiatives on Wingspan and compare
            against the organization’s average.
          </ng-container>
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description two fourth">
            The ‘Learning History’ feature presents learners with the list of courses that they have commenced and spurs
            them to complete them.
          </ng-container>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading three">
            Connected and Collaborative
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description three first">
          There are several elements in Wingspan that make learning a much more enjoyable and engaging experience. Some
          of them are listed below.
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description three second">
            Learners can choose topics to add to their ‘Playlists’ and create their own learning paths. These paths can
            be shared with their peers too.
          </ng-container>
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description three third">
            Incorporate role-based kits to train and engage talent with the ‘Onboarding’ function.
          </ng-container>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading four">
            Competitive and Motivational
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description four first">
          Learners can augment their competencies using the ‘Technology Playground’. In addition, learners can use the
          power of ‘Challenges’, ‘Contests’ and ‘Technology Assessment’ to
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description four second">
            Conduct technology certifications
          </ng-container>
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description four third">
            Test their own skills as well as the collective skills of different teams
          </ng-container>
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description four fourth">
            Create coding contests and hackathons
          </ng-container>
        </p>
        <p>
          <mat-icon>minimize</mat-icon>
          <ng-container i18n="about third section expandable description four fifth">
            Customize assessments
          </ng-container>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading five"> Gamification </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description five">
          Learners can build a team of certified and deployable talent with ‘Virtual Proctored Certifications’, which
          enables learners to complete certification with ease anytime, anywhere. Fueled by gamification, learners can
          win cool ‘Badges’ by earning points after completing courses and topping the learning leaderboard.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading six">
            Strategic and Insightful
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description six">
          Organization leaders can drive impactful learning initiatives with insights from ‘Analytics’ and ‘Heartbeat
          Telemetry’ as well as keep a check on the learning trends of the organization. Through extensive activity
          tracking, reports and personalized dashboards, they can develop and manage talent productivity.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading seven">
            Plug and Play with Infosys Wingspan Catalog
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description seven">
          Engage learners with a curated library of best in-class content. Seamlessly integrate your internal enterprise
          content or external third-party content. Learners can enjoy and choose any content format that best suits
          their learning requirements. They can learn from PDFs, podcasts, rich HTML, interactive labs and other content
          formats. Learners can also choose to learn bite-sized micro modules or dive deep into macro learning modules.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="text-justify">
        <mat-expansion-panel-header>
          <mat-panel-title i18n="about third section expandable heading eight">
            Practice Makes Perfect
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p i18n="about third section expandable description eight">
          Never go out of touch! Learners can make the most of the hands-on coding playground and ‘Simulated Labs’ on
          cloud environment. These are made available on Wingspan to help learners practice and code after acquiring new
          skills.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <mat-divider></mat-divider>
  <section class="margin-m">
    <h1 class="heading" i18n="about fourth section heading">Benefits – why Infosys Wingspan?</h1>
    <h2 class="mat-title" i18n="about fourth section description">
      Infosys Wingspan offers multiple benefits when it comes to talent transformation with on-the-go learning
      capabilities. Here are some of them:
    </h2>
    <div class="benefits">
      <mat-card class="benefit-card">
        <mat-card-title>
          <h2 class="mat-title" i18n="about fourth section card one heading">
            100% Cloud and Open Source-based, which enables easy deployment
          </h2>
        </mat-card-title>
        <mat-card-content>
          <p class="text-justify" i18n="about fourth section card two description">
            A scalable, secure, open-source cloud-based solution that can be easily integrated with your enterprise SSO.
            This solution can be accessed anytime, anywhere and on any device.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="benefit-card">
        <mat-card-title>
          <h2 class="mat-title" i18n="about fourth section card two heading">
            Always-on support
          </h2>
        </mat-card-title>
        <mat-card-content>
          <p class="text-justify" i18n="about fourth section card two description">
            Get round-the-clock guidance from experts and educators as well as technical and operational support for the
            Wingspan platform.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="benefit-card">
        <mat-card-title>
          <h2 class="mat-title" i18n="about fourth section card three heading">
            Make Wingspan your own
          </h2>
        </mat-card-title>
        <mat-card-content>
          <p class="text-justify" i18n="about fourth section card three description">
            Make Wingspan unique to your organization by assimilating your brand narrative through logos, images and
            other brand elements on the customized homepage.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="benefit-card">
        <mat-card-title>
          <h2 class="mat-title" i18n="about fourth section card four heading">
            Get smart
          </h2>
        </mat-card-title>
        <mat-card-content>
          <p class="text-justify" i18n="about fourth section card four description">
            Learners can interact with the AI-powered voice-enabled ‘learning assistant’ for guidance at any stage of
            the learning process. They can also access dynamic guided learning paths created for roles, skills and
            interest.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="margin-m">
    <h1 class="heading" i18n="about fifth section heading">Insights</h1>
    <h2 class="mat-title" i18n="about fifth section description question">
      How Impactful is Your Organization’s Learning?
    </h2>
    <p class="text-justify" i18n="about fifth section description answer">
      The structure of organizations and jobs are changing as artificial intelligence, machine learning, robotic process
      automation and other digital capabilities are overwhelming the workplace. It therefore becomes imperative for
      employees to constantly learn new skills and develop capabilities that will make them ready for the jobs of the
      future.
    </p>
    <div class="insights-read-more">
      <a
        mat-raised-button
        href="https://www.infosys.com/insights/human-potential/Pages/impactful-organization.aspx"
        target="blank"
        i18n="about fifth section action button"
        >Read More
      </a>
    </div>
  </section>
</section>
