/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/vars';
@import "~src/styles/common";
@import "~src/styles/mixins";

.about-content {
  @extend %height-mat-toolbar-sibling;
}

.about-info {
  position: relative;
  padding: 2*$size-xl $size-xl;
  min-height: 100%;
  color: #fff;
  margin-bottom: $size-m;

  .about-info-bg {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
  }
}

.padd-right-gt-m {
  @include breakpoint-gt-md {
    padding-right: $size-m;
  }
}

.about-overview-content {
  display: flex;
  flex-direction: column;

  @include breakpoint-gt-md {
    flex-direction: row;
  }


  .about-video {
    width: 100%;
    height: 250px;
    margin: auto;

    @include breakpoint-sm {
      height: 300px;
    }

    @include breakpoint-md {
      height: 350px;
    }

    @include breakpoint-gt-md {
      width: 622px;
      height: 350px;
    }
  }

}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  @include breakpoint-gt-xs {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefit-card {
    width: 100%;
    margin-bottom: $size-xs;
    box-sizing: border-box;

    @include breakpoint-sm {
      width: 49%;
      margin-bottom: $size-xs;
      margin-right: 1%;
    }

    @include breakpoint-gt-sm {
      width: 24%;
    }
  }
}

.insights-read-more {
  text-align: right;
}

.about-intro-desc {
  max-width: 600px;
}
