<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<a *ngIf="data?.widget?.data?.link?.length > 0" [href]="data.widget.data.link" target="_blank">
  <mat-card class="awesome-height">
    <img mat-card-image class="card-img img-background" role="link" aria-label="Content" i18n-aria-label="Content | Click to view"
      [src]="data.widget.data.image" />
    <mat-card-content>
      <div class="text-truncate">
        <span class="mat-caption">{{ data.widget.data.date | date }}</span>
        <span class="mat-primary-text"> - {{ data.widget.data.author }}</span>
      </div>
      <div class="mat-primary-text title-text">{{ data.widget.data.title }}</div>
      <div class="description-text">{{ data.widget.data.description }}</div>
      <div class="margin-top-m flex flex-between flex-middle">
        <div>
          <span class="vertical-align-super">{{ data.widget.data.star }}</span>
          &nbsp;
          <mat-icon class="mat-icon-small">start_rate</mat-icon>
          &nbsp; &nbsp;
          <span class="vertical-align-super">{{ data.widget.data.views }}</span>
          &nbsp;
          <mat-icon class="mat-icon-small">remove_red_eye</mat-icon>
        </div>
        <div>
          <span class="mat-body-strong">{{ data.widget.data.level | titlecase }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</a>

<mat-card *ngIf="!(data?.widget?.data?.link?.length > 0)" class="awesome-height">
  <img mat-card-image class="card-img img-background" role="link" aria-label="Content" i18n-aria-label="Content | Click to view"
    [src]="data.widget.data.image" />
  <mat-card-content>
    <div class="text-truncate">
      <span class="mat-caption">{{ data.widget.data.date | date }}</span>
      <span class="mat-primary-text"> - {{ data.widget.data.author }}</span>
    </div>
    <div class="mat-primary-text title-text">{{ data.widget.data.title }}</div>
    <div class="description-text">{{ data.widget.data.description }}</div>
    <div class="margin-top-m flex flex-between flex-middle">
      <div>
        <span class="vertical-align-super">{{ data.widget.data.star }}</span>
        &nbsp;
        <mat-icon class="mat-icon-small">start_rate</mat-icon>
        &nbsp; &nbsp;
        <span class="vertical-align-super">{{ data.widget.data.views }}</span>
        &nbsp;
        <mat-icon class="mat-icon-small">remove_red_eye</mat-icon>
      </div>
      <div>
        <span class="mat-body-strong">{{ data.widget.data.level | titlecase }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>