/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/mixins";

.card-title-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-bottom: 8px;
}

.vertical-align-super {
  vertical-align: super;
}

$title-line-count: 2;
$title-height-size: 1.7rem;
.title-text {
  position: relative;
  overflow: hidden;
  height: $title-line-count * $title-height-size;
  margin: $size-m 0;
  font-size: 1.2rem;
  line-height: 1.4;
}
.title-text:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: $title-height-size;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

$description-line-count: 3;
$description-height-size: 1.2rem;
.description-text {
  position: relative;
  overflow: hidden;
  height: $description-line-count * $description-height-size;
  @media only screen and (max-width: 959px) {
    height: 2 * $description-height-size;
    // @content;
  }
}
.description-text:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: $description-height-size;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.layout {
  @media only screen and (max-width: 959px) {
    min-width: 320px !important;
    min-height: 320px !important;
    width: 100% !important;
    // @content;
  }
}

.mat-icon-small {
  height: 20px;
  width: 20px;
  font-size: 21px;
}

.awesome-height {
  height: 400px !important;
    @media only screen and (max-width: 959px) {
        height: 430px !important;
        // @content;
      }
}
