<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="form-container">
  <p class="mat-body margin-top-l margin-bottom-l" i18n>Make a new training request for your team.</p>

  <mat-card>
    <form [formGroup]="jitForm" (ngSubmit)="onSubmitJITRequest()" (keydown.enter)="$event.preventDefault()">
      <mat-form-field *ngIf="!content" class="form-field margin-top-l margin-bottom-l">
        <input
          matInput
          i18n-placeholder
          placeholder="Search for courses, or enter your own course name"
          #search
          [matAutocomplete]="auto"
          formControlName="searchedContent"
          [required]="!content"
          (input)="onSearchUserInput($event)"
        />

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let result of searchResults$ | async"
            [value]="result.name"
            (click)="onClickSearchResult(result)"
          >
            <div class="mat-body">{{ result.name }}</div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="form-field" *ngIf="content" floatLabel="never">
        <input matInput readonly formControlName="contentName" [required]="content" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <textarea
          matInput
          placeholder="Description of the Training"
          i18n-placeholder
          formControlName="trainingDescription"
          required
        ></textarea>
      </mat-form-field>

      <div>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="startDatePicker"
            placeholder="Preferred Starting Date"
            i18n-placeholder
            [min]="currentDate"
            formControlName="startDate"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Number of Participants"
            i18n-placeholder
            formControlName="participantCount"
            required
          />
          <mat-hint i18n>Minimum 5 participants.</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>
            <span class="mat-body" i18n>Track</span>
          </mat-label>
          <mat-select matInput formControlName="track" required>
            <mat-option class="mat-body" *ngFor="let track of tracks$ | async" [value]="track.code"
              >{{ track.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>
            <span class="mat-body" i18n>Location</span>
          </mat-label>
          <mat-select matInput formControlName="location" required>
            <mat-option class="mat-body" *ngFor="let location of locations$ | async" [value]="location.code">
              {{ location.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>
            <span class="mat-body" i18n="knowledge level of training participants"> Participant Profile</span>
          </mat-label>
          <mat-select matInput formControlName="participantProfile" required>
            <mat-option class="mat-body" value="Beginner" i18n>Beginner</mat-option>
            <mat-option class="mat-body" value="Intermediate" i18n>Intermediate</mat-option>
            <mat-option class="mat-body" value="Expert" i18n>Expert</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>
            <span i18n class="mat-body"> Level of Training</span>
          </mat-label>
          <mat-select matInput formControlName="trainingLevel" required>
            <mat-option value="Basic" class="mat-body">Basic</mat-option>
            <mat-option value="Advanced" class="mat-body">Advanced</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="form-field">
        <textarea
          matInput
          placeholder="Additional Information"
          i18n-placeholder
          formControlName="additionalInfo"
        ></textarea>
      </mat-form-field>

      <div class="margin-bottom-m">
        <mat-checkbox matInput formControlName="trainingByVendor" i18n>
          <div class="mat-body">Conduct training by vendor</div>
          <div class="mat-caption">(My unit will sponsor the budget)</div>
        </mat-checkbox>
      </div>

      <button mat-stroked-button color="primary" type="submit" [disabled]="submitStatus === 'submitting'" i18n>
        Submit
      </button>
    </form>
  </mat-card>
</section>

<!-- Templates -->

<ng-template #invalid>
  <div class="text-center" i18n>
    Please enter valid details.
  </div>
</ng-template>

<ng-template #submitted>
  <div class="text-center" i18n>
    You have made a request for training!
  </div>
</ng-template>

<ng-template #failed>
  <div class="text-center" i18n>
    Failed to request for new training.
  </div>
</ng-template>
