<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="margin-m">
  <app-dbms-exercise [resourceContent]="processedContent" *ngIf="processedContent.rdbms.pageType === 'exercise' || processedContent.rdbms.pageType === 'assignment'">
  </app-dbms-exercise>

  <app-dbms-concept-dropdown [resourceContent]="processedContent" *ngIf="processedContent.rdbms.pageType === 'dropdown' || processedContent.rdbms.pageType === 'concept'">
  </app-dbms-concept-dropdown>

  <app-dbms-concept-create [resourceContent]="processedContent" *ngIf="processedContent.rdbms.pageType === 'create'">
  </app-dbms-concept-create>

  <app-dbms-best-practice [resourceContent]="processedContent" *ngIf="processedContent.rdbms.pageType === 'practice' || processedContent.rdbms.pageType === 'practiceDropdown'">
  </app-dbms-best-practice>

  <app-dbms-playground [resourceContent]="processedContent" *ngIf="processedContent.rdbms.pageType === 'playground'"></app-dbms-playground>
</mat-card>