/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";

table {
  width: 100%;
}
.schedule {
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }

  // @include breakpoint-gt-sm {
  //   width: 90%;
  //   margin: $size-s;
  // }
}
// .location-filter {
//   width: 25%;
// }

.register {
  text-decoration: underline !important;
  color: darkblue;
}

// .search-bar {
//   width: 50%;
// }
