<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: time spent" class="margin-left-xs">Learning Time</span>
  <span class="spacer"></span>
  <span class="flex flex-middle">
    <!-- <mat-icon>show_chart</mat-icon> &nbsp; -->
    <mat-slide-toggle type="checkbox" [checked]="isBarChart" (change)="toggleChartType()">
      <mat-icon accesskey="T">insert_chart_outlined</mat-icon>
    </mat-slide-toggle>
  </span>
</mat-toolbar>


<mat-card>
  <mat-card-content>
    <div class="text-center">
      <mat-checkbox i18n [checked]="showDateRange" [color]="'primary'" (change)="changeRangeDisplay()">Date
        Range</mat-checkbox>
    </div>
    <div *ngIf="!showDateRange" class="text-center">
      <button type="button" mat-icon-button (click)="changeWeek('prev')" accesskey="<">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <span class="mat-body-strong">{{pickerValue1 | date}} - {{pickerValue2 | date}}</span>
      <button type="button" mat-icon-button (click)="changeWeek('next')" [disabled]="!isNextDateValid"  accesskey=">">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
    <div *ngIf="showDateRange" class="flex flex-wrapped flex-center">
      <mat-form-field class="card-section filter-holder" *ngIf="pickerValue1">
        <input matInput [min]="firstDate" [max]="maxDate" [matDatepicker]="picker1" [ngModel]="pickerValue1"
          (ngModelChange)="dateChanged($event, pickerValue2)" i18n-placeholder placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="card-section filter-holder" *ngIf="pickerValue2">
        <input matInput [min]="minDate" [max]="today" [matDatepicker]="picker2" [ngModel]="pickerValue2"
          (ngModelChange)="dateChanged(pickerValue1, $event)" i18n-placeholder placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <p class="text-center">
      <ng-container i18n>Your Avg : </ng-container>
      <ng-container>{{userAvg}}</ng-container>
      <ng-container i18n="minutes per day"> min/day</ng-container>
    </p>
    <mat-error class="text-center" *ngIf="errorOccurred" i18n="Time Spent Page Error Message">
      Some Error Occurred
    </mat-error>
    <div class="chart-container" #chartContainer></div>
  </mat-card-content>
</mat-card>

<!-- Labels -->
<input type="hidden" i18n-value="Month name: January" value="Jan" #monthJan />
<input type="hidden" i18n-value="Month name: February" value="Feb" #monthFeb />
<input type="hidden" i18n-value="Month name: March" value="Mar" #monthMar />
<input type="hidden" i18n-value="Month name: April" value="Apr" #monthApr />
<input type="hidden" i18n-value="Month name: May" value="May" #monthMay />
<input type="hidden" i18n-value="Month name: June" value="Jun" #monthJun />
<input type="hidden" i18n-value="Month name: July" value="Jul" #monthJul />
<input type="hidden" i18n-value="Month name: August" value="Aug" #monthAug />
<input type="hidden" i18n-value="Month name: September" value="Sep" #monthSep />
<input type="hidden" i18n-value="Month name: October" value="Oct" #monthOct />
<input type="hidden" i18n-value="Month name: November" value="Nov" #monthNov />
<input type="hidden" i18n-value="Month name: December" value="Dec" #monthDec />

<input type="hidden" i18n-value="label: User Average Over Period" value="User Average Over Period" #labelUserOverPeriod />
<input type="hidden" i18n-value="label: User Learning Time" value="Time I Spent" #labelUserAvg />
<input type="hidden" i18n-value="label: December" value="App Average" #labelOrgAvg />

<input type="hidden" i18n-value="label: X-axis" value="Date" #labelX />
<input type="hidden" i18n-value="label: Y-axis" value="Minutes" #labelY />
