<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/navigator">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigator explore" class="margin-left-xs">Explore</span>
  <span class="spacer"></span>
  <form>
    <div class="search-container">
      <mat-form-field [floatLabel]="'never'">
        <input name="lp-search" matInput [formControl]="queryControl" i18n-placeholder="Search bar for filtering out learning paths in Navigator"
          placeholder="I want to Learn..." autocomplete="off" accesskey="F"/>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </form>
</mat-toolbar>
<mat-toolbar color="warn" *ngIf="queryControl.value && !searchInProgress && !searchedLearningPaths?.length" i18n>
  No results based on your search
</mat-toolbar>

<section *ngIf="queryControl.value && (searchInProgress || searchedLearningPaths?.length)" class="content-strip">
  <div *ngIf="searchInProgress" class="margin-top-xl">
    <app-spinner></app-spinner>
  </div>
  <h2 *ngIf="!searchInProgress && searchedLearningPaths?.length" class="mat-title" i18n>
    Results based on your search
  </h2>
  <app-scroll-handler *ngIf="searchedLearningPaths?.length" [contentStatus]="'done'">
    <app-knowmore-card [id]="lpItem.lpId" [title]="lpItem.title" [absoluteThumbnail]="thumbnailsHash[lpdata[lpItem.lpId]?.linked_program]" [description]="lpItem.description" (knowMoreClicked)="knowMoreClicked($event)"
      *ngFor="let lpItem of searchedLearningPaths"></app-knowmore-card>
  </app-scroll-handler>
</section>
<app-spinner *ngIf="!lpdata"></app-spinner>
<section class="content-strip" *ngIf="lpdata">
  <h1 class="mat-heading" i18n>Learning path(s) in high demand</h1>
  <app-scroll-handler [contentStatus]="thumbnailFetchStatus" (loadNext)="loadNext()">
    <app-knowmore-card class="card" [id]="lpItem.lpId" [absoluteThumbnail]="thumbnailsHash[lpdata[lpItem.lpId]?.linked_program]" [title]="lpItem.title" [description]="lpItem.description"
      (knowMoreClicked)="knowMoreClicked($event)" *ngFor="let lpItem of learningPaths"></app-knowmore-card>
  </app-scroll-handler>
</section>
