/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";

.banner {
  background-image: url("/public-assets/common/sub-apps/navigator/banners/bi_nso.jpg");
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 250px;
  display: block;
}

.search-container {
  display: flex;
  flex-direction: column;
}

app-knowmore-card {
  margin-right: $size-l;
  margin-bottom: $size-xs;
}
