<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: cohort learning" class="margin-left-xs">Cohort Learning</span>
</mat-toolbar>

<section class="content-strip" *ngIf="contentStripHash['JL 7 Cohort']?.length">
  <app-content-strip i18n-heading heading="JL 7 Cohort" contentStatus="done" [contents]="contentStripHash['JL 7 Cohort']"></app-content-strip>
</section>
<section class="content-strip" *ngIf="contentStripHash['JL 6 Cohort']?.length">
  <app-content-strip i18n-heading heading="JL 6 Cohort" contentStatus="done" [contents]="contentStripHash['JL 6 Cohort']"></app-content-strip>
</section>
