<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section *ngIf="!loader2">
  <div class="flex flex-wrapped flex-center">
    <app-tile class="tiles-css" [showSecond]="true" [title]="'Total Assessments'" [orgValue]="assessmentData.user_assessment_count_vs_org_wide"
      [tileValue]="assessmentData.assessment.length" [message]="'Assessment'"></app-tile>
    <app-tile class="tiles-css" [showSecond]="false" [title]="'Pending Assessments'" [tileValue]="pendingAssessment"></app-tile>
    <app-tile class="tiles-css" [showSecond]="false" [title]="'Certifications'" [tileValue]="assessmentData.certifications_count"></app-tile>
  </div>

  <div class="flex flex-wrapped flex-center">
    <mat-card class="graph-card margin-bottom-xl">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="myanalytics assessment page assessment details">Assessment Details
        </span>
      </mat-card-header>
      <app-box-plot-graph [assessmentData]="assessmentData.assessment"></app-box-plot-graph>
    </mat-card>
    <mat-card class="assessment-card" *ngIf="assessmentData.assessment.length > 0">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="myanalytics assessment page assessment details">Recent Assessment
        </span>
      </mat-card-header>
      <div class="padding-top-s">
        <mat-grid-list cols="4" rowHeight="20px">
          <mat-grid-tile class="mat-body-1">Title</mat-grid-tile>
          <mat-grid-tile class="mat-body-1">Score</mat-grid-tile>
          <mat-grid-tile class="mat-body-1">Percentile</mat-grid-tile>
          <mat-grid-tile class="mat-body-1">Score Ranges</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div *ngFor="let data of assessmentData.assessment | slice:pageNo:pageNo+2 ">
        <!-- <app-plans-card [title]="data.name" [pieData]="data.data" [progress]="data.progress" [completed]="data.completed"></app-plans-card> -->
        <!-- <mat-card> -->
        <div class="padding-top-s">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile class="mat-body-1" style="text-align: center;">{{data.content_name}}</mat-grid-tile>
            <mat-grid-tile class="mat-body-1" style="text-align: center;">{{data.assessment_score.toFixed(0)}}</mat-grid-tile>
            <mat-grid-tile class="mat-body-1" style="text-align: center;">{{data.percentile.toFixed(0)}}</mat-grid-tile>
            <mat-grid-tile class="mat-body-1">
              <app-pie-graph [showlabels]="false" [height]="120" [margin]="margin" [graphData]="data.scoreRange.data"></app-pie-graph>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <!-- </mat-card> -->

      </div>
      <mat-paginator showFirstLastButtons [length]="assessmentData.assessment.length" [pageSize]="2" (page)="changePage($event)"></mat-paginator>
    </mat-card>
  </div>
</section>
<ng-container *ngIf="loader2" class="margin-left-s margin-top-s">
  <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
    class="progress-circular-full">
  </app-spinner>
</ng-container>
