/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';

.graph-card{
    // background-color: white;
    width: 40%;
    margin: 16px 0px 0px 0px;
    padding:0px;

  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
.assessment-card{
  // background-color: white;
    width: 54%;
    margin: 1.5%;
    height:60%;
    padding:0px;
    @include breakpoint-xs {
      width: 90%;
      margin: $size-s;
    }

    @include breakpoint-sm {
      width: 90%;
      margin: $size-s;
    }
}
.graph-card-header{
    // margin:-16px -16px 8px -16px;
    background-color: #5ba46e;
    padding-top:2%;
    color: white;
}

table {
  width: 100%;
}
.tiles-css {
  width: 30%;
  margin: $size-m;

  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 45%;
    margin: $size-s;
  }
}


.margin-remove-bottom {
  margin-bottom: 0 !important;
}


