<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<button
  mat-icon-button
  *wsHasPermission="['btnGoals']"
  i18n-aria-label="Add to goals Action Button for opening Goal Selection Dialog box"
  aria-label="Open Goal Selection Dialog"
  i18n-matTooltip="Add to goals Action Button | Add the content to user goals"
  matTooltip="Add to goals"
  (click)="showGoalSelectionDialog($event)"
>
  <mat-icon>adjust</mat-icon>
</button>
