<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="isSiemensInstance">
  <app-home-analytics></app-home-analytics>
</ng-container>

<ng-container *ngIf="!isSiemensInstance">
  <mat-toolbar color="primary">
    <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <span i18n="page title: learning analytics" class="margin-left-xs">Learning Analytics</span>
  </mat-toolbar>

  <div class="analytics-container">
    <iframe [src]="analyticsUrl" i18n-title title="Learning Analytics" class="analytics-iframe"></iframe>
  </div>

</ng-container>
