<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: time spent" class="margin-left-xs">Unauthorized Access</span>
</mat-toolbar>
<section class="error-container">
  <mat-card class="error-card animation-description fadeInDown">
    <mat-card-header>
      <mat-card-title i18n>We are Sorry</mat-card-title>
      <mat-card-subtitle i18n>You need to login to view this page.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="padding-m">
      <p>
        <mat-icon>minimize</mat-icon>
        <ng-container i18n>
          Some Pages you need to sign up to view.
        </ng-container>
      </p>
      <p>
        <mat-icon>minimize</mat-icon>
        <ng-container i18n>
          If you have already signed up, please login to proceed.
        </ng-container>
      </p>
      <p>
        <mat-icon>minimize</mat-icon>
        <ng-container i18n>
          If you suspect a site problem, kindly report the problem. We appreciate your support.
        </ng-container>
      </p>
    </mat-card-content>
    <mat-card-actions class="padding-m">
      <a mat-button i18n routerLink="/contact-us">
        Contact Us
      </a>
    </mat-card-actions>
  </mat-card>
</section>
