<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h1 class="mat-title" *ngIf="heading">{{ heading }}</h1>
<ng-container *ngIf="!heading">
  <ng-content></ng-content>
</ng-container>
<app-scroll-handler [contentStatus]="contentStatus" (loadNext)="loadNext.emit()">
  <ng-container *ngIf="cardType === 'advanced'">
    <app-content-card
      [content]="content"
      [contentStripHash]="contentStripHash"
      *ngFor="let content of contents; trackBy: contentTrackBy; let i = index"
    ></app-content-card>
  </ng-container>
  <ng-container *ngIf="cardType === 'basic'">
    <ws-content-simplified-card
      [content]="content"
      *ngFor="let content of contents; trackBy: contentTrackBy; let i = index"
    ></ws-content-simplified-card>
  </ng-container>
</app-scroll-handler>
