/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */

@import 'src/styles/mixins';

@mixin card-width {
  margin: 1rem auto;

  @include breakpoint-xs {
    width: 80%;
  }

  @include breakpoint-sm {
    width: 80%;
  }

  @include breakpoint-md {
    width: 70%;
  }

  @include breakpoint-lg {
    width: 70%;
  }

  @include breakpoint-xl {
    width: 50%;
  }
}
.learner-card {
    @include card-width();
  }
.learner-list-item {
    margin: 1rem 0;
    height: auto !important;
    display: flex;
    justify-content: space-between;
  }
  .learner-name,.learner-desc {
    line-height: 1.4;
  }
  .learner-list {
    list-style-type: none;
    padding: 0;

    @include breakpoint-gt-xs {
      padding: 0 16px;
    }
  }
  .learner-user-img {
    font-size: 40px;
    width: 40px;
    height: 40px;
    // margin-right: 1rem;
  }
  @media(max-width:300px) {
    .btn {
         display: none;
    }

}

.btn {
  @include breakpoint-lt-md {
    display: none;
  }
}
.icon{
  cursor: pointer;
  @include breakpoint-gt-sm {
    display: none;
  }
}
.group {
  @include breakpoint-gt-sm {
    display: flex;
    align-items: center;
    .option {
      margin: $size-s;
    }
  }
}
.title {
  font-weight: 600;
}
