<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>

  <div *ngIf="content?.name" class="width-expand text-center text-truncate">
    {{ content?.name }}
  </div>
  <!-- <span class="spacer"></span>
  <button
    mat-raised-button
    i18n-matTooltip="Learner's view Btn Tooltip"
    matTooltip="Learner's View"
    (click)="showLearnerView()"
  >
    LEARNER
  </button> -->
</mat-toolbar>

<mat-card *ngIf="!content">
  <div [ngSwitch]="errorMessageCode" class="text-center margin-top-m">
    <h2 class="mat-h2" i18n *ngSwitchCase="'API_FAILURE'">
      Something went wrong. Not able to load the content.
    </h2>
    <h2 class="mat-h2" i18n *ngSwitchCase="'INVALID_CONTENT_ID'">
      Content id is invalid. Please enter correct content id
    </h2>
  </div>
</mat-card>

<div *ngIf="content" class="margin-top-m">
  <div *ngIf="fetchingGroup">
    <app-spinner spinSize="small"></app-spinner>
  </div>
  <h2 class="text-center" *ngIf="!fetchingGroup && groups?.length === 0">
    No Groups found
  </h2>

  <mat-card *ngIf="!fetchingGroup && groups?.length > 0" class="learner-card">
    <mat-card-content>
      <div class="group">
        <h4 i18n class="title margin-remove-bottom">SELECT GROUP :</h4>
        <mat-form-field class="option">
          <mat-select [disabled]="groups && groups?.length === 1" (ngModelChange)="
              selectedGroup = $event; getLearnersSubmissionData(selectedGroup)
            " [ngModel]="selectedGroup" matNativeControl required>
            <mat-option *ngFor="let group of groups" [value]="group">
              <span *ngIf="group.group_name"> {{ group.group_name }}</span>
              <span *ngIf="!group.group_name"> {{ group.group_id }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="margin-top-m" *ngIf="fetchingData">
        <app-spinner spinSize="small"></app-spinner>
      </div>

      <div [ngSwitch]="errorMessageCode" class="text-center">
        <h2 class="mat-h2" i18n *ngSwitchCase="'API_FAILURE'">
          Something went wrong. Not able to load the content.
        </h2>
        <h2 class="mat-h2" i18n *ngSwitchCase="'NO_DATA'">
          No submissions yet
        </h2>
      </div>
      <h3 class="text-center mat-h3" *ngIf="
          !errorMessageCode &&
          !fetchingData &&
          !submissionData?.submissions?.length
        " i18n="learner: none">
        No Learner has submitted the exercise
      </h3>

      <ng-container *ngIf="
          !errorMessageCode &&
          !fetchingData &&
          submissionData?.submissions?.length
        ">
        <h4 class="mat-caption">
          {{ submissionData?.submission_count + " submission(s)" }} {{ ", " + submissionData?.feedback_count + " feedback(s) given"
          }}
        </h4>

        <ul class="learner-list">
          <li class="learner-list-item" *ngFor="let learner of submissionData.submissions">
            <div class="flex width-expand">
              <app-user-image class="learner-user-img width-auto" [email]="learner.submitted_by_email"></app-user-image>
              <div class="padding-left-s width-expand">
                <div class="mat-body-strong learner-name">
                  {{ learner.submitted_by_name }}
                </div>
                <div class="mat-caption learner-desc">
                  Last submitted on {{ learner.submission_time | date }}
                </div>
              </div>
            </div>
            <div class="width-auto flex margin-left-s">
              <div class="flex flex-middle" (click)="viewContent(learner); sendTelemetry('viewSubmission', learner)">
                <button class="btn" mat-button i18n-matTooltip="View Submission Btn Tooltip" matTooltip="View Submission">
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="margin-left-s">View Submission</span>
                </button>
                <mat-icon class="icon" i18n-matTooltip="View Submission Btn Tooltip" matTooltip="View Submission">remove_red_eye</mat-icon>
              </div>
              <div class="flex flex-middle" (click)="
                  provideFeedback(
                    learner.submission_id,
                    learner.submitted_by_email
                  )
                ">
                <button class="btn" mat-button i18n-matTooltip="Provide Feedback Btn Tooltip" matTooltip="Provide Feedback">
                  <mat-icon>feedback</mat-icon>
                  <span class="margin-left-s">Provide Feedback</span>
                </button>
                <mat-icon i18n-matTooltip="Provide Feedback Btn Tooltip" matTooltip="Provide Feedback" class="icon margin-left-s margin-right-xs">feedback</mat-icon>
              </div>
            </div>
          </li>
        </ul>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>