<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/navigator">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigator suggestions" class="margin-left-xs">Skill based Suggestions</span>
</mat-toolbar>
<div class="margin-bottom-xl">
  <div class="banner">
    <div class="content-strip">
      <h1 class="mat-display-1 margin-bottom-l text-white" i18n>
        WHAT CAN I LEARN?
      </h1>
      <p i18n class="mat-subheading-2 text-white">
        Get suggestions based on current skills
      </p>
    </div>
  </div>
  <div class="content-strip">
    <h2 class="mat-title" i18n>Select topics to get suggestions</h2>
    <div [ngClass]="{ scrollable: isMobile }">
      <div *ngIf="searchInProgress" class="margin-top-xl">
        <app-spinner></app-spinner>
      </div>
      <h2 class="heading uk-position-center" *ngIf="!searchInProgress && technologies?.length === 0" i18n>
        No Results for your search
      </h2>
      <mat-chip-list>
        <ng-container *ngFor="let tech of technologies">
          <mat-chip *ngIf="isSelected(tech)" color="primary" selected (click)="toggleChipSelection(tech)">
            {{ tech }}
            <mat-icon matChipRemove (click)="toggleChipSelection(tech)">cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngIf="!isSelected(tech)" (click)="toggleChipSelection(tech)">{{ tech }}</mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
  </div>
  <div class="text-center">
    <button mat-raised-button [disabled]="!selectedTechChips?.size" color="primary" (click)="navigateToSuggestions()"
      i18n>
      Get Suggestions
    </button>
  </div>
</div>
