/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
.text-width {
    width: 100%;
}

.code-container {
    min-height: 8vh;
    font-size: 14px;
}

.query-success {
    color: green;
}

.query-failed {
    color: red;
}

.mat-table {
    border: 1px solid #0000001f;
    box-shadow: none;
}

.tell-text {
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background-color: #e3dad44a;
    padding: 15px;
    margin-top: 25px;
}

.table-scroll {
    overflow-x: auto;
    padding: 10px;
}

.refresh-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.mat-row:nth-child(even){
    background-color:#f9f9f9;
}

.mat-header-cell {
    font-weight: bold;
    background-color:#ddd;
    flex: 0 0 25% !important;
    min-width: 91px !important;
    text-align: left;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
}

.font-weight {
    font-weight: 800;
}

.result-table .mat-header-cell, .success {
    color: #1e6942;
    background-color: #c7ffb3;
}

::ng-deep .table-bordered {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
}
  
::ng-deep .table-bordered > tbody > tr > td, ::ng-deep .table-bordered > thead > tr > th {
    border: 1px solid #dddd;
    padding: 8px;
}

::ng-deep .table-bordered thead {
    background-color: #D6D6D6;
    text-align: left;  
}

::ng-deep .table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #f9f9f9;
}

.mat-row, .mat-header-row {
    height: 34px !important;
}

.mat-expansion-panel-header {
    height: 34px !important;
}

::ng-deep .row {
    overflow: auto !important;
}

::ng-deep .ace_hidden-cursors .ace_cursor {
    opacity: 0 !important;
}

