<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="flex flex-between flex-wrapped margin-top-s">
  <div class="meta-section">
    <!-- description -->
    <mat-card *ngIf="content.description" class="about-unit-section">
      <h3 class="mat-h3" i18n="description for content">Description</h3>
      <div>{{ content?.description }}</div>
    </mat-card>
    <!-- learning objective -->
    <mat-card *ngIf="content.learningObjective" class="about-unit-section">
      <h3 class="mat-h3" i18n="learning objective for content">
        Learning Objectives
      </h3>
      <div>{{ content?.learningObjective }}</div>
    </mat-card>
    <!-- program structure -->
    <mat-card *ngIf="programStructure && isValidProgStructure" class="about-unit-section">
      <h3 class="mat-h3" i18n>Program Structure</h3>
      <ul>
        <li [hidden]="!programStructure.course">
          <span>{{ programStructure.course }}</span>&nbsp;
          <ng-container i18n="toc program structure course" *ngIf="programStructure.course === 1">Course</ng-container>
          <ng-container i18n="toc program structure courses" *ngIf="programStructure.course > 1">Courses</ng-container>
        </li>
        <li [hidden]="!programStructure['learning-module']">
          <span>{{ programStructure["learning-module"] }}</span>&nbsp;
          <ng-container i18n="toc program structure module" *ngIf="programStructure['learning-module'] === 1">Learning
            Module
          </ng-container>
          <ng-container i18n="toc program structure modules" *ngIf="programStructure['learning-module'] > 1">Learning
            Modules
          </ng-container>
        </li>
        <li [hidden]="!programStructure.video">
          <span>{{ programStructure.video }}</span>&nbsp;
          <ng-container i18n="toc program structure video" *ngIf="programStructure.video === 1">Video</ng-container>
          <ng-container i18n="toc program structure videos" *ngIf="programStructure.video > 1">Videos</ng-container>
        </li>
        <li [hidden]="!programStructure.document">
          <span>{{ programStructure.document }}</span>&nbsp;
          <ng-container i18n="toc program structure document" *ngIf="programStructure.document === 1">Document
          </ng-container>
          <ng-container i18n="toc program structure documents" *ngIf="programStructure.document > 1">Documents
          </ng-container>
        </li>
        <li [hidden]="!programStructure.podcast">
          <span>{{ programStructure.podcast }}</span>&nbsp;
          <ng-container i18n="toc program structure podcast" *ngIf="programStructure.podcast === 1">Podcast
          </ng-container>
          <ng-container i18n="toc program structure podcasts" *ngIf="programStructure.podcast > 1">Podcasts
          </ng-container>
        </li>
        <li [hidden]="!programStructure.youtube">
          <span>{{ programStructure.youtube }}</span>&nbsp;
          <ng-container i18n="toc program structure youtube" *ngIf="programStructure.youtube === 1">Youtube Video
          </ng-container>
          <ng-container i18n="toc program structure youtubes" *ngIf="programStructure.youtube > 1">Youtube Videos
          </ng-container>
        </li>
        <li [hidden]="!programStructure['web-module']">
          <span>{{ programStructure["web-module"] }}</span>&nbsp;
          <ng-container i18n="toc program structure web-module" *ngIf="programStructure['web-module'] === 1">Web Module
          </ng-container>
          <ng-container i18n="toc program structure web-modules" *ngIf="programStructure['web-module'] > 1">Web Modules
          </ng-container>
        </li>
        <li [hidden]="!programStructure.handson">
          <span>{{ programStructure.handson }}</span>&nbsp;
          <ng-container i18n="toc program structure handson" *ngIf="programStructure.handson === 1">Handson Question
          </ng-container>
          <ng-container i18n="toc program structure handsons" *ngIf="programStructure.handson > 1">Handson Questions
          </ng-container>
        </li>
        <li [hidden]="!programStructure.quiz">
          <span>{{ programStructure.quiz }}</span>&nbsp;
          <ng-container i18n="toc program structure quiz" *ngIf="programStructure.quiz === 1">Quiz</ng-container>
          <ng-container i18n="toc program structure quizzes" *ngIf="programStructure.quiz > 1">Quizzes</ng-container>
        </li>
        <li [hidden]="!programStructure.assessment">
          <span>{{ programStructure.assessment }}</span>&nbsp;
          <ng-container i18n="toc program structure assessment" *ngIf="programStructure.assessment === 1">Assessment
          </ng-container>
          <ng-container i18n="toc program structure assessments" *ngIf="programStructure.assessment > 1">Assessments
          </ng-container>
        </li>
        <li [hidden]="!programStructure.other">
          <span>{{ programStructure.other }}</span>&nbsp;
          <ng-container i18n="toc program structure other" *ngIf="programStructure.other === 1">Other Resource
          </ng-container>
          <ng-container i18n="toc program structure others" *ngIf="programStructure.other > 1">Other Resources
          </ng-container>
        </li>
      </ul>
    </mat-card>
    <!-- pre-requisites -->
    <mat-card *ngIf="content.preRequisites" class="about-unit-section">
      <h3 class="mat-h3" i18n="prerequisites for content">Prerequisites</h3>
      <div>{{ content.preRequisites }}</div>
      <div class="margin-top-xs" *ngIf="content.softwareRequirements && content?.softwareRequirements?.length">
        <h3 class="mat-h3" i18n="software requirements">Software Requirements</h3>
        <ul>
          <li *ngFor="let requirement of content.softwareRequirements">
            <a *ngIf="requirement.url" target="_blank" [href]="requirement.url">
              {{ requirement.title }}
            </a>
            <span *ngIf="!requirement?.url"> {{ requirement.title }} </span>
          </li>
        </ul>
      </div>
      <div *ngIf="content?.preContents?.length && validResource">
        <h3 class="mat-h3" i18n="knowledge of courses">Courses</h3>
        <ul class="margin-top-xs margin-bottom-xs">
          <li class="margin-bottom-xs" *ngFor="let entity of content?.preContents">
            <div *ngIf="validResource?.validIds.length">
              <div *ngFor="let item of validResource?.validIds">
                <a *ngIf="item.lex_id === entity?.identifier">{{ item.title }}</a>
              </div>
            </div>
            <span
              *ngIf="validResource?.invalidIds.length && validResource?.invalidIds.indexOf(entity?.identifier) > -1">{{ entity.name }}</span>
          </li>
        </ul>
      </div>
      <div *ngIf="content.softwareRequirements && content?.systemRequirements?.length">
        <h3 class="mat-h3" i18n="system requirements">System Requirements</h3>
        <ul>
          <li *ngFor="let requirement of content.systemRequirements">
            {{ requirement }}
          </li>
        </ul>
      </div>
    </mat-card>
    <!-- playgrounds -->
    <mat-card *ngIf="content?.playgroundResources?.length" class="about-unit-section">
      <h3 class="mat-h3" i18n>Playgrounds</h3>
      <app-scroll-handler [contentStatus]="'done'">
        <mat-card *ngFor="let playground of content.playgroundResources" class="playground-card">
          <div class="flex">
            <a [routerLink]="'/viewer/' + playground.identifier">
              <img class="playground-image mat-lite-background" i18n-alt alt="playground"
                [src]="playground.appIcon | sliceIp" [appDefaultImage]="missingThumbnail" />
            </a>
            <div class="width-expand playground-meta">
              <h3 class="margin-remove">
                <a [routerLink]="'/viewer/' + playground.identifier">
                  {{ playground.name }}
                </a>
              </h3>
              <app-btn-like [contentId]="playground.identifier"></app-btn-like>
              <app-btn-analytics [contentId]="playground.identifier"></app-btn-analytics>
            </div>
          </div>
        </mat-card>
      </app-scroll-handler>
    </mat-card>
    <!-- skills -->
    <mat-card *ngIf="content.skills && content.skills.length" class="about-unit-section">
      <h3 class="mat-h3" i18n>Skills</h3>
      <ul>
        <li *ngFor="let skill of content.skills">{{ skill.name }}</li>
      </ul>
    </mat-card>
    <!-- related topics -->
    <mat-card *ngIf="content.topics && content.topics.length" class="about-unit-section">
      <h3 class="mat-h3" i18n="toc: related topics">Related Topics</h3>
      <div class="flex flex-between flex-wrapped">
        <a mat-stroked-button [ngClass]="{ 'cursor-auto': !conceptGraphFeatureStatus }"
          class="topic-button text-truncate" *ngFor="let topic of content.topics | slice: 0:(viewMoreTopics ? 24 : 6)"
          [title]="topic.name"
          [routerLink]="conceptGraphFeatureStatus ? '/concept-graph/' + topic.identifier : null">{{ topic.name }}</a>
      </div>
      <div *ngIf="content.topics.length > 6" class="text-right margin-top-xs">
        <a mat-button (click)="viewMoreTopics = !viewMoreTopics">
          <span *ngIf="!viewMoreTopics" i18n="toc: concepts view more">View More</span>
          <span *ngIf="viewMoreTopics" i18n="toc: concepts view less">View Less</span>
        </a>
      </div>
    </mat-card>
  </div>
  <div class="author-section">
    <mat-card>
      <h3>{{authorLabel ? authorLabel : 'Authors'}}</h3>
      <mat-divider></mat-divider>
      <div class="margin-top-l" *ngIf="authorFetchingStatus === 'fetching'">
        <app-spinner [spinSize]="'small'" [spinWidth]="'thin'"></app-spinner>
      </div>
      <p class="text-center margin-top-m" *ngIf="authorFetchingStatus === 'done' && !authors.length">
        <ng-container *ngIf="authorAvailable" i18n>Author information has been stashed</ng-container>
        <ng-container *ngIf="!authorAvailable" i18n>No Author</ng-container>
      </p>
      <div *ngFor="let author of authors; let end = last">
        <div class="author">
          <app-user-image class="author-image" [email]="author.onPremisesUserPrincipalName"></app-user-image>
          <div class="width-expand">
            <h3 class="mat-h3 margin-remove-bottom">
              {{ author.givenName }} {{ author.surname }}
            </h3>
            <div>
              {{ author.jobTitle }}
              {{ author.jobTitle && author.department ? "," : "" }}
              {{ author.department }}
            </div>
            <div>
              <app-btn-mail-user [content]="content"></app-btn-mail-user>
              <app-btn-call [contentId]="content.identifier" [userName]="author.givenName"
                [userPhone]="author.mobilePhone"></app-btn-call>
            </div>
          </div>
        </div>
        <mat-divider *ngIf="!end"></mat-divider>
      </div>
    </mat-card>
  </div>
</div>