<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n class="margin-left-xs">Settings</span>
</mat-toolbar>

<ng-container *ngIf="!(isSiemensAvailable || isPrivacyAvailable)">
  <ng-container *ngTemplateOutlet="generalTemplate"></ng-container>
</ng-container>

<mat-tab-group mat-align-tabs="center" *ngIf="isSiemensAvailable || isPrivacyAvailable">
  <mat-tab label="General">
    <ng-container *ngTemplateOutlet="generalTemplate"></ng-container>
  </mat-tab>
  <mat-tab *ngIf="isPrivacyAvailable" label="Privacy">
    <ng-container *ngTemplateOutlet="privacyTemplate"></ng-container>
  </mat-tab>
  <mat-tab *ngIf="isSiemensAvailable" label="Notifications">
    <ng-container *ngTemplateOutlet="notificationTemplate"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #generalTemplate>
  <section class="user-settings-container">
    <mat-card class="margin-bottom-m margin-top-m" *ngIf="mobileAppsSvc.canShowSettings">
      <mat-card-content>
        <div class="flex flex-between margin-bottom-s">
          <h3 class="mat-subheading-2 margin-remove flex flex-middle">
            <mat-icon class="margin-right-s">format_color_fill</mat-icon>
            <ng-container i18n>Mobile App Settings</ng-container>
          </h3>
          <button type="button" mat-raised-button i18n (click)="openAppSettings()">
            Open
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-l" *wsHasPermission="[]; roles: [ROLES.INSTANCE_ADMIN]">
      <mat-card-content class=" padding-bottom-s">
        <h3 class="mat-subheading-2 flex flex-middle">
          <mat-icon class="margin-right-s">domain</mat-icon>
          <ng-container i18n="settings: choose a domain">Choose domain</ng-container>
        </h3>
        <ng-container *ngIf="otherDomainsConfigurations">
          <mat-form-field class="domain-drop-down-width margin-right-m">
            <mat-select [(value)]="selectedInstanceConfigFile">
              <mat-option *ngFor="let domain of otherDomainsConfigurations" [value]="domain.jsonFile">
                {{ domain.domainName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button class="margin-right-m" mat-raised-button (click)="changeDomain()" i18n>
            Apply
          </button>
        </ng-container>
        <button mat-raised-button (click)="resetDomain()" i18n>
          Reset Domain
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom-l" *ngIf="settings?.config?.language?.length && settingsSubFeatures.languages">
      <mat-card-content class="padding-bottom-s">
        <h3 class="mat-subheading-2 flex flex-middle">
          <mat-icon class="margin-right-s">language</mat-icon>
          <ng-container i18n="settings: choose a language">Choose your Language</ng-container>
        </h3>
        <div>
          <mat-form-field class="language-drop-down-width">
            <mat-select [(value)]="appLanguage">
              <mat-option *ngFor="let language of languageConfig" [disabled]="!language.isSupported"
                [value]="language.code">{{ language.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="margin-left-m" mat-raised-button (click)="changeLanguage()"
            i18n="Action Button Apply Language">
            Apply
          </button>
        </div>
        <div i18n class="margin-top-s mat-caption" *ngIf="isLangChanged"> * This is only for demostration purpose.
          Complete language package is not yet enabled in Sandbox. </div>

      </mat-card-content>
    </mat-card>
    <mat-card class="margin-bottom-l" *ngIf="settingsSubFeatures.fonts">
      <mat-card-content class="padding-bottom-s">
        <h3 class="mat-subheading-2 flex flex-middle">
          <mat-icon class="margin-right-s">text_fields</mat-icon>
          <ng-container i18n="settings: choose a font size">Choose a suitable font-size</ng-container>
        </h3>
        <mat-radio-group class="font-group" [(ngModel)]="selectedFont" (ngModelChange)="changeFont()">
          <mat-radio-button value="typography-small">
            <span class="typography-font-small" i18n>Smaller Font</span>
          </mat-radio-button>
          <mat-radio-button value="typography-normal">
            <span class="typography-font-normal" i18n>Normal Font</span>
          </mat-radio-button>
          <mat-radio-button value="typography-large">
            <span class="typography-font-large" i18n>Larger Font</span>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
    <mat-card class="margin-bottom-m margin-top-m" *ngIf="settingsSubFeatures.themes">
      <mat-card-content>
        <h3 class="mat-subheading-2 flex flex-middle">
          <mat-icon class="margin-right-s">format_color_fill</mat-icon>
          <ng-container i18n="settings: choose a theme">
            Choose your theme
          </ng-container>
        </h3>
        <ul class="flex flex-between flex-wrapped padding-remove">
          <li *ngFor="let themeObj of settings.config.themes" class="theme-section" matRipple
            (click)="changeTheme(themeObj.name)">
            <div class="flex flex-around margin-bottom-m theme-pad" [style.color]="themeObj.colors.text"
              [style.background]="themeObj.colors.background">
              <div class="btn-circle mat-elevation-z5" [style.backgroundColor]="themeObj.colors.primary"></div>
              <div class="btn-circle mat-elevation-z5" [style.backgroundColor]="themeObj.colors.accent"></div>
              <div class="btn-circle mat-elevation-z5" [style.backgroundColor]="themeObj.colors.warn"></div>
            </div>
            <mat-radio-group [(ngModel)]="selectedTheme" (change)="changeTheme()">
              <mat-radio-button [value]="themeObj.name">
                <span>{{ themeObj.name }}</span>
              </mat-radio-button>
            </mat-radio-group>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </section>
</ng-template>

<ng-template #privacyTemplate>
  <section class="user-settings-container" *ngIf="fetchPrivacyStatus === 'done'">
    <mat-card class="margin-top-m margin-bottom-m">
      <div class="flex flex-wrapped flex-middle">
        <h3 class="mat-subheading-2 margin-remove privacy-title" i18n>
          Likes
        </h3>
        <div class="privacy-details">
          <div class="flex flex-wrapped flex-middle">
            <h3 class="mat-subheading-2 margin-remove margin-right-m width-expand" i18n>
              Who can see your Likes
            </h3>
            <div>
              <mat-form-field class="privacy-dropdown">
                <mat-select [(value)]="privacyPreferences.viewLikes" (selectionChange)="changePrivacySetting()">
                  <mat-option i18n value="Just You">Just You</mat-option>
                  <mat-option i18n value="Everyone">Everyone</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <mat-divider inset="true" class="margin-top-m margin-bottom-m"></mat-divider>
      <div class="flex flex-wrapped flex-middle">
        <h3 class="mat-subheading-2 margin-remove privacy-title" i18n>
          Playlist
        </h3>
        <div class="privacy-details">
          <div class="flex flex-wrapped flex-middle">
            <h3 class="mat-subheading-2 margin-remove margin-right-m width-expand" i18n>
              Who can see your Playlist
            </h3>
            <div>
              <mat-form-field class="privacy-dropdown">
                <mat-select [(value)]="privacyPreferences.viewPlaylist" (selectionChange)="changePrivacySetting()">
                  <mat-option i18n value="Just You">Just You</mat-option>
                  <mat-option i18n value="Everyone">Everyone</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="flex flex-wrapped flex-middle">
            <h3 class="mat-subheading-2 margin-remove margin-right-m width-expand" i18n>
              Who can share playlist with you
            </h3>
            <div>
              <mat-form-field class="privacy-dropdown">
                <mat-select [(value)]="privacyPreferences.sharePlaylist" (selectionChange)="changePrivacySetting()">
                  <mat-option i18n value="Just You">No One</mat-option>
                  <mat-option i18n value="Everyone">Everyone</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <mat-divider inset="true" class="margin-top-m margin-bottom-m"></mat-divider>
      <div class="flex flex-wrapped flex-middle">
        <h3 class="mat-subheading-2 margin-remove privacy-title" i18n>
          Goals
        </h3>
        <div class="privacy-details">
          <div class="flex flex-wrapped flex-middle">
            <h3 class="mat-subheading-2 margin-remove margin-right-m width-expand" i18n>
              Who can see your Goals
            </h3>
            <div>
              <mat-form-field class="privacy-dropdown">
                <mat-select [(value)]="privacyPreferences.viewGoals" (selectionChange)="changePrivacySetting()">
                  <mat-option i18n value="Just You">Just You</mat-option>
                  <mat-option i18n value="Everyone">Everyone</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="flex flex-wrapped flex-middle">
            <h3 class="mat-subheading-2 margin-remove margin-right-m width-expand" i18n>
              Who can share goal with you
            </h3>
            <div>
              <mat-form-field class="privacy-dropdown">
                <mat-select [(value)]="privacyPreferences.shareGoals" (selectionChange)="changePrivacySetting()">
                  <mat-option i18n value="Just You">No One</mat-option>
                  <mat-option i18n value="Everyone">Everyone</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <mat-divider inset="true" class="margin-top-m margin-bottom-m"></mat-divider>
      <div class="flex flex-wrapped flex-middle">
        <h3 class="mat-subheading-2 margin-remove privacy-title" i18n>
          Learning History
        </h3>
        <div class="privacy-details">
          <div class="flex flex-wrapped flex-middle">
            <h3 class="mat-subheading-2 margin-remove margin-right-m width-expand" i18n>
              Who can see your Learning History
            </h3>
            <div>
              <mat-form-field class="privacy-dropdown">
                <mat-select [(value)]="privacyPreferences.viewLearningHistory"
                  (selectionChange)="changePrivacySetting()">
                  <mat-option i18n value="Just You">Just You</mat-option>
                  <mat-option i18n value="Everyone">Everyone</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <mat-divider inset="true" class="margin-top-m margin-bottom-m"></mat-divider>
      <div class="flex flex-wrapped flex-middle">
        <h3 class="mat-subheading-2 margin-remove privacy-title" i18n>
          Badges
        </h3>
        <div class="privacy-details">
          <div class="flex flex-wrapped flex-middle">
            <h3 class="mat-subheading-2 margin-remove margin-right-m width-expand" i18n>
              Who can see your Badges
            </h3>
            <div>
              <mat-form-field class="privacy-dropdown">
                <mat-select [(value)]="privacyPreferences.viewBadges" (selectionChange)="changePrivacySetting()">
                  <mat-option i18n value="Just You">Just You</mat-option>
                  <mat-option i18n value="Everyone">Everyone</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </section>
  <div class="margin-top-xl text-center" *ngIf="fetchPrivacyStatus === 'fetching'">
    <app-spinner></app-spinner>
  </div>
  <h2 class="margin-top-xl text-center" *ngIf="fetchPrivacyStatus === 'error'">
    Error Fetching Your Privacy Settings
  </h2>
</ng-template>

<ng-template #notificationTemplate>
  <h2 i18n class="mat-h2 padding-top-l text-center">
    Coming Soon . . .
  </h2>
</ng-template>


<input type="hidden" i18n-value="Toast msg after successfully saving preferences" value="Preferences Saved"
  #successToast />
<input type="hidden" i18n-value="Toast msg after failed to save preferences" value="Failed to save preference"
  #failureToast />
<input type="hidden" id="lang-change-toast" i18n-value
  value="This feature is in beta and hence parts of the site may appear in English only." />
<input type="hidden" id="lang-change-toast" i18n-value value="This feature is in beta and hence parts of the site may
      appear in English only. " />