/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/common";
@import "src/styles/vars";

.user-settings-container {
  @extend %width-balancer;
  padding: $size-m;
  margin-bottom: $size-xl;
  // min-height: 100%;
  box-sizing: border-box;
}

.privacy-title {
  font-weight: 600;
  width: 30%;

  @include breakpoint-xs {
    width: 100%;
  }
}

.privacy-details {
  width: 70%;

  @include breakpoint-xs {
    width: 100%;
  }
}

.privacy-dropdown {
  width: 120px;
}

.theme-section {
  width: 48%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: $size-l;
  list-style: none;
  cursor: pointer;
}

@include breakpoint-xs {
  .theme-section {
    width: 100%;
  }
}

.btn-circle {
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  border-radius: 28px;
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.theme-pad {
  padding: $size-s;
  border: 1px solid;
}

.font-group {
  display: flex;

  @include breakpoint-lt-sm {
    flex-direction: column;
  }
}

%common-typography {
  padding: $size-xs;
  padding-left: 0;
  margin-right: $size-m;
  display: inline-block;

  @include breakpoint-lt-sm {
    margin: 0;
  }
}

.typography-font-small {
  @extend %common-typography;
  font-size: 12px;
}
.typography-font-normal {
  @extend %common-typography;
  font-size: 14px;
}
.typography-font-large {
  @extend %common-typography;
  font-size: 16px;
}

.language-drop-down-width {
  width: 150px;
}

.domain-drop-down-width {
  width: 200px;
}