<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="redirectionIssue?.isIssue" class="screen-overlay">
  <mat-card class="redirection">
    <mat-card-content>
      <h1 i18n class="mat-h1 text-center">
        Access Restricted
      </h1>
      <mat-divider></mat-divider>
      <br />
      <h2 class="mat-h2 text-center" i18n *ngIf="redirectionIssue.issueType === 'mobile-app'">
        Your app is outdated! Uninstall it and get the latest app from
      </h2>
      <h2 class="mat-h2 text-center" i18n *ngIf="redirectionIssue.issueType === 'web'">
        You are on dev / staging site that is decommissioned!
      </h2>
      <div *ngIf="redirectionIssue.issueType === 'web'" class="text-center">
        <div class="redirect-link margin-bottom-xs" i18n>Want to Learn?</div>
        <span class="redirect-link" i18n>Go to </span>
        <a class="redirect-link link" href="https://lex.infosysapps.com">https://lex.infosysapps.com</a>
        <div class="redirect-link margin-top-m margin-bottom-xs" i18n>
          Want to Create?
        </div>
        <a class="redirect-link link" i18n [href]="authoringToolLink.home">Create</a>
      </div>
      <div *ngIf="redirectionIssue.issueType === 'mobile-app'" class="text-center">
        <a [href]="mobileLinks.android" class="margin-right-s" aria-labelledby="download android app">
          <img alt="Play Store" class="app" src="/public-assets/common/misc/mobile_app/play_store.png" />
        </a>
        <a [href]="mobileLinks.ios" aria-labelledby="download ios app">
          <img alt="App Store" class="app" src="/public-assets/common/misc/mobile_app/app_store.svg" />
        </a>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <br />
    <mat-card-footer class="text-center margin-bottom-m">
      <ng-container i18n>
        If you need any clarification, please contact
      </ng-container>
      <a class="link" href="mailto:EMAIL">EMAIL</a>
    </mat-card-footer>
  </mat-card>
</div>
