<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs text-truncate hide-on-medium-block">
    <ng-container i18n="page title: Instructor led training">
      Instructor-Led Training
    </ng-container>
  </span>
</mat-toolbar>

<section class="container" *ngIf="programGroup">
  <h2 class="mat-title margin-bottom-remove head">{{ programGroup.program_group }}</h2>
  <div class="mat-body head">{{ programGroup.programs.length }} programs available</div>

  <section class="margin-top-xl margin-bottom-xl" *ngFor="let program of programGroup.programs">
    <mat-card>
      <h2 class="mat-title margin-bottom-remove">{{ program.program_name }}</h2>
      <div class="mat-caption">
        <ng-container *ngIf="program.trainings.length > 1">
          {{ program.trainings.length }} trainings available
        </ng-container>
        <ng-container *ngIf="program.trainings.length === 1">
          {{ program.trainings.length }} training available
        </ng-container>
        <ng-container *ngIf="!program.trainings.length">
          No trainings available
        </ng-container>
      </div>

      <div class="margin-top-s margin-bottom-s" *ngFor="let training of program.trainings">
        <ws-training-card [training]="training"></ws-training-card>
      </div>
    </mat-card>
  </section>
</section>
