/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import 'src/styles/mixins';

@mixin align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin align-horizontal {
  margin: 0 auto;
  justify-content: center;
}

app-user-image {
  $user-size: 40px;
  width: $user-size;
  height: $user-size;
  font-size: $user-size;
}

.lb-heading {
  text-align: center;
  margin-top: 2rem;
}

.lb-hof-heading {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.lb-controls {
  @include breakpoint-xs {
    width: 90%;
  }

  @include breakpoint-sm {
    width: 80%;
  }

  @include breakpoint-md {
    width: 50%;
  }

  @include breakpoint-lg {
    width: 40%;
  }

  @include breakpoint-xl {
    width: 30%;
  }

  @include align-horizontal;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  text-align: center;

  .lb-controls-info {
    margin: .2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lb-controls-next,
  .lb-controls-prev {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
  }
}

.lb-card {
  margin: 1rem auto;

  @include breakpoint-xs {
    width: 80%;
  }

  @include breakpoint-sm {
    width: 80%;
  }

  @include breakpoint-md {
    width: 50%;
  }

  @include breakpoint-lg {
    width: 40%;
  }

  @include breakpoint-xl {
    width: 30%;
  }
}

.lb-list {
  list-style-type: none;
  padding: 0;

  @include breakpoint-gt-xs {
    padding: 0 16px;
  }
}

.lb-list-item {
  margin: 2rem 0 1rem 0;
  height: auto !important;
  &:first-child {
    margin-top: 0;
  }
}

.lb-list-item-container {
  width: 100%;
}

.lb-list-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.lb-list-content-container {
  display: flex;
  width: 85%;
}

.lb-list-rank-and-name {
  display: flex;
  width: 80%;
}

.lb-list-rank {
  @include align-vertical;
  font-size: .7rem;
  text-align: left;
  font-weight: 500;
  cursor: default;
  width: 10%;

  @include breakpoint-xl {
    font-size: .8rem;
    font-weight: 600;
    width: 15%;
  }

  @include breakpoint-xs {
    width: 15%;
  }
}

.lb-list-img {
  @include align-vertical;
}

.lb-list-content {
  @include align-vertical();
  margin-left: 0.5rem;
  width: 80%;

  %name_designation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lb-list-name {
    @extend %name_designation;
  }

  .lb-list-designation {
    @extend %name_designation;
    color: #999;
  }

  .lb-list-hof-date {
    font-weight: 600;
  }
}

.lb-list-points {
  @include align-vertical;
  text-align: right;
  cursor: default;
}

.lb-li-divider {
  &:last-child {
    display: none;
  }
}

.leader-board-filter {
  width: 135px;
  font-size: 0.75em;
}
