<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-progress-bar *ngIf="loadingContent" mode="indeterminate"></mat-progress-bar>

<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: leaderboard" class="margin-left-xs">Leaderboard</span>
  <span class="spacer"></span>
  <mat-form-field class="leader-board-filter">
    <mat-select [(value)]="selectedLeaderboardType" (selectionChange)="onLeaderboardChange()" accesskey="F">
      <mat-option i18n="leaderboard: learner filter" value="L">Learner</mat-option>
      <mat-option i18n="leaderboard: Collaborator filter" value="C">Collaborator</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<mat-tab-group
  mat-align-tabs="center"
  [dynamicHeight]="true"
  [selectedIndex]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <span i18n="weekly leaderboard" class="mat-body-2" accesskey="1">Weekly</span>
    </ng-template>

    <ng-container *ngIf="lbWeekly">
      <ng-container *ngTemplateOutlet="tabContent; context: { $implicit: lbWeekly }"></ng-container>
    </ng-container>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span i18n="monthly leaderboard" class="mat-body-2" accesskey="2">Monthly</span>
    </ng-template>

    <ng-container *ngIf="lbMonthly">
      <ng-container *ngTemplateOutlet="tabContent; context: { $implicit: lbMonthly }"></ng-container>
    </ng-container>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span i18n="hall of fame" class="mat-body-2" accesskey="3">Hall of Fame</span>
    </ng-template>

    <ng-container *ngIf="lbHallOfFame">
      <ng-container *ngTemplateOutlet="tabContent; context: { $implicit: lbHallOfFame }"></ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #tabContent let-lbData>
  <div class="lb-controls" *ngIf="tabsMap[selectedTabIndex] !== 'HALL_OF_FAME'">
    <button
      class="mat-mini-fab"
      mat-button
      (click)="
        load(
          tabsMap[selectedTabIndex],
          lbData.duration_type,
          lbData.prev?.duration_value,
          lbData.prev?.leaderboard_year
        )
      "
      [disabled]="!lbData.prev"
      accesskey="<"
    >
      <mat-icon> navigate_before </mat-icon>
    </button>
    <div class="lb-controls-info">
      <p class="lb-from-to">
        {{ lbData.start_date | date: "d MMM, y" }}
        <ng-container i18n>&nbsp;to&nbsp;</ng-container>
        {{ lbData.end_date | date: "d MMM, y" }}
      </p>
      <p class="lb-last-updated mat-caption">
        <ng-container i18n="last updated date">Last updated on&nbsp;</ng-container>
        <ng-container>{{ lbData.lastUpdatedDate }}</ng-container>
      </p>
    </div>
    <button
      class="mat-mini-fab"
      mat-button
      (click)="
        load(
          tabsMap[selectedTabIndex],
          lbData.duration_type,
          lbData.next?.duration_value,
          lbData.next?.leaderboard_year
        )
      "
      [disabled]="!lbData.next"
      accesskey=">"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <ng-template #dataLoaded [ngIf]="lbData?.length || lbData?.items?.length" [ngIfElse]="noData">
    <div class="lb-heading" *ngIf="tabsMap[selectedTabIndex] === 'HALL_OF_FAME'">
      <p i18n="hall of fame heading" class="mat-body">The top learners from the past months.</p>
    </div>
    <ng-container
      *ngTemplateOutlet="leaderBoardList; context: { $implicit: lbData.items ? lbData.items : lbData }"
    ></ng-container>
  </ng-template>

  <ng-template #noData>
    <p *ngIf="tabsMap[selectedTabIndex] === 'WEEKLY'" class="mat-body lb-heading">
      <ng-container *ngIf="isClient" i18n>
        See who is on top of the learning leaderboard this week.
      </ng-container>
      <ng-container *ngIf="!isClient" i18n>
        No data available for this week.
      </ng-container>
    </p>
    <p *ngIf="tabsMap[selectedTabIndex] === 'MONTHLY'" class="mat-body lb-heading">
      <ng-container *ngIf="isClient" i18n>
        See who is on top of the learning leaderboard this month.
      </ng-container>
      <ng-container *ngIf="!isClient" i18n>
        No data available for this month.
      </ng-container>
    </p>
    <p *ngIf="tabsMap[selectedTabIndex] === 'HALL_OF_FAME'" class="mat-body lb-heading">
      <ng-container *ngIf="isClient" i18n>
        Meet our Hall of Famers - The Learning Champions
      </ng-container>
      <ng-container *ngIf="!isClient" i18n>
        No data available for Hall of Fame.
      </ng-container>
    </p>
  </ng-template>
</ng-template>

<ng-template #leaderBoardList let-data>
  <mat-card class="lb-card">
    <ul class="lb-list">
      <ng-container *ngFor="let learner of data">
        <!-- <li mat-button class="lb-list-item cursor-pointer" [routerLink]="'/profile/'+learner.email_id"> -->
        <!-- <li mat-button class="lb-list-item cursor-pointer" [routerLink]="'/profile/' + learner.email_id"> -->
        <li mat-button class="lb-list-item cursor-pointer">
          <div class="lb-list-item-container">
            <div *ngIf="learner.duration_value" class="mat-caption lb-list-hof-date">
              {{
                learner.leaderboard_year + "-" + (learner.duration_value < 10 ? "0" : "") + learner.duration_value
                  | date: "MMMM, " + learner.leaderboard_year
                  | uppercase
              }}
            </div>
            <div class="lb-list-container">
              <div class="lb-list-rank-and-name">
                <div class="lb-list-rank" *ngIf="!learner.duration_value">
                  <span matTooltip="Rank: {{ learner.rank }}" matTooltipPosition="above">{{
                    learner.rank | countTransform
                  }}</span>
                </div>
                <div class="lb-list-content-container">
                  <div class="lb-list-img">
                    <app-user-image [email]="learner.email_id"></app-user-image>
                  </div>
                  <div class="lb-list-content">
                    <div class="mat-body-2 lb-list-name">
                      {{
                        {
                          firstName: learner.first_name,
                          lastName: learner.last_name,
                          email: learner.email_id
                        } | nameTransform
                      }}
                    </div>
                    <div class="mat-caption lb-list-designation">{{ learner.designation | uppercase }}</div>
                  </div>
                </div>
              </div>
              <div class="lb-list-points" matTooltip="Points: {{ learner.points }}" matTooltipPosition="above">
                <div class="mat-body">{{ learner.points | countTransform }}</div>
                <div class="mat-caption">
                  <span *ngIf="learner.points !== 1" i18n>POINTS</span>
                  <span *ngIf="learner.points === 1" i18n>POINT</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <mat-divider class="lb-li-divider"></mat-divider>
      </ng-container>
    </ul>
  </mat-card>
</ng-template>
