<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n class="margin-left-xs">Contest Rules</span>
</mat-toolbar>

<ol class="contest-container">
  <li i18n class="margin-bottom-s">
    A contest may contain various types of questions including but not limited to objective
    multiple choice questions, fill-in the blanks, hands-on programming questions.
    Contest author can setup a start and end time for the contest and also a duration for the contest.
    Contest author may also set a limit on the number of times a contest can be attempted by a user,
    during the contest period. Several programming languages like Python, Python 3, Clojure, PHP, Bash,
    Plain JavaScript, Go, C, C++, R, C#, Java, Perl, Scala, Ruby etc; are supported by the platform
    for hands-on programming contests. Contest owner may also specify one or more programming languages
    that you can use for the contest.
  </li>
  <li i18n class="margin-bottom-s">
    While participating in a contest, you have to follow the rules set by the contest author.
    You will be allowed to save a copy of the code written by you as part of hands-on coding contest,
    for backup purposes. Remember that saving is not the same as submission, and saved code will not be
    considered as a submission. Only submitted code will be compiled and assessed.
  </li>
  <li i18n>
    Apple is not a sponsor for the contest.
  </li>
</ol>
