/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
@import "~src/styles/mixins";
@import "~src/styles/animation";
.modal-wrapper {
  @include custom-transform("scale(0)");
  position: fixed;
  width: 100%;
  min-height: 100%;
  max-height: 100%;

  top: 0;
  left: 0;
  z-index: 1012;
  background-color: rgba(0, 0, 0, 0.66);
  // overflow: auto;
  display: table;
  // .modal-background{

  // }
  &.show {
    @include custom-transform("scaleY(.01) scaleX(0)");
    @include custom-animations(
      "unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards"
    );
    .modal-background {
      .modal-content {
        @include custom-transform("scale(0)");
        @include custom-animations(
          "zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards"
        );
      }
    }
  }
  &.hide {
    @include custom-transform("scale(1)");
    @include custom-animations(
      "unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards"
    );
    .modal-background {
      .modal-content {
        @include custom-transform("scale(0)");
        @include custom-animations(
          "zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards"
        );
      }
    }
  }
  .modal-content {
    margin: 150px auto;
    padding-top: 0px;
    box-shadow: 12px 24px 80px rgba(8, 8, 8, 0.65);
    background-color: $color-white;
    width: 90%;
    @media (min-width: 1150px) {
      width: 666px;
    }
    border-radius: 4px;
  }
  .modal-head {
    text-align: left;
  }
  .modal-body {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
    background-color: $color-white;
    header {
      @include font-size(18px);
      padding: 10px;
      max-height: 200px;
      // overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        background-color: $color-thin-gray;
      }
      &::-webkit-scrollbar-track {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        width: 3px;
        height: 50px;
        background-color: $color-dark-gray;
      }
    }
    footer {
      padding-top: 10px;
      text-align: right;
      padding-bottom: 10px;
    }
    .title {
      color: black;
    }
  }
  .modal-title {
    padding: 8px 10px;
    border-bottom: 1px solid $color-thin-gray;
    color: $color-white;
    @include font-size(18px);
    width: 100%;
    min-height: 42px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
}
