<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/navigator">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigator roles" class="margin-left-xs">Offerings</span>
  <span class="spacer"></span>
  <form>
    <div class="search-container">
      <mat-form-field [floatLabel]="'never'">
        <input
          name="lp-search"
          matInput
          [formControl]="queryControl"
          i18n-placeholder="Search bar for filtering out learning paths in Navigator"
          placeholder="I want to Learn..."
          autocomplete="off"
          accesskey="F"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </form>
</mat-toolbar>
<mat-toolbar color="warn" *ngIf="queryControl.value && !searchInprogress && !searchedRoles.length" i18n>
  No results based on your search
</mat-toolbar>
<div class="margin-bottom-xl" *ngIf="fetchNsoStatus === 'done'">
  <div *ngIf="queryControl.value" class="content-strip">
    <div *ngIf="searchInprogress" class="margin-top-m">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="!searchInprogress && searchedRoles.length">
      <h1 class="heading" i18n>Result(s) based on your search.</h1>
      <app-scroll-handler [contentStatus]="'done'">
        <app-role-card class="role-card" [role]="role" *ngFor="let role of searchedRoles"></app-role-card>
      </app-scroll-handler>
    </div>
  </div>
  <div *ngIf="!queryControl.value || !searchedRoles.length" class="content-strip">
    <h1 class="mat-h3" i18n>
      Explore learning paths for new service offerings based on Industry trends
    </h1>
    <div class="flex flex-center flex-wrapped padding-s">
      <div class="card-section margin-bottom-xl">
        <mat-card class="height-1-1">
          <h2 class="mat-h2" i18n>Select a Pillar</h2>
          <app-pentagon [default]="'Accelerate'" (trackClicked)="trackClicked($event)"></app-pentagon>
        </mat-card>
      </div>
      <div class="card-section margin-bottom-xl">
        <mat-card class="height-1-1">
          <h2 *ngIf="!selectedTrack?.roles.length" class="margin-top-xl text-center" i18n>
            No Offering for this Pillar
          </h2>
          <h2 *ngIf="selectedTrack?.roles.length > 1" class="mat-h2" i18n>
            Select an Offering
          </h2>
          <h2 *ngIf="selectedTrack?.roles.length === 1" class="mat-h2" i18n>
            Role
          </h2>
          <mat-chip-list>
            <mat-chip
              *ngFor="let role of selectedTrack?.roles"
              class="width-1-1"
              [selected]="role.role_name === selectedRole?.role_name"
              color="primary"
              (click)="roleClicked(role)"
            >
              <span class="width-1-1 text-center text-truncate">{{ role.role_name }}</span>
            </mat-chip>
          </mat-chip-list>
        </mat-card>
      </div>
      <div class="card-section margin-bottom-xl">
        <mat-card *ngIf="selectedRole" class="height-1-1">
          <h2 class="mat-h2" i18n>Offering</h2>
          <div class="flex flex-center">
            <app-role-card [role]="selectedRole"></app-role-card>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<h2 class="margin-top-xl text-center" i18n *ngIf="fetchNsoStatus === 'error'">
  Error Fetching Data
</h2>
<div class="margin-top-xl text-center" *ngIf="fetchNsoStatus === 'fetching'">
  <app-spinner></app-spinner>
</div>
