<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary" *ngIf="loginConfig.topbar.isVisible">
  <a [ngClass]="{ background: showBackground }" mat-button routerLink="/login" routerLinkActive="mat-stroked-button">
    <img [src]="navConfig.logo" [alt]="navConfig.name" class="logo-img" />
  </a>
  <span class="spacer"></span>
  <a *ngIf="loginConfig.topbar.about" mat-button routerLink="/about" routerLinkActive="mat-stroked-button">
    <mat-icon>info</mat-icon>
    <span class="top-bar-icon-text" i18n="about platform">About</span>
  </a>
  <a *ngIf="loginConfig.topbar.apps && !mobileAppsSvc.isMobile" mat-button routerLink="/mobile-app" routerLinkActive="mat-stroked-button">
    <mat-icon>phone_iphone</mat-icon>
    <span class="top-bar-icon-text" i18n="Mobile Apps">Apps</span>
  </a>
</mat-toolbar>