<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigator suggested learning paths" class="margin-left-xs">What Can I Learn?</span>
</mat-toolbar>
<mat-toolbar *ngIf="!skillsList?.length" color="warn" i18n>No Skill Selected</mat-toolbar>
<section class="margin-bottom-xl">
  <div class="content-strip" *ngIf="skillsList?.length">
    <h2 class="mat-title" i18n>
      Suggested learning path(s) based on selected skills. Click on Learning Path to know more
    </h2>
    <mat-chip-list>
      <mat-chip *ngFor="let skill of skillsList">
        {{ skill }}
        <mat-icon matChipRemove (click)="removeSkill(skill)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-selection-list #suggestedCheckList class="app-class" (selectionChange)="suggestedChanged(suggestedCheckList)">
      <ng-container *ngFor="let lp of clip(suggestedLp, shouldClip['suggested'])">
        <mat-list-option checkboxPosition="before" [value]="lp?.lp_id" *ngIf="isNavigatorGoalsStatus.enabled">
          {{ lp.lp_name }}
        </mat-list-option>
        <h3 class="mat-subheading-2" *ngIf="!isNavigatorGoalsStatus.enabled" class="lp_name margin-remove-bottom">
          {{ lp.lp_name }}
        </h3>
        <app-lp-duration-bar
          (barClicked)="openLearningPath(lp?.lp_id)"
          [id]="lp?.lp_id"
          [barLabel]="lp?.lp_description"
          [duration]="lp.profiles[0]?.profile_time + ' days'"
        ></app-lp-duration-bar>
        <mat-divider class="margin-bottom-m"></mat-divider>
      </ng-container>
    </mat-selection-list>
    <button
      *ngIf="suggestedLp?.length > 5"
      mat-raised-button
      color="primary"
      (click)="shouldClip['suggested'] = !shouldClip['suggested']"
    >
      {{ shouldClip["suggested"] ? "View More" : "View Less" }}
    </button>
    <div class="text-center">
      <button
        *ngIf="!addingGoalsInProgress"
        mat-raised-button
        color="primary"
        [disabled]="!isNavigatorGoalsStatus.enabled || !suggestedCheckList.selectedOptions.selected.length"
        (click)="createGoalClicked(suggestedCheckList.selectedOptions.selected)"
      >
        Create Goal
      </button>
      <app-spinner *ngIf="addingGoalsInProgress"></app-spinner>
    </div>
  </div>
  <div class="content-strip">
    <div class="uk-container uk-container-expand">
      <h2 class="heading">Explore other goals</h2>
      <mat-selection-list #othersCheckList class="app-class" (selectionChange)="othersChanged(othersCheckList)">
        <ng-container *ngFor="let lp of clip(otherLp, shouldClip['other'])">
          <mat-list-option checkboxPosition="before" [value]="lp?.lp_id">
            {{ lp.lp_name }}
          </mat-list-option>
          <app-lp-duration-bar
            (barClicked)="openLearningPath(lp?.lp_id)"
            [id]="lp?.lp_id"
            [barLabel]="lp?.lp_description"
            [duration]="lp.profiles[0]?.profile_time + ' days'"
          ></app-lp-duration-bar>
          <mat-divider class="margin-bottom-m"></mat-divider>
        </ng-container>
      </mat-selection-list>
      <button
        *ngIf="otherLp?.length > 5"
        mat-raised-button
        color="primary"
        (click)="shouldClip['other'] = !shouldClip['other']"
      >
        {{ shouldClip["other"] ? "View More" : "View Less" }}
      </button>
      <div class="text-center">
        <button
          *ngIf="!addingGoalsInProgress"
          mat-raised-button
          color="primary"
          [disabled]="!isNavigatorGoalsStatus.enabled || !othersCheckList.selectedOptions.selected.length"
          (click)="createGoalClicked(othersCheckList.selectedOptions.selected)"
        >
          Create Goal
        </button>
        <app-spinner *ngIf="addingGoalsInProgress"></app-spinner>
      </div>
    </div>
  </div>
</section>

<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Goals added successfully"
  value="Goals added successfully "
  #toastSuccess
/>
<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Unable to save goals"
  value="Unable to save goals"
  #toastFailure
/>

<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Already part of your goals"
  value="Already part of your goals"
  #toastAlreadyAdded
/>

<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Goal not launched yet"
  value="Goal not launched yet"
  #toastNotLaunched
/>
