<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<app-spinner
  *ngIf="analyticsFetchStatus === 'fetching'"
  [spinMode]="'indeterminate'"
  [spinSize]="'large'"
  [spinWidth]="'thin'"
  [spinValue]="70"
  [spinColor]="'primary'"
  class="progress-circular-full"
>
</app-spinner>

<h2 class="text-center" *ngIf="analyticsFetchStatus === 'error'" i18n="Error fetching data">
  Error fetching data
</h2>
<div *ngIf="analyticsFetchStatus === 'done'" class="margin-top-m">
  <ng-container>
    <app-filter (filterEvent)="callFilteredGet($event)"></app-filter>
  </ng-container>

  <div class="margin-s flex flex-wrapped flex-around">
    <app-tile class="tile" [titleFirstSubHeading]="'Assessments'" [firstValue]="clientData.assessment"></app-tile>
    <app-tile class="tile" [titleFirstSubHeading]="'Certifications'" [firstValue]="clientData.certification"></app-tile>
    <app-tile
      *ngIf="clientData.assessment_users"
      class="tile"
      [titleFirstSubHeading]="'Users taking assessments'"
      [firstValue]="clientData.assessment_users"
    ></app-tile>
  </div>
  <mat-card class="pie-card" *ngIf="graphData.length > 0">
    <mat-card-header class="graph-card-header padding-xs">
      <mat-icon class="feature-icon">pie_chart</mat-icon>
      <span class="padding-left-xs mat-body-1" i18n="learningAnalytics assessment page assessment details"
        >Recent Assessment</span
      >
    </mat-card-header>
    <ng-container>
      <div class="padding-top-s">
        <mat-grid-list cols="2" rowHeight="20px">
          <mat-grid-tile class="mat-body-1">Title</mat-grid-tile>

          <mat-grid-tile class="mat-body-1">Score Ranges</mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-container>
        <div *ngFor="let assessment of graphData">
          <div class="padding-top-s">
            <mat-grid-list cols="2" rowHeight="80px">
              <mat-grid-tile class="mat-body-1" style="text-align: left;">{{ assessment.name }}</mat-grid-tile>

              <mat-grid-tile class="mat-body-1">
                <app-pie-chart
                  [showlabels]="false"
                  [height]="120"
                  [margin]="margin"
                  [graphData]="assessment.data"
                ></app-pie-chart>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <!-- <ng-container *ngIf="graphData.length == 0">
      <p class="mat-subheading-1 text-center">No Data Available</p>
    </ng-container> -->
    <mat-paginator
      *ngIf="graphData?.length > 10"
      showFirstLastButtons
      [length]="graphData?.length"
      [pageSize]="10"
      (page)="changePage($event)"
    ></mat-paginator>
  </mat-card>
</div>
