<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: feature unavailable" class="margin-left-xs">Feature Unavailable</span>
</mat-toolbar>
<section class="error-container">
  <mat-card class="error-card animation-description fadeInDown">
    <mat-card-header>
      <mat-card-title i18n>Coming Soon</mat-card-title>
      <mat-card-subtitle i18n>You are accessing the feature which is not currently unavailable for trial instance.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="padding-m">
      <p>
        <mat-icon>minimize</mat-icon>
        <ng-container i18n>
          If you suspect a site problem, kindly report the problem. We appreciate your support.
        </ng-container>
      </p>
    </mat-card-content>
  </mat-card>
</section>
