<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<!-- <div *ngIf="getFilter().length>0">
  <span>Showing Data For : </span>
  <span *ngFor="let item of getFilter()">{{item}}</span>
  <mat-icon class="feature-icon padding-top-xs" (click)="deleteFilter(item);getfilterEvent()">close</mat-icon>
</div> -->
<div *ngIf="getFilter().length>0" class="flex flex-wrapped margin-m">
  <h4 i18n="filter applied">Filter Applied: </h4>
  <mat-chip-list>
    <mat-chip class="ql-size-monospace" *ngFor="let item of getFilter()">{{item.split(":")[1]}}
      <mat-icon matChipRemove *ngIf="removable" (click)="deleteFilter(item);getfilterEvent()">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
