<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="container" *ngIf="content.trainingProgram">
  <section class="margin-top-xl margin-bottom-xl">
    <h2 class="mat-title">Available Trainings</h2>

    <div class="margin-top-s margin-bottom-s" *ngFor="let training of content.trainingProgram.trainings">
      <ws-toc-training-card [training]="training"></ws-toc-training-card>
    </div>
  </section>
</section>
