/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/common";

.error-container {
  padding: $size-m;
  @extend %width-balancer;
  min-height: calc(100% - 56px);

  @include breakpoint-gt-xs {
    min-height: calc(100% - 160px);
  }
}

.error-card {
  margin: $size-m;
}

.error-card-actions {
  padding: $size-m;
  text-align: right;
}
