/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./vars";

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
@mixin print {
  @media only print {
    @content;
  }
}

@mixin breakpoint-xs {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin breakpoint-sm {
  @media only screen and (min-width: 600px) and (max-width: 959px) {
    @content;
  }
}
@mixin breakpoint-md {
  @media only screen and (min-width: 960px) and (max-width: 1279px) {
    @content;
  }
}
@mixin breakpoint-lg {
  @media only screen and (min-width: 1280px) and (max-width: 1919px) {
    @content;
  }
}
@mixin breakpoint-xl {
  @media only screen and (min-width: 1920px) and (max-width: 5000px) {
    @content;
  }
}
@mixin breakpoint-lt-sm {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin breakpoint-lt-md {
  @media only screen and (max-width: 959px) {
    @content;
  }
}
@mixin breakpoint-lt-lg {
  @media only screen and (max-width: 1279px) {
    @content;
  }
}
@mixin breakpoint-lt-xl {
  @media only screen and (max-width: 1919px) {
    @content;
  }
}
@mixin breakpoint-gt-xs {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
@mixin breakpoint-gt-sm {
  @media only screen and (min-width: 960px) {
    @content;
  }
}
@mixin breakpoint-gt-md {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}
@mixin breakpoint-gt-lg {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

// khub mixins
@mixin transitions($string) {
  -webkit-transition: #{$string};
  -moz-transition: #{$string};
  -o-transition: #{$string};
  transition: #{$string};
}

@mixin custom-transform($string) {
  -webkit-transform: #{$string};
  -moz-transform: #{$string};
  -o-transform: #{$string};
  -ms-transform: #{$string};
  transform: #{$string};
}
@mixin custom-animations($string) {
  -webkit-animation: #{$string};
  -moz-animation: #{$string};
  -o-animation: #{$string};
  animation: #{$string};
}

@function calculateRem($size) {
  $remSize: $size / $font-size-base;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//ends here
@mixin border-radius($str) {
  -moz-border-radius: #{$str};
  -webkit-border-radius: #{$str};
  border-radius: #{$str};
}
@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
