/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./vars";
@import "./_mixins";
// import for material icons
$material-icons-font-path: "~material-icons/iconfont/";
@import "~material-icons/iconfont/material-icons.scss";
/* You can add global styles to this file, and also import other style files */

@include print {
  * {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
  }
}

html,
body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}

.custom-scroll {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: $size-xs;
    height: $size-xs;

    @include breakpoint-sm {
      width: $size-s;
      height: $size-s;
    }

    @include breakpoint-gt-sm {
      width: $size-m;
      height: $size-m;
    }

    @media (hover: none) {
      $scroll-size: 0px !important;
      width: $scroll-size;
      height: $scroll-size;
    }

    @media (pointer: coarse) {
      $scroll-size: 0px !important;
      width: $scroll-size;
      height: $scroll-size;

      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
  }

  &::-webkit-scrollbar-track {
    background: #cfcfcf;
  }

  &::-webkit-scrollbar-thumb {
    background: #9e9e9e;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #707070;
  }
}

.transition {
  transition: all 0.4s ease-in-out;
}

// visibililty & hiding
[hidden] {
  display: none !important;
}

.visible-inline-s {
  display: inline;

  @include breakpoint-gt-xs {
    display: none;
  }
}

.hidden {
  display: none;
}

.hidden-inline-s {
  display: none;

  @include breakpoint-gt-xs {
    display: inline;
  }
}

.hidden-touch {
  @media (pointer: coarse) {
    display: none !important;
  }
}

.hidden-xs {
  @include breakpoint-xs {
    display: none !important;
  }
}

.hidden-gt-xs {
  @include breakpoint-gt-xs {
    display: none !important;
  }
}

.hidden-gt-sm {
  @include breakpoint-gt-sm {
    display: none !important;
  }
}

.hidden-lt-md {
  @include breakpoint-lt-md {
    display: none !important;
  }
}

.hidden-lt-md {
  @include breakpoint-lt-md {
    display: none !important;
  }
}

.container-height-adjust {
  box-sizing: border-box;
  height: 100% !important;
}
// text-modifiers
.text-truncate {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.text-justify {
  text-align: justify !important;
}

.text-middle {
  vertical-align: middle !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

// display properties
.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

// flex handlers
.flex-stretch {
  align-items: stretch;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrapped {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: auto;
}

// width and height adjustment
.width-auto {
  width: auto;
}

.width-expand {
  flex: 1;
  min-width: 1px;
}

.width-1-1 {
  width: 100% !important;
}

.width-1-2 {
  width: 50%;
  @include breakpoint-lt-md {
    width: 100%;
  }
}

.width-1-4 {
  width: 20%;
  @include breakpoint-lt-sm {
    width: 100%;
  }
}

.width-3-4 {
  width: 80%;
  @include breakpoint-lt-sm {
    width: 100%;
  }
}

.width-2-3 {
  width: 66.66%;
  @include breakpoint-lt-md {
    width: 100%;
  }
}

.width-1-3 {
  width: 33.34%;
  @include breakpoint-lt-md {
    width: 100%;
  }
}

.width-1-4 {
  width: 20%;
  @include breakpoint-xs {
    width: 100%;
  }
}

.width-3-4 {
  width: 80%;
  @include breakpoint-xs {
    width: 100%;
  }
}

.spacer {
  flex: 1 1 auto;
}

.height-1-1 {
  height: 100% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-auto {
  cursor: auto !important;
}

// padding
.padding-remove {
  padding: 0 !important;
}

.padding-remove-left {
  padding-left: 0 !important;
}

.padding-remove-top {
  padding-top: 0 !important;
}

.padding-remove-bottom {
  padding-bottom: 0 !important;
}

.padding-remove-right {
  padding-right: 0 !important;
}

.padding-top-xs {
  padding-top: $size-xs !important;
}

.padding-top-s {
  padding-top: $size-s !important;
}

.padding-top-m {
  padding-top: $size-m !important;
}

.padding-top-l {
  padding-top: $size-l !important;
}

.padding-bottom-xs {
  padding-bottom: $size-xs !important;
}

.padding-bottom-s {
  padding-bottom: $size-s !important;
}

.padding-bottom-m {
  padding-bottom: $size-m !important;
}

.padding-bottom-l {
  padding-bottom: $size-l !important;
}

.padding-xs {
  padding: $size-xs !important;
}

.padding-s {
  padding: $size-s !important;
}

.padding-m {
  padding: $size-m !important;
}

.padding-xl {
  padding: $size-xl !important;
}

.padding-left-xs {
  padding-left: $size-xs !important;
}

.padding-left-s {
  padding-left: $size-s !important;
}

.padding-left-m {
  padding-left: $size-m !important;
}

.padding-left-l {
  padding-left: $size-l !important;
}

.padding-right-xs {
  padding-right: $size-xs !important;
}

.padding-right-m {
  padding-right: $size-m !important;
}

.padding-right-s {
  padding-right: $size-s !important;
}

// margin
.margin-xs {
  margin: $size-xs !important;
}

.margin-s {
  margin: $size-s !important;
}

.margin-m {
  margin: $size-m !important;
}

.margin-l {
  margin: $size-l !important;
}

.margin-xl {
  margin: $size-xl !important;
}

.margin-remove {
  margin: 0 !important;
}

.margin-remove-top {
  margin-top: 0 !important;
}

.margin-remove-bottom {
  margin-bottom: 0 !important;
}

.margin-remove-left {
  margin-left: 0 !important;
}

.margin-remove-right {
  margin-right: 0 !important;
}

.margin-left-xs {
  margin-left: $size-xs !important;
}

.margin-left-s {
  margin-left: $size-s !important;
}

.margin-left-m {
  margin-left: $size-m !important;
}

.margin-left-xl {
  margin-left: $size-xl !important;
}

.margin-bottom-xs {
  margin-bottom: $size-xs !important;
}

.margin-bottom-s {
  margin-bottom: $size-s !important;
}

.margin-bottom-m {
  margin-bottom: $size-m !important;
}

.margin-bottom-l {
  margin-bottom: $size-l !important;
}

.margin-bottom-xl {
  margin-bottom: $size-xl !important;
}

.margin-top-xs {
  margin-top: $size-xs !important;
}

.margin-top-s {
  margin-top: $size-s !important;
}

.margin-top-m {
  margin-top: $size-m !important;
}

.margin-top-l {
  margin-top: $size-l !important;
}

.margin-top-xl {
  margin-top: $size-xl !important;
}

.margin-right-xs {
  margin-right: $size-xs !important;
}

.margin-right-s {
  margin-right: $size-s !important;
}

.margin-right-m {
  margin-right: $size-m !important;
}
.margin-right-l {
  margin-right: $size-l !important;
}
.margin-right-xl {
  margin-right: $size-xl !important;
}

.margin-m {
  margin: $size-m !important;
}

.margin-s {
  margin: $size-s !important;
}

.margin-auto {
  margin: auto;
}

// positions
.position-relative {
  position: relative;
}

a {
  text-decoration: none !important;
  color: inherit;
}

iframe {
  display: block;
  border: 0;
}

.page-container-padding {
  padding: $size-m;
}

// TNC content
.tnc-container {
  dd {
    margin-inline-start: $size-xs;
  }

  ul,
  ol {
    padding-inline-start: $size-m;
  }

  li {
    padding-inline-start: $size-xs;
    margin-bottom: $size-xs;
  }
}

// Viewer
.expansion-no-padding {
  .mat-expansion-panel-body {
    padding: 0;
  }
}

// Override material Tab
.full-height-tab-group {
  height: 100%;

  .mat-tab-body-wrapper {
    height: 100%;
  }
}

// Override checkbox
.fit-checkbox-to-width {
  .mat-checkbox-layout {
    width: 100%;
  }

  .mat-checkbox-label {
    flex: 1;
    min-width: 1px;
  }
}

// Override Sidenav bar
.mat-drawer-inner-container,
.mat-drawer-content {
  @extend .custom-scroll;
}

// Override Autocomplete scrollbar
.mat-autocomplete-panel {
  @extend .custom-scroll;
}

// Override Select scrollbar
.mat-select-panel {
  @extend .custom-scroll;
}

// Content Strip
.content-strip {
  margin-bottom: $size-s;
  padding: $size-m;

  @include breakpoint-gt-xs {
    padding: $size-m $size-xl;
  }
}

// hiding fullscreen button for AMP as we have ou own FS button on player navbar
// .vjs-fullscreen-control {
//   display: none !important;
// }

// Learning history Progress
.progress-circular-empty {
  $size: 59px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid;
  width: $size;
  height: $size;
  box-sizing: border-box;
  border-color: #ece6e6 !important;
}

.black-theme .progress-circular-empty {
  border-color: #ffffff !important;
}

// keyboard buttons class
.kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-family: consolas, "Liberation Mono", courier, monospace;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

app-videojs {
  .video-js {
    padding-top: 0 !important;
    height: 100% !important;
  }
}

code,
pre {
  background-color: #f0f0f0;
  border-radius: 3px;
}

pre {
  white-space: pre-wrap;
  margin: $size-s 0;
  padding: $size-s $size-m;
}

code {
  font-size: 85%;
  padding: 2px 4px;
}

pre.ql-syntax {
  // background-color: rgba(0, 0, 0, 0.05);
  // color: rgba(0, 0, 0, 0.85);
  background-color: #474842;
  color: #f8f8f2;
  font-size: 15px;
  overflow: visible;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

.ql-size-small {
  font-size: 0.75em;
}

.ql-size-large {
  font-size: 1.5em;
}

.ql-size-huge {
  font-size: 2.5em;
}

.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}

.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}

.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}

.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}

li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}

.ql-editor {
  padding: 0 !important;
}

.ql-editor.ql-blank::before {
  left: 0 !important;
}

.nvd3 line.nv-boxplot-median {
  stroke: black;
  stroke-width: 0px;
}

.nvd3.nv-pie path {
  fill-opacity: 1 !important;
}

.nvd3 rect {
  fill-opacity: 1;
}

.cal-cell-top {
  min-height: 10px !important;
}

.cal-month-view .cal-day-cell {
  min-height: 17px !important;
}

.cal-month-view .cal-cell-top {
  min-height: 0px !important;
}

.cal-month-view .cal-day-cell.cal-today {
  background-color: transparent !important;
}

// khub styles
.text-kshop,
.text-Kshop,
.text-KShop,
.text-qorus,
.text-Qorus {
  color: $color-cdg-document !important;
}

.text-promt,
.text-Promt,
.text-PROMT {
  color: $color-cdg-project !important;
}

.text-automationcentral {
  color: $color-cdg-tool !important;
}

.animate-tile {
  @include transitions("all 500ms ease-in-out");
  @include custom-animations("popout 500ms ease-in-out");
}

.special-date .mat-calendar-body-cell-content {
  background-color: mediumpurple;
  // border-radius: 100%;
  // color: #5ba56e;
  // border: 1px solid #5ba56e;
}

// .mat-calendar-body-active {
//   background-color: #5ba56e;
//   border-radius: 100%;
//   color: #666666;
// }
// .release-date .mat-calendar-body-cell-content {
//   color: red;
//   border: 1px solid red;
//   border-radius: 100%;
// }

.bg-danger {
  background-color: $color-primary-red;
}

.bg-warning {
  background-color: $color-primary-orange;
}

.bg-primary {
  background-color: $color-primary-darkgreen;
}

.bg-info {
  background-color: $color-primary-blue;
}

.bg-newColor {
  background-color: #5ba56e;
}

.bg-success {
  background-color: $color-primary-lightgreen;
}

.bg-theme {
  background-color: $color-cdg-nav;
}
