<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/my-skills'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title:Edit Role" class="margin-left-xs">Edit Role</span>
  <span class="spacer"></span>
</mat-toolbar>
<div *ngIf="loader" class="margin-left-s margin-top-xl padding-top-xl">
  <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
    class="progress-circular-full">
  </app-spinner>
</div>
<div *ngIf="!loader" class=" roles-container flex flex-center flex-wrapped margin-top-xl">
  <div class="margin-bottom-xl ">
    <h2 class="mat-title">
      {{ roleName }} Edit Role
    </h2>

    <mat-card class="edit-role-card">
      <mat-card-content>
        <form class="tab-width">
          <mat-form-field class="length-field">
            <input matInput minlength="10" maxlength="100" [(ngModel)]="roleName" i18n-placeholder="input placeholder Role Title" placeholder="Role Title (required)"
              [value]="roleName" name="roleName" autocomplete="off" ngModel required />
          </mat-form-field>
        </form>

        <mat-form-field class="length-field">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let skill of selectedSkills" [selectable]="selectable" [removable]="removable" (removed)="remove(skill)">
              {{ skill?.skill_name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

            <input placeholder="Search for Skills" name="skill_id" #skillInput [formControl]="editRoleControl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
              [(ngModel)]="skill_id" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" i18n-value/>
            <mat-icon matSuffix>search</mat-icon>
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)" [displayWith]="displayFn">
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option?.skill_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="flex">
          <span class="spacer"></span>
          <button mat-raised-button color="primary" type="submit" (click)="editRole(roleName, selectedSkills)" i18n>
            Update
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
