/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
$card-padding: $size-m;
$action-btn-size: 2.5 * $size-m; // 40px
$card-width: 265px;
.add-card {
  width: 268px;
  height: 258px;
}
.icon-content {
  margin-top: 35%;
  margin-left: 35%;
}
