<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-xl">
  <h2>Your Current Role</h2>
  <app-card
    [popular]="false"
    [count]="false"
    [imageurl]="image"
    [skillName]="'DI_Engineer_Drives'"
    [roleCard]="true"
  ></app-card>
</div>
<div class="content-strip margin-xl" style="padding: 0%">
  <h2>Your Aspired Roles</h2>
  <app-scroll-handler [contentStatus]="'done'">
    <app-card
      class="margin-right-xl"
      *ngFor="let i of roles"
      [popular]="true"
      [count]="true"
      [imageurl]="i.image_url"
      [skillName]="i.skill_name"
      [roleCard]="true"
    ></app-card>
    <mat-card class="add-card">
      <mat-card-content style="margin-left: 34%; margin-top: 33%">
        <mat-icon style="font-size: 70px">add</mat-icon>
      </mat-card-content>
    </mat-card>
  </app-scroll-handler>
</div>
