<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="container-height-adjust pad" *ngIf="config">
  <h2 class="mat-h2">{{ config?.title }}</h2>
  <div [hidden]="discussionForumInput || comingSoon" id="yammer-feed"></div>
  <ws-discussion-forum *ngIf="discussionForumInput" [discussionForumInput]="discussionForumInput"></ws-discussion-forum>
</mat-card>
