<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-nav-list *ngIf="fetchStatus === 'done'">
  <ng-container *ngIf="partOf.length">
    <div class="flex flex-between flex-wrapped">
      <a mat-list-item [routerLink]="'/toc/' + content.identifier" class="partof-section" *ngFor="let content of partOf">
        <h4 matLine>{{ content.name }}</h4>
        <p matLine class="mat-caption" [ngSwitch]="content.contentType">
          <ng-container *ngSwitchCase="'Learning Path'" i18n>Program</ng-container>
          <ng-container *ngSwitchCase="'Course'" i18n>Course</ng-container>
          <ng-container *ngSwitchCase="'Collection'" i18n>Learning Module</ng-container>
        </p>
      </a>
    </div>
  </ng-container>
</mat-nav-list>

<div *ngIf="fetchStatus !== 'done'" class="margin-top-s text-center">
  <h3 class="mat-h3" *ngIf="fetchStatus === 'error'" i18n="part of: error">
    Unable to fetch data
  </h3>
  <h3 class="mat-h3" *ngIf="fetchStatus === 'none'" i18n="part of: error">
    This content is not part of any other content
  </h3>
  <app-spinner *ngIf="fetchStatus === 'fetching'"></app-spinner>
</div>
