<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: goals" class="margin-left-xs">Goals</span>
  <span class="spacer"></span>
  <button
    mat-raised-button
    i18n-matTooltip="Goals Action Btn Tooltip"
    matTooltip="Create Goal"
    *ngIf="!showCreate"
    (click)="showCreate = true"
    accesskey="+"
  >
    <mat-icon>add</mat-icon>
    CREATE
  </button>
  <button
    i18n-matTooltip="Close Create Goals Tooltip"
    matTooltip="Close"
    *ngIf="showCreate"
    mat-icon-button
    (click)="showCreate = false"
    accesskey="X"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="goals-container">
  <div *ngIf="showCreate" class="margin-bottom-xl">
    <h2 class="mat-title" i18n="section heading create new goal">
      Create a new goal
    </h2>
    <mat-card>
      <mat-tab-group>
        <mat-tab i18n-label label="Pick from Suggested Goals" *ngIf="predefinedGoals?.length">
          <div *ngIf="fetchPredefinedGoalsStatus === 'fetching'" class="margin-top-xl">
            <app-spinner></app-spinner>
          </div>
          <div *ngIf="fetchPredefinedGoalsStatus === 'error'" class="margin-top-xl">
            <h3 class="mat-h3" i18n>Error fetching predefined goals</h3>
          </div>
          <div *ngIf="fetchPredefinedGoalsStatus === 'done'">
            <div class="flex margin-top-m">
              <span class="spacer"></span>
              <button mat-icon-button (click)="showPredefinedGoalStepper = false" *ngIf="showPredefinedGoalStepper">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <app-add-goal
              *ngIf="showPredefinedGoalStepper"
              [predefinedGoal]="selectedPredefinedGoal"
              [goalTitle]="selectedPredefinedGoal?.goal_title"
              [goalDescription]="selectedPredefinedGoal?.goal_desc"
              [checkedContent]="predefinedCheckedContent"
              disableGoalMeta="true"
              disableGoalContent="true"
              (goalCreated)="predefinedGoalCreated()"
            ></app-add-goal>
            <mat-accordion *ngIf="!showPredefinedGoalStepper">
              <mat-expansion-panel *ngFor="let goalGroup of predefinedGoals">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ goalGroup.goal_group_title }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item *ngFor="let goal of goalGroup.goals">
                    <button mat-raised-button color="primary" i18n (click)="addPredefinedGoal(goal)">
                      Add
                    </button>
                    <h4 mat-line class="margin-right-m">
                      {{ goal?.goal_title }}
                    </h4>
                    <p mat-line class="margin-right-m">{{ goal?.goal_desc }}</p>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-tab>
        <mat-tab label="Create your Own">
          <app-add-goal></app-add-goal>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <app-action-required [goalsSharedWithUser]="goalsSharedWithUser"></app-action-required>
  <div *ngIf="displayMyGoals" class="margin-bottom-xl">
    <h2 class="mat-title" i18n="section heading user goals">My Goals</h2>
    <div class="margin-bottom-m">
      <mat-radio-group [(ngModel)]="filterMyGoals" (change)="filterChanged()">
        <mat-radio-button value="all" class="margin-right-m" i18n="radio show all goals label">All</mat-radio-button>
        <mat-radio-button value="in-progress" class="margin-right-m" i18n="radio show in progress goals label"
          >In-Progress</mat-radio-button
        >
        <mat-radio-button value="completed" i18n="radio completed goals label">Completed</mat-radio-button>
      </mat-radio-group>
    </div>
    <h3 i18n class="mat-h3 text-center margin-top-m" *ngIf="filterMyGoals === 'all' && !displayMyGoals?.length">
      You have not added any goals
    </h3>
    <h3 i18n class="mat-h3 text-center margin-top-m" *ngIf="filterMyGoals === 'in-progress' && !displayMyGoals?.length">
      You do not have any goal in progress
    </h3>
    <h3 i18n class="mat-h3 text-center margin-top-m" *ngIf="filterMyGoals === 'completed' && !displayMyGoals?.length">
      You have not completed any goal
    </h3>
    <mat-accordion class="margin-top-m">
      <mat-expansion-panel *ngFor="let goal of displayMyGoals">
        <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto" class="padding-top-s padding-bottom-s">
          <div class="flex flex-middle width-1-1">
            <app-progress-spinner [progress]="goal.goalProgress"></app-progress-spinner>

            <div class="margin-left-m margin-right-m width-expand">
              <!-- <a [routerLink]="['/player/goals/' + goal.goal_id]"> -->
              <h3 class="mat-h3 margin-remove-bottom text-truncate">
                {{ goal.goal_title }}
              </h3>
              <!-- </a> -->
              <p class="margin-remove-bottom text-truncate">
                {{ goal.goal_desc }}
              </p>
              <p *ngIf="goal.shared_by" class="margin-remove-bottom text-truncate">
                <ng-container i18n="text who shared goal prefix">Shared by</ng-container>
                {{ goal.shared_by }}
              </p>
              <p class="margin-remove-bottom text-line">
                <ng-container i18n="text goal end date prefix">End Date:</ng-container>
                {{ goal.goal_end_date | date }}
              </p>
              <mat-error
                class="text-line"
                *ngIf="hasDeadlineCrossed[goal.goal_id]"
                i18n="message deadline for goal crossed"
              >
                You have not completed this goal within the deadline
              </mat-error>
            </div>
          </div>
        </mat-expansion-panel-header>
        <app-goal-item [goal]="goal"> </app-goal-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="goalsSharedByUser?.length" class="margin-bottom-xl">
    <h2 class="mat-title" i18n="section heading goals to be shared">
      Goals for Others
    </h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let goal of goalsSharedByUser">
        <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto" class="padding-m">
          <div>
            <h3 class="mat-h3 margin-remove-bottom">{{ goal.goal_title }}</h3>
            <p class="margin-remove-bottom">
              <ng-container i18n="text target goal completion prefix">Target time for completion:</ng-container>
              {{ goal.goal_duration }}
              <ng-container i18n="text target goal completion suffix">day(s)</ng-container>
            </p>
            <p class="margin-remove-bottom" *ngIf="goal?.shared_users_progress?.length">
              <ng-container i18n>shared with </ng-container>{{ (goal?.shared_users_progress)[0].shared_with }}
              <ng-container *ngIf="goal?.shared_users_progress?.length > 1">
                <ng-container i18n>and</ng-container>
                {{ goal?.shared_users_progress?.length - 1 }}
                <ng-container i18n>other(s)</ng-container>
              </ng-container>
            </p>
          </div>
        </mat-expansion-panel-header>
        <app-others-goal-item [goal]="goal"></app-others-goal-item>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
