/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "src/styles/common";

.margin-right-m {
  margin-right: $size-m;
}

.margin-left-m {
  margin-left: $size-m;
}

.goals-container {
  box-sizing: border-box;
  padding: $size-m;
  @extend %width-balancer;
}

.padding-m {
  padding: $size-m;
}

.resourceProgress {
  width: 9%;
  padding: 0px;
}
