<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<a *ngIf="data?.widget?.data?.link?.length > 0" [href]="data.widget.data.link" target="_blank">
  <div class="flex flex-column awesome-height" [style]="
      'justify-content:flex-end; background-image: url(' +
        data.widget.data.image +
        '); width:100%;background-size: 100% 100%;' | safe: 'style'
    ">
    <div *ngIf="data?.widget?.data?.title?.length > 0" style="
      margin-bottom: 50px;
      left:16px;
  display: block;
  width: auto;
  padding: 30px 29px;
  background-color: rgba(0,97,135,.8);
  font-size: 22px;
  line-height: 1.18;
  color: #fff;">
      {{ data.widget.data.title }}
    </div>
  </div>
</a>

<div *ngIf="!(data?.widget?.data?.link?.length > 0)" class="flex flex-column awesome-height" [style]="
    'justify-content:flex-end; background-image: url(' +
      data.widget.data.image +
      '); width:100%;background-size: 100% 100%;' | safe: 'style'
  ">
  <div *ngIf="data?.widget?.data?.title?.length > 0" style="
      margin-bottom: 50px;
      left:16px;
  display: block;
  width: auto;
  padding: 30px 29px;
  background-color: rgba(0,97,135,.8);
  font-size: 22px;
  line-height: 1.18;
  color: #fff;">
    {{ data.widget.data.title }}
  </div>
</div>