<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card
  class="animate-tile"
  [ngStyle]="{ 'border-top': data.color, padding: '5px' }"
  *ngIf="view"
  (click)="gotoView()"
>
  <div class="my-tile">
    <div style="font-size: 12px;height: 20px;">
      <span
        [matTooltip]="data.source"
        class="text-{{ data.source.toLowerCase() }}"
        >{{ data.source | trimAndReduce: 10 }}</span
      >
      <span
        class="itemtile-row first-row"
        style="margin-left: -15px;display: inline;font-size:10px"
        >{{ data.dateCreated | date: "yyyy" }}</span
      >
      <span
        style="float: right;color: rgb(143, 138, 138);"
        [matTooltip]="data.itemType"
        >{{ data.itemType | trimAndReduce: 10 }}</span
      >
    </div>
    <h3
      class="title-row"
      [matTooltip]="data.title"
      *ngIf="data.source !== 'PROMT'"
    >
      {{ data.title | trimAndReduce: 22 }}
    </h3>
    <h3 [matTooltip]="data.title" *ngIf="data.source === 'PROMT'">
      {{ data.title | trimAndReduce: 120 }}
    </h3>
    <p
      class="description-row"
      *ngIf="data.source !== 'PROMT'"
      [matTooltip]="data.description"
    >
      {{ data.description | trimAndReduce: 110 }}
    </p>
    <!-- <p
      class="description-row"
      *ngIf="data.source == 'PROMT' && data.projectScope !== null"
      [matTooltip]="data.projectScope"
    >
      <span i18n="tile: Khub tile Scope Label">Project Scope:</span>
      {{ data.projectScope | trimAndReduce: 110 }}
    </p>
    <p
      class="description-row"
      *ngIf="
        data.source == 'PROMT' &&
        data.projectScope === null &&
        data.businessContext !== null
      "
      [matTooltip]="data.businessContext"
    >
      <span i18n="tile: Khub tile Business Context Label"
        >Business Context:</span
      >
      {{ data.businessContext | trimAndReduce: 110 }}
    </p>
    <p
      class="description-row"
      *ngIf="
        data.source == 'PROMT' &&
        data.projectScope === null &&
        data.businessContext === null &&
        data.objectives !== null
      "
    >
      <span i18n="tile: Khub tile Business Objective Label"
        >Infosys Objective:</span
      >
      {{ data.objectives | trimAndReduce: 110 }}
    </p> -->
    <section class="itemtile-row" style="max-height:16px;">
      <header *ngIf="topics.length > 0">
        <article class="itemtile-tags-wrap">
          <article class="tag" *ngFor="let tag of (topics | slice: 0:2)">
            <span *ngIf="tag !== ''" title="{{ tag }}">{{
              tag | trimAndReduce: 20
            }}</span>
          </article>
        </article>
        <i class="more-tags material-icons" *ngIf="topics.length > 2"
          >more
          <article class="all-tags">
            <p *ngFor="let tag_ of (topics | slice: 0:12)">
              <span>{{ tag_ | slice: 0:20 }}</span>
            </p>
          </article>
        </i>
      </header>
    </section>
    <div
      class="tile-footer flex flex-wrapped"
      *ngIf="data.author.length > 0 || data.pm.length > 0"
      [ngStyle]="{
        position: ref === 'home' ? 'absolute' : 'absolute',
        bottom: ref === 'home' ? '3%' : '3%'
      }"
    >
      <a
        *ngIf="data.author.length > 0"
        class="flex"
        [matTooltip]="data.author[0].name"
      >
        <!-- <app-user-image
          class="user-profile-image"
          [email]="data.author[0].mailId"
        ></app-user-image> -->
        <span class="user-profile-image">
          <mat-icon class="user-icon">person</mat-icon></span
        >
        <span style="margin-top: 7%;">
          {{ data.author[0].name | trimAndReduce: 20 }}</span
        >
      </a>
      <a
        *ngIf="data.author.length === 0 && data.pm.length > 0"
        class="flex"
        [matTooltip]="data.pm[0].name"
        ><!-- <app-user-image
          class="user-profile-image"
          [email]="data.author[0].mailId"
        ></app-user-image> -->
        <span class="user-profile-image">
          <mat-icon class="user-icon">person</mat-icon></span
        >
        <span style="margin-top: 7%;">
          {{ data.pm[0].name | trimAndReduce: 20 }}</span
        >
      </a>
    </div>
  </div>
</mat-card>
