/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';
.stacked-graph-wrapper{
  .tiles-css {
    width: 30%;
    margin: $size-m;
  
    @include breakpoint-xs {
      width: 90%;
      margin: $size-s;
    }
  
    @include breakpoint-sm {
      width: 45%;
      margin: $size-s;
    }
  }
  .graph-card{
      // background-color: white;
      width:95%;
      margin: 3%;
      margin: $size-m;
      padding:0px;
  
    @include breakpoint-xs {
      width: 92%;
      margin: $size-s;
    }
  
    @include breakpoint-sm {
      width: 90%;
      margin: $size-s;
    }
    .nso-details{
      width:75%;
      @include breakpoint-xs {
        width: 95%;
        margin: $size-s;
      }
    
      @include breakpoint-sm {
        width: 95%;
        margin: $size-s;
      }
    }
    .nso-list{
      width:24%;  
      margin-top: 3%; 
      margin-left: 1%; 
      .display{
        width: 100%;
        padding: 10px;
        background-color: whitesmoke;
        /* box-shadow: 0.75px 0.75px 0.75px 1px; */
        margin-bottom: 10px;
        border-radius: 8px;
      }
      .display-list{
        width: initial;
        padding:12px;
      }
      .selected1{
        color: darkgreen;
        font-size: 14px;
        font-weight: 600;
        padding: 0px;
      }
      .more-btn{
        padding-left: 40%;
        height: 30px;
        color: black;
        background-color: whitesmoke;
        cursor: pointer;   
        /* box-shadow: 0.75px 0.75px 0.75px 1px; */
        border-radius: 8px;
      }
    }
  }
  .graph-card-header{
    // margin:-16px -16px 8px -16px;
    background-color: #5ba46e;
    padding:1% 0% 1% 0%;
    color: white;
  }
  span:before {
    content: "";
    display: inline-block;
    width: 12px;
    border-radius: 50%;
    height: 12px;
    margin-right: 2px;
  }
  .star{
      font-weight: 400;
      margin-right: 5px;
      font-size: 12px;
      &::before{
        background-color: rgb(179, 55, 113);
    }
  }
  .expert{
      font-weight: 400;
      margin-right: 5px;
      font-size: 12px;
      &::before{
        background-color: rgb(250, 130, 49);
    }
  }
  .novice{
      font-weight: 400;
      margin-right: 5px;
      font-size: 12px;
      &::before{
        background-color: rgb(247, 183, 49);
    }
  }
  .excellent{
    font-weight: 400;
    margin-right: 5px;
    font-size: 12px;
    &::before{
      background-color: rgb(106, 176, 76);
   }
  }
  .nso-displayed{
    cursor: pointer;
    /* background-color: whitesmoke; */
    color: gray;
    padding: 10px 14px 10px 0px;
    border-radius: 8px;
  }
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE 10+ */
    overflow-x: -moz-scrollbars-none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    &::-webkit-scrollbar {
        height: 0px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
        border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    .card {
        display: inline-block;
        padding:3px;
    }
    .selected{
      color: white;
      background-color: #38ada9;
    }
  }
}
