<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <h3 class="mat-h3" i18n="want to send mail">Do you want to send content to your mailbox ?</h3>
</div>
<div class="flex-row-reverse" mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button [color]="'primary'" (click)="close(mailBody.value, successToast.value, errorToast.value)"
    i18n-aria-label aria-label="send content over mail" i18n>Send</button>
  <button mat-button mat-dialog-close i18n i18n-aria-label aria-label="Don't send this content"> Cancel </button>
</div>

<input type="hidden" aria-value="Default mail body for sending the content to user mail box" value="This mail is sent by Lex on request."
  #mailBody>
<input type="hidden" aria-value="Successs Toast message for sending the content to user mail box" value="Content is sent to your inbox"
  #successToast>
<input type="hidden" aria-value="Error Toast message for sending the content to user mail box" value="Failed to send the resource to your inbox."
  #errorToast>
