<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-m" *ngIf="deleteInProgress">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!deleteInProgress">
  <h2 mat-dialog-title>
    <ng-container i18n>Delete this from playlist?</ng-container>
  </h2>
  <p>{{ data.item.resource_name }}</p>
  <mat-dialog-actions class="flex-row-reverse">
    <button mat-button mat-dialog-close>No</button>
    <button mat-button (click)="deletePlaylistContent()">Yes</button>
  </mat-dialog-actions>
</div>
<input #playlistUpdated type="hidden" i18n-value value="Playlist updated successfully." />