<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-m" *ngIf="postLearnFetchStatus === 'fetching'">
  <app-spinner></app-spinner>
</div>

<!-- <div class="margin-top-m text-center" *ngIf="postLearnFetchStatus === 'done' && (!content || !content?.postContents?.length || !validResource)">
  <h2 class="mat-h2" i18n>Nothing to show as of now</h2>
</div> -->

<app-content-strip
  class="margin-top-m block"
  *ngIf="postLearnContents.length"
  [contents]="postLearnContents"
  [cardType]="'advanced'"
></app-content-strip>
<div class="margin-top-m text-center" *ngIf="postLearnFetchStatus === 'none'">
  <h2 class="mat-h2" i18n>Nothing to show as of now</h2>
</div>

<!--
<mat-card *ngIf="content && content?.postContents?.length && validResource && postLearnFetchStatus === 'done'">
  <mat-card-header>
    <mat-card-title i18n="toc: learn next">What to learn next</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let entity of content.postContents">
        <ng-container *ngIf="validResource?.validIds?.length">
          <ng-container *ngFor="let item of validResource.validIds">
            <a *ngIf="item.lex_id === entity.identifier" [routerLink]="'/toc/' + entity.identifier">{{item.title}}</a>
          </ng-container>
        </ng-container>
      </li>
    </ul>
  </mat-card-content>
</mat-card> -->
