<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="text-center mat-body" [ngSwitch]="snackbarData.action + '_' + snackbarData.code">
  <!-- At-Desk -->
  <ng-container *ngSwitchCase="'cert_at_desk_send_1'" i18n>
    Budget approval request sent!
  </ng-container>
  <ng-container *ngSwitchCase="'cert_at_desk_send_form_invalid'" i18n>
    Please enter valid details.
  </ng-container>
  <ng-container *ngSwitchCase="'cert_at_desk_cancel_1'" i18n>
    Please enter valid details.
  </ng-container>

  <!-- Budget Approval -->
  <ng-container *ngSwitchCase="'cert_budget_send_1'" i18n>
    Budget approval request sent!
  </ng-container>
  <ng-container *ngSwitchCase="'cert_budget_send_9'" i18n>
    Something happened alright.
  </ng-container>

  <!-- Result Upload -->
  <ng-container *ngSwitchCase="'cert_result_upload_1'" i18n>
    Result upload successful!
  </ng-container>
  <ng-container *ngSwitchCase="'cert_result_upload_error'" i18n>
    There was an error while uploading.
  </ng-container>

  <!-- ACC -->
  <ng-container *ngSwitchCase="'cert_acc_send_form_invalid'" i18n>
    Please enter valid details.
  </ng-container>

  <ng-container *ngSwitchDefault i18n>
    Some error occured.
  </ng-container>
</div>
