<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs">{{ currentRole?.role_name }}</span>
</mat-toolbar>
<!-- <mat-toolbar> Work in progress </mat-toolbar> -->
<div class="margin-bottom-xl">
  <div class="banner overflow">
    <div class="content-strip">
      <!-- <h2 class="banner-text">{{ currentRole?.role_name }}</h2> -->
      <p class="mat-subheading-2 text-white">
        {{ currentRole?.role_description }}
      </p>
    </div>
  </div>
  <div *ngIf="" i18n>No Data Available</div>
  <div *ngIf="currentVariant?.group?.length">
    <h3 class="mat-h3 content-strip" i18n>
      This role requires specialization in one or more disciplines and certifications are mandatory for some of them.
      Choose a learning path from each of the categories, create goals to track your learning and get certified.
    </h3>
    <div *ngFor="let group of currentVariant?.group; let idx = index" class="content-strip">
      <div class="flex flex-wrapped">
        <div [ngClass]="{ 'width-1-1': isSmallScreen }">
          <div class="category-card" [ngClass]="{ 'margin-auto': isSmallScreen }">
            <mat-card>
              <img
                mat-card-image
                [src]="
                  thumbnailsHash[(lpdata[model[group.lp_groupid]]?.linked_program)] ||
                  THUMBNAIL_BASE_PATH + 'card_img.jpg'
                "
                [appDefaultImage]="THUMBNAIL_BASE_PATH + 'card_img.jpg'"
                height="150"
                width="265"
              />
              <p class="groupdesc-text">{{ group.lp_groupdesc }}</p>
            </mat-card>
          </div>
        </div>
        <div class="width-expand padding-left-m" [ngClass]="{ 'margin-top-m': isSmallScreen }">
          <h2 class="mat-title">
            CAT. #{{ idx + 1 }} {{ group.lp_groupname }}
            <ng-container *ngIf="group.certification_mandatory" i18n>Certification is Mandatory</ng-container>
            <ng-container *ngIf="!group.certification_mandatory" i18n>Certification is optional</ng-container>
          </h2>
          <mat-radio-group>
            <ng-container *ngFor="let member of group.group_member; let idx = index">
              <mat-radio-button
                class="role-radio-label"
                [name]="group.lp_groupid"
                [value]="member?.lp_linked_id"
                [checked]="idx === 0"
                (change)="onLpChanged(group.lp_groupid, member?.lp_linked_id)"
              >
                <span class="role-radio-label">{{ lpdata[(member?.lp_linked_id)].lp_name }}</span>
              </mat-radio-button>
              <app-lp-duration-bar
                (barClicked)="openLearningPath(member?.lp_linked_id, member?.lp_linked_profile_id)"
                [id]="member?.lp_linked_id"
                [barLabel]="lpdata[(member?.lp_linked_id)].lp_description"
                [duration]="
                  getProfileTime(lpdata[(member?.lp_linked_id)]?.profiles, member?.lp_linked_profile_id) + ' days'
                "
              ></app-lp-duration-bar>
              <mat-divider class="margin-bottom-m"></mat-divider>
            </ng-container>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        *ngIf="!addingGoalInProgress"
        [disabled]="!navigatorGoalStatus.enabled"
        mat-raised-button
        color="primary"
        class="margin-bottom-m"
        (click)="createGoal()"
        i18n
      >
        Create Goal
      </button>
      <app-spinner *ngIf="addingGoalInProgress"></app-spinner>
    </div>
  </div>
  <app-certification-panel *ngIf="lpItems?.length" [lpItems]="lpItems"></app-certification-panel>
  <div *ngIf="!currentVariant?.group?.length">
    <div class="margin-top-xl">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Goals added successfully"
  value="Goals added successfully "
  #toastSuccess
/>
<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Unable to save goals"
  value="Unable to save goals"
  #toastFailure
/>

<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Already part of your goals"
  value="Already part of your goals"
  #toastAlreadyAdded
/>

<input
  type="hidden"
  i18n-value
  i18n-aria-value
  aria-value="Goal not launched yet"
  value="Goal not launched yet"
  #toastNotLaunched
/>
