<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="progress-circular">
  <div class="progress-circular-container">
    <div class="progress-circular-empty"></div>
    <app-spinner
      [spinMode]="mode === 'indeterminate' ? 'indeterminate' : 'determinate'"
      [spinSize]="'medium'"
      [spinWidth]="'thin'"
      [spinValue]="progress * 100"
      [spinColor]="'primary'"
      class="progress-circular-full"
    >
    </app-spinner>
    <div class="progress-circular-value">{{ progress * 100 | number: "1.0-0" }}%</div>
  </div>
</div>
