<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <div [hidden]="isSmall">
    <a *wsHasPermission="['goals']" mat-button routerLink="/goals" i18n-matTooltip matTooltip="Goals" accesskey="G">
      <mat-icon>adjust</mat-icon>
      <span i18n class="padding-left-xs">Goals</span>
    </a>
    <a *wsHasPermission="['marketing']" mat-button routerLink="/marketing/Brand Assets" i18n-matTooltip matTooltip="Branding"
      accesskey="M">
      <mat-icon>trending_up</mat-icon>
      <span i18n class="padding-left-xs">Brand</span>
    </a>
    <a *wsHasPermission="['infyTv']" mat-button routerLink="/infy-tv" i18n-matTooltip matTooltip="Infy TV" accesskey="T">
      <mat-icon>videocam</mat-icon>
      <span i18n class="padding-left-xs">Infy TV</span>
    </a>
    <a *wsHasPermission="['infyRadio']" mat-button routerLink="/communications/radio" i18n-matTooltip matTooltip="Infy Radio"
      accesskey="R">
      <mat-icon>radio</mat-icon>
      <span i18n class="padding-left-xs">Infy Radio</span>
    </a>
    <a *wsHasPermission="['khub']; roles: [ROLES.KHUB]" mat-button (click)="checkIfFeatureAvailable('khub', '/khub')" i18n-matTooltip
      matTooltip="Knowledge Hub" accesskey="K">
      <mat-icon>explore</mat-icon>
      <span i18n class="padding-left-xs">Knowledge Hub</span>
    </a>
  </div>

  <div [hidden]="!isSmall">
    <button mat-button [matMenuTriggerFor]="quickMenu">
      <ng-container i18n="home: quick links">Quick Links</ng-container>&nbsp;
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #quickMenu="matMenu">
      <a *wsHasPermission="['goals']" routerLink="/goals" mat-menu-item accesskey="G">
        <mat-icon>adjust</mat-icon>
        <ng-container i18n> Goals</ng-container>
      </a>
      <a *wsHasPermission="['marketing']" routerLink="/marketing/Brand Assets" mat-menu-item accesskey="B">
        <mat-icon>trending_up</mat-icon>
        <ng-container i18n> Brand </ng-container>
      </a>
      <a *wsHasPermission="['infyTv']" routerLink="/infy-tv" mat-menu-item accesskey="T">
        <mat-icon>videocam</mat-icon>
        <ng-container i18n>Infy TV</ng-container>
      </a>
      <a *wsHasPermission="['infyRadio']" routerLink="/communications/radio" mat-menu-item accesskey="R">
        <mat-icon>radio</mat-icon>
        <ng-container i18n>Infy Radio</ng-container>
      </a>
      <a *wsHasPermission="['khub']; roles: [ROLES.KHUB]" (click)="checkIfFeatureAvailable('khub', '/khub')" mat-menu-item accesskey="K">
        <mat-icon>explore</mat-icon>
        <ng-container i18n>Knowledge Hub</ng-container>
      </a>
    </mat-menu>
  </div>
  <a *wsHasPermission="['events']; roles: [ROLES.LIVE_STREAM]" mat-button routerLink="/events" i18n-matTooltip matTooltip="Live"
    accesskey="E">
    <mat-icon>live_tv</mat-icon>
    <span i18n class="padding-left-xs">Live</span>
  </a>
  <span class="spacer"></span>
  <div [hidden]="!isSmall">
    <a mat-button [routerLink]="'/notifications'" routerLinkActive="mat-stroked-button" i18n-matTooltip matTooltip="Notifications"
      accesskey="B">
      <mat-icon>notifications_none</mat-icon>
    </a>
  </div>
</mat-toolbar>
<div *ngIf="bannersFetchStatus === 'fetching'" class="mat-lite-background banner-load"></div>
<app-carousel *ngIf="homeBanners" [banners]="homeBanners" [showNavigation]="showBannerNavigation">
  <ng-template let-banner>
    <a (click)="navigate(banner)" *ngIf="banner.title" class="text-truncate">
      {{ banner.title }}
    </a>
  </ng-template>
</app-carousel>

<mat-divider></mat-divider>
<div class="mat-toolbar" *ngIf="showDownTimeMessage">
  <div class="marquee-container">
    <marquee>
      Planned downtime notice: Lex will be down from
      <strong>{{ downtimeConfig.from | date: "MMMM d, yyyy h:mm a" }} to {{ downtimeConfig.to | date: "MMMM d, yyyy h:mm a" }}</strong>
      for critical platform changes. Do email
      <a href="mailto:EMAIL">EMAIL</a> if you need any assistance or clarifications
    </marquee>
    <button type="button" (click)="showDownTimeMessage = false" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</div>

<app-continue-learning *ngIf="homeSubFeatures.continueLearning" [isSmall]="isSmall"></app-continue-learning>
<app-infy-foundation *ngIf="homeSubFeatures.pathfinders"></app-infy-foundation>
<app-features-list></app-features-list>
<app-recommendations *ngIf="homeSubFeatures.personalizedRecommendation"></app-recommendations>
<app-playlist *ngIf="homeSubFeatures.playlist"></app-playlist>
<app-interest-recommendation *ngIf="homeSubFeatures.interestBasedRecommendation"></app-interest-recommendation>
<app-usage-recommendation *ngIf="homeSubFeatures.usageBasedRecommendation"></app-usage-recommendation>
<app-latest *ngIf="homeSubFeatures.latest"></app-latest>
<app-trending *ngIf="homeSubFeatures.trending"></app-trending>
<app-courses-for-you *ngIf="homeSubFeatures.coursesForYou"></app-courses-for-you>