<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<app-search-strip [searchRequest]="searchRequest" (contentStatus)="handleNoContent($event)"></app-search-strip>
<ng-container *ngIf="errorMessageCode">
  <div [ngSwitch]="errorMessageCode" class="text-center padding-s">
    <h3 class="mat-h3" i18n *ngSwitchCase="'API_FAILURE'">Unable to fetch data</h3>
    <h3 class="mat-h3" i18n *ngSwitchCase="'NO_DATA'">Contents will appear soon...</h3>
  </div>
</ng-container>