<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs">
    <ng-container>{{ platformName }}</ng-container
    >&nbsp;
    <ng-container i18n>Counter</ng-container>
  </span>
</mat-toolbar>

<div class="counter-container mat-accent-background">
  <ws-counter-entity *ngIf="graphs?.users" [counterEntityPlot]="graphs.users"></ws-counter-entity>
  <ws-counter-entity *ngIf="graphs?.load" [counterEntityPlot]="graphs.load"></ws-counter-entity>
  <ws-counter-entity *ngIf="graphs?.learners" [counterEntityPlot]="graphs.learners"></ws-counter-entity>
</div>

<h2 class="margin-top-m text-center" *ngIf="hasErrorFetching">Failed to update counter data. Please retry / refresh</h2>
