<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: Ask a Question" class="margin-left-xs">Ask a Question</span>
  <span class="spacer"></span>
  <button
    *ngIf="editMode === 'update'"
    i18n-matTooltip
    matTooltip="Save"
    [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
    mat-raised-button
    type="button"
    (click)="update(saved.value, error.value)"
  >
    <ng-container i18n *ngIf="!(isXSmall$ | async)"> Save </ng-container>
    <mat-icon *ngIf="(isXSmall$ | async) === true">save</mat-icon>
  </button>
  <button
    *ngIf="editMode === 'draft'"
    i18n-matTooltip
    matTooltip="Save"
    [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
    mat-raised-button
    type="button"
    (click)="saveDraft(saved.value, error.value)"
  >
    <ng-container i18n *ngIf="!(isXSmall$ | async)"> Save </ng-container>
    <mat-icon *ngIf="(isXSmall$ | async) === true">save</mat-icon>
  </button>
  <button
    *ngIf="editMode === 'create'"
    i18n-matTooltip
    matTooltip="Save as draft"
    [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
    mat-raised-button
    (click)="saveDraft(savedDraft.value, error.value)"
    type="button"
  >
    <ng-container i18n *ngIf="!(isXSmall$ | async)"> Save as draft </ng-container>
    <mat-icon *ngIf="(isXSmall$ | async) === true">drafts</mat-icon>
  </button>
  <button
    *ngIf="editMode === 'create' || editMode === 'draft'"
    i18n-matTooltip
    matTooltip="Publish"
    [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
    class="margin-left-s"
    mat-raised-button
    (click)="publishPost(publish.value, error.value)"
    type="button"
  >
    <ng-container i18n *ngIf="!(isXSmall$ | async)"> Publish </ng-container>
    <mat-icon *ngIf="(isXSmall$ | async) === true">publish</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="editor-wrapper">
  <form>
    <div>
      <textarea
        class="mat-typography title-textarea"
        i18n-placeholder
        placeholder="Title"
        required
        minlength="10"
        maxlength="150"
        name="title"
        [(ngModel)]="title"
        autofocus
        #blogTitle="ngModel"
      ></textarea>
      <p *ngIf="(blogTitle.dirty || blogTitle.touched) && blogTitle.invalid" class="error-text mat-caption" i18n>
        *Title range: 10-150 characters
      </p>
    </div>

    <!-- *ngIf="editMode === 'create'" -->
    <mat-form-field class="width-1-1">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let selectedTag of selectedTags" [selectable]="true" [removable]="true" (removed)="removeTag(selectedTag)">
          {{ selectedTag.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          i18n-placeholder
          placeholder="Relevant tags"
          #tagsInput
          [formControl]="tagsCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        />
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event, duplicate.value, invalidTag.value)">
        <mat-option *ngIf="fetchTagsStatus === 'fetching'">...</mat-option>
        <mat-option *ngIf="(fetchTagsStatus === 'done' || fetchTagsStatus === 'error') && !autocompleteAllTags.length">
          No tag found</mat-option
        >
        <mat-option *ngFor="let filteredTag of autocompleteAllTags" [value]="filteredTag">
          {{ filteredTag.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <app-editor-quill class="editor" (textData)="onTextChange($event)" [minLength]="'20'" [htmlText]="body"> </app-editor-quill>
  </form>

  <div class="flex flex-middle flex-center margin-top-m">
    <button
      *ngIf="editMode === 'create'"
      class="margin-right-s"
      (click)="saveDraft(savedDraft.value, error.value)"
      [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
      mat-raised-button
      color="primary"
      i18n
    >
      Save as Draft
    </button>
    <button
      *ngIf="editMode === 'create' || editMode === 'draft'"
      class="margin-right-s"
      (click)="publishPost(publish.value, error.value)"
      [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
      mat-raised-button
      color="primary"
      i18n="Post of Ask a Question"
    >
      Publish
    </button>
    <button
      *ngIf="editMode === 'update'"
      class="margin-right-s"
      (click)="update(saved.value, error.value)"
      [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
      mat-raised-button
      color="primary"
      i18n
    >
      Save
    </button>
    <button
      *ngIf="editMode === 'draft'"
      class="margin-right-s"
      (click)="saveDraft(saved.value, error.value)"
      [disabled]="isCreatingPost || !actionBtnsEnabled || blogTitle.invalid"
      mat-raised-button
      color="primary"
      i18n
    >
      Save
    </button>
    <app-spinner *ngIf="isCreatingPost" [spinSize]="'small'"></app-spinner>
  </div>
</mat-card>

<input type="hidden" i18n-value value="Question updated successfully" #saved />
<input type="hidden" i18n-value value="Question saved in the drafts" #savedDraft />
<input type="hidden" i18n-value value="Question published successfully" #publish />
<input type="hidden" i18n-value value="Tag already added" #duplicate />
<input type="hidden" i18n-value value="You can add tag from dropdown only" #invalidTag />
<input type="hidden" i18n-value value="Unable to save. Please retry" #error />
