<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/channels/leadership">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs">Leadership</span>
</mat-toolbar>

<div class="landing-container" *ngIf="leaderData">
  <div class="flex">
    <div class="profile display-side-items">
      <div class="sticky-top padding-left-xs text-center">
        <img class="mat-lite-background" [src]="leaderData.profile.profileImage" />
        <div class="text-center">
          <h2 class="margin-remove margin-top-xs">{{ leaderData.profile.name }}</h2>
          <h3 class="margin-remove-bottom">{{ leaderData.profile.designation }}</h3>
          <div class="flex flex-middle flex-center icons">
            <mat-icon class="cursor-pointer" (click)="openSendMailDialog()">email</mat-icon>
            <button
              *ngIf="!isFollowDisabled"
              type="button"
              mat-icon-button
              [disabled]="isFetchingFollow"
              class="follow-btn margin-left-xs"
              [color]="loggedUserFollowData && isFollowing(leaderUuid) ? 'primary' : null"
              (click)="toggleFollow(leaderUuid)"
            >
              <mat-icon *ngIf="!loggedUserFollowData || (loggedUserFollowData && !isFollowing(leaderUuid))"
                >add_circle_outline</mat-icon
              >
              <mat-icon *ngIf="loggedUserFollowData && isFollowing(leaderUuid)">check_circle</mat-icon>
            </button>
          </div>
        </div>

        <nav class="nav-links">
          <a
            *ngFor="let tab of tabs; let i = index"
            [routerLink]="'/leadership/' + leaderName + '/' + tab"
            accesskey="i"
            routerLinkActive="active mat-primary-text"
          >
            {{ tab | titlecase }}
          </a>
        </nav>
      </div>
    </div>
    <div class="banner-and-tabs width-expand">
      <app-carousel [banners]="(leaderData?.tabs)[currentIndex]?.banners" [showNavigation]="false">
        <ng-template let-banner>
          {{ banner.title }}
        </ng-template>
      </app-carousel>
      <mat-divider></mat-divider>
      <div class="display-on-small">
        <div class="flex flex-middle flex-between margin-s">
          <div class="flex flex-middle">
            <img alt="Leader" class="mat-lite-background" [src]="leaderData.profile.profileImage" />
            <div class="margin-left-s">
              <h2 class="margin-remove margin-top-xs">{{ leaderData.profile.name }}</h2>
              <h3 class="margin-remove-bottom">{{ leaderData.profile.designation }}</h3>
              <div class="flex flex-middle icons">
                <mat-icon class="cursor-pointer" (click)="openSendMailDialog()">email</mat-icon>
                <button
                  *ngIf="!isFollowDisabled"
                  type="button"
                  mat-icon-button
                  [disabled]="isFetchingFollow"
                  class="follow-btn margin-left-xs"
                  [color]="loggedUserFollowData && isFollowing(leaderUuid) ? 'primary' : null"
                  (click)="toggleFollow(leaderUuid)"
                >
                  <mat-icon *ngIf="!loggedUserFollowData || (loggedUserFollowData && !isFollowing(leaderUuid))"
                    >add_circle_outline</mat-icon
                  >
                  <mat-icon *ngIf="loggedUserFollowData && isFollowing(leaderUuid)">check_circle</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <mat-tab-group
          mat-align-tabs="center"
          dynamicHeight
          [selectedIndex]="currentIndex"
          (selectedTabChange)="onTabChange($event)"
        >
          <mat-tab *ngFor="let tab of tabs; let i = index">
            <ng-template mat-tab-label>
              <span i18n [ngClass]="{ 'mat-body-2': currentIndex === i }" accesskey="i">{{ tab | titlecase }}</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
      <ws-about [about]="leaderData.about" [profile]="leaderData.profile" [hidden]="currentIndex !== 0"></ws-about>
      <ws-tweets [twitterUrl]="leaderData.twitterUrl" [hidden]="currentIndex !== 1"></ws-tweets>
      <ws-articles [articles]="leaderData.articles" [hidden]="currentIndex !== 2"></ws-articles>
      <ws-trailblazers
        [searchRequest]="leaderData.trailblazersSearchRequest"
        [hidden]="currentIndex !== 3"
      ></ws-trailblazers>
      <ws-communications
        [searchRequest]="leaderData.communicationSearchRequest"
        [hidden]="currentIndex !== 4"
      ></ws-communications>
      <ws-discuss
        [pageId]="leaderData.discussId"
        [leaderProfile]="leaderData.profile"
        [hidden]="currentIndex !== 5"
      ></ws-discuss>
    </div>
  </div>
</div>

<mat-card class="text-center" *ngIf="!leaderData">
  No Data Available for this leader.
</mat-card>

<input #followed type="hidden" i18n-value value="You started following" />
<input #unfollowed type="hidden" i18n-value value="You unfollowed" />
<input #followUnfollowError type="hidden" i18n-value value="Error occured. Please try again later." />
