<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *wsHasPermission="['btnLike']">
  <ng-container [ngSwitch]="status">
    <button
      mat-icon-button
      *ngSwitchCase="'NOT_LIKED'"
      (click)="like($event)"
      aria-label="Like"
      i18n-aria-label="Like Label"
      matTooltip="Like"
      i18n-matTooltip="Like Button"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngSwitchCase="'LIKED'"
      (click)="unlike($event)"
      aria-label="UnLike"
      i18n-aria-label="UnLike Label"
      matTooltip="UnLike"
      i18n-matTooltip="UnLike Button"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button *ngSwitchCase="'PENDING'">
      <mat-icon>hourglass_empty</mat-icon>
    </button>
  </ng-container>
</ng-container>
