<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-m">
  <h3 class="mat-title" i18n>Write your SQL statement, stored procedure or anonymous block</h3>
  <ace-editor class="code-container" [(text)]="userQuery" theme="eclipse" [mode]="'sql'" [options]="options" #editor></ace-editor>
  <div class="margin-top-s">
    <button mat-raised-button color="primary" [disabled]="executed" (click)="run()" i18="button run">Run</button>
  </div>
</div>
<div class="margin-m">
  <h4 class="mat-title">Query result</h4>
  <div class="result-container">
    <div class="margin-top-s query-result" *ngIf="executedResult">
      <span *ngIf="errorMessage || executedResult?.status?.message" [ngClass]="{'query-success': executedResult?.validationStatus, 'query-failed': !executedResult?.validationStatus}">
        {{ errorMessage || executedResult?.status?.message}}
      </span>
      <app-execution-result *ngIf="executedResult?.data" [executedResult]="executedResult"></app-execution-result>
    </div>
  </div>
</div>