<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="card-container" *ngIf="role">
  <mat-card>
    <a [routerLink]="'/navigator/new-cdp/' + selectedSkill.id">
      <img mat-card-image class="card-img mat-lite-background" role="link" aria-label="Content" i18n-aria-label="Content | Click to view"
        [src]="THUMBNAIL_BASE_PATH + role.role_image" [appDefaultImage]="THUMBNAIL_BASE_PATH + 'card_img.jpg'" height="150"
        width="265" />
    </a>
    <button class="detail-button" mat-icon-button (click)="detailedView = true" aria-label="Details" i18n-aria-label="Details | Click to see details">
      <mat-icon>more</mat-icon>
    </button>
    <mat-card-content>
      <a class="card-title-link mat-subheading-2">
        {{ role.name }}
      </a>
      <p class="padding-bottom-s">{{ role.description | limitTo: 150 }}</p>
      <section *ngIf="role?.skills?.length > 1" class="margin-bottom-xl">
        <!-- <h3 class="mat-h3 margin-remove-bottom" i18n>Select a Skill</h3> -->
        <mat-radio-group class="variant-radio-group">
          <mat-radio-button class="variant-radio-button" *ngFor="let skill of role.skills" [value]="skill" [checked]="selectedSkill.name === skill.name"
            (change)="selectedSkill = skill">
            {{ skill.name }}
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <a mat-flat-button i18n [routerLink]="'/navigator/new-cdp/' + selectedSkill.id">CONTINUE</a>
    </mat-card-actions>
  </mat-card>
</div>