<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<button
  mat-icon-button
  *wsHasPermission="['btnCall']; condition: userPhone"
  i18n-aria-label="Call Action Button | Aria Label for Call Action Button"
  aria-label="Open Call Dialog"
  i18n-matTooltip="Call Action Button | Tooltip for call action button"
  matTooltip="Call"
  (click)="showCallDialog($event)"
>
  <mat-icon>call</mat-icon>
  <span *ngIf="labelled">Call</span>
</button>
