<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h2 mat-dialog-title i18n>Go Back?</h2>
<p class="mat-body" i18n>You will lose your changes.</p>

<mat-dialog-actions>
  <button mat-button [color]="'primary'" mat-dialog-close="false" i18n>Cancel</button>
  <button mat-raised-button [color]="'primary'" mat-dialog-close="true" i18n>Go Back</button>
</mat-dialog-actions>
