<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="goalsSharedWithUser?.length" class="margin-bottom-m">
  <h2 class="mat-title" i18n="section heading user action required">
    Action Required
  </h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let goal of goalsSharedWithUser">
      <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto" class="padding-top-s padding-bottom-s">
        <div>
          <h3 class="mat-h3 margin-remove-bottom">{{ goal.goal_title }}</h3>
          <p class="margin-remove-bottom text-truncate">{{ goal.shared_by }}</p>
          <p class="margin-remove-bottom">
            <ng-container i18n="text target goal completion prefix">Target time for completion: </ng-container>{{
            goal.goal_duration }}
            <ng-container i18n="text target goal completion suffix">day(s)</ng-container>
          </p>
        </div>
      </mat-expansion-panel-header>
      <app-action-item [goal]="goal"></app-action-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
