<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card>
  <section class="flex flex-between">
    <div class="flex width-3-4">
      <app-user-image [email]="trainingRequest.user + 'EMAIL'"></app-user-image>
      <div class="margin-left-xs margin-right-xs width-3-4">
        <div class="mat-body-2 text-truncate">{{trainingRequest.user_name}}</div>
        <div class="mat-caption text-truncate">{{trainingRequest.designation | uppercase}}</div>
      </div>
    </div>
    <button #btnReject mat-stroked-button color="primary" (click)="onBtnRejectClick()" i18n>Reject</button>
  </section>

  <section class="margin-top-m">
    <div class="mat-caption">
      <ng-container [ngTemplateOutlet]="deliveryType"
        [ngTemplateOutletContext]="{ $implicit: trainingRequest.delivery_type }"></ng-container>
    </div>
    <div class="mat-body-2 text-truncate">{{trainingRequest.content_name}}</div>

    <div class="flex margin-top-xs margin-bottom-xs">
      <mat-icon>calendar_today</mat-icon>
      <div class="mat-body text-truncate">{{{
          startDate: trainingRequest.start_dt,
          endDate: trainingRequest.end_dt
        } | conciseDateRange | uppercase}}</div>
    </div>
  </section>

  <div class="flex">
    <mat-icon>location_on</mat-icon>
    <div class="mat-body text-truncate">{{trainingRequest.location}}</div>
  </div>
</mat-card>

<!-- Templates -->
<!-- Delivery Type -->
<ng-template #deliveryType let-type>
  <span [ngSwitch]="type">
    <ng-container *ngSwitchCase="'Classroom'" i18n>CLASSROOM TRAINING</ng-container>
    <ng-container *ngSwitchCase="'Virtual Classroom'" i18n>VIRTUAL TRAINING</ng-container>
    <ng-container *ngSwitchCase="'Blended Classroom'" i18n>BLENDED TRAINING</ng-container>
  </span>
</ng-template>
