/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";

$card-padding: $size-m;
$action-btn-size: 2.5 * $size-m; // 40px
$card-width: 265px;

.card-container {
  position: relative;
  width: $card-width;
  height: 100%;
  // @include breakpoint-xs {
  //   width: 90%;
  //   margin: $size-s;
  // }

  // @include breakpoint-sm {
  //   width: 90%;
  //   margin: $size-s;
  // }
}

mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

app-progress {
  display: block;
  width: calc(100% + #{2 * $card-padding});
  margin-left: -$card-padding;
  margin-top: -$card-padding;
}

mat-card-content {
  margin-top: 0px;
  margin-bottom: ($card-padding / 2) + $action-btn-size;
  margin-left: -0.5 * $card-padding;
  margin-right: -0.5 * $card-padding;
}

mat-card-actions {
  position: absolute;
  bottom: $card-padding;
  width: calc(100% - #{$card-padding});
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons {
  position: absolute;
  bottom: 3 * $size-s;
  width: calc(100% - #{$card-padding});
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-action-btn-group {
  display: flex;
  width: 200px;
  overflow: hidden;
}

.card-img {
  height: 150px;
  display: block;
}

.card-title-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-bottom: 8px;
}

.detail-view {
  position: absolute;
  top: 0;
  z-index: 2;
}

.detail-button {
  position: absolute;
  top: $size-s;
  right: $size-s;
  z-index: 1;
}

.card-detail-meta {
  position: absolute;
  bottom: $size-xs;
  text-align: center;
  width: 94%;
  left: 50%;
  transform: translateX(-50%);

  .card-detail {
    padding: 0 12px;
  }
}
// @media only screen and (max-width: 600px) {
//   .card-container {
//     width: 290px;
//   }
// }
.feature-icon {
  $icon-size: 1.25 * $size-m;
  width: $icon-size;
  height: $icon-size;
  font-size: $icon-size;
  margin-right: $size-xs;
}
.delete-button {
  margin-left: -100%;
}
