<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="isSiemensInstance">
  <div class="card-container" *ngIf="!loader">
    <mat-card>
      <div>
        <a (click)="onCardClick(cardId, skillName)">
          <img
            mat-card-image
            class="card-img mat-lite-background cursor-pointer"
            role="link"
            [src]="imageurl"
            [appDefaultImage]="missingThumbnail"
            [alt]="skillName"
          />
        </a>
      </div>
      <mat-card-content>
        <div class="mat-subheading-2 text-center" *ngIf="skillQuotient != 0">
          {{ skillQuotient }}
        </div>
        <!-- <div *ngIf="!roleCard" class="flex flex-between">
          <p *ngIf="criticality" class="mat-body text-uppercase">
            {{ criticality }}
          </p> -->
        <!-- <p *ngIf="category" class="mat-body-strong text-uppercase">
            {{ category }}
          </p> -->
        <!-- </div> -->
        <!-- <div *ngIf="!roleCard">
          <span *ngIf="horizon" class="mat-body-strong text-uppercase">
            {{ horizon }}
          </span>
          <span
            *ngIf="category"
            class=" margin-left-s mat-body-strong text-uppercase"
          >
            | {{ category }}
          </span>
        </div> -->

        <div class="mat-subheading-2 flex flex-center flex-wrapped">
          <a class="cursor-pointer" (click)="onCardClick(cardId, skillName)">
            {{ skillName }}
          </a>
        </div>
        <div *ngIf="!roleCard" class="flex flex-around flex-wrapped">
          <p *ngIf="courseCount" class="mat-small">{{ courseCount }} Courses</p>
          <p *ngIf="certificationCount" class="mat-small">{{ certificationCount }} Certifications</p>
        </div>
      </mat-card-content>

      <mat-card-actions *ngIf="actionbutton">
        <!-- <a [routerLink]="'/role-quotient'" mat-icon-button aria-label="Score" i18n-aria-label="Score Label" matTooltip="All Scores"
            i18n-matTooltip="Score Button">
            <mat-icon>insert_chart_outlined</mat-icon>
          </a> -->

        <button
          mat-icon-button
          aria-label="Edit"
          i18n-aria-label="Edit Label"
          (click)="onEditRole(cardId)"
          matTooltip="Edit"
          i18n-matTooltip="Edit Button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Like"
          i18n-aria-label="Delete Label"
          (click)="openDialog(rolesData.role_id)"
          i18n-matTooltip="Delete"
          i18n-matTooltip="Delete Button"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Share"
          i18n-aria-label="Share Label"
          (click)="onShareRole(cardId)"
          i18n-matTooltip="Share"
          i18n-matTooltip="Share Button"
        >
          <mat-icon>share</mat-icon>
        </button>

        <!-- <a [routerLink]="'/certifications'" class="text-right" mat-icon-button aria-label="more" i18n-aria-label="More Label" matTooltip="More"
            i18n-matTooltip="More Button">
            <mat-icon>more_vert</mat-icon>
          </a> -->
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="!isSiemensInstance">
  <div class="card-container" *ngIf="!loader">
    <mat-card>
      <div>
        <a (click)="onCardClick(cardId)">
          <img
            mat-card-image
            class="card-img img-background cursor-pointer"
            role="link"
            [src]="imageurl"
            [appDefaultImage]="missingThumbnail"
            [alt]="skillName"
          />
        </a>
      </div>
      <mat-card-content>
        <div class="mat-subheading-2 text-center" *ngIf="skillQuotient != 0">
          {{ skillQuotient }}
        </div>
        <div *ngIf="!roleCard" class="flex flex-between">
          <p *ngIf="horizon" matTooltip="Horizon" class="ql-size-small text-uppercase">
            {{ horizon }}
          </p>
          <p *ngIf="category" matTooltip="Category" class="ql-size-small text-uppercase">
            {{ category }}
          </p>
        </div>
        <!-- <div *ngIf="!roleCard">
          <span *ngIf="horizon" class="mat-body-strong text-uppercase">
            {{ horizon }}
          </span>
          <span
            *ngIf="category"
            class=" margin-left-s mat-body-strong text-uppercase"
          >
            | {{ category }}
          </span>
        </div> -->

        <div class="mat-subheading-2 flex flex-center flex-wrapped">
          <a class="cursor-pointer" (click)="onCardClick(cardId)">
            {{ skillName }}
          </a>
        </div>
        <div *ngIf="!roleCard" class="flex flex-around flex-wrapped">
          <p *ngIf="courseCount" class="mat-small">{{ courseCount }} Courses</p>
          <p *ngIf="certificationCount" class="mat-small">{{ certificationCount }} Certifications</p>
        </div>
      </mat-card-content>

      <mat-card-actions *ngIf="actionbutton">
        <!-- <a [routerLink]="'/role-quotient'" mat-icon-button aria-label="Score" i18n-aria-label="Score Label" matTooltip="All Scores"
          i18n-matTooltip="Score Button">
          <mat-icon>insert_chart_outlined</mat-icon>
        </a> -->

        <button
          mat-icon-button
          aria-label="Edit"
          i18n-aria-label="Edit Label"
          (click)="onEditRole(cardId)"
          matTooltip="Edit"
          i18n-matTooltip="Edit Button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Like"
          i18n-aria-label="Delete Label"
          (click)="openDialog(rolesData.role_id)"
          i18n-matTooltip="Delete"
          i18n-matTooltip="Delete Button"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Share"
          i18n-aria-label="Share Label"
          (click)="onShareRole(cardId)"
          i18n-matTooltip="Share"
          i18n-matTooltip="Share Button"
        >
          <mat-icon>share</mat-icon>
        </button>

        <!-- <a [routerLink]="'/certifications'" class="text-right" mat-icon-button aria-label="more" i18n-aria-label="More Label" matTooltip="More"
          i18n-matTooltip="More Button">
          <mat-icon>more_vert</mat-icon>
        </a> -->
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
