<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: infy radio" class="margin-left-xs">Infy Radio</span>
</mat-toolbar>

<img class="bannerImg" *ngIf="banner" [appResponsiveImageSrc]="banner" />

<app-spinner *ngIf="showLoader" [spinSize]="'medium'"></app-spinner>
<h2
  *ngIf="
    !infyRadioResults['Archives']?.length &&
    !infyRadioResults['Business Narratives']?.length &&
    !infyRadioResults['Tech Talks']?.length &&
    !errorOccurred &&
    !showLoader
  "
  i18n="infyradio no data"
  class="mat-h2 text-center margin-top-m"
>
  No data available
</h2>

<section
  class="content-strip mat-elevation-z1"
  *ngIf="infyRadioResults['Archives']?.length"
>
  <app-content-strip
    i18n-heading="infyradio podcasts"
    heading="Podcasts"
    [contents]="infyRadioResults['Archives']"
  ></app-content-strip>
</section>
<section
  class="content-strip mat-elevation-z1"
  *ngIf="infyRadioResults['Business Narratives']?.length"
>
  <app-content-strip
    i18n-heading="infyradio business narratives"
    heading="Business Narratives"
    [contents]="infyRadioResults['Business Narratives']"
  ></app-content-strip>
</section>
<section
  class="content-strip mat-elevation-z1"
  *ngIf="infyRadioResults['Tech Talks']?.length"
>
  <app-content-strip
    i18n-heading="infyradio tech talks"
    heading="Tech Talks"
    [contents]="infyRadioResults['Tech Talks']"
  ></app-content-strip>
</section>
