<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="flex margin-right">
  <span class="spacer"></span>
  <button mat-icon-button (click)="showContentPicker = !showContentPicker">
    <mat-icon *ngIf="!showContentPicker">add</mat-icon>
    <mat-icon *ngIf="showContentPicker">close</mat-icon>
  </button>
  <button mat-icon-button (click)="openDeleteDialog(playlist)">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button (click)="openShareDialog(playlist)">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button *ngIf="playlist.shared_by" (click)="openSyncDialog(playlist)">
    <mat-icon>sync</mat-icon>
  </button>
</div>
<div *ngIf="addContentInProgress" class="margin-m">
  <app-spinner></app-spinner>
</div>
<div *ngIf="showContentPicker && !addContentInProgress">
  <app-content-picker i18n-placeholder placeholder="Search content for your playlist" [checkedContent]="checkedContent" [ignoreContent]="playlist.resource_ids"
    (selectedContentChanged)="checkedContentMetas = $event"></app-content-picker>
  <div class="flex">
    <span class="spacer"></span>
    <button mat-raised-button color="primary" *ngIf="!checkedContentMetas?.length" disabled i18n="button add content to playlist">
      Add To Playlist
    </button>
    <button mat-raised-button color="primary" *ngIf="checkedContentMetas?.length" (click)="addPlaylistContent()" i18n="button add content to playlist">
      Add To Playlist
    </button>
  </div>
</div>
<!-- <h3 class="mat-h3" i18n>Playlist Content</h3> -->
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let item of playlist.resource" mat-line>
    <a [routerLink]="'/toc/' + item.resource_id">{{ item.resource_name }}</a>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openDeleteContentFromPlaylistDialog(playlist, item)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<input #playlistUpdated type="hidden" i18n-value value="Playlist updated successfully." />