<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/my-skills'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Role Quotient" class="margin-left-xs">All Skills</span>
  <span class="spacer"></span>
</mat-toolbar>
<div *ngIf="loader" class="margin-left-s margin-top-xl padding-top-xl">
  <app-spinner
    [spinMode]="'indeterminate'"
    [spinSize]="'large'"
    [spinWidth]="'thin'"
    [spinValue]="70"
    [spinColor]="'primary'"
    class="progress-circular-full"
  >
  </app-spinner>
</div>
<p *ngIf="!loader" class="mat-small margin-right-m text-right" i18n>For illustrative purposes only</p>
<div *ngIf="!loader && allSkills" class="margin-m">
  <form [formGroup]="skillForm" class="allSkills Form margin-s flex flex-around flex-wrapped">
    <!-- <mat-form-field class="example-full-width">
                <input type="text" placeholder="Enter the Skill Name" aria-label="Skill Name" matInput [formControl]="skillForm" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field> -->
    <mat-form-field class="search">
      <input
        type="text"
        placeholder="Enter Skill Name"
        aria-label="Skill Name"
        matInput
        [formControl]="skillControl"
        formControlName="search"
        [matAutocomplete]="auto"
        [value]="skillForm.get('search').value"
        (keydown)="onPress($event)"
      />
      <mat-icon class="cursor-pointer" (click)="searchAllSkills(skillForm.get('search').value, 'skill')" matSuffix
        >search</mat-icon
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions"
          (click)="searchAllSkills(option.skill_name, 'skill')"
          [value]="option.skill_name"
        >
          {{ option.skill_name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="filter">
      <mat-select name="Criticality" placeholder="Criticality" formControlName="criticality">
        <mat-option
          *ngFor="let criticality of criticalityList"
          (click)="filter(criticality, 'criticality')"
          [value]="criticality"
        >
          {{ criticality }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field class="filter">
              <mat-select name="categories" placeholder="Category" formControlName="categories">
                <mat-option *ngFor="let categories of categoriesList" (click)="filter(categories, 'category')" [value]="categories">
                  {{ categories }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
    <div class="flex flex-between flex-wrapped">
      <button
        class="margin-top-xs margin-bottom-l"
        [matTooltip]="'Reset'"
        mat-raised-button
        color="primary"
        type="reset"
        (click)="reset()"
      >
        Reset
      </button>
      <button
        class="margin-top-xs margin-bottom-l margin-left-xl"
        [matTooltip]="'Add'"
        mat-raised-button
        color="primary"
        type="create"
        (click)="createSkillGroup()"
      >
        <mat-icon>add</mat-icon>
        Skill
      </button>
    </div>
  </form>
  <!-- <div class="flex flex-around flex-wrapped">
    <mat-card class="text-center category-card">
      <h4>Total Skills</h4>
      <h2>{{ allSkillsData.total_skills }}</h2>
    </mat-card>
    <mat-card *ngIf="categories.length > 0" class="category-card text-center flex flex-around">
      <mat-card-content class="margin-remove-bottom" *ngFor="let categories of categories">
        <h4>{{ categories.key }}</h4>
        <h2>{{ categories.doc_count }}</h2>
      </mat-card-content>
    </mat-card>
  </div> -->

  <div *ngIf="allSkills?.length > 0" class="flex flex-center flex-wrapped margin-top-xl">
    <app-card
      *ngFor="let i of allSkills"
      class="margin-xl"
      [popular]="true"
      [count]="true"
      [courseCount]="i.course_count"
      [certificationCount]="i.certification_count"
      [imageurl]="i.image_url"
      [cardId]="i.skill_id"
      [skillName]="i.skill_name"
      [category]="i.category"
      [criticality]="i.criticality"
      [horizon]="i.horizon"
      [criticality]="i.criticality"
    ></app-card>
  </div>
  <div *ngIf="allSkills?.length === 0" class="flex flex-center flex-wrapped">
    <h1>No Skills</h1>
  </div>
</div>
<div
  *ngIf="!loader && allSkillsData?.is_pagination"
  class="example-ripple-container mat-elevation-z4  text-center"
  matRipple
  [matRippleCentered]="centered"
  [matRippleDisabled]="disabled"
  [matRippleUnbounded]="unbounded"
  [matRippleRadius]="radius"
  [matRippleColor]="color"
>
  <p class="cursor-pointer margin-top-s" (click)="more()">View More...</p>
</div>
