<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar *ngIf="showHeader == true" color="primary">
  <a mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: endorsement" class="margin-left-xs">Endorsement</span>
  <span class="spacer"></span>
</mat-toolbar>

<!-- <div *ngIf="loader">
  <app-spinner
    [spinMode]="'indeterminate'"
    [spinSize]="'large'"
    [spinWidth]="'thin'"
    [spinValue]="70"
    [spinColor]="'primary'"
    class="progress-circular-full"
  >
  </app-spinner>
</div> -->
<ng-container *ngIf="isSiemensInstance">
  <div *ngIf="endorsement">
    <div *ngIf="type === 'manager'">
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.pending_request">
        <mat-card class="card margin-top-xl margin-bottom-xs">
          <mat-card-content class="text-left">
            <h4>{{ request.email_id }}</h4>
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
          <div *ngIf="request.status === 'pending'">
            <p style="text-align: right">
              <button mat-raised-button color="primary" (click)="openApproveDialog(request)">
                Endorse
              </button>
              <span>&nbsp;&nbsp;&nbsp;</span>
              <button mat-raised-button color="primary" (click)="openRejectDialog(request)">
                Reject
              </button>
            </p>
          </div>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.approved_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <h4>{{ request.email_id }}</h4>
            <p>{{ request.skill_name | titlecase }}</p>
            <p>{{ request.description }}</p>
            <mat-icon class="rating-icon" *ngFor="let rate of rating">
              {{ request.rating > rate ? "star" : "star_border" }}
            </mat-icon>
            <h4>Status: {{ request.status | titlecase }}</h4>
            <p>Approved on : {{ request.last_updated_on | date: "d MMM, y" }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.rejected_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <h4>{{ request.email_id }}</h4>
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="type === 'user'">
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.approved_request">
        <mat-card class="card margin-top-xl margin-bottom-xs">
          <mat-card-content class="text-left">
            <!-- <h4>{{ request.email_id }}</h4> -->
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <mat-icon class="rating-icon" *ngFor="let rate of rating">
              {{ request.rating > rate ? "star" : "star_border" }}
            </mat-icon>
            <p>Approver : {{ request.approver_email_id | titlecase }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
            <p>Approved on : {{ request.last_updated_on | date: "d MMM, y" }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.pending_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <!-- <h4>{{ request.email_id }}</h4> -->
            <p>{{ request.skill_name | titlecase }}</p>
            <p>{{ request.description }}</p>
            <p>Approver : {{ request.approver_email_id | titlecase }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.rejected_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <!-- <h4>{{ request.email_id }}</h4> -->
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <mat-icon class="rating-icon" *ngFor="let rate of rating">
              {{ request.rating > rate ? "star" : "star_border" }}
            </mat-icon>
            <p>Approver : {{ request.approver_email_id | titlecase }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="flex flex-center flex-wrapped margin-top-xl" *ngIf="type === 'manager' && !endorsement">
    <mat-card>
      <h4 class="flex flex-center flex-wrapped">
        You have no Endorsement Requests to Approve
      </h4>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="!isSiemensInstance">
  <div *ngIf="endorsement">
    <div *ngIf="type === 'manager'">
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.pending_request">
        <mat-card class="card margin-top-xl margin-bottom-xs">
          <mat-card-content class="text-left">
            <h4>{{ request.email_id }}</h4>
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
          <div *ngIf="request.status === 'pending'">
            <p style="text-align: right">
              <button mat-raised-button color="primary" (click)="openApproveDialog(request)">
                Endorse
              </button>
              <span>&nbsp;&nbsp;&nbsp;</span>
              <button mat-raised-button color="primary" (click)="openRejectDialog(request)">
                Reject
              </button>
            </p>
          </div>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.approved_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <h4>{{ request.email_id }}</h4>
            <p>{{ request.skill_name | titlecase }}</p>
            <p>{{ request.description }}</p>
            <mat-icon class="rating-icon" *ngFor="let rate of rating">
              {{ request.rating > rate ? "star" : "star_border" }}
            </mat-icon>
            <h4>Status: {{ request.status | titlecase }}</h4>
            <p>Approved on : {{ request.last_updated_on | date: "d MMM, y" }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.rejected_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <h4>{{ request.email_id }}</h4>
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="type === 'user'">
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.approved_request">
        <mat-card class="card margin-top-xl margin-bottom-xs">
          <mat-card-content class="text-left">
            <!-- <h4>{{ request.email_id }}</h4> -->
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <mat-icon class="rating-icon" *ngFor="let rate of rating">
              {{ request.rating > rate ? "star" : "star_border" }}
            </mat-icon>
            <p>Approver : {{ request.approver_email_id | titlecase }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
            <p>Approved on : {{ request.last_updated_on | date: "d MMM, y" }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.pending_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <!-- <h4>{{ request.email_id }}</h4> -->
            <p>{{ request.skill_name | titlecase }}</p>
            <p>{{ request.description }}</p>
            <p>Approver : {{ request.approver_email_id | titlecase }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="flex flex-center flex-wrapped" *ngFor="let request of endorsementDetails?.rejected_request">
        <mat-card class="card margin-top-xl margin-bottom-xs ">
          <mat-card-content class="text-left">
            <!-- <h4>{{ request.email_id }}</h4> -->
            <p>{{ request.skill_name }}</p>
            <p>{{ request.description }}</p>
            <mat-icon class="rating-icon" *ngFor="let rate of rating">
              {{ request.rating > rate ? "star" : "star_border" }}
            </mat-icon>
            <p>Approver : {{ request.approver_email_id | titlecase }}</p>
            <h4>Status: {{ request.status | titlecase }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="flex flex-center flex-wrapped margin-top-xl" *ngIf="type === 'manager' && !endorsement">
    <mat-card>
      <h4 class="flex flex-center flex-wrapped">
        You have no Endorsement Requests to Approve
      </h4>
    </mat-card>
  </div>
</ng-container>
