<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="!reset">
  <quill-editor
    class="quill-editor"
    [ngModel]="htmlText"
    (onContentChanged)="onContentChanged($event)"
    [required]="true"
    [minLength]="minLength"
    #editor="ngModel"
  >
  </quill-editor>
  <p *ngIf="(editor.dirty || editor.touched) && editor.invalid" class="error-text mat-caption">
    <ng-container i18n> Minimum </ng-container>
    {{ minLength }}
    <ng-container i18n> characters are required </ng-container>
  </p>
</ng-container>
