<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary" class="flex flex-wrapped">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: Ask a Question" class="margin-left-xs">My Timeline</span>
  <span class="spacer"></span>
  <a *ngIf="!(isXSmall$ | async)" mat-raised-button [routerLink]="'/qna/ask'" i18n>
    Ask a Question
  </a>
  <a [matTooltip]="'Ask a Question'" mat-icon-button *ngIf="(isXSmall$ | async) === true" [routerLink]="'/qna/ask'">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>

<div class="qanda-container">
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedIndex" (selectedIndexChange)="changeTabs($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <span i18n>Drafts</span>
      </ng-template>
      <ng-template matTabContent>
        <app-qanda-results class="margin-top-s" [timelineRequest]="myDraftItemsRequest"></app-qanda-results>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span i18n>Published</span>
      </ng-template>
      <ng-template matTabContent>
        <app-qanda-results class="margin-top-s" [timelineRequest]="myAllItemsRequest"></app-qanda-results>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
