<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h4 class="mat-h4" i18n>Nominate users to take this training</h4>
<div class="mat-body">
  <div class="mat-body-2">
    {{{
        startDate: offering.start_dt,
        endDate: offering.end_dt
      } | conciseDateRange}}
  </div>
  <div class="margin-bottom-l">
    <mat-icon [inline]="true">location_on</mat-icon>
    <span class="mat-body-2">{{offering.location + ' '}}</span>
    <span class="mat-body"
      *ngIf="offering.sessions && offering.sessions.length">({{offering.sessions[0].building + ', ' + offering.sessions[0].classroom}})</span>
  </div>
</div>

<div>
  <mat-form-field [style.width]="'100%'">
    <mat-chip-list #emailChipList>
      <mat-chip *ngFor="let email of emailIds" [selectable]="false" [removable]="true" (removed)="remove(email)">
        {{email.prefix}}
        <mat-icon matChipRemove (click)="remove(email.email)">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Enter email IDs to nominate" [matChipInputFor]="emailChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeyCodes" [matChipInputAddOnBlur]="false"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</div>

<button mat-raised-button color="primary" [disabled]="sendStatus === 'sending'" (click)="send()" i18n>Nominate</button>

<!-- Templates -->

<!-- Snackbar Messages -->
<ng-template #successSnackbar>
  <div i18n>Nomination sent!</div>
</ng-template>

<ng-template #errorSnackbar>
  <div i18n>Nomination failed.</div>
</ng-template>
