<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: infy-tv" class="margin-left-xs">Infy Tv</span>
</mat-toolbar>
<div>
  <nav mat-align-tabs="center" class="margin-bottom-m" mat-tab-nav-bar>
    <a mat-tab-link i18n routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLink]="'/infy-tv/just-for-you'">Just for you</a>
    <a mat-tab-link i18n routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" [routerLink]="'/infy-tv/channels'">Channels</a>
    <a mat-tab-link i18n routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive" [routerLink]="'/infy-tv/broadcast'">Broadcast</a>
  </nav>
  <router-outlet></router-outlet>
</div>