<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-m" *ngIf="deleteInProgress">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!deleteInProgress">
  <h2 mat-dialog-title>
    <ng-container i18n>Do you really want to remove</ng-container>
    <ng-container *ngIf="playlist?.playlist_title">
      "{{ playlist?.playlist_title }}"?
    </ng-container>
    <ng-container i18n *ngIf="!playlist?.playlist_title">
      this playlist?
    </ng-container>
  </h2>
  <mat-dialog-actions class="flex-row-reverse">
    <button mat-button mat-dialog-close i18n>No</button>
    <button mat-button (click)="removeUserPlaylist()" i18n>Yes</button>
  </mat-dialog-actions>
</div>

<input #playlistDeleted type="hidden" i18n-value value="Playlist deleted successfully." />