<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="content-strip" *ngIf="fetchStatus === 'done' || fetchStatus === 'hasMore'"
  [hidden]="selectedFilter==='org' && !trendingRecommendationsContent?.length">
  <div class="flex flex-between flex-middle">
    <h1 class="mat-title" [ngClass]="{'margin-remove': showFilters}" i18n-heading="home trending recommendations">
      Trending</h1>
    <mat-form-field *ngIf="showFilters">
      <mat-select [(value)]="selectedFilter" (selectionChange)="fetchTrending(true)">
        <div *ngFor="let item of trendingFilterMapping|keyvalue">
          <mat-option value={{item.key}} i18n>{{item.value}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
  <app-spinner *ngIf="isUpdating" [spinSize]="'small'" [spinWidth]="'thin'"></app-spinner>
  <app-content-strip *ngIf="trendingRecommendationsContent?.length" [contents]="trendingRecommendationsContent"
    [contentStatus]="fetchStatus" (loadNext)="fetchTrending()" [cardType]="cardType"></app-content-strip>
  <div *ngIf="!trendingRecommendationsContent?.length" i18n>Items under this category are unavailable, please select
    another category from dropdown</div>
</section>