<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="pad margin-l">
  <h2 i18n>Change Stories</h2>
  <mat-card-content>
    <iframe [src]="INFY_DIARIES_PATH" title="change story" allowfullscreen="1" class="infy-diaries-iframe"> </iframe>
  </mat-card-content>
</mat-card>
