<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h2 class="mat-h2 text-center">{{ data.name | slice: 0:40 }}</h2>

<mat-nav-list>
  <a mat-list-item (click)="closeBottomSheet()" [routerLink]="'/viewer/' + data.id">
    <mat-icon class="padding-right-m">play_arrow</mat-icon>
    <span i18n>Start Playing</span>
  </a>
  <a mat-list-item (click)="closeBottomSheet()" [routerLink]="'/toc/' + data.id">
    <mat-icon class="padding-right-m">toc</mat-icon>
    <span i18n>View TOC / Details</span>
  </a>
  <a mat-list-item *ngIf="tocSubFeatures.cohorts.enabled" (click)="closeBottomSheet()" [routerLink]="'/toc/' + data.id + '/cohorts'">
    <mat-icon class="padding-right-m">people</mat-icon>
    <span i18n>Cohorts</span>
  </a>
  <a *ngIf="tocSubFeatures.courseAnalytics" mat-list-item (click)="closeBottomSheet()" [routerLink]="'/toc/' + data.id + '/analytics'">
    <mat-icon class="padding-right-m">bar_chart</mat-icon>
    <span i18n>Analytics</span>
  </a>
</mat-nav-list>