<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<app-spinner *ngIf="analyticsFetchStatus === 'fetching'" [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'"
  [spinValue]="70" [spinColor]="'primary'" class="progress-circular-full">
</app-spinner>

<section *ngIf="analyticsFetchStatus === 'done'" class="myPlans-wrapper">
  <ng-container>
    <app-filter (filterEvent)="callFilteredGet($event)"></app-filter>
  </ng-container>
  <div class="margin-s flex flex-wrapped flex-around">
    <app-tile class="tile" [titleFirstSubHeading]="'# All Content'" [firstValue]="allContent"></app-tile>
    <app-tile class="tile" [titleFirstSubHeading]="'# Courses'" [firstValue]="courses"></app-tile>
    <app-tile class="tile" [titleFirstSubHeading]="'# Programs'" [firstValue]="programs"></app-tile>
  </div>
  <div class="margin-top-m flex flex-around flex-wrapped">
    <mat-card class="bar-card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="users by source">Contents by System</span>
      </mat-card-header>
      <mat-card-content class=" margin-xl">
        <app-bar-chart (filterEvent)="callFilteredGet($event)" [barChartData]="contentData" [barChartLabel]="contentLabel" [barId]="'content'"
          [xAxisLabels]="''" [type]="'system'" [yAxisLabels]="'Contents'"></app-bar-chart>
      </mat-card-content>
    </mat-card>
    <mat-card class="bar-card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="users by Skill">Content by Skill</span>
      </mat-card-header>
      <mat-card-content class=" margin-xl">
        <app-bar-chart *ngIf="skillData.length>0" (filterEvent)="callFilteredGet($event)" [barChartData]="skillData" [barChartLabel]="skillLabel"
          [barId]="'skill'" [xAxisLabels]="''" [type]="'skill'" [yAxisLabels]="'Contents'"></app-bar-chart>
        <h2 *ngIf="skillData.length===0">No data found</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-container">
    <mat-card class="card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">list</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="content details">Popular Content</span>
      </mat-card-header>
      <div class="button-row margin-left-m ">
        <mat-tab-group mat-align-tabs="left" (selectedIndexChange)="onTabChange($event)">
          <mat-tab>
            <ng-template mat-tab-label>
              <span accesskey="1" i18n>Courses</span>
            </ng-template>
            <div *ngIf="progressData1[0].status">
              <mat-card *ngIf="progressData1[0].data.length != 0">
                <mat-grid-list cols="4" rowHeight="35px">
                  <mat-grid-tile class="mat-body-1" i18n="myplans title">Course</mat-grid-tile>
                  <!-- <mat-grid-tile class="mat-body-1" i18n="myplans title">User Progress</mat-grid-tile> -->
                  <mat-grid-tile class="mat-body-1" i18n="myplans title">Progress</mat-grid-tile>
                  <mat-grid-tile class="mat-body-1" i18n="myplans title"># of Users Completed</mat-grid-tile>
                  <mat-grid-tile class="mat-body-1">System</mat-grid-tile>

                </mat-grid-list>
              </mat-card>
              <div *ngFor="let data of progressData1[0].data | slice: page.p1:page.p1 + 10">
                <app-plans-card [title]="data.name" [pieData]="data.data" [progress]="data.progress" [completed]="data.completed" [system]="data.system"></app-plans-card>
              </div>
              <mat-paginator *ngIf="progressData1[0].data.length != 0" showFirstLastButtons [length]="progressData1[0].data.length" [pageSize]="10"
                (page)="changePage($event, 1)">
              </mat-paginator>
              <div *ngIf="progressData1[0].data.length === 0 && progressData1[0].status" class="progress">
                <div class="progress-container">
                  <div class="progress-content" i18n="myplans no content">
                    No Learning History Available for Course
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="!progressData1[0].status" class="margin-left-s margin-top-s">
              <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
                class="progress-circular-full">
              </app-spinner>
            </ng-container>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span accesskey="2" i18n>Programs</span>
            </ng-template>
            <ng-container *ngIf="progressData1[1].status">
              <mat-card *ngIf="progressData1[1].data.length != 0">
                <mat-grid-list cols="4" rowHeight="35px">
                  <mat-grid-tile class="mat-body-1">Program</mat-grid-tile>
                  <!-- <mat-grid-tile class="mat-body-1">User Progress</mat-grid-tile> -->
                  <mat-grid-tile class="mat-body-1">Progress</mat-grid-tile>
                  <mat-grid-tile class="mat-body-1"># of Users Completed</mat-grid-tile>
                  <mat-grid-tile class="mat-body-1">System</mat-grid-tile>

                </mat-grid-list>
              </mat-card>
              <div *ngFor="let data of progressData1[1].data | slice: page.p2:page.p2 + 10">
                <app-plans-card [title]="data.name" [pieData]="data.data" [progress]="data.progress" [completed]="data.completed" [system]="data.system"></app-plans-card>
              </div>
              <mat-paginator *ngIf="progressData1[1].data.length != 0" showFirstLastButtons [length]="progressData1[1].data.length" [pageSize]="10"
                (page)="changePage($event, 2)">
              </mat-paginator>
              <div *ngIf="progressData1[1].data.length === 0 && progressData1[1].status" class="progress">
                <div class="progress-container">
                  <div class="progress-content" i18n="myplans no content">
                    No Learning History Available for Program
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!progressData1[1].status" class="margin-left-s margin-top-s">
              <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
                class="progress-circular-full">
              </app-spinner>
            </ng-container>
          </mat-tab>
          <mat-tab *ngIf="clientData?.is_resource_available">
            <ng-template mat-tab-label>
              <span accesskey="1" i18n>Resources</span>
            </ng-template>
            <div *ngIf="progressData1[2].status">
              <mat-card *ngIf="progressData1[2].data.length != 0">
                <mat-grid-list cols="4" rowHeight="35px">
                  <mat-grid-tile class="mat-body-1" i18n="myplans title">Course</mat-grid-tile>
                  <!-- <mat-grid-tile class="mat-body-1" i18n="myplans title">User Progress</mat-grid-tile> -->
                  <mat-grid-tile class="mat-body-1" i18n="myplans title">Progress</mat-grid-tile>
                  <mat-grid-tile class="mat-body-1" i18n="myplans title"># of Users Completed</mat-grid-tile>
                  <mat-grid-tile class="mat-body-1">System</mat-grid-tile>

                </mat-grid-list>
              </mat-card>
              <div *ngFor="let data of progressData1[2].data | slice: page.p1:page.p1 + 10">
                <app-plans-card [title]="data.name" [pieData]="data.data" [progress]="data.progress" [completed]="data.completed" [system]="data.system"></app-plans-card>
              </div>
              <mat-paginator *ngIf="progressData1[2].data.length != 0" showFirstLastButtons [length]="progressData1[2].data.length" [pageSize]="10"
                (page)="changePage($event, 1)">
              </mat-paginator>
              <div *ngIf="progressData1[2].data.length === 0 && progressData1[2].status" class="progress">
                <div class="progress-container">
                  <div class="progress-content" i18n="myplans no content">
                    No Learning History Available for Resources
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="!progressData1[2].status" class="margin-left-s margin-top-s">
              <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
                class="progress-circular-full">
              </app-spinner>
            </ng-container>
          </mat-tab>
          <!-- <ng-container *ngIf="progressData1[2].status">
            <mat-card>
              <mat-grid-list cols="4" rowHeight="35px">
                <mat-grid-tile class="mat-body-1">Learning Modules</mat-grid-tile>
                <mat-grid-tile class="mat-body-1">User Progress</mat-grid-tile>
                <mat-grid-tile class="mat-body-1">Infoscions' Progress</mat-grid-tile>
                <mat-grid-tile class="mat-body-1">No of Users Completed</mat-grid-tile>
              </mat-grid-list>
            </mat-card>
            <div *ngFor="let data of progressData1[2].data">
              <app-plans-card [title]="data.name" [pieData]="data.data" [progress]="data.progress" [completed]="data.completed"></app-plans-card>
            </div>
            <div *ngIf="progressData1[2].data.length === 0 && progressData1[2].status" class="progress">
              <div class="progress-container">
                <div class="progress-content" i18n="myplans no content">
                  No Learning History Available for Learning Modules
                </div>
              </div>
            </div>
          </ng-container> -->
          <!-- <ng-container *ngIf="!progressData1[2].status" class="margin-left-s margin-top-s">
            <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
              class="progress-circular-full">
            </app-spinner>
          </ng-container> -->
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</section>
