<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="items-list">
  <header *ngIf="item.data.length > 0" class="heading-items" [ngClass]="item.type">
    <label class="title-labels">
      <span class="countTypes">{{ item.data.length }}</span>
      <span> {{ item.headingText }}</span>
    </label>
  </header>
  <footer class="items-collection">
    <section
      [ngClass]="item.itemsMinShown == 6 ? 'items-box' : 'items-full-length'"
      *ngFor="let str of (item.data | slice: 0:showMoreLess.limit)"
    >
      <p *ngIf="item.type == 'contribution'">
        <a ng-if="str.id!==''" [routerLink]="'/khub/view/' + str.itemId">{{ str.title }}</a>
      </p>
      <p *ngIf="item.type == 'risk'" title="Description : {{ str.description }}">
        {{ str.name }}
      </p>
      <p *ngIf="item.type == 'strategy' || item.type == 'tool'">
        {{ str.name }}
      </p>
    </section>

    <div class="types" *ngIf="item.data.length > item.itemsMinShown" (click)="changeItemShow()">
      {{ showMoreLess.text }}
    </div>
  </footer>
</div>
