/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
@import "~src/styles/mixins";
@import "~src/styles/animation";
.items-list {
  // padding: 10px 6px;
  margin-bottom: 10px;
  margin-top: 10px;
  .items-collection {
    .items-box {
      display: inline-block;
      border: 1px solid $color-thin-gray;
      vertical-align: top;
      margin: 4px 1px 1px 4px;
      padding: 15px 14px;
      width: 32.5%;
      height: 65px;
      background-color: $color-cdg-lightest-gray;
      p {
        text-align: initial;
      }
    }
    .types {
      margin-left: 84%;
      margin-top: 5px;
      cursor: pointer;
      color: $color-primary-skyblue-dark;
    }
    .items-full-length {
      vertical-align: top;
      border: 1px solid $color-thin-gray;
      margin: 4px 1px 1px 4px;
      padding: 10px;
      background-color: $color-cdg-lightest-gray;
      font-size: 15px;
      color: black;
    }
  }
  .heading-items {
    padding-top: 6px;
    padding-left: 7px;
    padding-bottom: 6px;
    border-radius: 2px;
    .title-labels {
      color: $color-white;
      font-weight: 600;
      .countTypes {
        @include font-size(16px);
        font-family: Segoe UI, Arial, sans-serif;
      }
    }
  }
  .innovate {
    border: 1px solid $color-primary-lightgreen;
    background-color: $color-primary-lightgreen;
  }
  .contribution {
    background-color: $color-primary-darkgreen;
    border: 1px solid $color-primary-darkgreen;
  }
  .risk {
    border: 1px solid $color-primary-lightgreen-light;
    background-color: $color-primary-lightgreen-light;
  }
  .strategy {
    border: 1px solid $color-cdg-tag-blue;
    background-color: $color-cdg-tag-blue;
  }
  .tool {
    background-color: $color-cdg-tool;
    border: 1px solid $color-cdg-tool;
  }
  .yammer {
    background-color: salmon;
    border: 1px solid salmon;
  }
}
