<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigator" class="margin-left-xs">Navigator</span>
</mat-toolbar>
<app-carousel [banners]="banners">
  <ng-template let-banner>
    <a [routerLink]="banner.url" [ngSwitch]="banner.titleKey">
      <span *ngSwitchCase="'cdp'" i18n="tech navigator carousel slide 1">Career Development Paths</span>
      <span *ngSwitchCase="'navigator'" i18n="tech navigator carousel slide 0">Navigator</span>
      <span *ngSwitchCase="'roles'" i18n="tech navigator carousel slide 1">Get Ready for New Age
        Roles</span>
      <span *ngSwitchCase="'explore'" i18n="tech navigator carousel slide 2">Learn Skill of your choice</span>
      <span *ngSwitchCase="'suggestions'" i18n="tech navigator carousel slide 3">Build on what you know</span>
    </a>
  </ng-template>
</app-carousel>

<div class="flex flex-center flex-wrapped padding-s">
  <div class="card-section" *ngIf="features.candidateDevPlan.available">
    <app-feature-card [enabled]="features.candidateDevPlan.enabled" url="/navigator/cdp" i18n-name i18n-description
      name="CORE DEVELOPMENT PATHS"></app-feature-card>
  </div>
  <div class="card-section" *ngIf="features.role.available">
    <app-feature-card [enabled]="features.role.enabled" url="/navigator/roles" i18n-name i18n-description
      name="GET REFACTORED INTO NEW SERVICES" description="Explore learning paths based on Industry needs">
    </app-feature-card>
  </div>
  <div class="card-section" *ngIf="features.explore.available">
    <app-feature-card [enabled]="features.explore.enabled" url="/navigator/explore" i18n-name i18n-description
      name="LEARN SKILL OF YOUR CHOICE" description="Explore and Acquire Skills Based on Your Interest">
    </app-feature-card>
  </div>
  <div class="card-section" *ngIf="features.skills.available">
    <app-feature-card [enabled]="features.skills.enabled" url="/navigator/suggestions" i18n-name i18n-description
      name="BUILD ON WHAT YOU KNOW" description="Get Suggestions Based on Your Current Skills"></app-feature-card>
  </div>
  <div class="card-section" *ngIf="features.industries.available">
    <app-feature-card [enabled]="features.industries.enabled" url="/navigator/industries" i18n-name i18n-description
      name="GET READY FOR YOUR INDUSTRIES" description="Get up-to-date on Industry verticals and related tech skills">
    </app-feature-card>
  </div>
  <div class="card-section" *ngIf="features.pentagon.available">
    <app-feature-card [enabled]="features.pentagon.enabled" url="/navigator/pillars" i18n-name i18n-description
      name="COURSES FOR LEADERS" description="Learn the latest technologies and gain competitive advantage">
    </app-feature-card>
  </div>
  <div class="card-section" *ngIf="features.fullstack.available">
    <app-feature-card [enabled]="features.fullstack.enabled" url="/navigator/fullstack" i18n-name i18n-description
      name="FULL STACK PROGRAMS" description="Learn industry standard full stack programs"></app-feature-card>
  </div>
</div>