<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section *ngIf="data">
  <div mat-dialog-title>
    <span *ngIf="data.name" class="margin-bottom-m title">
      <ng-container i18n>Submission for</ng-container> "{{data.name}}"</span>
  </div>
  <div mat-dialog-content class="custom-scroll">
    <div [ngClass]="{viewContent : data.type === 'input' }">
      <app-view-content [data]="data"> </app-view-content>
    </div>
  </div>

  <mat-dialog-actions class="margin-top-m flex flex-row-reverse">
    <button i18n mat-raised-button color="primary" (click)="navigateToFeedback()" class="margin-left-s" *ngIf="data.isEducator"
      type="button">
      Feedback
    </button>
    <button i18n mat-button color="primary" mat-dialog-close i18n>Close</button>
  </mat-dialog-actions>
</section>