<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <div *ngIf="content?.name" class="width-expand text-center text-truncate">
    {{ content?.name }}
  </div>
</mat-toolbar>

<div class="feedback-container padding-m">
  <h2 i18n>SUBMISSION</h2>
  <mat-card class="margin-top-m">
    <app-view-content class="submission-view" *ngIf="data && data.url && data.type" [data]="data">
    </app-view-content>
  </mat-card>
  <h2 i18n class="margin-top-xl">PROVIDE FEEDBACK</h2>
  <mat-card class="margin-top-m">
    <form #feedbackForm="ngForm" (submit)="submitFeedback(feedbackForm)">
      <div class="margin-top-m margin-bottom-m">
        <mat-form-field class="field-container">
          <textarea i18n-placeholder rows="4" required minlength="10" [(ngModel)]="request.feedback" matInput name="feedback" placeholder="Type your feedback here"
            #feedbackText="ngModel"></textarea>
          <mat-error i18n> Min length should be 10 characters </mat-error>
        </mat-form-field>
      </div>
      <h4 *ngIf="exerciseContent?.feedback_url" class="mat-caption" i18n>
        By submitting this feedback again, your previous feedback will be overriden
      </h4>
      <app-spinner [spinSize]="'small'" class="margin-bottom-m" *ngIf="submittingInProgress"></app-spinner>
      <div class="flex flex-row-reverse">
        <button [disabled]="feedbackForm.form.invalid || submittingInProgress" type="submit" class="padding-left-xs" mat-raised-button
          [color]="'primary'" i18n>
          Submit Feedback
        </button>

        <button mat-button i18n="reset feedback form" [disabled]="submittingInProgress" type="reset">
          Reset
        </button>
      </div>
    </form>
  </mat-card>

  <!-- <button class="margin-top-xl" *ngIf="exerciseContent?.is_feedback_for_older_sumbission === 1" [color]="'primary'" type="button"
    mat-raised-button (click)="fetchPreviousFeedback()">
    View Feedback for Previous Submission
  </button>
  <div #prevFeedback id="prevFeedback">
    <h2 class="mat-title margin-top-m" *ngIf="showPreviousFeedback" i18n>
      PREVIOUS FEEDBACK
    </h2>
    <mat-card *ngIf="showPreviousFeedback">
      <app-spinner *ngIf="fetchingFeedback"></app-spinner>
      <div [ngSwitch]="errorMessageCode" class="text-center">
        <h2 class="mat-h2" i18n *ngSwitchCase="'API_FAILURE'">
          Something went wrong. Not able to load the content.
        </h2>
      </div>
      <p class="mat-subheading-2">{{ previousFeedback }}</p>
    </mat-card>
  </div> -->
</div>


<input #errorOccured type="hidden" i18n-value value="Some error occurred! Please try again" />

<input #feedbackSuccess type="hidden" i18n-value value="Feedback Submitted Successfully." />