<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="margin-top-l margin-bottom-l container">
  <div class="flex flex-between">
    <button mat-mini-fab [color]="'primary'" (click)="openFilterDialog()" matTooltip="Filter" i18n-matTooltip>
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <section class="margin-top-l">
    <ng-container [ngSwitch]="itemFetchStatus">
      <ng-container *ngSwitchCase="'done'">
        <ng-container *ngIf="approvalItems.length" [ngSwitch]="pageType">
          <ng-container *ngSwitchCase="'approver'">
            <section class="margin-bottom-s" *ngFor="let approvalItem of approvalItems">
              <ws-approval-card [approvalItem]="approvalItem" [itemSubject]="itemSubject"></ws-approval-card>
            </section>
          </ng-container>

          <ng-container *ngSwitchCase="'user'">
            <section class="margin-bottom-s" *ngFor="let requestItem of approvalItems">
              <ws-user-request-card [requestItem]="requestItem" [itemSubject]="itemSubject"></ws-user-request-card>
            </section>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!approvalItems.length">
          <section class="text-center mat-body margin-top-xl" i18n>
            You have no request items.
          </section>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'error'">
        <section class="text-center mat-body margin-top-xl" i18n>
          An error occured while fetching request items.
        </section>
      </ng-container>

      <ng-container *ngSwitchCase="'fetching'">
        <section class="flex flex-center">
          <app-spinner [spinColor]="'primary'"></app-spinner>
        </section>
      </ng-container>
    </ng-container>
  </section>
</section>
