<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card>
  <div class="flex flex-column flex-between">
    <div class="flex flex-center cursor-pointer position-relative" (click)="toggleCard()">
      <div class="margin-right-l margin-left-l width-3-10">
        <div class="mat-body-2 text-center" i18n>DURATION</div>
        <div class="mat-body text-center">{{ training.duration }} days</div>
      </div>

      <div class="margin-right-l margin-left-l width-3-10">
        <div class="mat-body-2 text-center" i18n>LOCATION</div>
        <div class="mat-body text-center">
          <!-- <span class="margin-right-xs">
                  <mat-icon [inline]>location_on</mat-icon>
                </span> -->
          {{ training.location }}
        </div>
      </div>

      <div class="margin-right-l margin-left-l width-3-10">
        <div class="mat-body-2 text-center" i18n>STARTS</div>
        <div class="mat-body text-center">
          <!-- <span class="margin-right-xs">
                  <mat-icon [inline]>calendar_today</mat-icon>
                </span> -->
          {{ training.start_date }}
        </div>
      </div>

      <div class="height-1-1 flex flex-column flex-center position-absolute">
        <mat-icon class="hidden-xs" *ngIf="!expanded">add_circle</mat-icon>
        <mat-icon class="hidden-xs" *ngIf="expanded">remove_circle</mat-icon>
      </div>
    </div>

    <div *ngIf="expanded">
      <mat-tab-group class="margin-top-m" mat-align-tabs="center" [dynamicHeight]="true">
        <mat-tab label="Courses">
          <table mat-table [dataSource]="training.courses">
            <ng-container matColumnDef="courseName">
              <th mat-header-cell *matHeaderCellDef>Course</th>
              <td mat-cell *matCellDef="let course">{{ course.course_name }}</td>
            </ng-container>
            <ng-container matColumnDef="courseDuration">
              <th mat-header-cell *matHeaderCellDef>Duration</th>
              <td mat-cell *matCellDef="let course">{{ course.date_range }}</td>
            </ng-container>
            <ng-container matColumnDef="courseLocation">
              <th mat-header-cell *matHeaderCellDef>Venue</th>
              <td mat-cell *matCellDef="let course">{{ course.city + ", " + course.venue }}</td>
            </ng-container>
            <ng-container matColumnDef="courseTime">
              <th mat-header-cell *matHeaderCellDef>Time</th>
              <td mat-cell *matCellDef="let course">{{ course.time_range }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="courseColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: courseColumns"></tr>
          </table>

          <section class="hidden-gt-xs">
            <div class="margin-top-m div margin-bottom-m flex flex-between" *ngFor="let course of training.courses">
              <div class="margin-right-xs flex flex-between width-3-10">
                <div class="width-1-1">
                  <div class="mat-body text-center">{{ course.date_range }}</div>
                  <div class="mat-caption text-center">({{ course.duration }} days)</div>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
              </div>
              <div class="width-7-10">
                <div class="mat-body-2">{{ course.course_name }}</div>
                <div class="mat-body">{{ course.city + ", " + course.venue }}</div>
                <div class="mat-body">{{ course.time_range }}</div>
              </div>
            </div>
          </section>
        </mat-tab>

        <mat-tab label="Cohorts">
          <div class="cohorts-container margin-top-m margin-bottom-m">
            <div class="cohort flex margin-top-l margin-right-l" *ngFor="let cohort of training.cohorts">
              <div class="margin-right-s">
                <app-user-image [email]="cohort.email"></app-user-image>
              </div>
              <div class="flex flex-column flex-between width-4-5">
                <div class="mat-body-2 text-truncate">{{ cohort.name }}</div>
                <div class="mat-caption text-truncate">{{ cohort.designation }}</div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="text-center margin-top-m" *ngIf="expanded">
      <button mat-flat-button [color]="'primary'" *ngIf="!registered" (click)="toggleRegistration()" i18n>
        Register
      </button>
      <button mat-stroked-button [color]="'primary'" *ngIf="registered" (click)="toggleRegistration()" i18n>
        Deregister
      </button>
    </div>
  </div>
</mat-card>
