/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/styles";
@import "src/styles/mixins";
@import "src/styles/vars";

.margin-left-l {
  margin-left: $size-l !important;
}

.width-3-10 {
  width: 30% !important;
}

.width-7-10 {
  width: 70% !important;
}

table {
  @extend .width-1-1;
  @extend .hidden-xs;
}

td {
  @extend .text-center;
}

td:first-child {
  @extend .width-3-10;
  @extend .text-left;
}

td:nth-child(3) {
  @extend .width-1-4;
}

th.mat-header-cell {
  @extend .text-center;
}

.cohorts-container {
  @include breakpoint-gt-xs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.cohort {
  @include breakpoint-gt-xs {
    width: 25%;
  }
}

app-user-image {
  $image-size: 40px;
  display: inline-block;
  width: $image-size;
  height: $image-size;
  font-size: $image-size;
}

.position-absolute {
  position: absolute;
  left: 0;
}

.width-4-5 {
  width: 80%;
}
