<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="fetchMetaInProgress">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!fetchMetaInProgress">
  <mat-chip-list #chipList>
    <ng-container *ngFor="let chip of (checkedContent | keyvalue)">
      <mat-chip *ngIf="chip.value" [removable]="!disableSearchInput" (removed)="contentRemoved(chip.key)">
        <ng-container *ngIf="contentMeta[chip.key]?.name">
          {{ contentMeta[chip.key]?.name }}
        </ng-container>
        <span class="width-1-1 text-center text-truncate" *ngIf="!contentMeta[chip.key]?.name">
          <ng-container>
            <ng-container i18n>Content not available</ng-container>
            {{ chip.key }}
          </ng-container>
        </span>
        <mat-icon matChipRemove *ngIf="!disableSearchInput">cancel</mat-icon>
      </mat-chip>
    </ng-container>
  </mat-chip-list>
  <form (ngSubmit)="searchContent(currentTab, true)" class="width-1-1 margin-top-m" [formGroup]="searchFormGroup">
    <mat-form-field class="width-1-1">
      <mat-icon (click)="searchContent(currentTab, true)" class="cur-pointer" matSuffix>search</mat-icon>
      <input matInput [placeholder]="placeholder" type="search" formControlName="searchInputCtrl" name="search-content" autocomplete="off"
      />
    </mat-form-field>
  </form>
  <mat-tab-group *ngIf="showTabs" [dynamicHeight]="true" (selectedTabChange)="searchContent($event?.tab?.textLabel, true)"
    mat-align-tabs="center">
    <mat-tab [label]="tab" *ngFor="let tab of TABS">
      <p *ngIf="!fetchInProgress[tab] && !searchContentData[tab]?.length" class="margin-m">
        <ng-container i18n="no search results text">We could not find any results for</ng-container>
        {{ searchedQuery }}
      </p>
      <div class="flex flex-wrapped flex-center padding-s">
        <div class="card-section" *ngFor="let data of searchContentData[tab]">
          <mat-card>
            <mat-checkbox [(ngModel)]="checkedContent[data.identifier]" (change)="contentChanged()">
              <h4 mat-line class="mat-h4 margin-remove white-space-normal">
                {{ data.name }}
              </h4>
              <p mat-line class="margin-remove" *ngIf="data?.uniqueLearners">
                {{ data.uniqueLearners }}
                <ng-container i18n="unique learners studying this">are studying this</ng-container>
              </p>
            </mat-checkbox>
          </mat-card>
        </div>
      </div>
      <div class="margin-top-xl">
        <app-spinner *ngIf="fetchInProgress[tab]"></app-spinner>
      </div>
      <div class="text-center margin-bottom-s">
        <button [disabled]="fetchInProgress[tab]" *ngIf="
            searchHits &&
            (searchContentData[tab]?.length &&
              searchContentData[tab]?.length < searchHits)
          " type="button" (click)="searchContent(tab, false, true)" i18n="load more content" mat-raised-button [color]="'primary'">
          Load More
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
