<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="card-container" *ngIf="content">
  <div *ngIf="content?.isLocked" class="locked icon-position mat-icon-button">
    <mat-icon class="lock-icon">lock</mat-icon>
  </div>

  <mat-card [ngClass]="{ 'grey-filter': content?.isLocked }">
    <a [routerLink]="content | route: routeType">
      <img
        mat-card-image
        class="card-img mat-lite-background"
        role="link"
        aria-label="Content"
        i18n-aria-label="Content | Click to view"
        [src]="content.appIcon | sliceIp"
        [appDefaultImage]="missingThumbnail"
        [alt]="content.name"
      />
    </a>
    <button
      class="detail-button"
      mat-icon-button
      (click)="detailedView = true"
      aria-label="Details"
      i18n-aria-label="Details | Click to see details"
    >
      <mat-icon>more</mat-icon>
    </button>
    <app-progress [contentId]="content.identifier" [type]="'linear'"></app-progress>
    <mat-card-content>
      <div class="mat-caption flex flex-between flex-middle">
        <div>
          <app-content-type
            [mimeType]="content.mimeType"
            [contentType]="content.contentType"
            [learningMode]="content['learningMode'] || null"
            [resourceType]="content.resourceType"
            [isExternalCourse]="content['isExternalCourse'] || false"
            [isExternal]="content['isExternal']"
          ></app-content-type>
          <span *ngIf="content.duration"> | {{ content.duration | durationTransform }}</span>
        </div>
        <div
          [matTooltip]="content?.sourceShortName"
          *ngIf="isPathfindersAvailable && content?.sourceShortName && sourceIcon"
          class="source-icon"
          [style.backgroundImage]="sourceUrl"
        ></div>
        <!-- <div *ngIf="content.me_totalSessionsCount > 1">
          {{ content.me_totalSessionsCount | countTransform }}
          <span i18n="content-card view count">views</span>
        </div> -->
      </div>
      <a
        [routerLink]="content | route: routeType"
        aria-label="Content"
        i18n-aria-label="Content | Click to view"
        class="card-title-link text-truncate mat-subheading-2"
      >
        {{ content.name | limitTo: 45 }}
      </a>
    </mat-card-content>
    <mat-card-actions>
      <span>
        <app-btn-download [content]="content"></app-btn-download>
        <app-btn-like [contentId]="content.identifier"></app-btn-like>
        <app-btn-share [content]="content"></app-btn-share>
        <app-btn-goals
          [contentId]="content.identifier"
          [contentName]="content.name"
          [contentDuration]="content.duration"
        ></app-btn-goals>
        <app-btn-playlists [content]="content" [contentName]="content.name"></app-btn-playlists>
      </span>
      <app-action-bottom-toc
        *ngIf="!(content.learningMode === 'Instructor-Led' || content.isExternalCourse)"
        [contentId]="content.identifier"
        [contentName]="content.name"
      ></app-action-bottom-toc>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="detailedView" class="detail-view">
    <mat-card-content>
      <div class="flex flex-middle">
        <a
          [title]="content.name"
          aria-label="Content"
          i18n-aria-label="Content | Click to view"
          [routerLink]="'/toc/' + content.identifier"
          class="mat-subheading-2 margin-remove text-truncate width-expand"
        >
          {{ content.name }}
        </a>
        <button
          type="button"
          mat-icon-button
          i18n-aria-label
          aria-label="Close Detail View"
          (click)="detailedView = false"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div *ngIf="clientNames?.length" class="margin-bottom-xs">
        <div *ngIf="clientNames?.length" [title]="clientNames" class="text-truncate mat-caption">
          {{ clientNames }}
        </div>
      </div>
      <p class="text-justify mat-body-1">
        {{ content.description | limitTo: 200 }}
      </p>
      <div class="action-buttons">
        <app-btn-mail-me [content]="content"></app-btn-mail-me>
      </div>
      <div *ngIf="cardDetailMeta?.msg" class="mat-caption card-detail-meta">
        <div class="card-detail text-truncate mat-app-background">
          <ng-container [ngSwitch]="cardDetailMeta.titleKey">
            <span *ngSwitchCase="'continueLearning'" i18n>
              Last viewed on
            </span>
            <span *ngSwitchCase="'interestRecommendation'" i18n>
              You have shown interest in
            </span>
            <span *ngSwitchCase="'usageRecommendation'" i18n>
              Because you viewed
            </span>
          </ng-container>
          <span [matTooltip]="cardDetailMeta.msg" class="mat-body-strong">
            {{ cardDetailMeta.msg }}
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
