<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs text-truncate hide-on-medium-block">
    <ng-container *ngIf="content?.name">{{ content.name }}</ng-container>
    <ng-container *ngIf="!content?.name" i18n="page title: toc">TOC</ng-container>
  </span>
  <button *ngIf="content" class="show-on-medium-inline toc-dropdown" mat-button [matMenuTriggerFor]="tocMenu">
    <ng-container [ngSwitch]="currentTab">
      <ng-container *ngSwitchCase="'about'" i18n>Overview</ng-container>
      <ng-container *ngSwitchCase="'certification'">Certification</ng-container>
      <ng-container *ngSwitchCase="'content'" i18n>Content</ng-container>
      <ng-container *ngSwitchCase="'training'" i18n>Instructor-Led</ng-container>
      <ng-container *ngSwitchCase="'instructions'" i18n>Instructions</ng-container>
      <ng-container *ngSwitchCase="'cohorts'" i18n>Cohorts</ng-container>
      <ng-container *ngSwitchCase="'discussion'" i18n>Discussion Forum</ng-container>
      <ng-container *ngSwitchCase="'analytics'" i18n>Analytics</ng-container>
      <ng-container *ngSwitchCase="'projects'" i18n>Projects</ng-container>
      <ng-container *ngSwitchCase="'post-learn'" i18n>What's Next</ng-container>
      <ng-container *ngSwitchCase="'part-of'" i18n>Part of</ng-container>
      <ng-container *ngSwitchCase="'materials'" i18n>Materials</ng-container>
    </ng-container>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
</mat-toolbar>

<div class="toc-header">
  <div
    class="banner-container"
    [style.backgroundImage]="bannerUrl"
    [ngClass]="{ 'height-230': !content?.introductoryVideo?.length }"
  >
    <div class="header-overlay"></div>
    <mat-icon *ngIf="content?.introductoryVideo?.length" role="button" (click)="playIntroVideo()" class="play-icon">
      play_circle_outlined</mat-icon
    >
    <div class="header-synopsis" *ngIf="content">
      <div class="flex flex-middle">
        <h1 class="content-title margin-bottom-xs text-truncate" [title]="content.name">
          {{ content.name }}
        </h1>
        <span *ngIf="contentProgress > 0.99" class="margin-left-s">
          <mat-icon style="color: green">check_circle</mat-icon>
        </span>
      </div>
      <div>
        <app-content-type
          [mimeType]="content.mimeType"
          [contentType]="content.contentType"
          [learningMode]="content.learningMode"
          [resourceType]="content.resourceType"
          [isExternalCourse]="content.isExternalCourse"
          [isExternal]="content.isExternal"
        ></app-content-type>
        <span *ngIf="content.complexityLevel" class="mat-body-strong">
          &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {{ content.complexityLevel | uppercase }}</span
        >
      </div>
      <div class="margin-top-xxs">
        <span *ngIf="content.lastUpdatedOn" class="margin-right-l" i18n-matTooltip matTooltip="Last updated">
          <mat-icon class="icon-small">event</mat-icon>&nbsp;
          <span class="vertical-align-super">{{ content.lastUpdatedOn | date }}</span>
        </span>
        <span *ngIf="content.duration">
          <mat-icon class="icon-small">timer</mat-icon>&nbsp;
          <span
            role="button"
            (click)="durationInfo(durationMsg.value)"
            class="vertical-align-super duration-btn cursor-pointer"
            >{{ content.duration | durationTransform: "hms" }}</span
          >
        </span>
      </div>
    </div>
  </div>
  <div class="header-meta-toolbar mat-toolbar" *ngIf="content">
    <div *ngIf="content.learningMode === 'Instructor-Led'" class="message-text margin-bottom-s" i18n>
      This is designed for instructor-led training.
    </div>
    <div *ngIf="content.isExternalCourse && content.artifactUrl?.length" class="message-text">
      <ng-container i18n>
        This is a third party online training program. You can access the content by
      </ng-container>
      <a
        mat-flat-button
        color="primary"
        (click)="sendTocDataToMobile()"
        [href]="content.artifactUrl"
        target="_blank"
        i18n
      >
        clicking here.
      </a>
      <div class="margin-top-s" i18n>
        More details in the description below.
      </div>
    </div>
    <div class="flex flex-between">
      <div *ngIf="canShowTocAction">
        <a
          [color]="'primary'"
          *ngIf="resumeData && content.resourceType !== 'Certification'"
          [routerLink]="
            '/viewer/' +
            resumeData.continueLearningData.contextualPathId +
            '/' +
            resumeData.continueLearningData.resourceId
          "
          class="margin-right-m"
          i18n
          mat-flat-button
          accesskey="R"
          >Resume</a
        >
        <a
          [color]="'primary'"
          [routerLink]="firstContentUrl"
          class="margin-right-m"
          mat-flat-button
          accesskey="O"
          *ngIf="content.resourceType !== 'Certification'"
        >
          <ng-container *ngIf="!resumeData">
            <ng-container *ngIf="content.resourceType === 'Certification'" i18n>Start</ng-container>
            <ng-container *ngIf="content.resourceType !== 'Certification'" i18n>Learn</ng-container>
          </ng-container>
          <ng-container *ngIf="resumeData" i18n>Start Over</ng-container>
        </a>

        <a
          mat-flat-button
          class="hidden-gt-xs"
          [color]="'primary'"
          accesskey="C"
          [routerLink]="'/toc/' + content.identifier + '/certification'"
          *ngIf="content.resourceType === 'Certification' && currentTab !== 'certification'"
        >
          <ng-container *ngIf="content.isExternal === 'No'" i18n>Take Certification</ng-container>
          <ng-container *ngIf="content.isExternal === 'Yes'" i18n>Certification</ng-container>
        </a>

        <a
          [color]="'primary'"
          *ngIf="content?.proctorUrl && content?.proctorUrl?.length"
          [routerLink]="'/proctoring/practice'"
          class="margin-right-m hide-on-small-inline-block"
          mat-flat-button
          i18n
        >
          Certify
        </a>
        <a
          *ngIf="isPracticeVisible"
          [color]="'primary'"
          [hidden]="!content?.children?.length"
          [routerLink]="'/viewer/' + content.identifier"
          [queryParams]="{ filterCategory: 'Practice' }"
          class="margin-right-m hide-on-small-inline-block"
          mat-flat-button
          i18n
          accesskey="P"
          >Practice</a
        >
        <a
          *ngIf="isAssessVisible"
          [color]="'primary'"
          [hidden]="!content?.children?.length"
          [routerLink]="'/viewer/' + content.identifier"
          [queryParams]="{ filterCategory: 'Assess' }"
          class="hide-on-small-inline-block"
          mat-flat-button
          i18n
          accesskey="T"
          >Assess</a
        >
      </div>
      <div class="hide-on-small-inline-block">
        <app-btn-download [content]="content"></app-btn-download>
        <app-btn-like [contentId]="content.identifier"></app-btn-like>
        <app-btn-share [content]="content"></app-btn-share>
        <app-btn-goals
          [contentId]="content.identifier"
          [contentName]="content.name"
          [contentDuration]="content.duration"
        >
        </app-btn-goals>
        <app-btn-playlists [contentName]="content.name" [content]="content"></app-btn-playlists>
        <app-btn-watchlist
          [content]="content"
          *ngIf="
            instanceConfig.features.learningHub.available &&
            isValidTrainingContent &&
            instanceConfig.features.learningHub.config.watchlist
          "
        ></app-btn-watchlist>
        <app-btn-content-feedback
          [contentId]="content.identifier"
          [contentName]="content.name"
        ></app-btn-content-feedback>
      </div>
      <button type="button" class="show-on-small-inline" mat-icon-button [matMenuTriggerFor]="learnMenu">
        <mat-icon>more_vertical</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="toc-body" *ngIf="content" [ngSwitch]="currentTab">
  <nav mat-tab-nav-bar class="hide-on-medium-block">
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/about'"
      *ngIf="tocSubFeatures.about"
      [active]="currentTab === 'about'"
      >Overview</a
    >
    <a
      mat-tab-link
      [routerLink]="'/toc/' + content.identifier + '/certification'"
      [active]="currentTab === 'certification'"
      *ngIf="
        lhubCertificationsAvailable && content.contentType === 'Resource' && content.resourceType === 'Certification'
      "
    >
      <ng-container *ngIf="content.isExternal === 'No'" i18n>Take Certification</ng-container>
      <ng-container *ngIf="content.isExternal === 'Yes'" i18n>Certification</ng-container>
    </a>
    <a
      *ngIf="content?.children?.length && tocSubFeatures.contents"
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/content'"
      [active]="currentTab === 'content'"
      >Contents</a
    >

    <!-- FOR SIEMENS DEMO - content.trainingProgram ADDED TO CONDITION -->
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/training'"
      [active]="currentTab === 'training'"
      *ngIf="instanceConfig.features.learningHub.available && isValidTrainingContent && tocSubFeatures.training"
    >
      Instructor-Led
    </a>
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/instructions'"
      [active]="currentTab === 'instructions'"
      *ngIf="content?.registrationInstructions && content?.isExternalCourse && tocSubFeatures.instructions"
      >Instructions</a
    >
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/cohorts'"
      *ngIf="tocSubFeatures.cohorts"
      [active]="currentTab === 'cohorts'"
      >Cohorts</a
    >
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/discussion'"
      [active]="currentTab === 'discussion'"
      *ngIf="enableDiscussionForum"
      >Discussion Forum</a
    >
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/analytics'"
      [active]="currentTab === 'analytics'"
      *ngIf="tocSubFeatures.courseAnalytics"
      >Analytics</a
    >
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/projects'"
      [active]="currentTab === 'projects'"
      *wsHasPermission="[]; roles: ['project']; condition: tocSubFeatures.projects"
      >Projects</a
    >
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/post-learn'"
      *ngIf="tocSubFeatures.postLearn"
      [active]="currentTab === 'post-learn'"
      >What's Next</a
    >
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/part-of'"
      *ngIf="tocSubFeatures.partOf"
      [active]="currentTab === 'part-of'"
      >Part Of</a
    >
    <a
      mat-tab-link
      i18n
      [routerLink]="'/toc/' + content.identifier + '/materials'"
      *ngIf="tocSubFeatures.materials"
      [active]="currentTab === 'materials'"
      >Materials</a
    >
  </nav>
  <app-about [content]="content" *ngSwitchCase="'about'"></app-about>
  <ws-toc-content-list [content]="content" *ngSwitchCase="'content'"></ws-toc-content-list>
  <ng-container *ngSwitchCase="'training'">
    <!-- FOR SIEMENS DEMO - CONDITION ADDED AND ws-training-demo ADDED. -->
    <app-training [content]="content" *ngIf="!siemensAvailable"></app-training>
    <ws-training-demo [content]="content" *ngIf="siemensAvailable"></ws-training-demo>
  </ng-container>
  <ng-container *ngSwitchCase="'certification'">
    <ws-certification-toc [content]="content"></ws-certification-toc>
  </ng-container>
  <ng-container *ngSwitchCase="'instructions'">
    <ws-html-instructions
      [htmlInstructions]="content.registrationInstructions"
      *ngIf="content?.registrationInstructions && content?.isExternalCourse"
    ></ws-html-instructions>
  </ng-container>
  <app-cohorts [content]="content" *ngSwitchCase="'cohorts'"></app-cohorts>
  <ng-container *ngSwitchCase="'discussion'">
    <app-discussion-forum [content]="content" *ngIf="enableDiscussionForum"></app-discussion-forum>
  </ng-container>
  <ng-container *ngSwitchCase="'analytics'">
    <app-analytics [contentId]="content.identifier"></app-analytics>
  </ng-container>
  <ng-container *ngSwitchCase="'projects'">
    <app-projects [contentId]="content.identifier" *wsHasPermission="[]; roles: ['project']"></app-projects>
  </ng-container>
  <app-post-learn [content]="content" *ngSwitchCase="'post-learn'"></app-post-learn>
  <app-part-of *ngSwitchCase="'part-of'" [contentId]="content.identifier"></app-part-of>
  <app-materials *ngSwitchCase="'materials'" [contentId]="content.identifier"> </app-materials>
</div>

<mat-menu #learnMenu="matMenu">
  <div mat-menu-item *ngIf="content">
    <app-btn-download [content]="content"></app-btn-download>
    <app-btn-like [contentId]="content.identifier"></app-btn-like>
    <app-btn-share [content]="content"></app-btn-share>
    <app-btn-goals [contentId]="content.identifier" [contentName]="content.name" [contentDuration]="content.duration">
    </app-btn-goals>
    <app-btn-playlists [contentName]="content.name" [content]="content"></app-btn-playlists>
    <!-- FOR SIEMENS DEMO -->
    <app-btn-watchlist
      [content]="content"
      *ngIf="!siemensAvailable && content.contentType === 'Course' && content.trainings"
    ></app-btn-watchlist>
    <app-btn-content-feedback [contentId]="content.identifier" [contentName]="content.name"></app-btn-content-feedback>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="content && content.resourceType !== 'Certification'">
    <a *ngIf="content?.proctorUrl?.length" [routerLink]="'/proctoring/practice'" mat-menu-item i18n>
      Certify
    </a>
    <a
      *ngIf="isPracticeVisible"
      [hidden]="!content?.children?.length"
      F
      [routerLink]="'/viewer/' + content.identifier"
      [queryParams]="{ filterCategory: 'Practice' }"
      mat-menu-item
      i18n
      accesskey="P "
      >Practice</a
    >
    <a
      *ngIf="isAssessVisible"
      [hidden]="!content?.children?.length"
      [routerLink]="'/viewer/' + content.identifier"
      [queryParams]="{ filterCategory: 'Assess' }"
      mat-menu-item
      i18n
      accesskey="T "
      >Assess</a
    >
  </ng-container>
</mat-menu>

<mat-menu #tocMenu="matMenu">
  <ng-container *ngIf="content">
    <a
      mat-menu-item
      i18n
      *ngIf="tocSubFeatures.about"
      [routerLink]="'/toc/' + content.identifier + '/about'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      >Overview</a
    >
    <a
      mat-menu-item
      i18n
      *ngIf="content?.children?.length && tocSubFeatures.contents"
      [routerLink]="'/toc/' + content.identifier + '/content'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      >Contents</a
    >
    <a
      mat-menu-item
      [routerLink]="'/toc/' + content.identifier + '/certification'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      *ngIf="
        lhubCertificationsAvailable && content.contentType === 'Resource' && content.resourceType === 'Certification'
      "
    >
      <ng-container *ngIf="content.isExternal === 'No'" i18n>Take Certification</ng-container>
      <ng-container *ngIf="content.isExternal === 'Yes'" i18n>Certification</ng-container>
    </a>
    <!-- FOR SIEMENS DEMO - content.trainingProgram ADDED TO CONDITION -->
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/training'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      *ngIf="instanceConfig.features.learningHub.available && isValidTrainingContent && tocSubFeatures.training"
    >
      Instructor-Led
    </a>
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/instructions'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      *ngIf="content?.registrationInstructions && content?.isExternalCourse && tocSubFeatures.instructions"
      >Instructions</a
    >
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/cohorts'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      *ngIf="tocSubFeatures.cohorts"
      >Cohorts</a
    >
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/discussion'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      *ngIf="enableDiscussionForum"
      >Discussion Forum</a
    >
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/analytics'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      *wsHasPermission="[]; condition: tocSubFeatures.courseAnalytics"
      >Analytics</a
    >
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/projects'"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      *wsHasPermission="[]; roles: ['project']; condition: tocSubFeatures.projects"
      >Projects</a
    >
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/post-learn'"
      *ngIf="tocSubFeatures.postLearn"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      >What's Next</a
    >
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/part-of'"
      *ngIf="tocSubFeatures.partOf"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      >Part Of</a
    >
    <a
      mat-menu-item
      i18n
      [routerLink]="'/toc/' + content.identifier + '/materials'"
      *ngIf="tocSubFeatures.materials"
      [routerLinkActive]="'active-menu-item mat-primary-text'"
      >Materials</a
    >
  </ng-container>
</mat-menu>

<ng-container [ngSwitch]="errorMessageCode">
  <mat-card *ngSwitchCase="'NO_DATA'">
    <h2 class="text-center margin-top-m " i18n>
      Seems like there is some issue in our content!
    </h2>
  </mat-card>
  <mat-card *ngSwitchCase="'API_FAILURE'">
    <h2 class="text-center margin-top-m " i18n>
      Uh Oh! Seems like there is no content for the identifier or our services have crashed
    </h2>
  </mat-card>
</ng-container>

<input
  #durationMsg
  type="hidden"
  i18n-value
  value="Duration is an indicative learning time based on authors inputs and
      learner’s data. This may not reflect actual time of media "
/>
