/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "../../../../../styles/styles.scss";
.progress-circular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .progress-circular-container {
    position: relative;
    margin-right: 0.7rem;
  }
  .progress-circular-empty {
    position: absolute;
  }
  .progress-circular-value {
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
}

.margin-right-zero {
    margin-right: 0px !important;
}
