<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-divider class="margin-bottom-xs"></mat-divider>
<div class="flex flex-middle">
  <a *ngIf="toc" mat-button [routerLink]="'/toc/' + toc.identifier">
    <mat-icon>toc</mat-icon>
    <ng-container i18n> View Course ToC</ng-container>
  </a>
  <span class="spacer"></span>
  <div class="margin-right-m">
    <mat-slide-toggle [checked]="tocMode === 'FLAT'" (change)="changeTocMode()"
      ><span i18n accesskey="T">Flat List</span></mat-slide-toggle
    >
  </div>
</div>
<mat-divider class="margin-top-xs"></mat-divider>
<mat-list [hidden]="tocMode !== 'FLAT'">
  <mat-list-item *ngFor="let content of flatList" [ngClass]="{ 'mat-toolbar': pathSet.has(content.identifier) }">
    <ng-container *ngTemplateOutlet="TocContentCard; context: { $implicit: content }"></ng-container>
  </mat-list-item>
</mat-list>

<ul [hidden]="tocMode !== 'TREE'" class="toc-tree">
  <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node leaf-node">
        <ng-container *ngTemplateOutlet="TocContentCard; context: { $implicit: node }"></ng-container>
      </li>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <li>
        <div class="mat-tree-node" [ngClass]="{ 'mat-toolbar': pathSet.has(node.identifier) }">
          <button class="width-auto" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{ nestedTreeControl.isExpanded(node) ? "expand_less" : "expand_more" }}
            </mat-icon>
          </button>
          <app-content-icon [content]="node"></app-content-icon>
          <span
            role="button"
            [ngClass]="{ 'content-active': pathSet.has(node.identifier) }"
            matRipple
            matTreeNodeToggle
            class="flat-list-content-title width-expand"
          >
            <span class="text-truncate">{{ node.name }}</span>
            <mat-icon
              *ngIf="
                contentProgressHash &&
                contentProgressHash[node.identifier] &&
                contentProgressHash[node.identifier] > 0.99
              "
              i18n-matTooltip
              matTooltip="Completed"
              class="completed-icon margin-left-xs"
              >check_circle</mat-icon
            >
          </span>
          <div class="content-duration flex flex-center">
            <span class="mat-caption">{{ node.duration | durationTransform: "hms" }}</span>
          </div>
        </div>
        <ul [hidden]="!nestedTreeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</ul>

<ng-template let-content #TocContentCard>
  <a
    class="width-expand flat-list-content-title"
    [ngClass]="{ 'content-active': pathSet.has(content.identifier) }"
    matRipple
    (click)="closeToc.emit()"
    [routerLink]="'/viewer/' + toc.identifier + '/' + content.identifier"
    queryParamsHandling="preserve"
  >
    <app-content-icon [content]="content"></app-content-icon>
    <span class="width-expand flex flex-middle">
      <span class="text-truncate">{{ content.name }}</span>
      <mat-icon
        *ngIf="
          contentProgressHash &&
          contentProgressHash[content.identifier] &&
          contentProgressHash[content.identifier] > 0.99
        "
        i18n-matTooltip
        matTooltip="Completed"
        class="completed-icon margin-left-xs"
        >check_circle_outline</mat-icon
      >
    </span>
    <span class="content-duration mat-caption">{{ content.duration | durationTransform: "hms" }}</span>
  </a>
</ng-template>
