<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="feature-container">
  <div class="mat-subheading-2 margin-top-s title" i18n="featureusage mylearning">Learning</div>
  <div class="margin-s flex flex-wrapped flex-around">
    <app-tile class="tile" [titleFirstSubHeading]="'Avg Learning Mins'" [firstValue]="averageTime"></app-tile>
    <app-tile class="tile" *ngIf="data.badges" [titleFirstSubHeading]="'Badges'" [firstValue]="data.badges"></app-tile>
    <app-tile
      class="tile"
      *ngIf="data.content_users"
      [titleFirstSubHeading]="'Content Users'"
      [firstValue]="data.content_users"
    ></app-tile>
  </div>
  <div class="mat-subheading-2  margin-top-s title" i18n="featureusage myassessment">Assessments</div>
  <div class="margin-s flex flex-wrapped flex-around">
    <app-tile class="tile" [titleFirstSubHeading]="'Total Assessments'" [firstValue]="data.assessment"></app-tile>
    <app-tile class="tile" [titleFirstSubHeading]="'Certifications'" [firstValue]="data.certification"></app-tile>
    <app-tile
      *ngIf="data.assessment_users"
      class="tile"
      [titleFirstSubHeading]="'Users taking assessments'"
      [firstValue]="data.assessment_users"
    ></app-tile>
  </div>
  <div class="mat-subheading-2  margin-top-s title" i18n="featureusage myplans">Plans</div>
  <div class="margin-s flex flex-wrapped flex-around">
    <app-tile class="tile" [titleFirstSubHeading]="'Goals'" [firstValue]="data.user_goal"></app-tile>
    <app-tile class="tile" [titleFirstSubHeading]="'Playlists'" [firstValue]="data.user_playlist"></app-tile>
    <app-tile class="tile" [titleFirstSubHeading]="'Goals Shared'" [firstValue]="data.user_shared_goal"></app-tile>
  </div>

  <div class="mat-subheading-2 margin-top-s title" i18n="featureusage other lex features">
    Feature Usage
  </div>
  <div class="margin-s flex flex-wrapped flex-around">
    <app-tile
      *ngIf="data.playground"
      class="tile"
      [titleFirstSubHeading]="'Playground'"
      [firstValue]="data.playground"
    ></app-tile>
    <app-tile *ngIf="data.likes" class="tile" [titleFirstSubHeading]="'Likes'" [firstValue]="data?.likes"></app-tile>
    <app-tile *ngIf="data.search" class="tile" [titleFirstSubHeading]="'Search'" [firstValue]="data?.search"></app-tile>
  </div>
  <div class="mat-subheading-2 margin-left-s margin-top-s"></div>
</div>
