<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="card-container" *ngIf="content">
  <div *ngIf="content?.isLocked" class="locked mat-icon-button">
    <mat-icon class="lock-icon">lock</mat-icon>
  </div>

  <a [routerLink]="content | route">
    <mat-card [ngClass]="{ 'grey-filter': content?.isLocked }">
      <img
        mat-card-image
        class="card-img mat-lite-background"
        role="link"
        aria-label="Content"
        i18n-aria-label="Content | Click to view"
        [src]="content.appIcon | sliceIp"
        [appDefaultImage]="missingThumbnail"
        [alt]="content.name"
      />
      <app-progress [contentId]="content.identifier" [type]="'linear'"></app-progress>
      <mat-card-content>
        <div class="text-truncate">
          <span class="mat-caption">{{ content.lastUpdatedOn | date }}</span>
          <span *ngIf="content?.creatorContacts?.length" class="mat-primary-text">
            - {{ (content?.creatorContacts)[0].name }}</span
          >
        </div>
        <div class="mat-primary-text title-text">{{ content.name }}</div>
        <div class="description-text">{{ content.description }}</div>
        <div class="margin-top-m flex flex-between flex-middle">
          <div>
            <span class="vertical-align-super">{{ content.duration | durationTransform: "hms" }}</span
            >&nbsp;
            <mat-icon>timer</mat-icon>
          </div>
          <div *ngIf="content.complexityLevel">
            <span class="mat-body-strong">{{ content.complexityLevel | titlecase }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
</div>
