/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
$card-padding: $size-m;
$action-btn-size: 2.5 * $size-m; // 40px
$card-width: 320px;
.card-container {
  position: relative;
  width: $card-width;
  height: 100%;
}

mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: $size-xs;
}

app-progress {
  display: block;
  width: calc(100% + #{2 * $card-padding});
  margin-left: -$card-padding;
  margin-top: -$card-padding;
}

mat-card-content {
  padding: $size-s;
  // margin-top: 0px;
  // margin-bottom: ($card-padding / 2) + $action-btn-size;
  // margin-left: -0.5 * $card-padding;
  // margin-right: -0.5 * $card-padding;
}

.card-img {
  height: 185px;
  display: block;
}

.card-title-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-bottom: 8px;
}

.locked {
  position: absolute;
  top: 12px;
  left: 12px;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
  right: 0;
  bottom: 0;
  cursor: no-drop;
  z-index: 1;
}

.grey-filter {
  filter: grayscale(0.9) contrast(0.7) opacity(0.9);
}

.lock-icon {
  color: white;
}

.vertical-align-super {
  vertical-align: super;
}

$title-line-count: 2;
$title-height-size: 1.7rem;
.title-text {
  position: relative;
  overflow: hidden;
  height: $title-line-count * $title-height-size;
  margin: $size-m 0;
  font-size: 1.2rem;
  line-height: 1.4;
}
.title-text:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: $title-height-size;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

$description-line-count: 3;
$description-height-size: 1.2rem;
.description-text {
  position: relative;
  overflow: hidden;
  height: $description-line-count * $description-height-size;
}
.description-text:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: $description-height-size;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
