<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<!-- <div style="min-height:345px" class="scheduleGraphSpace panel panel-default">
  <div class="panel panel-heading ">
    <span class="boxHeading"><i style="padding-right:2%;" class="fa fa-line-chart"></i>{{ mainTitle }}</span>
  </div>
  <div class="panel-body"> -->
<nvd3 [options]="options" [data]="data"></nvd3>
<!-- </div>
</div> -->
