<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<iframe
  i18n-title
  title="Foundation Program"
  [src]="iframeUrl"
  allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; microphone; camera;"
  class="ilpfp-iframe"
  (load)="iframeLoaded()"
  #fpIframe
></iframe>
