<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: profile" class="margin-left-xs">Profile</span>
  <span class="spacer"></span>
</mat-toolbar>

<div *ngIf="isError">
  <mat-card>
    <div class="flex flex-between flex-middle" i18n>
      Unable to load User Profile. User may not have yet registered with us.
    </div>
  </mat-card>
</div>
<div *ngIf="!isError">
  <mat-card>
    <div class="flex flex-between flex-middle">
      <div class="position-relative">
        <app-user-image class="user-profile-image block" *ngIf="profile?.onPremisesUserPrincipalName" [email]="profile?.onPremisesUserPrincipalName"></app-user-image>
      </div>
      <div class="width-expand padding-left-m">
        <h2 class="mat-h2 margin-remove-bottom">{{ profile.givenName }} {{ profile.surname }}</h2>
        <div>
          {{ profile.jobTitle }} {{ profile.jobTitle && profile.department ? " &nbsp;|&nbsp; " : "" }} {{ profile.department }}
        </div>
        <div class="flex flex-wrap" *wsHasPermission="['follow']; condition: loggedUserFollowData">
          <button type="button" mat-stroked-button class="margin-top-m" *ngIf="uuid !== userUuid" (click)="toggleFollow(currentUserProfile)">
            <mat-icon *ngIf="!isFollowing(uuid)">add</mat-icon>
            <mat-icon *ngIf="isFollowing(uuid)">clear</mat-icon>
            <ng-container *ngIf="loggedUserFollowData && isFollowing(uuid)" i18n>Unfollow</ng-container>
            <ng-container *ngIf="!(loggedUserFollowData && isFollowing(uuid))" i18n>Follow</ng-container>
          </button>
          <div class="flex flex-no-wrap margin-left-xs">
            <!-- <button class="padding-remove" mat-button i18n> {{userFollowData?.followers?.length}} Followers&nbsp;&nbsp;|&nbsp;&nbsp;</button>
            <button class="padding-remove" mat-button i18n> {{userFollowData?.following?.length}} Following </button> -->
            <!-- <button class="padding-remove" mat-button i18n i18n *ngIf="userFollowData?.followers?.length < 1"> No Followers &nbsp;&nbsp;|&nbsp;&nbsp; </button>
            <button class="padding-remove" mat-button i18n i18n *ngIf="userFollowData?.following?.length < 1"> Not Following Anyone </button> -->
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <ng-container *ngIf="!followFeatureEnabled">
    <ng-container *ngTemplateOutlet="insightsTemplate"></ng-container>
  </ng-container>
  <mat-tab-group *wsHasPermission="['follow']" mat-align-tabs="center" [selectedIndex]="selectedTabIndex">
    <mat-tab label="Activity Insights" i18n-label>
      <ng-template matTabContent>
        <ng-container *ngTemplateOutlet="insightsTemplate"></ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="!userFollowData?.followers?.length">
      <ng-template mat-tab-label *ngIf="userFollowData?.followers?.length">
        <ng-container i18n>
          Followers
        </ng-container>
        <ng-container> ({{ userFollowData.followers.length }}) </ng-container>
        <ng-container></ng-container>
        <ng-container></ng-container>
      </ng-template>
      <ng-template mat-tab-label *ngIf="!userFollowData?.followers?.length" i18n>
        No Followers
      </ng-template>
      <mat-card *ngIf="followFeatureAvailable && userFollowData?.followers?.length" class="cohorts-card">
        <ul class="cohorts-list">
          <li class="cohorts-list-item" *ngFor="let user of userFollowData.followers; trackBy: userTrackBy">
            <button mat-button class="width-auto" [routerLink]="'/profile/' + user.email">
              <app-user-image class="cohorts-user-img" [email]="user.email"></app-user-image>
            </button>
            <button mat-button class="width-expand padding-left-xs text-left  mat-body-strong cohorts-name" [routerLink]="'/profile/' + user.email">
              {{ user.firstname }}
            </button>
            <div class="width-auto flex flex-nowrap">
              <button type="button" class="margin-right-m follow-unfollow-button" mat-stroked-button *ngIf="user.id !== userUuid" (click)="toggleFollow(user)">
                <mat-icon *ngIf="loggedUserFollowData && !isFollowing(user.id)">add</mat-icon>
                <mat-icon *ngIf="loggedUserFollowData && isFollowing(user.id)">clear</mat-icon>
                <ng-container *ngIf="loggedUserFollowData && isFollowing(user.id)" i18n>
                  Unfollow
                </ng-container>
                <ng-container *ngIf="!(loggedUserFollowData && isFollowing(user.id))" i18n>
                  Follow
                </ng-container>
              </button>
            </div>
          </li>
        </ul>
      </mat-card>
      <mat-card *ngIf="!followFeatureAvailable">
        <h2 class="mat-h2 text-center" i18n>
          The requested feature is not available in trial version
        </h2>
      </mat-card>
    </mat-tab>
    <mat-tab [disabled]="!userFollowData?.following?.length">
      <ng-template mat-tab-label i18n *ngIf="userFollowData?.following?.length"> Following ({{ userFollowData.following.length }}) </ng-template>
      <ng-template mat-tab-label *ngIf="!userFollowData?.following?.length">
        Not Following Anyone
      </ng-template>
      <mat-card *ngIf="followFeatureAvailable && userFollowData?.following?.length" class="cohorts-card">
        <ul class="cohorts-list">
          <li class="cohorts-list-item" *ngFor="let user of userFollowData.following; trackBy: userTrackBy">
            <button mat-button class="width-auto" [routerLink]="'/profile/' + user.email">
              <app-user-image class="cohorts-user-img" [email]="user.email"></app-user-image>
            </button>
            <button mat-button class="width-expand padding-left-xs text-left mat-body-strong cohorts-name" [routerLink]="'/profile/' + user.email">
              {{ user.firstname }}
            </button>
            <div class="width-auto flex flex-nowrap">
              <button type="button" class="margin-right-m follow-unfollow-button" mat-stroked-button *ngIf="user.id !== userUuid" (click)="toggleFollow(user)">
                <mat-icon *ngIf="loggedUserFollowData && !isFollowing(user.id)">add</mat-icon>
                <mat-icon *ngIf="loggedUserFollowData && isFollowing(user.id)">clear</mat-icon>
                <ng-container *ngIf="loggedUserFollowData && isFollowing(user.id)" i18n>
                  Unfollow
                </ng-container>
                <ng-container *ngIf="!(loggedUserFollowData && isFollowing(user.id))" i18n>
                  Follow
                </ng-container>
              </button>
              <!-- <button mat-icon-button i18n-aria-label="Send Mail Action Button ARIA label" aria-label="Send Mail" i18n-matTooltip="Send Mail Tooltip"
                matTooltip="Message using mail">
                <mat-icon>mail_outline</mat-icon>
              </button> -->
            </div>
          </li>
        </ul>
      </mat-card>
      <mat-card *ngIf="!followFeatureAvailable">
        <h2 class="mat-h2 text-center" i18n>
          The requested feature is not available in trial version
        </h2>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  <ng-template #insightsTemplate>
    <div class="activity-container">
      <div class="flex flex-middle flex-between padding-bottom-s">
        <h2 class="mat-h2 margin-remove" i18n="profile activity">
          Activity Insights
        </h2>
        <span i18n="profile activity previous 30 days">Last 30 days</span>
      </div>
      <mat-divider></mat-divider>
      <h3 class="mat-h3 padding-top-xs">
        <a [routerLink]="'/time-spent'" i18n="profile: time spent link"> Total Time Spent</a>
      </h3>
      <div class="mat-display-1 margin-bottom-xs">
        <ng-container *ngIf="userTotalTimeSpent === undefined">...</ng-container>
        <ng-container *ngIf="userTotalTimeSpent !== undefined">
          <ng-container *ngIf="!userTotalTimeSpent.h && !userTotalTimeSpent.m && !userTotalTimeSpent.s">
            <span> 0 </span>
          </ng-container>
          <ng-container *ngIf="userTotalTimeSpent.h">
            <span>{{ userTotalTimeSpent.h }}</span>
            <ng-container i18n>h&nbsp;</ng-container>
          </ng-container>
          <ng-container *ngIf="userTotalTimeSpent.m">
            <span>{{ userTotalTimeSpent.m }}</span>
            <ng-container i18n>m&nbsp;</ng-container>
          </ng-container>
          <ng-container *ngIf="userTotalTimeSpent.s">
            <span>{{ userTotalTimeSpent.s }}</span>
            <ng-container i18n>s</ng-container>
          </ng-container>
        </ng-container>
      </div>
      <h3 class="mat-h3">
        <span i18n>Average: </span>
        <ng-container *ngIf="userAverage === undefined">...</ng-container>
        <ng-container *ngIf="userAverage !== undefined">
          <ng-container *ngIf="!userAverage.h && !userAverage.m && !userAverage.s">
            <span> 0 </span>
          </ng-container>
          <ng-container *ngIf="userAverage.h">
            <span>{{ userAverage.h }}</span>
            <ng-container i18n>h&nbsp;</ng-container>
          </ng-container>
          <ng-container *ngIf="userAverage.m">
            <span>{{ userAverage.m }}</span>
            <ng-container i18n>m&nbsp;</ng-container>
          </ng-container>
          <ng-container *ngIf="userAverage.s">
            <span>{{ userAverage.s }}</span>
            <ng-container i18n>s</ng-container>
          </ng-container>
        </ng-container>
      </h3>
      <mat-divider></mat-divider>
    </div>
  </ng-template>
  <section class="content-strip" *ngIf="!currentEmailId || privacy?.viewLearningHistory === 'Everyone'">
    <app-content-strip *ngIf="userContinueLearning?.length" i18n-heading="profile liked content" heading="Recently Learned Courses"
      [contents]="userContinueLearning" [contentStatus]="'done'"></app-content-strip>
    <!-- <h2 class="mat-h2 text-center" i18n="profile like fetch error" *ngIf="userLikesFetchStatus === 'error'">There seems
      to be some technical issue. Please retry</h2>
    <h2 class="mat-h2 text-center" i18n="profile like fetch no content" *ngIf="userLikesFetchStatus === 'none'">No
      recent activity</h2>
    <app-spinner *ngIf="userLikesFetchStatus === 'fetching'"></app-spinner> -->
  </section>
  <section class="content-strip" *ngIf="!currentEmailId || privacy?.viewLikes === 'Everyone'">
    <app-content-strip *ngIf="userLikes?.length" i18n-heading="profile liked content" heading="Liked Items" [contents]="userLikes"
      [contentStatus]="'done'"></app-content-strip>
    <!-- <h2 class="mat-h2 text-center" i18n="profile like fetch error" *ngIf="userLikesFetchStatus === 'error'">There seems
      to be some technical issue. Please retry</h2>
    <h2 class="mat-h2 text-center" i18n="profile like fetch no content" *ngIf="userLikesFetchStatus === 'none'">No
      liked items.</h2>
    <app-spinner *ngIf="userLikesFetchStatus === 'fetching'"></app-spinner> -->
  </section>
  <section class="flex flex-wrapped content-strip" *ngIf="badges?.earned && badges?.earned?.length && (!currentEmailId || privacy?.viewBadges === 'Everyone')">
    <h2 class="mat-h2 width-1-1" i18n>Badges earned</h2>
    <ng-container *ngFor="let badge of badges.earned">
      <div class="badge-container text-center inline-block">
        <img class="medium-badge mat-lite-background" [matTooltip]="badge.how_to_earn" [src]="badge.image" [alt]="badge.badge_name" />
        <div>{{ badge.badge_name }}</div>
        <div class="mat-caption">{{ badge.last_received_date | date }}</div>
      </div>
    </ng-container>
  </section>
  <section class="content-strip" *ngIf="currentEmailId && goals?.length && privacy?.viewGoals === 'Everyone'">
    <h2 class="mat-h2" i18n>Goals</h2>
    <app-scroll-handler [contentStatus]="'done'">
      <mat-card class="concept" *ngFor="let goal of goals" (click)="openGoalDetailsDialog(goal)">
        <h3 class="mat-subheading-2 margin-bottom-xs">{{ goal.goal_title }}</h3>
        <p *ngIf="goal?.goal_content_id?.length">
          {{ goal.goal_content_id.length }}
          <ng-container i18n>item(s)</ng-container>
        </p>
      </mat-card>
    </app-scroll-handler>
  </section>
  <section class="content-strip" *ngIf="currentEmailId && playlists?.length && privacy?.viewPlaylist === 'Everyone'">
    <h2 class="mat-h2" i18n>Playlists</h2>
    <app-scroll-handler [contentStatus]="'done'">
      <mat-card class="concept" *ngFor="let playlist of playlists" (click)="openPlaylistDetailsDialog(playlist)">
        <h3 class="mat-subheading-2 margin-bottom-xs">
          {{ playlist.playlist_title }}
        </h3>
        <p *ngIf="playlist?.resource_ids?.length">
          {{ playlist.resource_ids.length }}
          <ng-container i18n>item(s)</ng-container>
        </p>
      </mat-card>
    </app-scroll-handler>
  </section>
  <!-- {{ playlists | json }} -->
</div>