<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="plans-card-module goal-class flex-center">
  <mat-grid-list cols="3" rowHeight="100">
    <mat-grid-tile>
      <a href="{{ data.materialUrl }}" target="_blank" mat-line class="mat-body-1">{{ courseName }}</a>
    </mat-grid-tile>

    <mat-grid-tile style="overflow: visible!important;text-align: center">
      <app-donut-chart style="margin-left: 22%;text-align: center" [donut]="false" [showLegend]="false" [chartData]="data.data"
        [height]="130"></app-donut-chart>
    </mat-grid-tile>
    <mat-grid-tile style="text-align: center">{{ data.totalUsers }}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
