/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";

.attempt-score {
  width: 100%;
}
.project-quotient {
  margin-left: 7%;
}
.box-plot-graph-card-header {
  margin: 0px -1px -8px -1px;
  background-color: #5ba46e;
  color: white;
}
.graph-card-header {
  margin: 0px -16px -8px -16px;
  background-color: #5ba46e;
  color: white;
}
.card-title {
  padding-top: 2%;
}
.button1{
  width:300px;
  background-color: gray;
  color:white;
}
.button2{
  width:300px;
  background-color:orange;
  color:white;
}
.button3{
  width:400px;
  background-color:orange;
  color:white;
}
.icon1{
  padding:5px;
  font-size:36px;
}
.check-circle {
  color: green;
}
.assessment-card {
  width: 45%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-m;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-m;
  }
}
// .chart-card {
//   margin: 0px;

//   @include breakpoint-xs {
//     width: 90%;

//     margin-top: 10%;
//     margin-right: 10%;
//   }

//   @include breakpoint-sm {
//     width: 90%;
//     margin-top: 10%;
//     margin-right: 10%;
//   }
//   @include breakpoint-gt-md {
//     margin-left: $size-xl;
//   }
// }
.default-project-certification {
  margin-left: -2%;
}
.endorsement {
  color: orange !important;
  text-decoration: underline !important;
}
.attempt-content {
  margin-top: 1%;
}
.feature-icon {
  padding-bottom: 1%;
  padding-top: 1%;
}
.donut-graph-header {
  padding-top: 2%;
}
.panel-description {
  margin-left: 5%;
}
.attempt-header {
  padding-top: 1%;
}
.padding-org-wide {
  padding-bottom: 11.5%;
}
// .org-graph-div {
//   width: 400px;
//   @include breakpoint-xs {
//     margin-right: 5%;
//   }

//   @include breakpoint-sm {
//     margin-right: 5%;
//   }
// }
.default-quotient-experience {
  margin-left: -3%;
}
.org-graph-card {
  @include breakpoint-xs {
    margin-top: 10%;
  }

  @include breakpoint-sm {
    margin-top: 10%;
  }
}

.skill-card {
  @include breakpoint-xs {
    margin-bottom: 10%;
  }

  @include breakpoint-sm {
    margin-bottom: 10%;
  }
}
.content-description {
  margin-left: 12% !important;
}

.default-quotient-certification {
  margin-left: -5%;
}
.certification-panel-description {
  margin-left: 5%;
}
.certification-project-description {
  margin-left: 2%;
}

.expansion {
  @include breakpoint-xs {
    margin-left: 5%;
    margin-right: 5%;
  }

  @include breakpoint-sm {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.chart-pie-card {
  width:50%;
  @include breakpoint-xs {
    width: 100%;
    margin: $size-l;
  }

  @include breakpoint-sm {
    width: 100%;
    margin: $size-l;
  }
}
