/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
@import "~src/styles/mixins";

$card-padding: $size-m;
$action-btn-size: 2.5 * $size-m; // 40px
$card-width: 265px;
.search-home{
  width: 100%;
}
.tag-word {
  color: #34ace0;
  cursor: pointer;
  @include breakpoint-xs {
    margin: 2%;
    width: 90%;
    display: flex;
    font-size: 12px;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include breakpoint-sm {
    margin: 2%;
    width: 90%;
    display: flex;
    font-size: 12px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.card-container {
  position: relative;
  width: $card-width;
  height: 100%;
  // @include breakpoint-xs {
  //   width: 90%;
  //   margin: $size-s;
  // }

  // @include breakpoint-sm {
  //   width: 90%;
  //   margin: $size-s;
  // }
}
.filter {
  width: 18%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
.search {
  width: 40%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.more {
  color: blue !important;
  text-decoration: underline !important;
}

.category-card {
  width: 45%;
  @include breakpoint-xs {
    width: 100%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 100%;
    margin: $size-s;
  }
}
.example-form  {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width  {
  width: 100%;
}
mat-card {
  width: 100%;
  height: 100%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
  box-sizing: border-box;
}
.grand-card {
  width: 100%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}

.endorsement-card{
  width: 100%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
.donut-card {
  width: 35%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}

.line-card {
  width: 50%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}

.role {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.role-card {
  width: 90%;
}
app-progress {
  display: block;
  width: calc(100% + #{2 * $card-padding});
  margin-left: -$card-padding;
  margin-top: -$card-padding;
}

mat-card-content {
  margin-top: 0px;
  margin-bottom: ($card-padding / 2) + $action-btn-size;
  margin-left: -0.5 * $card-padding;
  margin-right: -0.5 * $card-padding;
}
.graph-card-header {
  margin: 0px -16px -8px -16px;
  background-color: #5ba46e;
  padding-top: 2%;
  color: white;
}
mat-card-actions {
  position: absolute;
  bottom: $card-padding;
  width: calc(100% - #{$card-padding});
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons {
  position: absolute;
  bottom: 3 * $size-s;
  width: calc(100% - #{$card-padding});
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-action-btn-group {
  display: flex;
  width: 200px;
  overflow: hidden;
}

.card-img {
  height: 150px;
  display: block;
}

.card-title-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-bottom: 8px;
}

.detail-view {
  position: absolute;
  top: 0;
  z-index: 2;
}

.detail-button {
  position: absolute;
  top: $size-s;
  right: $size-s;
  z-index: 1;
}

.card-detail-meta {
  position: absolute;
  bottom: $size-xs;
  text-align: center;
  width: 94%;
  left: 50%;
  transform: translateX(-50%);

  .card-detail {
    padding: 0 12px;
  }
}

.skill-unavailable {
  width: 50%;
}
mat-card {
  margin-bottom: 12px;
  @extend %width-balancer;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

app-card {
  margin-right: $size-l;
  margin-bottom: $size-xs;
}
.graph-combined-card {
  max-width: 94%;
}

span:before {
  content: "";
  display: inline-block;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  margin-right: 2px;
}
.star {
  font-weight: 400;
  margin-right: 5px;
  font-size: 12px;
  &::before {
    background-color: rgb(179, 55, 113);
  }
}
.expert {
  font-weight: 400;
  margin-right: 5px;
  font-size: 12px;
  &::before {
    background-color: rgb(250, 130, 49);
  }
}
.novice {
  font-weight: 400;
  margin-right: 5px;
  font-size: 12px;
  &::before {
    background-color: rgb(247, 183, 49);
  }
}
.excellent {
  font-weight: 400;
  margin-right: 5px;
  font-size: 12px;
  &::before {
    background-color: rgb(72, 126, 176);
  }
}

.home-page {
  width: 70%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
