<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">My Skills</span>
  <span class="spacer"></span>
  <form *ngIf="isSiemensInstance" [formGroup]="skillForm" class="allSkills ql-size-small flex flex-around flex-wrapped">
    <!-- <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Enter the Skill Name" aria-label="Skill Name" matInput [formControl]="skillForm" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
    <mat-form-field class="home-page">
      <input type="text" placeholder="search..." aria-label="Skill Name" matInput [formControl]="skillControl" formControlName="search"
        [matAutocomplete]="auto" [value]="skillForm.get('search').value" (keydown)="onPress($event)" />
      <mat-icon class="cursor-pointer" (click)="searchSkills(skillForm.get('search').value)" matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" (click)="searchSkills(option.skill_name)" [value]="option.skill_name">
          {{ option.skill_name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <a *ngIf="isSiemensInstance" [matTooltip]="'All Skills'" mat-raised-button class="mat-raised-button" type="button" [routerLink]="'/my-skills/all-skills'">
    All Skills
  </a>
</mat-toolbar>
<div *ngIf="loader" class="margin-left-s margin-top-xl padding-top-xl">
  <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
    class="progress-circular-full">
  </app-spinner>
</div>
<ng-container *ngIf="isSiemensInstance">
  <mat-tab-group *ngIf="!loader && skillsData" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="My Skills">
      <!-- <app-skills-tab></app-skills-tab> -->
      <p class="mat-small margin-right-m text-right" i18n>For illustrative purposes only</p>
      <ng-container>

        <!-- <div class="grand-card">
            <mat-card class="graph-combined-card padding-remove-top margin-left-xl">
              <mat-card-header class="graph-card-header">
                <mat-icon class="feature-icon margin-bottom-m">pie_chart</mat-icon>
                <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">My Role Progress - Mean Developer</span>
              </mat-card-header>
              <p class="mat-small margin-top-s">This chart displays your progress towards completing skills required for your job profile.</p>
              <mat-card-content class="flex flex-center flex-wrapped margin-top-m">
                <div class="donut-card">
                  <span class=" flex flex-center" style="margin: 10px 20px 0px 0px;">

                    <span class="expert" i18n="nsopage percent">Default Score</span>
                    <span class="novice" i18n="nsopage percent">Certification Score</span>
                    <span class="excellent" i18n="nsopage percent">Not Scored</span>
                  </span>
                  <app-donut-chart [chartData]="pieChartData" [quotient]="'2.82'" [donut]="true" [showLegend]="false" [height]="250"></app-donut-chart>
                </div>
                <div class="line-card">
                  <app-line-graph [lineData1]="lineData1"></app-line-graph>
                </div>
              </mat-card-content>
            </mat-card>
          </div> -->

        <div class="content-strip">
          <h2>My Skills</h2>
          <div class="tag-cloud margin-bottom-m">
            <p *ngFor="let d of dataChunks">
              <ng-container *ngFor="let s of d">
                <span class="tag-word" [ngStyle]="{ 'font-size': s.weight }" (click)="onSkillTag(s.text)">
                  {{ s.text }}
                </span>
              </ng-container>
            </p>
          </div>

          <h2 i18n="Skills required for your role">Skills required for my role</h2>
          <app-scroll-handler *ngIf="skillsData?.length>0" [contentStatus]="'done'">
            <app-card *ngFor="let i of skillsData" [popular]="false" [count]="true" [courseCount]="i.course_count" [certificationCount]="i.certification_count"
              [roleCard]="false" [cardId]="i.skill_id" [imageurl]="i.image_url" [skillName]="i.skill_name" [category]="i.category"
              [horizon]="i.horizon" [criticality]="i.criticality"></app-card>
          </app-scroll-handler>

          <!-- <img src="tagCloud" style="width: 70vw;height: 45vh;" (click)="onSkillTag()" /> -->

          <!-- <div>
              <h2>Your Manager Recommendations</h2>
              <app-scroll-handler [contentStatus]="'done'">
                <app-card
                  class="margin-left-s"
                  *ngFor="let i of Skills"
                  [popular]="true"
                  [count]="true"
                  [courseCount]="i.course_count"
                  [certificationCount]="i.certification_count"
                  [imageurl]="i.image_url"
                  [skillName]="i.skill_name"
                  [criticality]="i.criticality"
                ></app-card>
              </app-scroll-handler>
            </div> -->
          <mat-card *ngIf="skillsData?.length === 0" class="role-card flex flex-wrapped flex-center margin-top-xl">
            <h4 class="flex flex-center flex-wrapped" i18n="No skill completion details">
              <!-- To Track your Skills Complete a Course or Assessment in Lex -->
              You have no role assigned.
              <span class="role" (click)="onCreateRole()">Add role</span>
            </h4>
          </mat-card>
        </div>
        <mat-card *ngIf="skillsData?.length === 0" class="role-card flex flex-wrapped flex-center margin-top-xl">
          <h4 class="flex flex-center flex-wrapped" i18n="No skill completion details">
            <!-- To Track your Skills Complete a Course or Assessment in Lex -->
            You have no role assigned.
            <span class="role" (click)="onCreateRole()">Add role</span>
          </h4>
        </mat-card>
        <div class="content-strip" *ngIf="popularSkills?.length>0">
          <h2>Recommended Skills</h2>
          <app-scroll-handler [contentStatus]="'done'">
            <app-card *ngFor="let i of popularSkills" [popular]="true" [count]="true" [courseCount]="i.course_count" [certificationCount]="i.certification_count"
              [imageurl]="i.image_url" [cardId]="i.skill_id" [skillName]="i.skill_name" [category]="i.category" [horizon]="i.horizon"
              [criticality]="i.criticality"></app-card>
          </app-scroll-handler>
        </div>

      </ng-container>
    </mat-tab>

    <mat-tab *ngIf="!loader" label="My Roles">
      <p class="mat-small margin-right-m text-right" i18n>For illustrative purposes only</p>
      <div *ngIf="rolesData?.length>0" class="margin-top-xs margin-right-m text-right cursor-pointer">
        <button color="primary" mat-raised-button i18n-matTooltip="Goals Action Btn Tooltip" matTooltip="Create Role" (click)="onCreateRole()"
          color="primary" accesskey="+">
          <mat-icon>add</mat-icon>
          CREATE
        </button>
      </div>
      <div *ngIf="rolesData?.length>0" class="margin-top-xl">
        <div class="content-strip">
          <app-scroll-handler [contentStatus]="'done'">
            <app-card (deleteRoleEvent)="refreshRole()" *ngFor="let i of rolesData" [popular]="false" [cardId]="i.role_id" [roleCard]="true"
              [rolesData]="i" [imageurl]="i.image_url" [skillName]="i.role_name" [category]="i.category" [horizon]="i.horizon"
              [criticality]="i.criticality"></app-card>
          </app-scroll-handler>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Endorsements">
      <mat-tab-group class="endorsement-card" [selectedIndex]="selectedTabIndex">
        <mat-tab label="My Endorsements">
          <p class="mat-small margin-right-m text-right" i18n>For illustrative purposes only</p>
          <div *ngIf="projectEndorsementData?.all_request?.length>0" class="margin-top-xl margin-right-m text-right cursor-pointer">
            <button color="primary" mat-raised-button i18n-matTooltip="Goals Action Btn Tooltip" matTooltip="Create Request" (click)="onCreateRequest()"
              color="primary" accesskey="+">
              <mat-icon>add</mat-icon>
              CREATE
            </button>
            <app-view-project-endorsement [showHeader]="false" [type]="'user'"></app-view-project-endorsement>
          </div>
        </mat-tab>
        <mat-tab label="Approve Endorsements">
          <p class="mat-small margin-right-m text-right" i18n>For illustrative purposes only</p>
          <app-view-project-endorsement [showHeader]="false" [type]="'manager'"></app-view-project-endorsement>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="FAQs">
      <div *ngIf="!loader" class="margin-m">
        <h2>FAQs on Skills Management </h2>
        <h3 class="mat-body-strong">1. What is Skill Quotient? </h3>
        <p class="margin-left-xl"> Skill quotient is the maximum score that you have obtained through as assessment or an endorsement done by your manager/approver.</p>
        <h3 class="mat-body-strong"> 2. What is Role Quotient? </h3>
        <p class="margin-left-xl"> Role Quotient indicates your readiness to perform a particular role. It is based on skill-levels required for role.</p>
        <h3 class="mat-body-strong"> 3. How can I improve My Skill Quotient?</h3>
        <p class="margin-left-xl"> You can take an assessment required for the skill or raise an endorsement request to be approved by your manager/approver.</p>
        <h3 class="mat-body-strong"> 4. How do I check whether I am ready to perform in a particular role? </h3>
        <p class="margin-left-xl">You can either create a new role or add from an existing list of roles to be added into "My Roles".</p>

      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-container *ngIf="!isSiemensInstance">
  <mat-tab-group *ngIf="!loader && skillsData" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab class="margin-top-m" label="My Skills">
      <div class="margin-top-xl">
        <ng-container>
          <div class="grand-card" *ngIf="showManager">
            <mat-card class="graph-combined-card padding-remove-top margin-left-xl">
              <mat-card-header class="graph-card-header">
                <mat-icon class="feature-icon margin-bottom-m">pie_chart</mat-icon>
                <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">My Role Progress - Mean Developer</span>
              </mat-card-header>
              <mat-card-content class="flex flex-center flex-wrapped margin-top-m">
                <div class="donut-card">
                  <span class=" flex flex-center" style="margin: 10px 20px 0px 0px;">
                    <!-- <span class="star" i18n="nsopage percent">0-25%</span> -->
                    <span class="expert" i18n="nsopage percent">Default Score</span>
                    <span class="novice" i18n="nsopage percent">Certification Score</span>
                    <span class="excellent" i18n="nsopage percent">Not Scored</span>
                  </span>
                  <app-donut-chart [chartData]="pieChartData" [quotient]="'2.82'" [donut]="true" [showLegend]="false" [height]="250"></app-donut-chart>
                </div>
                <div class="line-card">
                  <app-line-graph [lineData1]="lineData1"></app-line-graph>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="content-strip margin-top-xl">
            <!-- <h2 class="margin-left-m">My Skills</h2> -->
            <h2 i18n="Skills required for your role">Skills required for my role</h2>
            <app-scroll-handler *ngIf="skillsData?.length>0" [contentStatus]="'done'">
              <app-card *ngFor="let i of skillsData" [popular]="false" [count]="true" [courseCount]="i.course_count" [certificationCount]="i.certification_count"
                [roleCard]="false" [cardId]="i.skill_id" [imageurl]="i.image_url" [skillName]="i.skill_name" [category]="i.category"
                [horizon]="i.horizon"></app-card>
            </app-scroll-handler>
            <mat-card *ngIf="skillsData?.length === 0" class="role-card flex flex-wrapped flex-center margin-top-xl">
              <h4 class="flex flex-center flex-wrapped" i18n="No skill completion details">
                <!-- To Track your Skills Complete a Course or Assessment in Lex -->
                You have no role assigned.
                <span class="role" (click)="onCreateRole()">Add role</span>
              </h4>
            </mat-card>
          </div>
          <div class="content-strip" *ngIf="popularSkills?.length>0">
            <h2>Recommended Skills</h2>
            <app-scroll-handler [contentStatus]="'done'">
              <app-card *ngFor="let i of popularSkills" [popular]="true" [count]="true" [courseCount]="i.course_count" [certificationCount]="i.certification_count"
                [imageurl]="i.image_url" [cardId]="i.skill_id" [skillName]="i.skill_name" [category]="i.category" [horizon]="i.horizon"></app-card>
            </app-scroll-handler>
          </div>
        </ng-container>
      </div>
    </mat-tab>

    <mat-tab *ngIf="!loader" label="My Roles">
      <div *ngIf="rolesData?.length>0">
        <div class="margin-top-xl margin-right-m text-right cursor-pointer">
          <button color="primary" mat-raised-button i18n-matTooltip="Role Action Btn Tooltip" matTooltip="Create Role" (click)="onCreateRole()"
            color="primary" accesskey="+">
            <mat-icon>add</mat-icon>
            Add Role
          </button>
        </div>

        <div class="content-strip margin-top-xl">
          <app-scroll-handler [contentStatus]="'done'">
            <app-card (deleteRoleEvent)="refreshRole()" *ngFor="let i of rolesData" [popular]="false" [cardId]="i.role_id" [roleCard]="true"
              [rolesData]="i" [imageurl]="i.image_url" [skillName]="i.role_name" [category]="i.category" [horizon]="i.horizon"></app-card>
          </app-scroll-handler>
        </div>

      </div>
    </mat-tab>
    <mat-tab *ngIf="showManager" label="My Project Endorsements">
      <div *ngIf="projectEndorsementData?.all_request?.length>0" class="margin-top-xl margin-right-m text-right cursor-pointer">
        <button color="primary" mat-raised-button i18n-matTooltip="Goals Action Btn Tooltip" matTooltip="Create Request" (click)="onCreateRequest()"
          color="primary" accesskey="+">
          <mat-icon>add</mat-icon>
          CREATE
        </button>
        <app-view-project-endorsement [showHeader]="false" [type]="'user'"></app-view-project-endorsement>
      </div>
      <!-- <app-create-project-endorsement *ngIf="project && EndorsementData.length === 0" [ref]="ref" ></app-create-project-endorsement> -->
    </mat-tab>
    <mat-tab *ngIf="showManager" label="Approve Project Endorsements">
      <app-view-project-endorsement [showHeader]="false" [type]="'manager'"></app-view-project-endorsement>
    </mat-tab>
    <mat-tab label="All Skills">
      <div *ngIf="!loader && allSkills" class="margin-m">
        <div class="margin-top-m">
          <form [formGroup]="skillForm" class="allSkills Form margin-s flex flex-around flex-wrapped">
            <!-- <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Enter the Skill Name" aria-label="Skill Name" matInput [formControl]="skillForm" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
            <mat-form-field class="search">
              <input type="text" placeholder="Enter Skill Name" aria-label="Skill Name" matInput [formControl]="skillControl" formControlName="search"
                [matAutocomplete]="auto" [value]="skillForm.get('search').value" (keydown)="onPress($event)" />
              <mat-icon class="cursor-pointer" (click)="searchAllSkills(skillForm.get('search').value, 'skill')" matSuffix>search</mat-icon>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" (click)="searchAllSkills(option.skill_name, 'skill')" [value]="option.skill_name">
                  {{ option.skill_name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="filter">
              <mat-select name="horizon" placeholder="Horizon" formControlName="horizon">
                <mat-option *ngFor="let horizon of horizonList" (click)="filter(horizon, 'horizon')" [value]="horizon">
                  {{ horizon }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="filter">
              <mat-select name="categories" placeholder="Category" formControlName="categories">
                <mat-option *ngFor="let categories of categoriesList" (click)="filter(categories, 'category')" [value]="categories">
                  {{ categories }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button class="margin-top-xs margin-bottom-l" [matTooltip]="'Reset'" mat-raised-button color="primary" type="reset" (click)="reset()">
              Reset
            </button>
          </form>
        </div>
        <div class="flex flex-around flex-wrapped">
          <mat-card class="text-center category-card">
            <h4>Total Skills</h4>
            <h2>{{ allSkillsData.total_skills }}</h2>
          </mat-card>
          <mat-card *ngIf="categories?.length > 0" class="category-card text-center flex flex-around">
            <mat-card-content class="margin-remove-bottom" *ngFor="let categories of categories">
              <h4>{{ categories.key }}</h4>
              <h2>{{ categories.doc_count }}</h2>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngIf="allSkills?.length > 0" class="flex flex-center flex-wrapped margin-top-xl">
          <app-card *ngFor="let i of allSkills" class="margin-xl" [popular]="true" [count]="true" [courseCount]="i.course_count" [certificationCount]="i.certification_count"
            [imageurl]="i.image_url" [cardId]="i.skill_id" [skillName]="i.skill_name" [category]="i.category" [horizon]="i.horizon"></app-card>
        </div>
        <div *ngIf="allSkills?.length === 0" class="flex flex-center flex-wrapped">
          <h1>No Skills</h1>
        </div>
      </div>
      <div *ngIf="allSkillsData?.is_pagination" class="example-ripple-container mat-elevation-z4  text-center" matRipple [matRippleCentered]="centered"
        [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
        <p class="cursor-pointer margin-top-s" (click)="more()">View More...</p>
      </div>
    </mat-tab>

    <mat-tab label="FAQs">
      <div *ngIf="!loader" class="margin-m">
        <h2>FAQs on Skills Management </h2>
        <h3 class="mat-body-strong">1. What is Skill Quotient? </h3>
        <p class="margin-left-xl"> Skill quotient is the maximum score that you have obtained through as assessment or an endorsement done by your manager/approver.</p>
        <div class="margin-left-xl"> Here is how skill quotient will be calculated:
          <ol>
            <p class="margin-left-xl">
              <li>On completion of Training : Skill Quotient = 1 + Max. percentile of the successful scores in any course</li>
            </p>
            <p class="margin-left-xl">
              <li>On completion of Certification : Skill Quotient = 2 + Percentile of the maximum score in any certification</li>
            </p>
          </ol>
        </div>
        <h3 class="mat-body-strong"> 2. What is Role Quotient? </h3>
        <p class="margin-left-xl"> Role Quotient indicates your readiness to perform a particular role. It is based on skill-levels required for role.</p>
        <div class="margin-left-xl"> Here is how role quotient will be calculated:
          <ol>
            <p class="margin-left-xl">
              <li>On completion of Training : Role Quotient = 1 + Avg of max. percentile of scores of courses in each skill</li>
            </p>
            <p class="margin-left-xl">
              <li>On completion of Certification : Role Quotient = 2 + Avg of max. percentile of scores of certifications in
                each skill
              </li>
            </p>
          </ol>
        </div>
        <h3 class="mat-body-strong"> 3. How can I improve My Skill Quotient?</h3>
        <p class="margin-left-xl"> You can take an assessment required for the skill or raise an endorsement request to be approved by your manager/approver.</p>
        <h3 class="mat-body-strong"> 4. How do I check whether I am ready to perform in a particular role? </h3>
        <p class="margin-left-xl">You can either create a new role or add from an existing list of roles to be added into "My Roles".</p>

      </div>
    </mat-tab>
  </mat-tab-group>

</ng-container>