/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/mixins";

.carousel-container {
  position: relative;
}

.carousel-card {
  padding: 0;
  margin-bottom: 0;
  display: block;
  background: #111111;
}

.carousel-image-link {
  display: block;
  position: relative;
  height: 250px;
  font-size: 0;
  overflow: hidden;
  cursor: pointer;
  background: #111111;
  animation: slide 0.1s forwards;
}

@keyframes slide {
  0% {
    left: 100%;
  }

  100% {
    left: 0;
  }
}

.item-image {
  height: 100%;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.cursor-initial {
  cursor: initial;
}

.item-text {
  padding: 0 ($size-xl + $size-xs);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  height: 40px;
  box-sizing: border-box;
}

.indicators {
  position: absolute;
  box-sizing: border-box;
  bottom: 40px !important;
  width: 100%;
  text-align: right !important;
  color: #ffffff;
  padding: $size-xs;
  background-image: linear-gradient(to left, #000000, transparent);

  @include breakpoint-gt-xs {
    background-image: linear-gradient(to left, #000000, transparent, transparent);
  }

  .indicator {
    margin-left: $size-s;
    vertical-align: middle;
    cursor: pointer;
  }
}

.bottom-0 {
  bottom: 0 !important;
}
