<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="carousel-container">
  <ul class="margin-remove padding-remove">
    <li class="carousel-card" [hidden]="i !== currentIndex" *ngFor="let banner of banners; let i = index">
      <a (click)="navigate(banner)" class="carousel-image-link">
        <img
          i18n-alt
          alt="banner"
          (swipeleft)="slide('right')"
          (swiperight)="slide('left')"
          [appResponsiveImageSrc]="banner.img"
          class="item-image"
          [ngClass]="{ 'cursor-initial': !banner.url }"
        />
      </a>
    </li>
  </ul>
  <div class="flex flex-between" *ngIf="showNavigation">
    <button *ngIf="banners.length > 1" mat-icon-button (click)="slide('left')">
      <mat-icon aria-label="Show Previous Slide">keyboard_arrow_left</mat-icon>
    </button>
    <div class="item-text width-expand text-truncate mat-title">
      <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{ $implicit: banners[currentIndex] }">
      </ng-container>
    </div>
    <button *ngIf="banners.length > 1" mat-icon-button (click)="slide('right')">
      <mat-icon aria-label="Show Next Slide">keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="indicators" [ngClass]="{ 'bottom-0': !showNavigation }" *ngIf="banners.length > 1">
    <mat-icon (click)="slideTo(i)" class="indicator" *ngFor="let banner of banners; let i = index">
      {{ currentIndex === i ? "radio_button_checked" : "radio_button_unchecked" }}
    </mat-icon>
  </div>
</div>
