<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary" *ngIf="pageTitle">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs" *ngIf="pageTitle">{{ pageTitle }}</span>
</mat-toolbar>
<app-carousel [banners]="bannerConfig?.bannersList" *ngIf="bannerConfig?.bannersList?.length > 1">
  <ng-template let-banner>
    <a [routerLink]="banner.url ? banner.url : ''" *ngIf="banner.title" class="text-truncate">
      {{ banner.title }}
    </a>
  </ng-template>
</app-carousel>
<ng-container *ngIf="bannerConfig?.bannersList?.length === 1">
  <img class="banner" i18n-alt alt="Banner" [appResponsiveImageSrc]="bannerConfig.bannersList[0].img" />
</ng-container>
<ng-container *ngFor="let strip of strips">
  <ng-container *ngIf="strip.searchQuery">
    <app-search-strip
      [heading]="strip.title"
      [searchRequest]="strip.searchQuery"
      [searchRedirection]="strip.searchRedirection"
      *wsHasPermission="strip.reqFeatures; roles: strip.reqRoles"
    ></app-search-strip>
  </ng-container>
  <ng-container *ngIf="strip.contentIds">
    <div>will show cards for contentIDs: {{ strip.contentIds | json }}</div>
  </ng-container>
</ng-container>
