<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">Learning Analytics</span>
  <span class="spacer"></span>
  <app-search
    *ngIf="currentTab === 'learningAnalytics'"
    class="search-bar ql-size-small"
    (filterEvent)="callFilteredSearchGet($event)"
  ></app-search>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav class="sidenav" [mode]="mode$ | async" [(opened)]="sideNavBarOpened">
    <div class="lb-list-content-container">
      <div class="lb-list-img" *ngIf="showImage">
        <!-- <app-user-image class="user-profile-image" [email]="emailId"></app-user-image> -->
        <div class="lb-list-name margin-remove-bottom ">
          {{ emailId }}
        </div>
      </div>
    </div>

    <mat-nav-list class="navbar flex-middle">
      <a
        mat-list-item
        aria-label="Learning Analytics"
        [ngClass]="{ 'active-class': currentTab === 'learningAnalytics' }"
        class="my-analytics-active-class flex-middle"
        routerLinkActive=" mat-toolbar"
        (click)="sideNavOnClick('learningAnalytics')"
        i18n="page learninganalytics side nav item one"
      >
        <mat-icon class="feature-icon margin-remove-bottom ">school</mat-icon>
        <span class="padding-s mat-body-1 flex-middle">Learning Analytics</span>
      </a>
      <a
        mat-list-item
        aria-label="My Assessment"
        [ngClass]="{ 'active-class': currentTab === 'myAssessment' }"
        routerLinkActive=" mat-toolbar"
        (click)="sideNavOnClick('myAssessment')"
        i18n="page myanalytics side nav item two"
      >
        <mat-icon class="feature-icon margin-remove-bottom ">border_color</mat-icon>
        <span class="padding-s mat-body-1">Assessments</span>
      </a>
      <a
        mat-list-item
        aria-label="topCourses"
        [ngClass]="{ 'active-class': currentTab === 'topCourses' }"
        class="my-analytics-active-class"
        routerLinkActive=" mat-toolbar"
        (click)="sideNavOnClick('topCourses')"
        i18n="page myanalytics side nav item four"
      >
        <mat-icon class="feature-icon margin-remove-bottom ">list</mat-icon>
        <span class="padding-s mat-body-1">Content</span>
      </a>
      <a
        mat-list-item
        aria-label="Top Courses"
        [ngClass]="{ 'active-class': currentTab === 'myPlans' }"
        class="my-analytics-active-class"
        routerLinkActive=" mat-toolbar"
        (click)="sideNavOnClick('myPlans')"
        i18n="page myanalytics side nav item seven"
      >
        <mat-icon class="feature-icon margin-remove-bottom ">book</mat-icon>
        <span class="padding-s mat-body-1">Plans</span>
      </a>
      <a
        mat-list-item
        aria-label="Feature Usage"
        [ngClass]="{ 'active-class': currentTab === 'myFeature' }"
        class="my-analytics-active-class"
        routerLinkActive=" mat-toolbar"
        (click)="sideNavOnClick('myFeature')"
        i18n="page myanalytics side nav item six"
      >
        <mat-icon class="feature-icon margin-remove-bottom ">next_week</mat-icon>
        <span class="padding-s mat-body-1">Feature Usage</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="custom-scroll">
    <div class="margin-left-xl margin-top-m">
      <app-quater-filter (filterEvent)="callFilteredGet($event)"></app-quater-filter>
    </div>

    <div *ngIf="screenSizeIsLtMedium" class="flex flex-middle padding-m">
      <mat-icon (click)="sideNavBarOpened = !sideNavBarOpened" class="cursor-pointer">menu</mat-icon>
      <h2 class="mat-subheading-2 margin-remove padding-left-xs" [ngSwitch]="currentTab">
        <span *ngSwitchCase="'learningAnalytics'" i18n="page learningAnalytics mobile top nav item one"
          >Learning Analytics</span
        >
        <span *ngSwitchCase="'myAssessment'" i18n="page learningAnalytics mobile top nav item two">Assessments</span>
        <span *ngSwitchCase="'topCourses'" i18n="page learningAnalytics mobile top nav item four">Content</span>
        <span *ngSwitchCase="'myPlans'" i18n="page learningAnalytics mobile top nav item seven">Plans</span>
        <span *ngSwitchCase="'myFeature'" i18n="page learningAnalytics mobile top nav item six">Feature Usage</span>
      </h2>
    </div>
    <ng-container *ngIf="!loader && !error" class="margin-left-s margin-top-s">
      <app-spinner
        [spinMode]="'indeterminate'"
        [spinSize]="'large'"
        [spinWidth]="'thin'"
        [spinValue]="70"
        [spinColor]="'primary'"
        class="progress-circular-full"
      >
      </app-spinner>
    </ng-container>
    <!-- <ng-container >
      <span class="margin-left-m margin-top-m">
        <span i18n="myanalytics page index last updated on">Last Updated On :</span>
        {{ lastUpdatedOn }}</span
      >
    </ng-container> -->
    <section [ngSwitch]="currentTab" *ngIf="loader">
      <!-- <ng-container >
        <span class="margin-left-m margin-top-m">Last Updated On : {{lastUpdatedOn}}</span>
      </ng-container> -->
      <ng-container *ngSwitchCase="'learningAnalytics'">
        <app-client-analytics (filterEvent)="callFilteredGet($event)" [filterData]="data"></app-client-analytics>
      </ng-container>
      <ng-container *ngSwitchCase="'myAssessment'">
        <app-assessment [clientData]="data"></app-assessment>
      </ng-container>

      <ng-container *ngSwitchCase="'topCourses'">
        <app-my-plans [clientData]="data" [startDate]="startDate" [endDate]="endDate"></app-my-plans>
      </ng-container>
      <!-- <ng-container *ngSwitchCase="'myCollaborators'">
        collaboration
      </ng-container> -->
      <ng-container *ngSwitchCase="'myFeature'">
        <app-my-feature-usage [data]="data"></app-my-feature-usage>
      </ng-container>
      <ng-container *ngSwitchCase="'myPlans'">
        <app-top-courses [clientData]="data"></app-top-courses>
      </ng-container>
      <!-- <ng-container *ngSwitchCase="'topCourses'">
        top courses
      </ng-container> -->
      <!-- <ng-container *ngSwitchCase="'skillquotient'">
        <app-skill-quotient [loader2]="loader2"></app-skill-quotient>
      </ng-container> -->
      <!-- <ng-container *ngSwitchCase="'orgAnalytics'">
      </ng-container> -->
    </section>
    <section *ngIf="error" class="flex flex-wrapped flex-center">
      <mat-card class="goal-class">
        <div class="flex flex-wrapped flex-center" style="font-weight: 500;">
          <mat-icon>warning</mat-icon>
          <span i18n="learningAnalytics page error"></span>Some error Occurred
        </div>
      </mat-card>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
