<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="container margin-top-l margin-bottom-l">
  <ng-container [ngSwitch]="fetchStatus">
    <ng-container *ngSwitchCase="'fetching'">
      <section class="margin-top-l flex flex-center width-1-1">
        <app-spinner [spinColor]="'primary'"></app-spinner>
      </section>
    </ng-container>

    <ng-container *ngSwitchCase="'done'">
      <ng-container
        *ngIf="!certification.isCompleted && (certification.eligibility && !certification.eligibility.eligible)"
        [ngTemplateOutlet]="ineligible"
      ></ng-container>

      <ng-container
        *ngIf="certification.isCompleted && certification.qualified"
        [ngTemplateOutlet]="completed"
      ></ng-container>

      <ng-container *ngIf="certification.booking.date" [ngTemplateOutlet]="booking"></ng-container>

      <ng-container
        *ngIf="
          !(certification.booking.date || certification.isCompleted) &&
          (certification.eligibility && certification.eligibility.eligible)
        "
        [ngSwitch]="content.isExternal"
      >
        <ng-container *ngSwitchCase="'No'" [ngTemplateOutlet]="internal"></ng-container>
        <ng-container *ngSwitchCase="'Yes'" [ngTemplateOutlet]="external"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'error'">
      <ng-container *ngIf="content.sourceShortName === 'IAP'" [ngTemplateOutlet]="iapCard"></ng-container>

      <section class="margin-top-l text-center mat-body" *ngIf="content.sourceShortName !== 'IAP'" i18n>
        There was an error fetching certification data.
      </section>
    </ng-container>
  </ng-container>
</section>

<ng-container [ngSwitch]="currentView">
  <ws-acc-slot-booking
    *ngSwitchCase="'acc'"
    [content]="content"
    [certification]="certification"
    [fetchSubject]="fetchSubject"
    (changeView)="changeView($event)"
  ></ws-acc-slot-booking>

  <ws-at-desk-slot-booking
    *ngSwitchCase="'atDesk'"
    [content]="content"
    [certification]="certification"
    [fetchSubject]="fetchSubject"
    (changeView)="changeView($event)"
  ></ws-at-desk-slot-booking>

  <ws-budget-approval
    *ngSwitchCase="'budget'"
    [content]="content"
    [certification]="certification"
    [fetchSubject]="fetchSubject"
    (changeView)="changeView($event)"
  ></ws-budget-approval>

  <ws-result-upload
    *ngSwitchCase="'upload'"
    [content]="content"
    [certification]="certification"
    [fetchSubject]="fetchSubject"
    (changeView)="changeView($event)"
  ></ws-result-upload>
</ng-container>

<!-- Templates -->

<!-- Internal Certification -->
<ng-template #internal>
  <ng-container *ngIf="currentView === 'default'">
    <ng-container>
      <!-- IAP -->
      <ng-container [ngTemplateOutlet]="iapCard"></ng-container>

      <!-- ACC -->
      <mat-card class="margin-top-m margin-bottom-m">
        <mat-card-title i18n>At Assessment Center</mat-card-title>
        <mat-card-subtitle i18n>
          Give this exam at given assessment centers in a classroom environment.
        </mat-card-subtitle>
        <mat-card-content class="flex flex-between">
          <section>
            <p class="mat-body-2" i18n>What's required?</p>
            <ul class="mat-caption margin-remove">
              <li class="text-italic" i18n>
                A pre-booked slot for the certification exam.
              </li>
              <li class="text-italic" i18n>
                Your physical presence at the assessment center.
              </li>
            </ul>
          </section>
          <section class="hidden-xs">
            <a mat-flat-button [color]="'primary'" class="width-1-1" (click)="changeView('acc')" i18n>
              Book a Slot
            </a>
          </section>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button [color]="'primary'" class="width-1-1 hidden-gt-xs" (click)="changeView('acc')" i18n>
            Book a Slot
          </button>
        </mat-card-actions>
      </mat-card>

      <!-- At-Desk -->
      <mat-card class="margin-top-m margin-bottom-m">
        <mat-card-title i18n>At Desk</mat-card-title>
        <mat-card-subtitle i18n>
          Take the exam at from any location under individual supervision.
        </mat-card-subtitle>
        <mat-card-content class="flex flex-between">
          <section>
            <p class="mat-body-2" i18n>What's required?</p>
            <ul class="mat-caption margin-remove">
              <li class="text-italic" i18n>
                Internet connectivity.
              </li>
              <li class="text-italic" i18n>
                An invigilator to supervise you during the certification exam.
              </li>
            </ul>
          </section>
          <section class="hidden-xs">
            <button mat-flat-button [color]="'primary'" class="width-1-1" (click)="changeView('atDesk')" i18n>
              Book a Slot
            </button>
          </section>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            [color]="'primary'"
            class="width-1-1 hidden-gt-xs"
            (click)="changeView('atDesk')"
            i18n
          >
            Book a Slot
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-template>

<!-- External -->
<ng-template #external>
  <ng-container *ngIf="currentView === 'default'">
    <ng-container>
      <!-- Budget Approval -->
      <mat-card class="margin-top-m margin-bottom-m">
        <mat-card-title i18n>
          <div class="flex flex-between">
            <div i18n>Budget Approval</div>
            <div
              *ngIf="
                certification.budget_Request.status === 'Submitted' || certification.budget_Request.status === 'Pending'
              "
            >
              <mat-icon [color]="'primary'">check_circle_outline</mat-icon>
            </div>
            <div *ngIf="certification.budget_Request.status === 'Approved'">
              <mat-icon [color]="'primary'">check_circle</mat-icon>
            </div>
            <div *ngIf="certification.budget_Request.status === 'Rejected'">
              <mat-icon [color]="'primary'">error</mat-icon>
            </div>
          </div>
        </mat-card-title>
        <mat-card-subtitle>
          <ng-container
            *ngIf="
              !certification.budget_Request.status ||
              certification.budget_Request.status === 'Cancelled' ||
              certification.budget_Request.status === 'Rejected'
            "
            i18n
          >
            Request for reimbursement of the certification's monetary cost.
          </ng-container>
          <ng-container
            *ngIf="
              certification.budget_Request.status === 'Submitted' || certification.budget_Request.status === 'Pending'
            "
            i18n
          >
            You have made a request for reimbursement!
          </ng-container>
          <ng-container *ngIf="certification.budget_Request.status === 'Approved'" i18n>
            Your budget approval request has been approved!
          </ng-container>
        </mat-card-subtitle>

        <mat-card-content class="flex flex-between">
          <ng-container
            *ngIf="
              !certification.budget_Request.status ||
              certification.budget_Request.status === 'Cancelled' ||
              certification.budget_Request.status === 'Rejected'
            "
          >
            <section>
              <p class="mat-body-2" i18n>The Approval is required only for reimbursement.</p>

              <ng-container
                *ngIf="
                  (certification.budget_Request.status === 'Cancelled' ||
                    certification.budget_Request.status === 'Rejected') &&
                  certification.budget_Request.reject_reason
                "
              >
                <p class="mat-body" i18n>
                  {{ certification.budget_Request.manager_id }} rejected your previous request.
                </p>
                <div class="mat-body-2" i18n>Reason:</div>
                <div class="mat-body">{{ certification.budget_Request.reject_reason }}</div>
              </ng-container>
            </section>
            <section class="hidden-xs">
              <button mat-flat-button [color]="'primary'" class="width-1-1" i18n (click)="changeView('budget')">
                Apply
              </button>
            </section>
          </ng-container>

          <ng-container
            *ngIf="
              certification.budget_Request.status === 'Submitted' ||
              certification.budget_Request.status === 'Pending' ||
              certification.budget_Request.status === 'Approved'
            "
          >
            <section>
              <div>
                <span class="mat-body-2" i18n>Amount</span>
                <span class="mat-body margin-left-xs">
                  {{ certification.budget_Request.currency + " " + certification.budget_Request.amount }}
                </span>
              </div>
              <div>
                <span class="mat-body-2" i18n>Approver</span>
                <span class="mat-body margin-left-xs">{{ certification.budget_Request.manager_id }}</span>
              </div>
            </section>

            <section class="hidden-xs">
              <button
                mat-flat-button
                [color]="'primary'"
                class="width-1-1"
                i18n
                (click)="cancelBudgetApproval()"
                [disabled]="budgetCancelStatus === 'sending'"
                *ngIf="
                  certification.budget_Request.status === 'Submitted' ||
                  certification.budget_Request.status === 'Pending'
                "
              >
                <ng-container *ngIf="budgetCancelStatus !== 'sending'" i18n>Cancel</ng-container>
                <ng-container *ngIf="budgetCancelStatus === 'sending'" i18n>
                  <div class="flex flex-between">
                    <div i18n>Cancelling...</div>
                    <div class="flex flex-column flex-center">
                      <mat-progress-spinner
                        [color]="'primary'"
                        [diameter]="16"
                        [mode]="'indeterminate'"
                      ></mat-progress-spinner>
                    </div>
                  </div>
                </ng-container>
              </button>
            </section>
          </ng-container>
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-flat-button
            [color]="'primary'"
            class="width-1-1 hidden-gt-xs"
            i18n
            (click)="changeView('budget')"
            *ngIf="
              !certification.budget_Request.status ||
              certification.budget_Request.status === 'Cancelled' ||
              certification.budget_Request.status === 'Rejected'
            "
          >
            Apply
          </button>
          <button
            mat-flat-button
            [color]="'primary'"
            class="width-1-1 hidden-gt-xs"
            i18n
            (click)="cancelBudgetApproval()"
            [disabled]="budgetCancelStatus === 'sending'"
            *ngIf="
              certification.budget_Request.status === 'Submitted' || certification.budget_Request.status === 'Pending'
            "
          >
            <ng-container *ngIf="budgetCancelStatus !== 'sending'" i18n>Cancel</ng-container>
            <ng-container *ngIf="budgetCancelStatus === 'sending'" i18n>
              <div class="flex flex-between">
                <div i18n>Cancelling...</div>
                <div class="flex flex-column flex-center">
                  <mat-progress-spinner
                    [color]="'primary'"
                    [diameter]="16"
                    [mode]="'indeterminate'"
                  ></mat-progress-spinner>
                </div>
              </div>
            </ng-container>
          </button>
        </mat-card-actions>
      </mat-card>

      <!-- Upload Result -->
      <mat-card class="margin-top-m margin-bottom-m">
        <mat-card-title>
          <div class="flex flex-between">
            <div i18n>Upload Result</div>
            <div>
              <mat-icon
                [color]="'primary'"
                *ngIf="
                  certification.verification_request.status === 'Submitted' ||
                  certification.verification_request.status === 'Recalled'
                "
              >
                check_circle_outline
              </mat-icon>
              <mat-icon [color]="'primary'" *ngIf="certification.verification_request.status === 'Uploaded'">
                save
              </mat-icon>
              <mat-icon [color]="'primary'" *ngIf="certification.verification_request.status === 'Approved'">
                check_circle
              </mat-icon>
            </div>
          </div>
        </mat-card-title>
        <mat-card-subtitle i18n>
          <ng-container *ngIf="!certification.verification_request.status">
            Upload a certificate or result as proof of completion.
          </ng-container>
          <ng-container *ngIf="certification.verification_request.status === 'Uploaded'">
            You have uploaded the result! Now submit it to the verifier.
          </ng-container>
          <ng-container *ngIf="certification.verification_request.status === 'Submitted'">
            You have submitted the result to the verifier!
          </ng-container>
          <ng-container *ngIf="certification.verification_request.status === 'Approved'">
            Your result has been verified!
          </ng-container>
        </mat-card-subtitle>
        <mat-card-content class="flex flex-between">
          <section>
            <ng-container *ngIf="!certification.verification_request.status">
              <p class="mat-body-2" i18n>What's required?</p>
              <ul class="mat-caption margin-remove">
                <li class="text-italic" i18n>
                  An electronic proof of the certification.
                </li>
              </ul>
            </ng-container>

            <ng-container *ngIf="certification.verification_request.status">
              <section>
                <div>
                  <span class="mat-body-2" i18n>Exam Date</span>
                  <span class="mat-body margin-left-xs">{{
                    certification.verification_request.exam_date | date: "dd MMM yyyy"
                  }}</span>
                </div>
                <div>
                  <span class="mat-body-2" i18n>Result</span>
                  <span class="mat-body margin-left-xs">{{ certification.verification_request.result }}</span>
                </div>
                <div>
                  <span class="mat-body-2" i18n>Verifier</span>
                  <span class="mat-body margin-left-xs">{{ certification.verification_request.verifierEmail }}</span>
                </div>
                <div>
                  <span class="mat-body-2" i18n>Status</span>
                  <span class="mat-body margin-left-xs">{{ certification.verification_request.status }}</span>
                </div>
              </section>
            </ng-container>
          </section>
          <section class="hidden-xs">
            <div class="flex flex-column">
              <button
                mat-flat-button
                [color]="'primary'"
                class="width-1-1 margin-bottom-xs"
                (click)="changeView('upload')"
                [disabled]="downloadStatus === 'fetching'"
                i18n
                *ngIf="!certification.verification_request.status"
              >
                Upload
              </button>
              <button
                mat-flat-button
                [color]="'primary'"
                class="width-1-1 margin-bottom-xs"
                (click)="withdrawResult()"
                [disabled]="resultWithdrawStatus === 'sending'"
                i18n
                *ngIf="certification.verification_request.status === 'Submitted'"
              >
                <ng-container *ngIf="resultWithdrawStatus !== 'sending'" i18n>Withdraw</ng-container>
                <ng-container *ngIf="resultWithdrawStatus === 'sending'" i18n>
                  <div class="flex flex-between">
                    <div i18n>Withdrawing...</div>
                    <div class="flex flex-column flex-center">
                      <mat-progress-spinner
                        [color]="'primary'"
                        [diameter]="16"
                        [mode]="'indeterminate'"
                      ></mat-progress-spinner>
                    </div>
                  </div>
                </ng-container>
              </button>
              <button
                mat-flat-button
                [color]="'primary'"
                class="width-1-1 margin-bottom-xs"
                (click)="changeView('upload')"
                [disabled]="resultWithdrawStatus === 'sending'"
                i18n
                *ngIf="
                  certification.verification_request.status === 'Uploaded' ||
                  certification.verification_request.status === 'Recalled' ||
                  certification.verification_request.status === 'Rejected'
                "
              >
                Submit Result
              </button>
              <button
                mat-flat-button
                [color]="'primary'"
                class="width-1-1 margin-bottom-xs"
                (click)="downloadProof()"
                [disabled]="downloadStatus === 'fetching'"
                *ngIf="
                  certification.verification_request.status === 'Uploaded' ||
                  certification.verification_request.status === 'Submitted' ||
                  certification.verification_request.status === 'Recalled'
                "
              >
                <ng-container *ngIf="downloadStatus !== 'fetching'" i18n>Download</ng-container>
                <ng-container *ngIf="downloadStatus === 'fetching'" i18n>
                  <div class="flex flex-between">
                    <div i18n>Downloading...</div>
                    <div class="flex flex-column flex-center">
                      <mat-progress-spinner
                        [color]="'primary'"
                        [diameter]="16"
                        [mode]="'indeterminate'"
                      ></mat-progress-spinner>
                    </div>
                  </div>
                </ng-container>
              </button>
            </div>
          </section>
        </mat-card-content>

        <mat-card-actions>
          <div class="flex flex-column">
            <button
              mat-flat-button
              [color]="'primary'"
              class="width-1-1 hidden-gt-xs margin-bottom-xs"
              (click)="changeView('upload')"
              [disabled]="downloadStatus === 'fetching'"
              i18n
              *ngIf="!certification.verification_request.status"
            >
              Upload
            </button>
            <button
              mat-flat-button
              [color]="'primary'"
              class="width-1-1 hidden-gt-xs margin-bottom-xs"
              (click)="withdrawResult()"
              [disabled]="resultWithdrawStatus === 'sending'"
              *ngIf="certification.verification_request.status === 'Submitted'"
            >
              <ng-container *ngIf="resultWithdrawStatus !== 'sending'" i18n>Withdraw</ng-container>
              <ng-container *ngIf="resultWithdrawStatus === 'sending'" i18n>
                <div class="flex flex-between">
                  <div i18n>Withdrawing...</div>
                  <div class="flex flex-column flex-center">
                    <mat-progress-spinner
                      [color]="'primary'"
                      [diameter]="16"
                      [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                  </div>
                </div>
              </ng-container>
            </button>
            <button
              mat-flat-button
              [color]="'primary'"
              class="width-1-1 hidden-gt-xs margin-bottom-xs"
              (click)="changeView('upload')"
              [disabled]="resultWithdrawStatus === 'sending'"
              i18n
              *ngIf="
                certification.verification_request.status === 'Uploaded' ||
                certification.verification_request.status === 'Recalled' ||
                certification.verification_request.status === 'Rejected'
              "
            >
              Submit Result
            </button>
            <button
              mat-flat-button
              [color]="'primary'"
              class="width-1-1 hidden-gt-xs margin-bottom-xs"
              (click)="downloadProof()"
              [disabled]="downloadStatus === 'fetching'"
              *ngIf="
                certification.verification_request.status === 'Uploaded' ||
                certification.verification_request.status === 'Submitted' ||
                certification.verification_request.status === 'Recalled'
              "
            >
              <ng-container *ngIf="downloadStatus !== 'fetching'" i18n>Download</ng-container>
              <ng-container *ngIf="downloadStatus === 'fetching'" i18n>
                <div class="flex flex-between">
                  <div i18n>Downloading...</div>
                  <div class="flex flex-column flex-center">
                    <mat-progress-spinner
                      [color]="'primary'"
                      [diameter]="16"
                      [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                  </div>
                </div>
              </ng-container>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-template>

<!-- Ineligible for Certification -->
<ng-template #ineligible>
  <div class="text-center margin-top-l">
    <h2 class="mat-h2" i18n>
      Sorry, but you are not eligible for this certification.
    </h2>
    <p class="mat-body" *ngIf="certification.eligibility" i18n>
      {{ certification.eligibility.reason }}
    </p>
  </div>
</ng-template>

<!-- Certification completed -->
<ng-template #completed>
  <h2 class="mat-title margin-top-m text-center" i18n>
    Congratulations!
  </h2>
  <p class="mat-body text-center" i18n>
    You have completed this certification!
  </p>
  <div class="margin-top-s" *ngIf="certification.qualified_score">
    <h3 class="mat-h3 text-center" i18n>Result</h3>
    <h2 class="mat-title text-center">
      {{ certification.qualified_score }}
    </h2>
    <div class="mat-body text-center" i18n>Last attempt: {{ certification.lastTakenDate | date: "dd MMM yyyy" }}</div>
  </div>
  <div
    class="text-center margin-bottom-l margin-top-s"
    *ngIf="certification.verification_request.document && certification.verification_request.document.length"
  >
    <button
      mat-flat-button
      [color]="'primary'"
      class="margin-bottom-xs"
      (click)="downloadProof()"
      [disabled]="downloadStatus === 'fetching'"
    >
      <ng-container *ngIf="downloadStatus !== 'fetching'" i18n>Download Result</ng-container>
      <ng-container *ngIf="downloadStatus === 'fetching'" i18n>
        <div class="flex flex-between">
          <div i18n>Downloading...</div>
          <div class="flex flex-column flex-center">
            <mat-progress-spinner [color]="'primary'" [diameter]="16" [mode]="'indeterminate'"></mat-progress-spinner>
          </div>
        </div>
      </ng-container>
    </button>
  </div>
</ng-template>

<!-- Booking exists -->
<ng-template #booking>
  <h2 class="mat-title" i18n>
    Exam Scheduled
  </h2>
  <p class="mat-body" i18n>
    You have booked an exam for this certification.
  </p>

  <section class="margin-top-m">
    <ws-booking-card
      [certification]="certification"
      [content]="content"
      [fetchSubject]="fetchSubject"
    ></ws-booking-card>
  </section>
</ng-template>

<!-- IAP Card -->
<ng-template #iapCard>
  <mat-card class="margin-top-m margin-bottom-m" *ngIf="content.sourceShortName === 'IAP'">
    <mat-card-title i18n>Take Online</mat-card-title>
    <mat-card-subtitle i18n>
      This certification exam is virtually-assessed and you can take it anywhere and anytime.
    </mat-card-subtitle>
    <mat-card-content class="flex flex-between">
      <section>
        <p class="mat-body-2" i18n>What's required?</p>
        <ul class="mat-caption margin-remove">
          <li class="text-italic" i18n>
            Internet connectivity.
          </li>
          <li class="text-italic" i18n>
            A laptop/computer with audio and video enabled.
          </li>
        </ul>
      </section>
      <section class="hidden-xs">
        <a mat-flat-button [color]="'primary'" [routerLink]="'/viewer/' + content.identifier" class="width-1-1" i18n>
          Take Exam
        </a>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-flat-button
        [color]="'primary'"
        [routerLink]="'/viewer/' + content.identifier"
        class="width-1-1 hidden-gt-xs"
        i18n
        >Take Exam</a
      >
    </mat-card-actions>
  </mat-card>
</ng-template>
