<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: marketing" class="margin-left-xs">Marketing</span>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center" (selectedTabChange)="navigate($event)" [selectedIndex]="selectedIndex"
  dynamicHeight="true">
  <mat-tab *ngIf="marketingFeature.subFeatures.brandAssets" label="Brand Assets" i18n-label>
    <ng-template matTabContent>
      <ng-container *ngIf="
          brandAssetsDataHash['corporate'] || brandAssetsDataHash['insights'] || brandAssetsDataHash['employer'];
          else noDataAvailable
        " class="margin-top-xl text-center">
        <app-search-strip i18n-heading heading="Corporate" [searchRequest]="brandSearchRequests[0]"
          (contentStatus)="handleNoContent($event, 'corporate')"></app-search-strip>
        <app-search-strip i18n-heading heading="Insights" [searchRequest]="brandSearchRequests[1]"
          (contentStatus)="handleNoContent($event, 'insights')"></app-search-strip>
        <app-search-strip i18n-heading heading="Employer" [searchRequest]="brandSearchRequests[2]"
          (contentStatus)="handleNoContent($event, 'employer')"></app-search-strip>
      </ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="marketingFeature.subFeatures.experience" label="Experiential Showcase" i18n-label>
    <ng-template matTabContent>
      <ws-experience></ws-experience>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="marketingFeature.subFeatures.hubs" label="Hubs" i18n-label>
    <ng-template matTabContent>
      <ng-container>
        <app-hubs></app-hubs>
      </ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="marketingFeature.subFeatures.clientStories" label="Client Stories" i18n-label>
    <ng-template matTabContent>
      <ng-container *ngIf="
          clientStoriesDataHash['agileDigital'] ||
            clientStoriesDataHash['aiCore'] ||
            clientStoriesDataHash['onLearning'];
          else noDataAvailable
        " class="margin-top-xl text-center">
        <app-search-strip i18n-heading heading="Agile Digital at Scale" [searchRequest]="clientStoriesRequests[0]"
          (contentStatus)="handleNoContent($event, 'agileDigital')"></app-search-strip>
        <app-search-strip i18n-heading heading="AI-powered Core" [searchRequest]="clientStoriesRequests[1]"
          (contentStatus)="handleNoContent($event, 'aiCore')"></app-search-strip>
        <app-search-strip i18n-heading heading="Always-on Learning" [searchRequest]="clientStoriesRequests[2]"
          (contentStatus)="handleNoContent($event, 'onLearning')"></app-search-strip>
      </ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="marketingFeature.subFeatures.services" label="Services" i18n-label>
    <ng-template matTabContent>
      <app-services></app-services>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="marketingFeature.subFeatures.industries" label="Industries" i18n-label>
    <ng-template matTabContent>
      <app-industries></app-industries>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="marketingFeature.subFeatures.productSubsidiary" label="Products and Subsidiaries" i18n-label>
    <ng-template matTabContent>
      <app-products></app-products>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<!-- Templates -->
<ng-template #noDataAvailable>
  <h1 *ngIf="currentTab === 'brandAssets'" i18n class="mat-title margin-top-xl text-center">
    Your brand assets appear here.
  </h1>
  <h1 *ngIf="currentTab === 'clientStories'" i18n class="mat-title margin-top-xl text-center">
    Your client success stories appear here.
  </h1>
</ng-template>