<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="carousel-card flex flex-wrapped" *ngFor="let slide of data.slides; let i = index">
  <ng-container *ngFor="let container of slide.containers">
    <div
      [hidden]="i !== currentIndex"
      class="layout"
      [style]="'height: 100%; width:' + container.width | safe: 'style'"
    >
      <ng-container *ngIf="container.widget">
        <div style="height:100%;padding:16px;">
          <ws-card [data]="container" *ngIf="container.widget.type === 'card'"> </ws-card>
          <ws-image-title [data]="container" *ngIf="container.widget.type === 'image-title'"> </ws-image-title>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div class="flex flex-between">
  <button *ngIf="data.slides.length > 1" mat-icon-button (click)="slide('left')">
    <mat-icon aria-label="Show Previous Slide">keyboard_arrow_left</mat-icon>
  </button>
  <div class="indicators bottom-0 padding-top-s" *ngIf="data.slides.length > 1">
    <mat-icon
      (click)="slideTo(i)"
      class="indicator cursor-pointer mat-icon-smaller margin-left-xs"
      *ngFor="let slide of data.slides; let i = index"
    >
      {{ currentIndex === i ? "lens" : "radio_button_unchecked" }}
    </mat-icon>
  </div>
  <button *ngIf="data.slides.length > 1" mat-icon-button (click)="slide('right')">
    <mat-icon aria-label="Show Next Slide">keyboard_arrow_right</mat-icon>
  </button>
</div>
