/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/mixins";

.layout {
  @media only screen and (max-width: 959px) {
    min-height: 320px !important;
    min-width: 320px !important;
    width: 100% !important;
    // @content;
  }
}
.mat-icon-smaller {
  height: 16px;
  width: 16px;
  font-size: 17px;
}
