/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "src/styles/mixins";
.spacer {
  flex: 1 1 auto;
}

.top-bar-icon-text {
  padding-left: $size-s;
}

.logo-img {
  // Fix for IE
  max-height: $size-xl;
  max-width: 80px;
  border: 0px; // width: 100%;
}

.bottom-nav-bar {
  display: flex;
  .bottom-nav-item {
    width: 20%;
    .bottom-nav-item-icon {
      display: flex;
      justify-content: center;
    }
  }
}
.background {
  background: white;
}

.pad {
  background: white;
  padding: 0 5px !important;
}
// .search-input {
//   $max-width: 130px;
//   $normal-width: 110px;
//   $box-height: 33px;
//   height: $box-height;
//   border-radius: $box-height / 2;
//   border: 0;
//   outline: none;
//   padding: 0 12px;
//   margin: 0 $size-xs;
//   width: $normal-width;
//   max-width: $max-width;
//   transition: width .25s ease-in-out;
//   &:focus {
//     width: $max-width;
//   }
//   @include breakpoint-gt-sm {
//     $normal-width: 150px;
//     $max-width: 180px;
//     width: $normal-width;
//     max-width: $max-width;
//     &:focus {
//       width: $max-width;
//     }
//   }
// }
input[type="search"]::-ms-clear {
  display: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

.btn-circle {
  $circle-size: 20px;
  width: $circle-size;
  height: $circle-size;
  line-height: $circle-size;
  border-radius: $circle-size / 2;
  text-align: center;
  display: inline-block;
}

.language-button {
  min-width: 150px;
}
