<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar *ngIf="navbarPosition === 'top'" [color]="'primary'">
  <a
    [ngClass]="{ background: showBackground }"
    routerLink="/home"
    routerLinkActive="mat-stroked-button"
    mat-button
    accesskey="H"
  >
    <img [src]="navConfig.logo" [alt]="navConfig.name" class="logo-img" />
  </a>
  <a
    *wsHasPermission="['catalog']"
    mat-button
    routerLink="/catalog"
    routerLinkActive="mat-stroked-button"
    accesskey="C"
  >
    <mat-icon>list</mat-icon>
    <span class="top-bar-icon-text" i18n="catalog|navigation button">Catalog</span>
  </a>
  <a
    *wsHasPermission="['navigator']"
    mat-button
    routerLink="/navigator"
    routerLinkActive="mat-stroked-button"
    accesskey="N"
  >
    <mat-icon>explore</mat-icon>
    <span class="top-bar-icon-text" i18n="navigator|navigation button">Navigator</span>
  </a>
  <span class="spacer"></span>
  <a
    mat-button
    [routerLink]="'/notifications'"
    routerLinkActive="mat-stroked-button"
    i18n-matTooltip
    matTooltip="Notifications"
    accesskey="B"
  >
    <mat-icon>notifications_none</mat-icon>
  </a>
  <ng-container>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>settings</mat-icon>
      <!-- <mat-icon>format_color_fill</mat-icon> -->
    </button>
    <mat-menu #themeMenu="matMenu">
      <div mat-menu-item *ngIf="settingsSubFeatures.fonts">
        <mat-icon>format_size</mat-icon>
        <mat-slider min="0" max="2" step="1" [value]="fontSliderValue$ | async" (change)="changeFont($event)">
        </mat-slider>
      </div>
      <button mat-menu-item *ngIf="settingsSubFeatures.languages" [matMenuTriggerFor]="languageMenu" i18n>
        Language
      </button>
      <mat-menu #languageMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let language of languageConfig"
          [ngClass]="{ 'mat-lite-background mat-body-strong': selectedLanguage === language.code }"
          class="language-button"
          [disabled]="!language.isSupported"
          (click)="changeLanguage(language.code)"
        >
          {{ language.name }}
        </button>
      </mat-menu>
      <button mat-menu-item *ngIf="settingsSubFeatures.themes" [matMenuTriggerFor]="themesMenu" i18n>
        Themes
      </button>
      <mat-menu #themesMenu="matMenu">
        <button
          *ngFor="let themeObj of themeConfig"
          [ngClass]="{ 'mat-lite-background': selectedTheme === themeObj.name }"
          mat-menu-item
          (click)="changeTheme(themeObj.name)"
        >
          <span class="flex flex-middle">
            <span class="btn-circle mat-elevation-z5" [style.backgroundColor]="themeObj.colors.primary"></span>
            <span class="margin-left-m" [ngClass]="{ 'mat-body-strong': selectedTheme === themeObj.name }"
              >{{ themeObj.name }}
            </span>
          </span>
        </button>
      </mat-menu>
      <button mat-menu-item (click)="openDialog()">Keyboard Shortcuts</button>
      <div class="text-center">
        <a mat-button [routerLink]="'/settings'" i18n-matTooltip matTooltip="Settings" accesskey="B">
          <mat-icon>expand_more</mat-icon>
        </a>
      </div>
    </mat-menu>
  </ng-container>
  <!-- <form (submit)="
      navigateToSearch($event, ['search'], {
        queryParams: { q: searchQuery.value }
      })
    ">
    <input class="search-input" type="search" placeholder="Search Content" i18n-placeholder="search content"
      #searchQuery />
  </form> -->

  <a mat-button [routerLink]="'/' + searchDirector" routerLinkActive="mat-stroked-button" accesskey="S">
    <mat-icon>search</mat-icon>
    <!-- <span class="top-bar-icon-text" i18n="Search|navigation button">Search</span> -->
  </a>

  <a mat-button routerLink="/apps" routerLinkActive="mat-stroked-button" accesskey="A">
    <mat-icon>apps</mat-icon>
    <span class="top-bar-icon-text" i18n="Apps Page|navigation button">Apps</span>
  </a>
</mat-toolbar>

<mat-toolbar *ngIf="navbarPosition === 'bottom'" [color]="'primary'" class="bottom-nav-bar">
  <ng-container *ngFor="let feature of bottomFeatures" [ngSwitch]="feature">
    <ng-container *ngSwitchCase="'catalog'">
      <a
        *wsHasPermission="['catalog']"
        mat-button
        routerLink="/catalog"
        class="bottom-nav-item padding-remove"
        routerLinkActive="mat-stroked-button"
        accesskey="C"
      >
        <div class="bottom-nav-item-icon">
          <mat-icon>list</mat-icon>
        </div>
        <div class="mat-caption" i18n="catalog|navigation button">Catalog</div>
      </a>
    </ng-container>
    <ng-container *ngSwitchCase="'navigator'">
      <a
        *wsHasPermission="['navigator']"
        mat-button
        routerLink="/navigator"
        class="bottom-nav-item padding-remove"
        routerLinkActive="mat-stroked-button"
        accesskey="N"
      >
        <div class="bottom-nav-item-icon">
          <mat-icon>explore</mat-icon>
        </div>
        <div class="mat-caption" i18n="navigator|navigation button">
          Navigator
        </div>
      </a>
    </ng-container>
    <ng-container *ngSwitchCase="'badges'">
      <a
        *wsHasPermission="['badges']"
        mat-button
        routerLink="/badges"
        class="bottom-nav-item padding-remove"
        routerLinkActive="mat-stroked-button"
        accesskey="G"
      >
        <div class="bottom-nav-item-icon">
          <mat-icon>grade</mat-icon>
        </div>
        <div class="mat-caption" i18n>Badges</div>
      </a>
    </ng-container>
    <ng-container *ngSwitchCase="'playlist'">
      <a
        *wsHasPermission="['playlist']"
        mat-button
        routerLink="/playlist"
        class="bottom-nav-item padding-remove"
        routerLinkActive="mat-stroked-button"
        accesskey="P"
      >
        <div class="bottom-nav-item-icon">
          <mat-icon>playlist_play</mat-icon>
        </div>
        <div class="mat-caption" i18n>Playlist</div>
      </a>
    </ng-container>
  </ng-container>

  <a
    mat-button
    routerLink="/home"
    [ngClass]="{ pad: showBackground }"
    class="bottom-nav-item"
    routerLinkActive="mat-stroked-button"
    accesskey="H"
  >
    <img [src]="navConfig.logo" [alt]="navConfig.name" class="logo-img width-1-1" />
    <!-- <div class="bottom-nav-item-icon">
      <mat-icon>home</mat-icon>
    </div>
    <div class="mat-caption" i18n="home|navigation button">Home</div> -->
  </a>
  <a
    mat-button
    [routerLink]="'/' + searchDirector"
    class="bottom-nav-item"
    routerLinkActive="mat-stroked-button"
    accesskey="S"
  >
    <div class="bottom-nav-item-icon">
      <mat-icon>search</mat-icon>
    </div>
    <div class="mat-caption" i18n="search|navigation button">Search</div>
  </a>
  <a mat-button routerLink="/apps" class="bottom-nav-item" routerLinkActive="mat-stroked-button" accesskey="A">
    <div class="bottom-nav-item-icon">
      <mat-icon>apps</mat-icon>
    </div>
    <div class="mat-caption" i18n="apps Page|navigation button">Apps</div>
  </a>
</mat-toolbar>

<input
  type="hidden"
  id="lang-change"
  i18n-value
  value="This feature is in beta and hence parts of the site may appear in English only."
/>
