<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h3 *ngIf="!htmlInstructions?.length" class="text-center margin-top-m" i18n>No instructions</h3>
<div *ngIf="htmlInstructions?.length" class="padding-s" [innerHTML]="htmlInstructions"></div>
