<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: terms of use" class="margin-left-xs">Terms of use</span>
</mat-toolbar>

<section class="tnc-container">
  <mat-toolbar color="warn" class="error-handler" *ngIf="errorInFetching">
    <h2 class="mat-h2" i18n="tnc fetch error">
      Unable to Fetch Terms and condition. Please try later OR &nbsp;
    </h2>
    <button type="button" mat-stroked-button (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span i18n="sign out">Logout</span>
    </button>
  </mat-toolbar>
  <mat-accordion [multi]="false">
    <mat-expansion-panel
      [expanded]="currentPanel === 'tnc'"
      (opened)="currentPanel = 'tnc'"
      (closed)="currentPanel = 'dp'"
      *ngIf="generalTnc"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 class="mat-title tnc-title">
            <mat-icon *ngIf="generalTnc.isAccepted" class="accept-btn-icon">check_circle_outline</mat-icon>
            <ng-container i18n="tnc heading">Terms & Condition</ng-container>
          </h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat-app-background padding-s margin-bottom-s">
        <h3 *ngIf="!generalTnc.isAccepted && generalTnc.acceptedVersion.length" class="mat-primary-text" i18n>
          Terms and Conditions has been upgraded. Please accept to continue.
        </h3>
        <div *ngIf="generalTnc.isAccepted" i18n="data privacy accepted on">
          <ng-container i18n>Accepted on </ng-container>
          <span class="mat-primary-text">{{ generalTnc.acceptedDate | date }}</span>
        </div>
        <div>
          <ng-container i18n>T&C Version: </ng-container>
          <span class="mat-primary-text">{{ generalTnc.version }}</span>
        </div>
        <div *ngIf="!generalTnc.isAccepted && generalTnc.acceptedVersion.length">
          <ng-container i18n>Accepted Version: </ng-container>
          <span class="mat-primary-text">{{ generalTnc.acceptedVersion }}</span>
        </div>
      </div>
      <article [innerHTML]="generalTnc.content" class="text-justify"></article>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="'/tnc/contest'" i18n>
          View contest rules
        </a>
        <button mat-button (click)="currentPanel = 'dp'" i18n="data privacy view">
          View Data Privacy
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="currentPanel === 'dp'"
      (opened)="currentPanel = 'dp'"
      (closed)="currentPanel = 'tnc'"
      *ngIf="dpTnc"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 class="mat-title tnc-title">
            <mat-icon *ngIf="dpTnc.isAccepted" class="accept-btn-icon">check_circle_outline</mat-icon>
            <ng-container i18n="data privacy heading">Data Privacy</ng-container>
          </h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat-app-background padding-s margin-bottom-s">
        <h3 *ngIf="!dpTnc.isAccepted && dpTnc.acceptedVersion.length" class="mat-primary-text" i18n>
          Data privacy has been upgraded. Please accept to continue.
        </h3>
        <div *ngIf="dpTnc.isAccepted" i18n="data privacy accepted on">
          <ng-container i18n>Accepted on </ng-container>
          <span class="mat-primary-text">{{ dpTnc.acceptedDate | date }}</span>
        </div>
        <div>
          <ng-container i18n>Data Privacy Version: </ng-container>
          <span class="mat-primary-text">{{ dpTnc.version }}</span>
        </div>
        <div *ngIf="!dpTnc.isAccepted && dpTnc.acceptedVersion.length">
          <ng-container i18n>Accepted Version: </ng-container>
          <span class="mat-primary-text">{{ dpTnc.acceptedVersion }}</span>
        </div>
      </div>
      <article [innerHTML]="dpTnc.content" class="text-justify"></article>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card class="margin-top-m" *ngIf="!errorInFetching && !hasAcceptedTnc && (isLoggedIn | async)">
    <h2
      class="mat-h2 mat-error mat-app-background padding-s text-center"
      *ngIf="errorInAccepting"
      i18n="tnc submit error"
    >
      Unable to accept the terms of use. Looks like our services is not responding. Please try refreshing the page.
    </h2>
    <div class="text-center">
      <button
        mat-flat-button
        color="primary"
        (click)="acceptTnc()"
        [disabled]="isAcceptInProgress"
        i18n="accept tnc and data privacy"
      >
        <ng-container *ngIf="isAcceptInProgress" i18n>Please wait...</ng-container>
        <ng-container *ngIf="!isAcceptInProgress" i18n>Accept</ng-container>
      </button>
    </div>
  </mat-card>
</section>
