<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div mat-dialog-content>
  <p i18n>Deleted posts are gone forever. Are you sure?</p>
</div>
<div mat-dialog-actions class="flex-row-reverse">
  <button type="button" [disabled]="isDeleting" cdkFocusInitial (click)="deletePost()" mat-button aria-label="Yes"
    i18n-aria-label i18n>
    Yes
  </button>
  <button type="button" mat-dialog-close mat-button aria-label="No" i18n-aria-label i18n>
    No
  </button>
</div>

<div *ngIf="isDeleting" class="margin-top-m">
  <app-spinner [spinSize]="'small'" [spinWidth]="'thin'"></app-spinner>
</div>

<div *ngIf="errorInDeleting" class="margin-top-m">
  <ng-container i18n>Unable to delete! Please retry or </ng-container>
  <a mat-stroked-button (click)="dialogRef.close()" routerLink="/feedback" i18n>Report to us</a>
</div>
