<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: sales onboarding" class="margin-left-xs">Sales Onboarding</span>
</mat-toolbar>

<!-- <app-carousel [banners]="banners">
  <ng-template let-banner>
    <a [routerLink]="banner.url" [ngSwitch]="banner.titleKey">
      <span *ngSwitchCase="banners[0].titleKey" i18n="sales onboarding carousel slide 0">Sales Launchpad</span>
      <span *ngSwitchCase="banners[1].titleKey" i18n="sales onboarding carousel slide 1">Cohort Learning</span>
      <span *ngSwitchCase="banners[2].titleKey" i18n="sales onboarding carousel slide 2">Role Induction</span>
      <span *ngSwitchCase="banners[3].titleKey" i18n="sales onboarding carousel slide 3">Bridge Academy</span>
    </a>
  </ng-template>
</app-carousel> -->
<div class="responsive-banner">
  <div class="content-strip responsive-description">
    <!-- <h2 class="banner-text">{{ currentRole?.role_name }}</h2> -->
    <p class="mat-subheading-2 text-white" i18n>
      Welcome to the Infosys Sales Function! We are thrilled to have you on board. We are partnering with our clients on their digital journey as they Navigate their next, and you play a crucial role in helping us live our vision. This portal will help you learn all about Infosys and your new role. I wish you the best in your career with us.
    </p>
  </div>
</div>
<div class="content-strip show-description">
  <p class="mat-subheading-2" i18n>
    Welcome to the Infosys Sales Function! We are thrilled to have you on board. We are partnering with our clients on their digital journey as they Navigate their next, and you play a crucial role in helping us live our vision. This portal will help you learn all about Infosys and your new role. I wish you the best in your career with us.
  </p>
</div>
<div class="flex flex-center flex-wrapped padding-s">
  <div class="card-section">
    <app-feature-card url="/navigator/sales/launchpad" i18n-name i18n-description name="Sales Launchpad" description="Onboarding for new joiners"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/sales/cohort" i18n-name i18n-description name="Cohort Learning" description="Relive targeted in-person cohort learning"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/onboarding" i18n-name i18n-description name="Role Induction" description="Transition into your new role effectively"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/toc/lex_14700930272894420000" i18n-name i18n-description name="Bridge Academy" description="Get ready to move to Sales career stream"></app-feature-card>
  </div>
</div>
