<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n class="margin-left-xs">Recent Blogs</span>
  <span class="spacer"></span>
  <ng-container *ngIf="this.isXSmall$ | async">
    <a mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vertical</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <a i18n [routerLink]="'/blog-post/me'" mat-menu-item>My Blogs</a>
      <a i18n [routerLink]="'/blog-post/edit'" mat-menu-item>Write a Blog</a>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="!(this.isXSmall$ | async)">
    <a mat-raised-button i18n [routerLink]="'/blog-post/me'" class="margin-right-s">My Blogs</a>
    <a mat-raised-button class="margin-left-s" i18n [routerLink]="'/blog-post/edit'">Write a Blog</a>
  </ng-container>
</mat-toolbar>

<section class="blogs-container">
  <mat-card class="margin-bottom-s" *ngFor="let result of timelineData?.result">
    <a [routerLink]="'/blog-post/' + result.id">
      <h2 class="mat-h2 blog-title">{{ result.postContent.title }}</h2>
      <p class="mat-caption text-truncate">{{ result.postContent.abstract }}</p>
    </a>
    <div class="flex flex-between flex-middle">
      <div>
        <!-- <a class="mat-primary-text"
          [routerLink]="'/profile/' + result.postCreator.emailId"> -->
        <span class="mat-primary-text">
          {{ result.postCreator.name }}
        </span>
        <!-- </a> -->
        <div i18n-matTooltip matTooltip="Updated on" class="mat-caption">{{ result.dtLastModified | date }}</div>
      </div>
      <app-btn-like
        [postId]="result.id"
        [postCreatorId]="result?.postCreator?.postCreatorId"
        [activity]="result.activity"
      ></app-btn-like>
    </div>
  </mat-card>
  <h2 class="text-center margin-top-m" i18n *ngIf="timelineFetchStatus === 'none'">No blogs have been posted yet</h2>
  <div *ngIf="timelineFetchStatus === 'fetching'" class="text-center margin-top-s">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="timelineFetchStatus === 'hasMore'" class="text-center">
    <button (click)="fetchTimelineData()" type="button" mat-raised-button color="primary">
      <mat-icon>add</mat-icon>&nbsp;
      <ng-container>View More</ng-container>
    </button>
  </div>
</section>
