<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="container-balanced">
  <div class="margin-top-l text-center">
    <p class="mat-body" i18n *ngIf="trainingRequests && trainingRequests.length">
      These are the trainings planned by your team members. You can reject them within 3 days of registration.
    </p>
  </div>

  <section class="flex flex-wrapped flex-between">
    <ng-container *ngIf="fetchStatus === 'done'">
      <div class="card-container" *ngFor="let request of trainingRequests">
        <app-training-request-card [trainingRequest]="request" (trainingRejected)="onTrainingRejected($event)">
        </app-training-request-card>
      </div>
      <p class="mat-body margin-top-xl text-center width-1-1" *ngIf="!trainingRequests.length" i18n>
        There are no trainings planned by your team members.
      </p>
    </ng-container>

    <ng-container *ngIf="fetchStatus === 'fetching'">
      <div class="margin-top-xl flex flex-center width-1-1">
        <div>
          <app-spinner [spinColor]="'primary'"></app-spinner>
        </div>
      </div>
    </ng-container>
  </section>
</section>

<!-- Templates -->
<ng-template #error>
  <div class="text-center" i18n>
    There was an error fetching trainings.
  </div>
</ng-template>
