/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import 'ws-mixins';

.chatbot-container {
  position: fixed;
  $position: 24px;
  bottom: $position;
  right: $position;
  z-index: 10;

  @include breakpoint-xs {
    bottom: 3 * $position;
  }
}

.bot-content {
  height: 392px;
  width: 780px;
  border: none;
  background: 0 0 !important;

  @include breakpoint-xs {
    // height: 420px;
    width: 300px;
  }

  .chatbot-iframe {
    width: 100%;
    height: 100%;
  }

  .bot-close {
    position: absolute;
    right: 8px;
    top: 6px;
  }
}