<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="chatbot-container" *ngIf="!isRestricted" [hidden]="hideOnInvalidRoute">
  <button type="button" mat-mini-fab [color]="'primary'" (click)="openChatbot()" [hidden]="chatbotOpened">
    <mat-icon>question_answer</mat-icon>
  </button>
  <div class="bot-content mat-app-background" [hidden]="!chatbotOpened">
    <iframe *ngIf="isFirstTimeLoaded" i18n-title title="chatbot" [src]="chatbotUrl" class="chatbot-iframe"></iframe>
    <button mat-mini-fab [color]="'primary'" (click)="chatbotOpened = false" class="bot-close" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
