<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card *ngIf="showIframeSupportWarning">
  <mat-card-content>
    <h2 class="mat-h2" *ngIf="processedContent?.content?.isIframeSupported === 'Maybe'" i18n>
      Content may be required to be opened in a new tab
    </h2>
    <h2 class="mat-h2" *ngIf="processedContent?.content?.isIframeSupported === 'No'" i18n>
      Content needs to be opened in a new tab
    </h2>
    <mat-divider></mat-divider>
    <div class="flex flex-between padding-top-s">
      <a type="button" mat-button [href]="this.processedContent.content.artifactUrl" target="_blank">Open in New Tab</a>
      <button type="button" i18n mat-button (click)="dismiss()">Dismiss</button>
    </div>
  </mat-card-content>
</mat-card>

<h2 class="text-center mat-primary-text margin-top-m load" *ngIf="showIsExternalMessage" i18n>
  This is a third party online training program. There could be a delay in loading the content.
</h2>

<div class="margin-top-m text-center" *ngIf="pageFetchStatus !== 'done'">
  <app-spinner *ngIf="pageFetchStatus === 'fetching'"></app-spinner>
  <h2 *ngIf="pageFetchStatus === 'error'" i18n>Error loading page. Please try refreshing page.</h2>
</div>

<iframe
  *ngIf="processedContent?.content?.isIframeSupported !== 'No'"
  title="HTML Content Viewer"
  i18n-title
  [src]="iframeUrl"
  (load)="onIframeLoadOrError('load')"
  (error)="onIframeLoadOrError('error')"
  allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; microphone; camera;"
  class="html-iframe"
></iframe>
