/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/vars";
@import "src/styles/mixins";

.infyme-counter-container {
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding: $size-l 2 * $size-xl;
  .count-container {
    width: 25%;
    margin-right: $size-xl;
    display: block;
    .counter-box {
      background: black;
      text-align: center;
      color: #ffffab;
      padding: $size-l;
      margin-bottom: $size-m;
      .header-highlight {
        font-size: 2.5rem !important;
        margin: 0;
        line-height: 1.6;
        color: #fff;
        @include breakpoint-xs {
          font-size: 2rem !important;
        }
      }
      @include breakpoint-xs {
        margin: 0;
        padding: $size-m;
        width: 39%;
      }
    }
    @include breakpoint-xs {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .chart-container {
    width: calc(75% - $size-xl);
    margin: 0;
    box-sizing: border-box;
    @include breakpoint-xs {
      margin-top: $size-l;
      width: 100%;
    }
  }
  @include breakpoint-xs {
    flex-direction: column;
    padding: $size-m;
  }
}
