<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs" i18n>InfyMe Counter</span>
</mat-toolbar>

<div class="infyme-counter-container">
  <div *ngIf="counterData" class="count-container">
    <mat-card class="counter-box">
      <h1 class="header-highlight">{{ counterData.totalDownloads }}</h1>
      <div class="text-truncate">Total Downloads</div>
    </mat-card>
    <mat-card class="counter-box">
      <h1 class="header-highlight">{{ counterData.yesterdaysDownloads }}</h1>
      <div class="text-truncate">Yesterdays Downloads</div>
    </mat-card>
  </div>
  <mat-card class="chart-container width-expand" [ngStyle]="{ 'background-color': graphs.meta.backgroundColor }">
    <canvas [id]="graphs?.meta?.chartId" width="380" height="350"
      >Your browser does not support the canvas element.</canvas
    >
  </mat-card>
</div>

<h2 class="margin-top-m text-center" *ngIf="hasErrorFetching">Failed to update counter data. Please retry / refresh</h2>
