<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container [ngSwitch]="iconType">
  <mat-icon *ngSwitchCase="'video'" i18n-matTooltip matTooltip="video">play_circle_outline</mat-icon>
  <mat-icon *ngSwitchCase="'audio'" i18n-matTooltip matTooltip="audio">music_video</mat-icon>
  <mat-icon *ngSwitchCase="'pdf'" i18n-matTooltip matTooltip="pdf">picture_as_pdf</mat-icon>
  <mat-icon *ngSwitchCase="'quiz'" i18n-matTooltip matTooltip="quiz">help_outline</mat-icon>
  <mat-icon *ngSwitchCase="'assessment'" i18n-matTooltip matTooltip="assessment">help</mat-icon>
  <mat-icon *ngSwitchCase="'youtube'" i18n-matTooltip matTooltip="youtube">ondemand_video</mat-icon>
  <mat-icon *ngSwitchCase="'interaction'" i18n-matTooltip matTooltip="interactive-video">featured_video</mat-icon>
  <mat-icon *ngSwitchCase="'web-module'" i18n-matTooltip matTooltip="web-module">book</mat-icon>
  <mat-icon *ngSwitchCase="'hands-on'" i18n-matTooltip matTooltip="hands-on">code</mat-icon>
  <mat-icon *ngSwitchCase="'iap'" i18n-matTooltip matTooltip="hands-on">code</mat-icon>
  <mat-icon *ngSwitchCase="'instructor-led'" i18n-matTooltip matTooltip="instructor-led">class</mat-icon>
  <mat-icon *ngSwitchCase="'certification'" i18n-matTooltip matTooltip="certification">school</mat-icon>
  <mat-icon *ngSwitchCase="'module'" i18n-matTooltip matTooltip="module">folder</mat-icon>
  <mat-icon *ngSwitchCase="'course'" i18n-matTooltip matTooltip="course">folder</mat-icon>
  <mat-icon *ngSwitchCase="'program'" i18n-matTooltip matTooltip="program">folder</mat-icon>
  <mat-icon *ngSwitchDefault i18n-matTooltip matTooltip="resource">web_asset</mat-icon>
</ng-container>
