<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/navigator">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigator fullstack" class="margin-left-xs">FullStack Programs</span>
</mat-toolbar>
<div class="margin-bottom-xl">
  <section class="content-strip">
    <h2 class="mat-title" i18n>
      Pick a full stack offering of your choice to learn
    </h2>
    <div class="margin-xl" *ngIf="!availablePrograms">
      <app-spinner></app-spinner>
    </div>
    <app-scroll-handler [contentStatus]="'done'">
      <app-fs-card [fullStackProgram]="program" [thumbnail]="thumbnailsHash[program.fs_linked_program]" *ngFor="let program of availablePrograms"></app-fs-card>
    </app-scroll-handler>
  </section>
</div>
