/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
@import "~src/styles/mixins";

.itemtile-slider-wrapper {
  position: relative;
  // width: 100%;
  margin-left: -20px;
  margin-bottom: 20px;
  text-align: justify;
  .action {
    position: absolute;
    z-index: 99;
    display: inline-flex;
    right: 0;
    bottom: 125px;
    // background-color: $color-primary-silver;
    padding: 0px 4px;
    cursor: pointer;
    border-radius: 3px;
    &:first-child {
      margin-right: 15px;
    }
    &.left {
      // right: 50px;
      right: 96.5%;
    }
    &.right {
      // right: 0px;
      right: -15px;
    }
  }
  .content {
    vertical-align: top;
    // width: 99%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    .tile-wrapper {
      @include transitions("all 500ms ease-in-out");
      max-width: 100%;
      display: inline-block;
      white-space: nowrap;
      .tile {
        display: inline-flex;
        margin: 1px 15px;
        .itemtile-wrapper {
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}
