<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<article class="itemtile-slider-wrapper">
  <section class="content" id="{{ sliderData.sliderId }}_content">
    <article
      class="tile-wrapper"
      id="{{ sliderData.sliderId }}_wrapper"
      [ngStyle]="style"
    >
      <section
        id="{{ sliderData.sliderId }}_{{ i }}"
        class="tile"
        *ngFor="let tile of sliderData.itemtileData; index as i"
      >
        <app-item-tile
          [show]="load"
          [ref]="invokedBy"
          [data]="tile"
        ></app-item-tile>
      </section>
      <section
        class="tile"
        *ngIf="sliderData.fetchingMore"
        style="vertical-align: top; margin-top: -8px;"
      ></section>
      <section
        class="fetch-more"
        *ngIf="sliderData.showFetchMore && sliderData.hasMore"
      >
        <section class="fbtn" (onclick)="fetchMore()">
          <span>Load More</span>
        </section>
      </section>
    </article>
  </section>
  <!-- action items -->
  <section
    class="action left"
    title="Previous"
    (click)="[action(left)]"
    *ngIf="sliderData.showLeft"
  >
    <button mat-mini-fab color="accent" class="prevBtn ">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </section>
  <section
    class="action right"
    title="Next"
    (click)="[action(right)]"
    *ngIf="sliderData.showRight"
  >
    <button mat-mini-fab color="accent" class="prevBtn ">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </section>
  <!-- <section class="action left" title="Previous" (click)="action(left)" *ngIf="sliderData.showLeft">
    <article class="action-box">
        <i class="material-icons" aria-hidden="true" style="vertical-align: middle;margin-top: -4px;">keyboard_arrow_left</i>
    </article>
  </section>
  <section class="action right" title="Next" (click)="action(right)" *ngIf="sliderData.showRight">
      <article class="action-box">
          <i class="material-icons" aria-hidden="true" style="vertical-align: middle;margin-top: -4px;">keyboard_arrow_right</i>
      </article>
  </section>
</article> -->
</article>
