<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs">{{ learningPath?.lp_name }}</span>
</mat-toolbar>
<div class="banner">
  <div class="content-strip">
    <p class="mat-subheading-2 text-white">
      {{ learningPath?.lp_description | limitTo: 300 }}
    </p>
  </div>
</div>
<div *ngIf="!learningPath?.profiles?.length" class="margin-top-xl">
  <app-spinner></app-spinner>
</div>
<div *ngIf="learningPath?.profiles?.length" class="margin-bottom-xl">
  <div *ngIf="showProfile" class="padding-bottom-m content-strip">
    <h3 class="mat-h3" i18n>
      Time required to learn varies depending on what skills one already possesses. Select your skill profile to know courses that
      you need to learn. Create a goal to track your learning progress.
    </h3>
    <h3 class="mat-h3" i18n>Choose relevant learning path and create goal</h3>
    <mat-radio-group>
      <ng-container *ngFor="let profile of learningPath?.profiles; let idx = index">
        <mat-radio-button name="profile" [value]="profile?.profile_id" [checked]="idx === 0" (change)="onProfileChange(profile?.profile_id)">{{ profile?.profile_display_name }}
        </mat-radio-button>
        <app-lp-duration-bar [id]="profile?.profile_id" [barLabel]="profileDescription(profile.courses)" [duration]="profile.profile_time + 'days'"></app-lp-duration-bar>
        <mat-divider class="margin-bottom-m"></mat-divider>
      </ng-container>
    </mat-radio-group>
    <div class="text-center">
      <button *ngIf="!addingGoalsInProgress" [disabled]="!isNavigatorGoalsEnabled" mat-raised-button color="primary" (click)="createGoal()"
        i18n>
        Create Goal
      </button>
      <app-spinner *ngIf="addingGoalsInProgress"></app-spinner>
    </div>
  </div>

  <div *ngIf="courses?.length">
    <div class="content-strip padding-remove-bottom margin-remove-bottom">
      <h2 class="mat-title">
        <ng-container *ngIf="showProfile" i18n>Explore courses for your selected Profile. &nbsp;</ng-container>
        <ng-container *ngIf="!showProfile" i18n>Explore courses</ng-container>
        <span i18n>You must take assessment to record completion of courses.</span>
      </h2>
    </div>
  </div>
  <section class="content-strip" *ngIf="courses?.length">
    <app-content-strip class="uk-card uk-card-body" heading="Courses" [contents]="courses" contentStatus="done"></app-content-strip>
  </section>
  <section class="content-strip" *ngIf="practises?.length">
    <app-content-strip class="uk-card uk-card-body" heading="Practice" contentStatus="done" [contents]="practises"></app-content-strip>
  </section>
  <section *ngIf="!practises?.length" class="content-strip">
    <h2 class="mat-h2">Practice</h2>
    <app-scroll-handler contentStatus="done" [random]="randomNumber">
      <ng-container *ngIf="learningPath?.lp_playground.length">
        <app-knowmore-card [id]="playgroundItem.playground_id" [title]="playgroundItem.playground_name" [description]="playgroundItem.playground_description"
          (knowMoreClicked)="onPractiseClicked($event)" *ngFor="let playgroundItem of learningPath?.lp_playground"></app-knowmore-card>
      </ng-container>
      <app-knowmore-card *ngIf="!learningPath?.lp_playground.length" [title]="learningPath?.lp_name" [description]="'Coming soon...'"></app-knowmore-card>
    </app-scroll-handler>
  </section>
  <app-certification-panel [lpItems]="[learningPath]"></app-certification-panel>
</div>

<input type="hidden" i18n-value i18n-aria-value aria-value="Goals added successfully" value="Goals added successfully " #toastSuccess
/>
<input type="hidden" i18n-value i18n-aria-value aria-value="Unable to save goals" value="Unable to save goals" #toastFailure
/>

<input type="hidden" i18n-value i18n-aria-value aria-value="Program not launched yet" value="Program not launched yet" #toastNotLaunched
/>

<input type="hidden" i18n-value i18n-aria-value aria-value="Already part of your goals" value="Already part of your goals"
  #toastAlreadyAdded />
