<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="content-strip" *ngIf="fetchStatus === 'done'">
  <div class="flex flex-between margin-bottom-s">
    <h1 class="mat-title margin-remove" i18n>Based on your interests</h1>
    <a [routerLink]="'/interest'" mat-stroked-button>
      <mat-icon>edit</mat-icon>&nbsp;
      <span i18n>Edit</span>
    </a>
  </div>
  <p *ngIf="!interestRecommendations?.length" i18n>Couldn't find anything based on your interests. Please add or modify your interest topics to find relevant content. </p>
  <app-content-strip *ngIf="interestRecommendations?.length" [contents]="interestRecommendationsContent" [contentStripHash]="contentStripHash"
    [contentStatus]="'done'" [cardType]="cardType"></app-content-strip>
</section>