<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/my-skills'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title:Add Skill" class="margin-left-xs">Add Skill</span>
  <span class="spacer"></span>
  <a mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </a>
</mat-toolbar>
<ng-container>
  <p class="mat-small margin-right-m text-right" i18n>For illustrative purposes only</p>
</ng-container>
<div class="roles-container flex flex-center flex-wrapped margin-top-xl">
  <div class="margin-bottom-xl ">
    <h2 class="mat-title" i18n="section heading create new skill group">
      Add Skill
    </h2>
    <mat-card class="tab-width">
      <!-- <mat-tab-group class="tab-width"> -->
      <!-- <mat-tab label="Create your Own" class="width-1-1"> -->
      <form class="mat-form-field">
        <mat-form-field class="width-1-1">
          <input
            matInput
            minlength="4"
            maxlength="100"
            [(ngModel)]="skillName"
            i18n-value
            i18n-placeholder="input placeholder skill Title"
            placeholder="Skill name(required)"
            name="skillName"
            autocomplete="off"
            ngModel
            required
          />
        </mat-form-field>
      </form>
      <!-- <mat-chip-list>
        <mat-chip *ngFor="let skill of selectedSkills" [selectable]="selectable" [removable]="removable" (removed)="remove(skill)">
              {{ skill?.skillName }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
      </mat-chip-list> -->
      <form class="example-form">
        <mat-form-field class="width-1-1">
          <input
            matInput
            minlength="4"
            maxlength="100"
            [(ngModel)]="skillDesc"
            i18n-value
            i18n-placeholder="input placeholder skill Title"
            placeholder="Skill Description(required)"
            name="skillDesc"
            autocomplete="off"
            ngModel
            required
          />
          <!-- <mat-icon matSuffix>search</mat-icon> -->
          <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)" [displayWith]="displayFn">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option?.skillName }}
                </mat-option>
              </mat-autocomplete> -->
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Skill level</mat-label>
          <mat-select [(value)]="selectedLevel">
            <mat-option *ngFor="let item of skillLevels" [value]="item.value" i18n>
              {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Criticality</mat-label>
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let item of criticality" [value]="item.value" i18n>
              {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field>
          <mat-label>Criticality</mat-label>
          <mat-select >
            <mat-option>None</mat-option>
            <mat-option *ngFor="let item of criticality" [value]="item.value"> {{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field> -->
        <div class="flex flex-center flex-wrapped">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="createNewSkillGroup(skillName, skillDesc, selectedLevel, selected)"
            i18n="button add new skill"
          >
            Add
          </button>
        </div>
      </form>
      <!-- </mat-tab> -->
      <!-- </mat-tab-group> -->
    </mat-card>
  </div>
</div>
