<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="snippet-card" *ngIf="doneLoading">
  <!-- <div [innerHTML]="htmlCode | safehtml"></div> -->
  <ng-container *ngFor="let fragment of snippetMeta.fragments">
    <ng-container *ngIf="!fragment.id">
        <span class="mat-body" [innerHTML]="fragment | safehtml"></span>
    </ng-container>
    <ng-container *ngIf="fragment.id">
      <mat-form-field>
        <mat-select [(ngModel)]="fragment.currentValue" (selectionChange)="changeSelection(fragment, $event)">
          <mat-option *ngFor="let option of fragment.ddownOptions" [value]="option">{{option.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </ng-container>
  <!-- <div class="snippet-disabled-overlay" *ngIf="disabled"></div> -->
</mat-card>
