/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/mixins";
@import '~src/styles/styles';

.content {
  margin: $size-m $size-xs $size-m 0;
}

.content-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pad {
  padding: $size-m;
  @include breakpoint-gt-xs {
    padding: $size-m $size-xl;
  }
}