/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/mixins";
@import '~src/styles/styles';

.icon {
  transform: scale(1.2);
  margin: $size-s $size-xs $size-s 0 !important;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: $size-m; 
}

.pad {
  padding: $size-m;

  @include breakpoint-gt-xs {
    padding: $size-m $size-xl;
  }
}

.sentient-programs-card {
  justify-content: space-between;

  @include breakpoint-lt-lg {
    justify-content: space-around;
  }
}

.card {
  @include breakpoint-lt-sm {
    justify-content: center;
  }
}

.program {
  margin: $size-s;
  height: 100px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $size-s;
  box-sizing: border-box;
  cursor: pointer;
  flex: 1;
  color: white;
}

.selected {
  font-weight: 800;
  font-size: x-large !important;
}

.title {
  font-size: large;
}