<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="margin-l pad" *ngIf="config">
  <h2 class="mat-h2">{{config.title}}</h2>

  <mat-card-content>
    <h3 *ngIf="!config.programsList || !config.programsList?.length" i18n>Programs will appear here.</h3>
    <ng-container *ngIf="config.programsList && config.programsList?.length">
      <div class="flex card flex-wrapped">
        <div class="button program mat-primary-background" (click)="trackClicked(program)" *ngFor="let program of (config.programsList  | limitTo:3)">
          <img [src]="program.logo" class="logo" />
          <!-- <mat-icon class="icon" [color]="(heading === program.title) ? 'primary' : ''">{{program.iconName}}</mat-icon> -->
          <span class="title" [ngClass]="{'selected' : (heading === program.title)}">{{program.title | uppercase}}</span>
        </div>

      </div>
      <div class="flex flex-middle flex-stretch card" *ngIf="config.programsList?.length > 3">
        <div class="button program mat-toolbar" (click)="trackClicked(config.programsList[3])">
          <mat-icon class="icon" [color]="(heading === config.programsList[3].title) ? 'primary' : ''">{{config.programsList[3].iconName}}</mat-icon>
          {{config.programsList[3].title | uppercase}}
        </div>
      </div>
    </ng-container>
  </mat-card-content>

  <app-search-strip *ngIf="searchRequest" i18n-heading [heading]="heading" [searchRequest]="searchRequest" (contentStatus)="handleNoContent($event)">
  </app-search-strip>

  <ng-container *ngIf="errorMessageCode">
    <div [ngSwitch]="errorMessageCode" class="margin-top-m text-center padding-s">
      <h3 class="mat-h3" i18n *ngSwitchCase="'API_FAILURE'">Unable to fetch data</h3>
      <h3 class="mat-h3" i18n *ngSwitchCase="'NO_DATA'">Coming Soon...</h3>
    </div>
  </ng-container>

</mat-card>