/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';
// .mat-drawer-content

.graph-card{
    // background-color: white;
    width:40%;
    margin: 3%;
    margin: $size-m;
    padding:0px;

  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 45%;
    margin: $size-s;
  }
}
.assessment-card{
  // background-color: white;
    width:45%;
    margin: 3%;
    height:60%;
    padding:0px;
    @include breakpoint-xs {
      width: 90%;
      margin: $size-s;
    }
  
    @include breakpoint-sm {
      width: 45%;
      margin: $size-s;
    }
}
.graph-card-header{
    // margin:-16px -16px 8px -16px;
    background-color: #5ba46e;
    padding-top:2%;
    color: white;
}

table {
  width: 100%;
}
.tile-card {
  width: 29%;
  margin: $size-m;

  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 45%;
    margin: $size-s;
  }
}
.bubble-card{
  // background-color: white;
  width:95%;
  margin: 3%;
  margin: $size-m;
  padding:0px;

@include breakpoint-xs {
  width: 60%;
  margin: $size-s;
}

@include breakpoint-sm {
  width: 60%;
  margin: $size-s;
}
}

.margin-remove-bottom {
  margin-bottom: 0 !important;
}

.text-center{
    text-align:center;
}
.faq-container {
  margin: $size-l;
}
.page-heading {
  margin-bottom: $size-xl;
}

.sidenav-container {
  @extend %height-mat-toolbar-sibling;
  // min-height: 100%;
}
.mat-list-base {
  padding-top: 2px;
}

.sidenav {
  width: 16%;
  min-width: 200px;
  // padding-left: $size-m;
  background: inherit;

}


.my-analytics-active-class{
  color:inherit;
  background: inherit;
  // cursor: not-allowed !important;
}
.active-class{
    color: inherit;
    background: $active-color;
}

.focus-blur{
  padding: 0;
    height: 0px;
    width: 0px;
    outline: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
}
.feature-icon {
    $icon-size: 1.25 * $size-m;
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
    margin-right: $size-m;
  
    @include breakpoint-gt-xs {
      margin-right: 0;
      margin-bottom: $size-s;
    }
  }

  .lb-list-img{
     margin: auto;
     padding:$size-s;
     display: flex;
     flex-direction: column;
     align-items: center;
  }
  
  .lb-list-content-container {
    display: flex;
    width: 65%;
    // height: 30%;
  margin: auto;
  }
  .lb-list-name{
      text-align: center;
      // margin-top: -4%;
      padding-bottom: 8px;
  }

.user-profile-image {
    $user-size: 80px;
    width: $user-size;
    height: $user-size;
    font-size: $user-size;
    display: block;
  }
.list{
  cursor: not-allowed;
}
.goal-class{
  width: 45%;
  margin: 1% 10% 1% 10%;
  @include breakpoint-xs {
    width: 80%;
    margin: 2% 5% 1% 5%;
  }

  @include breakpoint-sm {
    width: 80%;
    margin: 1% 10% 1% 10%;
  }
}

