<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">My Analytics</span>
  <span class="spacer"></span>
  <!-- <mat-slide-toggle class="mat-body" i18n="learning history completed" >Completed</mat-slide-toggle> -->
</mat-toolbar>

<ng-container *ngIf="!isSiemensAvailable">
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav class="sidenav" [mode]="mode$ | async" [(opened)]="sideNavBarOpened">
      <div class="lb-list-content-container">
        <div class="lb-list-img" *ngIf="showImage">
          <app-user-image class="user-profile-image" [email]="emailId"></app-user-image>
          <div class="lb-list-name margin-remove-bottom ">
            {{ emailId }}
          </div>
        </div>
      </div>

      <mat-nav-list class="navbar flex-middle">
        <a mat-list-item aria-label="My Learning" [ngClass]="{ 'active-class': currentTab === 'myLearning' }" class="my-analytics-active-class flex-middle"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('myLearning')" i18n="page myanalytics side nav item one">
          <mat-icon class="feature-icon margin-remove-bottom ">school</mat-icon>
          <span class="padding-s mat-body-1 flex-middle">My Learning</span>
        </a>
        <a mat-list-item aria-label="My Assessment" [ngClass]="{ 'active-class': currentTab === 'myAssessment' }" routerLinkActive=" mat-toolbar"
          (click)="sideNavOnClick('myAssessment')" i18n="page myanalytics side nav item two">
          <mat-icon class="feature-icon margin-remove-bottom ">border_color</mat-icon>
          <span class="padding-s mat-body-1">My Assessment</span>
        </a>
        <a mat-list-item aria-label="NSO Progress" [ngClass]="{ 'active-class': currentTab === 'nsoProgress' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('nsoProgress')" i18n="page myanalytics side nav item three">
          <mat-icon class="feature-icon margin-remove-bottom ">flag</mat-icon>
          <span class="padding-s mat-body-1">My Refactoring</span>
        </a>
        <a mat-list-item aria-label="Plans" [ngClass]="{ 'active-class': currentTab === 'myPlans' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('myPlans')" i18n="page myanalytics side nav item four">
          <mat-icon class="feature-icon margin-remove-bottom ">calendar_today</mat-icon>
          <span class="padding-s mat-body-1">My Plans</span>
        </a>
        <a mat-list-item aria-label="Collaborators" [ngClass]="{ 'active-class': currentTab === 'myCollaborators' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('myCollaborators')" i18n="page myanalytics side nav item five">
          <mat-icon class="feature-icon margin-remove-bottom ">group</mat-icon>
          <span class="padding-s mat-body-1">My Collaborators</span>
        </a>
        <a mat-list-item aria-label="Feature Usage" [ngClass]="{ 'active-class': currentTab === 'myFeature' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('myFeature')" i18n="page myanalytics side nav item six">
          <mat-icon class="feature-icon margin-remove-bottom ">next_week</mat-icon>
          <span class="padding-s mat-body-1">My Feature Usage</span>
        </a>
        <a mat-list-item aria-label="Top Courses" [ngClass]="{ 'active-class': currentTab === 'topCourses' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('topCourses')" i18n="page myanalytics side nav item seven">
          <mat-icon class="feature-icon margin-remove-bottom ">book</mat-icon>
          <span class="padding-s mat-body-1">Top Courses</span>
        </a>
        <!-- <a mat-list-item aria-label="Skill Quotient" [ngClass]="{'active-class' : currentTab === 'skillquotient'}" class="my-analytics-active-class" routerLinkActive=" mat-toolbar"   (click)="navigateToSkill()" i18n="page myanalytics side nav item seven">
          <mat-icon class="feature-icon margin-remove-bottom ">book</mat-icon>
          <span class="padding-s mat-body-1">Skill Quotient</span>
        </a> -->
        <!-- <a mat-list-item aria-label=" Org Analytics" [ngClass]="{'active-class' : currentTab === 'orgAnalytics'}" class="my-analytics-active-class" routerLinkActive=" mat-toolbar"  routerLink="/learning-analytics"  i18n="page myanalytics side nav item eight">
          <mat-icon class="feature-icon margin-remove-bottom ">assessment</mat-icon>
          <span class="padding-s mat-body-1">Org Analytics</span>
        </a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="custom-scroll">
      <ng-container *ngIf="!error">
        <app-quarte-filter (filterEvent)="callFilteredGet($event)"></app-quarte-filter>
      </ng-container>

      <div *ngIf="screenSizeIsLtMedium && loader && !error" class="flex flex-middle padding-m">
        <mat-icon (click)="sideNavBarOpened = !sideNavBarOpened" class="cursor-pointer">menu</mat-icon>
        <h2 class="mat-subheading-2 margin-remove padding-left-xs" [ngSwitch]="currentTab">
          <span *ngSwitchCase="'myLearning'" i18n="page myanalytics mobile top nav item one">My Learning</span>
          <span *ngSwitchCase="'myAssessment'" i18n="page myanalytics mobile top nav item two">My Assessment</span>
          <span *ngSwitchCase="'nsoProgress'" i18n="page myanalytics mobile top nav item three">My Refactoring Progress</span>
          <span *ngSwitchCase="'myPlans'" i18n="page myanalytics mobile top nav item four">My Plans</span>
          <span *ngSwitchCase="'myCollaborators'" i18n="page myanalytics mobile top nav item five">My Collaborators</span>
          <span *ngSwitchCase="'myFeature'" i18n="page myanalytics mobile top nav item six">My Feature Usage</span>
          <span *ngSwitchCase="'topCourses'" i18n="page myanalytics mobile top nav item seven">Top Courses</span>
          <!-- <span *ngSwitchCase="'skillquotient'" i18n="page myanalytics mobile top nav item seven">Skill Quotient</span> -->
          <!-- <span *ngSwitchCase="'orgAnalytics'" i18n="page myanalytics mobile top nav item seven">Org Analytics</span> -->
        </h2>
      </div>
      <ng-container *ngIf="!loader && !error" class="margin-left-s margin-top-s">
        <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
          class="progress-circular-full">
        </app-spinner>
      </ng-container>
      <ng-container *ngIf="loader && !error">
        <span class="margin-left-m margin-top-m">
          <span i18n="myanalytics page index last updated on">Last Updated On :</span>
          {{ lastUpdatedOn }}</span>
      </ng-container>
      <section [ngSwitch]="currentTab" *ngIf="loader && !error">
        <!-- <ng-container >
          <span class="margin-left-m margin-top-m">Last Updated On : {{lastUpdatedOn}}</span>
        </ng-container> -->
        <ng-container *ngSwitchCase="'myLearning'">
          <app-my-learning [startDate]="startDate" [endDate]="endDate" [count]="dates.count" [mediumSize]="screenSizeIsLtMedium" [timeSpent]="timeSpentData"></app-my-learning>
        </ng-container>
        <ng-container *ngSwitchCase="'myAssessment'">
          <app-my-assessments [loader2]="loader2" [assessmentData]="assessmentData" [pendingAssessment]="assessmentComplete"></app-my-assessments>
        </ng-container>
        <ng-container *ngSwitchCase="'nsoProgress'">
          <app-stacked-graph [loader2]="loader2" [navigator]="cardDetails.navigator" [refactorProgram]="cardDetails.nsoProgram" [dates]="dates"
            [stackedGraphData]="nsoData.nso_content_progress" [stackedGraphList]="nsoData.nso_roles"></app-stacked-graph>
        </ng-container>
        <ng-container *ngSwitchCase="'myPlans'">
          <app-my-plans [loader2]="loader2" [dates]="dates" [goalData]="userprogressData.goal_progress" [myProgress]="myProgress" [certificationList]="assessmentData.certification_list"
            [othersProgress]="userprogressData.learning_history_progress_range" [playListData]="userprogressData.playlist_progress"
            [goalsSharedWithMe]="cardDetails.goalsSharedToMe" [badgesDetails]="timeSpentData.badges_details"></app-my-plans>
        </ng-container>
        <ng-container *ngSwitchCase="'myCollaborators'">
          <app-my-collaborators [loader2]="loader2" [userprogressData]="userprogressData" [nsoData]="nsoData"></app-my-collaborators>
        </ng-container>
        <ng-container *ngSwitchCase="'myFeature'">
          <app-my-feature-usage [loader2]="loader2" [tileData]="cardDetails" [learningMins]="orgWideAvgTimespent" [pointsEarned]="orgWideAvgPointsEarned"
            [orgAssessement]="orgWideTotalAssessment"></app-my-feature-usage>
        </ng-container>
        <ng-container *ngSwitchCase="'topCourses'">
          <app-top-courses [loader2]="loader2" [userprogressData]="userprogressData"></app-top-courses>
        </ng-container>
        <!-- <ng-container *ngSwitchCase="'skillquotient'">
          <app-skill-quotient [loader2]="loader2"></app-skill-quotient>
        </ng-container> -->
        <!-- <ng-container *ngSwitchCase="'orgAnalytics'">
        </ng-container> -->
      </section>
      <section *ngIf="error" class="flex flex-wrapped flex-center">
        <mat-card class="goal-class">
          <div class="flex flex-wrapped flex-center" style="font-weight: 500;">
            <mat-icon>warning</mat-icon>
            <span i18n="myanalytics page error"></span>Some error Occurred
          </div>
        </mat-card>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>


</ng-container>
<ng-container *ngIf="isSiemensAvailable">
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav class="sidenav" [mode]="mode$ | async" [(opened)]="sideNavBarOpened">
      <div class="lb-list-content-container">
        <div class="lb-list-img" *ngIf="showImage">
          <app-user-image class="user-profile-image" [email]="emailId"></app-user-image>
          <div class="lb-list-name margin-remove-bottom ">
            {{ emailId }}
          </div>
        </div>
      </div>

      <mat-nav-list class="navbar flex-middle">
        <a mat-list-item aria-label="My Learning" [ngClass]="{ 'active-class': currentTab === 'myLearning' }" class="my-analytics-active-class flex-middle"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('myLearning')" i18n="page myanalytics side nav item one">
          <mat-icon class="feature-icon margin-remove-bottom ">school</mat-icon>
          <span class="padding-s mat-body-1 flex-middle">My Learning</span>
        </a>
        <a mat-list-item aria-label="My Assessment" [ngClass]="{ 'active-class': currentTab === 'myAssessment' }" routerLinkActive=" mat-toolbar"
          (click)="sideNavOnClick('myAssessment')" i18n="page myanalytics side nav item two">
          <mat-icon class="feature-icon margin-remove-bottom ">border_color</mat-icon>
          <span class="padding-s mat-body-1">My Assessment</span>
        </a>
        <!-- <a
          mat-list-item
          aria-label="NSO Progress"
          [ngClass]="{ 'active-class': currentTab === 'nsoProgress' }"
          class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar"
          (click)="sideNavOnClick('nsoProgress')"
          i18n="page myanalytics side nav item three"
        >
          <mat-icon class="feature-icon margin-remove-bottom ">flag</mat-icon>
          <span class="padding-s mat-body-1">My Refactoring</span>
        </a> -->
        <a mat-list-item aria-label="Plans" [ngClass]="{ 'active-class': currentTab === 'myPlans' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('myPlans')" i18n="page myanalytics side nav item four">
          <mat-icon class="feature-icon margin-remove-bottom ">calendar_today</mat-icon>
          <span class="padding-s mat-body-1">My Plans</span>
        </a>
        <!-- <a
          mat-list-item
          aria-label="Collaborators"
          [ngClass]="{ 'active-class': currentTab === 'myCollaborators' }"
          class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar"
          (click)="sideNavOnClick('myCollaborators')"
          i18n="page myanalytics side nav item five"
        >
          <mat-icon class="feature-icon margin-remove-bottom ">group</mat-icon>
          <span class="padding-s mat-body-1">My Collaborators</span>
        </a> -->
        <a mat-list-item aria-label="Feature Usage" [ngClass]="{ 'active-class': currentTab === 'myFeature' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('myFeature')" i18n="page myanalytics side nav item six">
          <mat-icon class="feature-icon margin-remove-bottom ">next_week</mat-icon>
          <span class="padding-s mat-body-1">My Feature Usage</span>
        </a>
        <!-- <a mat-list-item aria-label="Top Courses" [ngClass]="{ 'active-class': currentTab === 'topCourses' }" class="my-analytics-active-class"
          routerLinkActive=" mat-toolbar" (click)="sideNavOnClick('topCourses')" i18n="page myanalytics side nav item seven">
          <mat-icon class="feature-icon margin-remove-bottom ">book</mat-icon>
          <span class="padding-s mat-body-1">Top Courses</span>
        </a> -->
        <!-- <a mat-list-item aria-label="Skill Quotient" [ngClass]="{'active-class' : currentTab === 'skillquotient'}" class="my-analytics-active-class" routerLinkActive=" mat-toolbar"   (click)="navigateToSkill()" i18n="page myanalytics side nav item seven">
          <mat-icon class="feature-icon margin-remove-bottom ">book</mat-icon>
          <span class="padding-s mat-body-1">Skill Quotient</span>
        </a> -->
        <!-- <a mat-list-item aria-label=" Org Analytics" [ngClass]="{'active-class' : currentTab === 'orgAnalytics'}" class="my-analytics-active-class" routerLinkActive=" mat-toolbar"  routerLink="/learning-analytics"  i18n="page myanalytics side nav item eight">
          <mat-icon class="feature-icon margin-remove-bottom ">assessment</mat-icon>
          <span class="padding-s mat-body-1">Org Analytics</span>
        </a> -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="custom-scroll">
      <ng-container *ngIf="!error">
        <app-quarte-filter (filterEvent)="callFilteredGet($event)"></app-quarte-filter>
      </ng-container>

      <div *ngIf="screenSizeIsLtMedium && loader && !error" class="flex flex-middle padding-m">
        <mat-icon (click)="sideNavBarOpened = !sideNavBarOpened" class="cursor-pointer">menu</mat-icon>
        <h2 class="mat-subheading-2 margin-remove padding-left-xs" [ngSwitch]="currentTab">
          <span *ngSwitchCase="'myLearning'" i18n="page myanalytics mobile top nav item one">My Learning</span>
          <span *ngSwitchCase="'myAssessment'" i18n="page myanalytics mobile top nav item two">My Assessment</span>
          <!-- <span *ngSwitchCase="'nsoProgress'" i18n="page myanalytics mobile top nav item three"
            >My Refactoring Progress</span
          > -->
          <span *ngSwitchCase="'myPlans'" i18n="page myanalytics mobile top nav item four">My Plans</span>
          <!-- <span *ngSwitchCase="'myCollaborators'" i18n="page myanalytics mobile top nav item five">My Collaborators</span> -->
          <span *ngSwitchCase="'myFeature'" i18n="page myanalytics mobile top nav item six">My Feature Usage</span>
          <!-- <span *ngSwitchCase="'topCourses'" i18n="page myanalytics mobile top nav item seven">Top Courses</span> -->
          <!-- <span *ngSwitchCase="'skillquotient'" i18n="page myanalytics mobile top nav item seven">Skill Quotient</span> -->
          <!-- <span *ngSwitchCase="'orgAnalytics'" i18n="page myanalytics mobile top nav item seven">Org Analytics</span> -->
        </h2>
      </div>
      <ng-container *ngIf="!loader && !error" class="margin-left-s margin-top-s">
        <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
          class="progress-circular-full">
        </app-spinner>
      </ng-container>
      <ng-container *ngIf="loader && !error">
        <span class="margin-left-m margin-top-m">
          <span i18n="myanalytics page index last updated on">Last Updated On :</span>
          {{ lastUpdatedOn }}</span>
      </ng-container>
      <section [ngSwitch]="currentTab" *ngIf="loader && !error">
        <!-- <ng-container >
          <span class="margin-left-m margin-top-m">Last Updated On : {{lastUpdatedOn}}</span>
        </ng-container> -->
        <ng-container *ngSwitchCase="'myLearning'">
          <app-my-learning [startDate]="startDate" [endDate]="endDate" [count]="dates.count" [mediumSize]="screenSizeIsLtMedium" [timeSpent]="timeSpentData"></app-my-learning>
        </ng-container>
        <ng-container *ngSwitchCase="'myAssessment'">
          <app-my-assessments [loader2]="loader2" [assessmentData]="assessmentData" [pendingAssessment]="assessmentComplete"></app-my-assessments>
        </ng-container>
        <!-- <ng-container *ngSwitchCase="'nsoProgress'">
          <app-stacked-graph
            [loader2]="loader2"
            [navigator]="cardDetails.navigator"
            [refactorProgram]="cardDetails.nsoProgram"
            [dates]="dates"
            [stackedGraphData]="nsoData.nso_content_progress"
            [stackedGraphList]="nsoData.nso_roles"
          ></app-stacked-graph>
        </ng-container> -->
        <ng-container *ngSwitchCase="'myPlans'">
          <app-my-plans [isResource]="userprogressData.is_resource_available" [loader2]="loader2" [dates]="dates" [goalData]="userprogressData.goal_progress" [myProgress]="myProgress" [certificationList]="assessmentData.certification_list"
            [othersProgress]="userprogressData.learning_history_progress_range" [playListData]="userprogressData.playlist_progress"
            [goalsSharedWithMe]="cardDetails.goalsSharedToMe" [badgesDetails]="timeSpentData.badges_details"></app-my-plans>
        </ng-container>
        <!-- <ng-container *ngSwitchCase="'myCollaborators'">
          <app-my-collaborators
            [loader2]="loader2"
            [userprogressData]="userprogressData"
            [nsoData]="nsoData"
          ></app-my-collaborators>
        </ng-container> -->
        <ng-container *ngSwitchCase="'myFeature'">
          <app-my-feature-usage [loader2]="loader2" [tileData]="cardDetails" [learningMins]="orgWideAvgTimespent" [pointsEarned]="orgWideAvgPointsEarned"
            [orgAssessement]="orgWideTotalAssessment"></app-my-feature-usage>
        </ng-container>
        <!-- <ng-container *ngSwitchCase="'topCourses'">
          <app-top-courses [loader2]="loader2" [userprogressData]="userprogressData"></app-top-courses>
        </ng-container> -->
        <!-- <ng-container *ngSwitchCase="'skillquotient'">
          <app-skill-quotient [loader2]="loader2"></app-skill-quotient>
        </ng-container> -->
        <!-- <ng-container *ngSwitchCase="'orgAnalytics'">
        </ng-container> -->
      </section>
      <section *ngIf="error" class="flex flex-wrapped flex-center">
        <mat-card class="goal-class">
          <div class="flex flex-wrapped flex-center" style="font-weight: 500;">
            <mat-icon>warning</mat-icon>
            <span i18n="myanalytics page error"></span>Some error Occurred
          </div>
        </mat-card>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>



<!--
 top bar
 side container
 - side-part
 -content-part : have router-outlet
 -->

<!-- Charts
1. Convert all the charts to use chart.js if it provides
2. Create list of non-chart.js convertables.
3. Find a supplimentary library which covers most of it
-->
