<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h4>Are you sure to delete?</h4>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="'deleted'" (click)="deleteRole()" i18n>Yes</button>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <button mat-raised-button (click)="closeDialog()" i18n>No</button>
</div>
