/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import 'src/styles/common';
$size: 48px;

.notifications-container {
  min-height: 100%;
  box-sizing: border-box;
  @extend %width-balancer;
}

.recent-badge {
  width: $size !important;
  height: $size !important;
}

.notification-icon {
  font-size: $size - 8px !important;
  width: $size - 8px !important;
  height: $size - 8px !important;
}
