<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: notifications" class="margin-left-xs">Notifications</span>
  <span class="spacer"></span>
  <button [hidden]="fetchStatus === 'fetching'" mat-icon-button i18n-title title="re-check notifications" (click)="initiate()"
    type="button" i18n-aria-label="re check notifications" aria-label="refresh notifications">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="notifications-container">
  <app-spinner class="margin-top-m" *ngIf="fetchStatus === 'fetching'"></app-spinner>
  <h2 class="mat-h2" *ngIf="fetchStatus === 'none'" i18n>No notifications</h2>
  <mat-nav-list>
    <ng-container *ngIf="recentBadge">
      <h3 matSubheader i18n="recently earned badge">Recent Badge</h3>
      <a mat-list-item [routerLink]="'/badges'">
        <img matListAvatar class="recent-badge" [src]="recentBadge.image">
        <h4 matLine>{{recentBadge.badge_name}}</h4>
        <p matLine>{{recentBadge.message}}</p>
        <p matLine>
          <ng-container i18n="notification: badge received on">Received on: </ng-container>
          <span> {{recentBadge.last_received_date | date}}</span>
        </p>
      </a>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngIf="sharedPlaylists.length">
      <h3 matSubheader i18n="notification: shared playlists">Shared Playlist</h3>
      <a mat-list-item [routerLink]="'/playlist'" *ngFor="let sharedPlaylist of sharedPlaylists | slice:0:2; trackBy: playlistTrackBy">
        <mat-icon matListIcon class="notification-icon">playlist_play</mat-icon>
        <h4 matLine>{{sharedPlaylist.playlist_title}}</h4>
        <p matLine>
          <ng-container i18n="notification: playlist shared by">Shared by: </ng-container>
          <span> {{sharedPlaylist.shared_by}}</span>
        </p>
        <p matLine>
          <ng-container i18n="notification: playlist shared on">Shared on: </ng-container>
          <span> {{sharedPlaylist.shared_on | date}}</span>
        </p>
      </a>
      <div *ngIf="sharedPlaylists.length > 2" class="text-right">
        <a i18n="notification: view more playlist" mat-button [routerLink]="'/playlist'">View More</a>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngIf="sharedGoals.length">
      <h3 matSubheader i18n="notification: shared goals">Shared Goals</h3>
      <a mat-list-item [routerLink]="'/goals'" *ngFor="let sharedGoal of sharedGoals | slice:0:2; trackBy: goalTrackBy">
        <mat-icon matListIcon class="notification-icon">adjust</mat-icon>
        <h4 matLine>{{sharedGoal.goal_title}}</h4>
        <p matLine>
          <ng-container i18n="notification: goal shared by">Shared by: </ng-container>
          <span> {{sharedGoal.shared_by}}</span>
        </p>
        <p matLine>
          <ng-container i18n="notification: goal shared on">Shared on: </ng-container>
          <span> {{sharedGoal.shared_on | date}}</span>
        </p>
      </a>
      <div *ngIf="sharedGoals.length > 2" class="text-right">
        <a i18n="notification: view more goals" mat-button [routerLink]="'/goals'">View More</a>
      </div>
    </ng-container>
  </mat-nav-list>
</mat-card>
