<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary" *ngIf="!hideToolbar">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: living-labs" class="margin-left-xs">Living Labs</span>
</mat-toolbar>

<img class="banner" [appResponsiveImageSrc]="banner" />
<section class="content-strip" *ngIf="hardcodedContent && hardcodedContent?.length">
  <app-scroll-handler contentStatus="done">
    <app-content-card [content]="content" *ngFor="let content of hardcodedContent"></app-content-card>
    <app-dummy-content-card
      thumbnail="/content/ETA/lex_auth_0124821463542988808/Thumbnail_LP_112.png?type=artifacts"
      name="Coming Soon: Functional Programming with Scala"
    ></app-dummy-content-card>
    <app-dummy-content-card
      thumbnail="/content/ETA/do_212410198505111552112/CyberSecurityCourseThumbnail.png?type=artifacts"
      name="Coming Soon: Cyber Security"
    ></app-dummy-content-card>
    <app-dummy-content-card
      thumbnail="/public-assets/common/misc/images/living-labs-1.png"
      name="Coming Soon: NoSQL Databases"
    ></app-dummy-content-card>
    <app-dummy-content-card
      thumbnail="/public-assets/common/misc/images/living-labs-2.png"
      name="Coming Soon: Next Gen Technologies"
    ></app-dummy-content-card>
  </app-scroll-handler>
</section>
