/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/vars';

.feature-container {
  background-image: url("/public-assets/common/sub-apps/navigator/posters/home_2.jpg");
  $card-height: 112px;
  text-align: center;
  height: $card-height;
  max-height: $card-height;
}

.card-title {
  line-height: 1.2;
}

.card-txt {
  color: $color-text-dark;
}

.grey-filter {
  filter: grayscale(0.9) contrast(0.7) opacity(0.9);
  cursor: auto;
}

