<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<a [routerLink]="enabled ? url: undefined">
  <mat-card class="feature-container" [ngClass]="{'grey-filter': !enabled }">
    <div class="flex flex-middle height-1-1">
      <div class="width-1-1">
        <h2 class="mat-h2 card-title card-txt">{{ name }}</h2>
        <p class="margin-remove card-txt">{{ description }}</p>
      </div>
    </div>
  </mat-card>
</a>