<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="playlistUser?.length" class="margin-bottom-m">
  <h2 class="mat-title" i18n="section heading user playlist">My Playlists</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let playlist of playlistUser">
      <mat-expansion-panel-header collapsedHeight="auto" class="padding-top-s padding-bottom-s">
        <div>
          <!-- <a [routerLink]="['/player/playlists/' + playlist.playlist_id]"> -->
          <h3 class="mat-h3 margin-remove-bottom text-line">
            {{ playlist.playlist_title }}
          </h3>
          <p class="margin-remove-bottom text-line" *ngIf="playlist.shared_by">
            <ng-container i18n>shared by </ng-container>{{ playlist.shared_by }}
          </p>
          <!-- </a> -->
        </div>
      </mat-expansion-panel-header>
      <app-user-playlist-item [playlist]="playlist"> </app-user-playlist-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
