<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-xl" *ngIf="goalCreationInProgress">
  <app-spinner></app-spinner>
</div>
<mat-horizontal-stepper *ngIf="!goalCreationInProgress && !(disableGoalMeta || disableGoalContent)" linear="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel *ngIf="mode === 'create' && !isSmallScreen" i18n="stepper 0 goal title create">Add Goal Title
      </ng-template>
      <ng-template matStepLabel *ngIf="mode === 'edit' && !isSmallScreen" i18n="stepper 0 goal title edit">Edit Goal Title
      </ng-template>
      <ng-template matStepLabel *ngIf="isSmallScreen" i18n="stepper 0 goal title small">Title</ng-template>
      <mat-form-field class="width-1-1">
        <input matInput i18n-placeholder="input goal title placeholder" placeholder="Goal Title (Required)" formControlName="goalTitleCtrl"
          class="width-1-1" autocomplete="off" required />
        <mat-error i18n="goal title form error message">Valid title range (10-100 characters)</mat-error>
      </mat-form-field>
      <mat-form-field class="width-1-1">
        <textarea matInput i18n-placeholder="input goal description placeholder" placeholder="Describe your goal (Optional)" formControlName="goalDescriptionCtrl"
          class="width-1-1" [rows]="5"></textarea>
      </mat-form-field>
      <p *ngIf="disableGoalMeta" class="add-goal-info margin-bottom-m">
        <mat-icon class="margin-right-s">info</mat-icon>
        <ng-container i18n>You can only edit duration of a suggested goal</ng-container>
      </p>
      <div class="flex">
        <span class="spacer"></span>
        <button #next1 mat-raised-button matStepperNext color="primary" i18n="button stepper next">
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dummyFormGroup">
    <ng-template matStepLabel *ngIf="mode === 'create' && !isSmallScreen" i18n="stepper 1 add content create">Add Contents
    </ng-template>
    <ng-template matStepLabel *ngIf="mode === 'edit' && !isSmallScreen" i18n="stepper 1 add content edit">Edit Contents</ng-template>
    <ng-template matStepLabel *ngIf="isSmallScreen" i18n="stepper 0 goal content small">Content</ng-template>
    <h2 class="mat-title text-truncate">
      {{ firstFormGroup.get("goalTitleCtrl").value }}
    </h2>
    <form [formGroup]="dummyFormGroup">
      <input type="hidden" formControlName="dummyFormCtrl" required />
    </form>
    <app-content-picker i18n-placeholder="input content picker placeholder" placeholder="Search content for your Goal..." [(checkedContent)]="checkedContent"
      [disableSearchInput]="disableGoalContent" (selectedContentChanged)="contentChanged($event)"></app-content-picker>
    <p *ngIf="disableGoalMeta" class="add-goal-info margin-bottom-m">
      <mat-icon class="margin-right-s">info</mat-icon>
      <ng-container i18n>You can only edit duration of a suggested goal</ng-container>
    </p>
    <div class="flex">
      <button mat-raised-button matStepperPrevious i18n="button stepper back">
        Back
      </button>
      <span class="spacer"></span>
      <button #next2 mat-raised-button matStepperNext color="primary" *ngIf="shouldAllowDurationStep()" i18n="button stepper next">
        Next
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel *ngIf="mode === 'create' && !isSmallScreen" i18n="stepper 2 add duration create">Add Duration
    </ng-template>
    <ng-template matStepLabel *ngIf="mode === 'edit' && !isSmallScreen" i18n="stepper 2 add duration edit">Edit Duration
    </ng-template>
    <ng-template matStepLabel *ngIf="isSmallScreen" i18n="stepper 0 goal duration small">Duration</ng-template>
    <div *ngIf="removeSubsetInProgress === 'fetching'" class="margin-m">
      <app-spinner></app-spinner>
    </div>
    <h3 *ngIf="removeSubsetInProgress === 'error'" class="mat-subheading-2" i18n>
      Some error occurred
    </h3>
    <div *ngIf="removeSubsetInProgress === 'done'">
      <h2 class="mat-title">{{ firstFormGroup.get("goalTitleCtrl").value }}</h2>
      <form [formGroup]="secondFormGroup">
        <ng-container i18n="input label set duration">Set Duration:</ng-container>
        <mat-form-field class="duration-input-width margin-left-s margin-right-s">
          <input matInput formControlName="goalDurationCtrl" type="number" required />
        </mat-form-field>
        <ng-container i18n="input label set duration days">days(s)</ng-container>
        <mat-error i18n="goal duration form error message" *ngIf="secondFormGroup.get('goalDurationCtrl').value < 1">Goal duration should be at least 1 day</mat-error>
        <h3 class="mat-h3">
          <ng-container i18n="message number of hours required to finish prefix">This will require </ng-container>
          <ng-container *ngIf="suggestedDuration >= 1"> {{suggestedDuration | number: "1.0-0"}} &ngsp;hour(s) </ng-container>
          <ng-container *ngIf="suggestedDuration < 1"> less than an hour </ng-container>
          <!-- {{suggestedDuration > 1 ? (suggestedDuration | number: "1.0-0) + ' hours'" : 'less than an hour'}} -->
          <ng-container class="margin-left-s margin-rigesteght-s" i18n="message number of hours required to finish suffix">
            to finish</ng-container>
        </h3>
        <div *ngIf="
            mode === 'create' &&
            !(predefinedGoal?.user_added || predefinedGoal?.share_added)
          " class="margin-bottom-m">
          <mat-radio-group formControlName="goalTypeCtrl">
            <mat-radio-button [value]="disableGoalContent ? 'common' : 'user'" checked="true" i18n="radio button add goal for yourself">For Yourself
            </mat-radio-button>
            <mat-radio-button [value]="disableGoalContent ? 'commonshared' : 'tobeshared'" i18n="radio button add goal for others" class="margin-left-m">For Others</mat-radio-button>
          </mat-radio-group>
        </div>
        <p *ngIf="predefinedGoal?.user_added || predefinedGoal?.share_added" class="margin-top-s">
          <ng-container i18n *ngIf="predefinedGoal?.share_added">
            You have already created this goal for others. Goal will be created for yourself
          </ng-container>
          <ng-container i18n *ngIf="!predefinedGoal?.share_added">
            You have already created this goal for yourself. Goal will be created for others
          </ng-container>
        </p>
      </form>
      <div class="flex">
        <button mat-raised-button matStepperPrevious i18n="button stepper back">
          Back
        </button>
        <span class="spacer"></span>
        <button mat-raised-button [disabled]="secondFormGroup.get('goalDurationCtrl').value < 1" (click)="createGoal(stepper)" color="primary">
          <ng-container *ngIf="mode === 'create'" i18n="button stepper create goal">Create</ng-container>
          <ng-container *ngIf="mode === 'edit'">Update</ng-container>
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<div *ngIf="(disableGoalMeta || disableGoalContent) && !goalCreationInProgress">
  <h2 class="mat-title">{{ firstFormGroup.get("goalTitleCtrl").value }}</h2>
  <form [formGroup]="secondFormGroup">
    <ng-container i18n="input label set duration">Set Duration:</ng-container>
    <mat-form-field class="duration-input-width margin-left-s margin-right-s">
      <input matInput formControlName="goalDurationCtrl" type="number" required />
    </mat-form-field>
    <ng-container i18n="input label set duration days">days(s)</ng-container>
    <mat-error i18n="goal duration form error message" *ngIf="secondFormGroup.get('goalDurationCtrl').value < 1">Goal duration should be at least 1 day</mat-error>
    <h3 class="mat-h3" *ngIf="suggestedDuration > 0">
      <ng-container i18n="message number of hours required to finish prefix">This will require </ng-container>{{ suggestedDuration | number: "1.0-0" }}
      <ng-container class="margin-left-s margin-right-s" i18n="message number of hours required to finish suffix">
        hours to finish</ng-container>
    </h3>
    <div *ngIf="
        mode === 'create' &&
        !(predefinedGoal?.user_added || predefinedGoal?.share_added)
      " class="margin-bottom-m">
      <mat-radio-group formControlName="goalTypeCtrl">
        <mat-radio-button [value]="disableGoalContent ? 'common' : 'user'" checked="true" i18n="radio button add goal for yourself">For Yourself
        </mat-radio-button>
        <mat-radio-button [value]="disableGoalContent ? 'commonshared' : 'tobeshared'" i18n="radio button add goal for others" class="margin-left-m">For Others</mat-radio-button>
      </mat-radio-group>
    </div>
    <p *ngIf="predefinedGoal?.user_added || predefinedGoal?.share_added" class="margin-top-s">
      <ng-container i18n *ngIf="predefinedGoal?.share_added">
        You have already created this goal for others. Goal will be created for yourself
      </ng-container>
      <ng-container i18n *ngIf="!predefinedGoal?.share_added">
        You have already created this goal for yourself. Goal will be created for others
      </ng-container>
    </p>
  </form>
  <div class="flex">
    <span class="spacer"></span>
    <button mat-raised-button [disabled]="secondFormGroup.get('goalDurationCtrl').value < 1" (click)="mode === 'create' || existingGoal?.goal_type !== 'common' ? createGoal(stepper) : updateCommonGoalDuration()"
      color="primary">
      <ng-container *ngIf="mode === 'create'" i18n="button stepper create goal">Create</ng-container>
      <ng-container *ngIf="mode === 'edit'" i18n>Update</ng-container>
    </button>
  </div>
</div>

<input #createFailed type="hidden" i18n-value value="Failed to create. Please try again" />
<input #updateFailed type="hidden" i18n-value value="Failed to upadte. Please try again" />
<input #createGoalSuccess type="hidden" i18n-value value="Goal created successfully." />
<input #updateGoalSuccess type="hidden" i18n-value value="Goal updated successfully." />