<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button *ngIf="!displayMode" [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: interests" class="margin-left-xs">Interests</span>
  <span class="spacer"></span>
  <a *ngIf="displayMode === 'setup'" [routerLink]="'/home'" i18n-aria-label aria-label="Done adding interests"
    mat-raised-button i18n>Done</a>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <mat-form-field class="interest-holder" color="primary">
      <input type="text" placeholder="Search Topics" i18n-placeholder="interest search" matInput [formControl]="interestControl"
        [matAutocomplete]="auto" i18n-aria-label aria-label="search topics" #interestSearch accesskey="F"/>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="optionSelected($event.option.value)">
      <mat-option *ngIf="interestSearch.value" [value]="interestSearch.value">{{interestSearch.value}}</mat-option>
      <mat-option *ngFor="let option of (filteredOptions$ | async)" [value]="option">{{ option }}</mat-option>
    </mat-autocomplete>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div class="interest-holder">
      <h2 class="mat-h2" i18n>My Interests</h2>
      <app-spinner *ngIf="requestStatus"></app-spinner>
      <h4 *ngIf="userInterestsFetchError" i18n>Unable to fetch interests</h4>
      <h4 *ngIf="!userInterests?.length" i18n>No interests</h4>
      <mat-chip-list>
        <mat-chip *ngFor="let userInterest of userInterests" [removable]="true" (removed)="removeInterest(userInterest)">
          {{ userInterest }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="suggestedInterests?.length">
  <mat-card-content>
    <div class="interest-holder">
      <h2 class="mat-h2" i18n>Our Suggestions</h2>
      <mat-chip-list>
        <mat-chip *ngFor="let suggestedInterest of suggestedInterests | limitTo: suggestionsLimit" [removable]="true"
          (removed)="addInterest(suggestedInterest, true)">
          {{ suggestedInterest }}
          <mat-icon matChipRemove>add_circle</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <div class="text-right" [hidden]="suggestionsLimit >= suggestedInterests.length">
        <button type="button" i18n="see more interests" i18n-aria-label aria-label="see more interests" mat-button
          (click)="suggestionsLimit = suggestedInterests.length" accesskey="+">View More</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<input type="hidden" i18-value i18-aria-value aria-value="Interests add successful" value="Preferences saved"
  #toastSuccess>
<input type="hidden" i18-value i18-aria-value aria-value="Duplicate interest in user list" value="Interest already present"
  #toastDuplicate>
<input type="hidden" i18-value i18-aria-value aria-value="Unable to save interests" value="Interests update failed"
  #toastFailure>
