/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/mixins";
@import "src/styles/vars";
.live-card {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: $size-s;
  flex-direction: columns;
}

@include breakpoint-xs {
  .live-card {
    width: 90%;
  }
}
.event-time {
  text-align: center;
  width: 20%;
}
.event-name {
  text-align: center;
  width: 50%;
}
.upcomingOrPast {
  text-align: center;
}
.word-break-break-all {
  word-break: break-all;
}

.live-card-date {
  @extend .live-card;
  margin-top: $size-xl;
}

.font-size-large {
  font-size: large;
}
