<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-s">
  <app-spinner [spinSize]="'small'" class="margin-l" *ngIf="fetchStatus === 'fetching'"></app-spinner>

  <div class="upcomingOrPast" *ngIf="fetchStatus === 'done'">
    <mat-button-toggle-group class="margin-left-m">
      <mat-button-toggle
        id="previousEventButton"
        value="ended"
        [disabled]="!availableData"
        mat-raised-button
        (click)="showEventsDate('previous')"
        i18n
        >Previous Events</mat-button-toggle
      >
      <mat-button-toggle
        id="liveEventButton"
        value="upcoming"
        [disabled]="!availableData"
        mat-raised-button
        (click)="showEventsDate('live')"
        i18n
        >Live Events</mat-button-toggle
      >
      <mat-button-toggle
        id="upcomingEventButton"
        value="upcoming"
        [disabled]="!availableData"
        mat-raised-button
        (click)="showEventsDate('upcoming')"
        i18n
        >Upcoming Events</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div *ngIf="fetchStatus === 'error'" i18n>No Live or upcoming events</div>
  <div class="flex flex-center" *ngFor="let event of events">
    <div *ngIf="!event['event_url']" class="live-card-date margin-bottom-m">
      <div class="flex flex-start">
        <div class="mat-body-2 font-size-large margin-bottom-s" i18n>{{ event | date: "MMM dd, y" }}</div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="event['event_url']" class="live-card">
      <a [routerLink]="'/events'" [queryParams]="{ liveUrl: event.event_url }">
        <div class="flex flex-center flex-around">
          <div class="event-time">
            <div class="font-size-large" i18n>{{ event.start_time | date: "HH:mm a" }}</div>
          </div>
          <div class="event-name">
            <div class="font-size-large word-break-break-all" i18n>{{ event.event_name }}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="fetchStatus === 'done' && events?.length == 0" i18n class="flex flex-start flex-center margin-top-xl">
    <h3 class="mat-h2" i18n>No Live events</h3>
  </div>
</div>
