/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";

.unique-users-card {
  width: 25%;
  margin: $size-s;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}

.bar-chart{
  width:100%;
  height:300px;
}

.pieChart{
  height:250px;
  width:90%;
}
.pie-card {
  padding: 0px;
  width: 30%;
  margin: $size-s;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}

.participants-card{
  padding: 0px;
  width: 94%;
  margin: $size-s;
}


.graph-card-header {
  background-color: rgb(44, 128, 111);
  color: white;
}
