<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">{{tagName}} Analytics</span>
  <span class="spacer"></span>
  <!-- <mat-slide-toggle class="mat-body" i18n="learning history completed" >Completed</mat-slide-toggle> -->
</mat-toolbar>
<app-spinner *ngIf="scheduleFetchStatus === 'fetching'" class="margin-top-xl padding-top-xl" [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'"
  [spinValue]="70" [spinColor]="'primary'" class="progress-circular-full">
</app-spinner>

<h2 class="text-center" *ngIf="scheduleFetchStatus === 'error'" i18n="Error fetching data">
  Error fetching data
</h2>

<div *ngIf="scheduleFetchStatus === 'done'">
  <!-- <div *ngIf="filter.length>0" class="flex flex-wrapped margin-m">
    <h4 i18n="filter applied">Filter Applied: </h4>
    <mat-chip-list>
      <mat-chip *ngFor="let refiner of filter">{{refiner}}
        <mat-icon matChipRemove *ngIf="removable" (click)="remove(refiner)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div> -->

  <div class="margin-xl">
    <mat-card *ngIf="uniqueUserCount" class="unique-users-card">
      <mat-card-header class="flex flex-center flex-wrapped">
        <mat-card-title>
          <span class="padding-left-xs mat-body-1" i18n="Unique Users">Unique Users</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex flex-center flex-wrapped">
        <h2 i18n="uniqueUserCount">{{uniqueUserCount}}</h2>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="flex flex-center flex-wrapped">
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By Onsite Offshore">Participants By Onsite Offshore</span>
        </mat-card-header>
        <mat-card-content class="margin-xl">
          <div *ngIf="pieChartData?.length>0" class="chart-container padding-top-s" #chartContainer class="pieChart"></div>
          <div *ngIf="pieChartData?.length===0" i18n>No Data Found</div>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By Unit">Participants By Unit</span>
        </mat-card-header>
        <mat-card-content class="margin-xl">
          <div *ngIf="serviceData?.participants?.ibu?.length>0" id="UnitChart" class="bar-chart"></div>
          <div *ngIf="serviceData?.participants?.ibu?.length===0" i18n>No Data Found</div>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By Topics">Participants By Topics</span>
        </mat-card-header>
        <mat-card-content class="margin-xl">
          <div *ngIf="barChartTopicData?.length>0" id="TopicsChart" class="bar-chart"></div>
          <div *ngIf="barChartTopicData?.length===0" i18n>No Data Found</div>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <ng-container>
      <mat-card class="participants-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants Details">Participants Details</span>
        </mat-card-header>
        <mat-card-content class="margin-xl">
          <mat-tab-group>
            <mat-tab label="Participants by PU">
              <app-horizontal-bar-chart *ngIf="serviceData?.participants?.pu?.length>0" [barChartData]="barChartPUData" [barChartLabel]="barChartPULabel"
                [barId]="'PUBarChart'"></app-horizontal-bar-chart>
              <div *ngIf="serviceData?.participants?.pu?.length===0" i18n>No Data Found</div>
            </mat-tab>
            <mat-tab label="Participants by Location">
              <app-horizontal-bar-chart *ngIf="serviceData?.participants?.location?.length>0" [barChartData]="barChartLocationData" [barChartLabel]="barChartLocationLabel"
                [barId]="'locationBarChart'"></app-horizontal-bar-chart>
              <div *ngIf="serviceData?.participants?.location?.length===0" i18n>No Data Found</div>
            </mat-tab>
            <mat-tab label="Participants by Account">
              <app-horizontal-bar-chart *ngIf="serviceData?.participants?.account?.length>0" [barChartData]="barChartAccountData" [barChartLabel]="barChartAccountLabel"
                [barId]="'accountBarChart'"></app-horizontal-bar-chart>
              <div *ngIf="serviceData?.participants?.account?.length===0" i18n>No Data Found</div>
            </mat-tab>
            <mat-tab label="Participants by JL">
              <app-horizontal-bar-chart *ngIf="serviceData?.participants?.jl?.length>0" [barChartData]="barChartJLData" [barChartLabel]="barChartJLLabel"
                [barId]="'JLBarChart'"></app-horizontal-bar-chart>
              <div *ngIf="serviceData?.participants?.jl?.length===0" i18n>No Data Found</div>
            </mat-tab>
            <mat-tab label="Participants by DU">
              <app-horizontal-bar-chart *ngIf="serviceData?.participants?.du?.length>0" [barChartData]="barChartDUData" [barChartLabel]="barChartDULabel"
                [barId]="'DUBarChart'"></app-horizontal-bar-chart>
              <div *ngIf="serviceData?.participants?.du?.length===0" i18n>No Data Found</div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

</div>
