/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/mixins";
.collection-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.collection-nav-bar {
  display: flex;
  align-items: center;
  min-height: 40px;
  overflow: hidden;
  font: inherit;
  flex-wrap: wrap;
  .page-input {
    width: 40px;
    border: 0;
    outline: none;
    background: inherit;
    color: inherit;
    font: inherit;
    border-bottom: 1px solid;
    text-align: center;
  }
}
.collection-sidenav-container {
  flex: 1 1 auto;
  height: calc(100% - 80px);
  @include breakpoint-gt-xs {
    height: calc(100% - 40px);
  }
}
.collection-sidenav {
  min-width: 320px;
  max-width: 95%;
  @include breakpoint-gt-md {
    width: 33%;
    max-width: 600px;
  }
}
.collection-iframe {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;

}
.iframeBlur {
  filter: blur(10px);
}

