<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<main>
  <div class="nav-container-top mat-elevation-z5 position-relative" *ngIf="navPosition === 'top'">
    <app-nav-bar [navbarPosition]="navPosition"></app-nav-bar>
  </div>

  <div *ngIf="navPosition === 'login'" class="mat-elevation-z5 position-relative">
    <app-login-nav-bar></app-login-nav-bar>
  </div>

  <div class="site-main-content custom-scroll" [ngClass]="{ fullView: navPosition === 'none' }">
    <mat-progress-bar
      color="primary"
      class="navigationLoader"
      mode="indeterminate"
      *ngIf="routerChangeInProgress"
    ></mat-progress-bar>
    <button class="display-none" accesskey="`" (click)="openShortcutDialog()"></button>
    <button class="display-none" accesskey="L" (click)="confirmLogout()"></button>
    <router-outlet></router-outlet>
  </div>

  <div class="nav-container-bottom mat-elevation-z5 position-relative" *ngIf="navPosition === 'bottom'">
    <app-nav-bar [navbarPosition]="navPosition"></app-nav-bar>
  </div>
  <app-chatbot *ngIf="isAuthenticated && isAcceptedTnc" [currentUrl]="currentUrl"></app-chatbot>
  <ws-app-unavailable></ws-app-unavailable>
</main>
