<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: learning history" class="margin-left-xs">Learning History</span>
  <span class="spacer"></span>
  <mat-slide-toggle
    class="mat-body"
    i18n="learning history completed"
    (change)="onStatusChange()"
    [disabled]="loadingContent"
  >
    <span accesskey="T">Completed</span>
  </mat-slide-toggle>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <span accesskey="1" i18n>Programs</span>
    </ng-template>
    <ng-container *ngIf="lhContent[0]">
      <ng-container *ngTemplateOutlet="historyView; context: { $implicit: lhContent[0] }"></ng-container>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span accesskey="2" i18n>Courses</span>
    </ng-template>
    <ng-container *ngIf="lhContent[1]">
      <ng-container *ngTemplateOutlet="historyView; context: { $implicit: lhContent[1] }"></ng-container>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span accesskey="3" i18n>Learning Modules</span>
    </ng-template>
    <ng-container *ngIf="lhContent[2]">
      <ng-container *ngTemplateOutlet="historyView; context: { $implicit: lhContent[2] }"></ng-container>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span accesskey="4" i18n>Resources</span>
    </ng-template>
    <ng-container *ngIf="lhContent[3]">
      <ng-container *ngTemplateOutlet="historyView; context: { $implicit: lhContent[3] }"></ng-container>
    </ng-container>
  </mat-tab>
  <mat-tab *wsHasPermission="['certifications']">
    <ng-template mat-tab-label>
      <span accesskey="5" i18n>Certifications</span>
    </ng-template>
    <ng-container *ngIf="lhContent[4]">
      <ng-container *ngTemplateOutlet="historyView; context: { $implicit: lhContent[4] }"></ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #historyView let-lhData>
  <section class="lh-container">
    <section class="lh-history">
      <ng-template [ngIf]="lhData.loading && lhData.isLoadingFirstTime" [ngIfElse]="content">
        <div class="lh-spinner">
          <app-spinner></app-spinner>
        </div>
      </ng-template>

      <ng-template #content>
        <ng-template [ngIf]="!lhData.content.results.length" [ngIfElse]="progressList">
          <div i18n="learning history : no content" class="mat-body lh-no-data">No content found.</div>
        </ng-template>

        <ng-template #progressList>
          <mat-list role="list" class="lh-list">
            <mat-list-item class="lh-list-item" *ngFor="let result of lhData?.content.results">
              <mat-card class="lh-list-item-card">
                <app-learning-history-progress [item]="result" [isParent]="true"></app-learning-history-progress>
              </mat-card>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </ng-template>
    </section>
    <ng-container *ngIf="lhData.contentType !== 'certification'">
      <button
        i18n="view more"
        mat-button
        [color]="'primary'"
        class="lh-btn-view-more"
        (click)="getUserProgress(lhData)"
        *ngIf="lhData.content.results.length !== lhData.content.count && !lhData.loading"
        accesskey="+"
      >
        View More
      </button>
      <div class="lh-spinner" *ngIf="lhData.loading && !lhData.isLoadingFirstTime">
        <app-spinner [spinSize]="'small'"></app-spinner>
      </div>
    </ng-container>
  </section>
</ng-template>
