/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import 'src/styles/mixins';

.lh-header {
  text-align: center;
  margin-top: 1.5rem;
} 

.lh-container {
  margin-bottom: 3rem;
}

.lh-list {
  .lh-list-item {
    height: auto !important;
    margin: 1rem 0;
    .lh-list-item-card {
      width: 100%;
      margin: 0 auto;
      @include breakpoint-sm {
        width: 75%;
      }
      @include breakpoint-md {
        width: 60%;
      }
      @include breakpoint-lg {
        width: 50%;
      }
      @include breakpoint-xl {
        width: 40%;
      }
    }
  }
}

.lh-spinner {
  margin-top: 2rem;
}

.lh-btn-view-more {
  display: block;
  margin: 2rem auto;
}

.lh-no-data {
  text-align: center;
  margin-top: 2rem;
}

.spacer {
  flex: 1 1 auto;
}