<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="uk-body uk-body-default navigator-content-strip">
  <div class="content-strip">
    <h2 class="mat-title" i18n>Certifications</h2>
    <app-scroll-handler contentStatus="done">
      <div>
        <h3 i18n *ngIf="availableCertifications.length===0" i18n>Certifications will appear here.</h3>
      </div>

      <ng-container *ngIf="availableCertifications.length !== 0">
        <app-knowmore-card *ngFor="let certification of availableCertifications" [id]="certification.id" [buttonLabel]="
          certification.virtual_proctoring ? 'LAUNCH NOW' : 'I\'M INTERESTED'
        "
          [title]="certification.title" [description]="certification.description" [thumbnail]="certification.thumbnail"
          [isCardSelected]="isCardSelected[certification.id]" [numAlternateCertificates]="alternativesHash[certification.id]?.length"
          (knowMoreClicked)="certificationClicked(certification)" (cardEvent)="cardEvent($event)" [showSpinner]="sendingMailInProgress[certification.id]"></app-knowmore-card>
      </ng-container>

    </app-scroll-handler>
  </div>
</div>
<div *ngIf="showAlternativesCertificationsFor" class="content-strip ">
  <div>
    <h2 class="mat-title">
      Alternative Certifications for
      {{ certificateHash[showAlternativesCertificationsFor].title }}
    </h2>
    <app-scroll-handler contentStatus="done">
      <app-knowmore-card *ngFor="
          let certification of alternativesHash[
            showAlternativesCertificationsFor
          ]
        "
        [id]="certification.id" [buttonLabel]="
          certification.virtual_proctoring ? 'LAUNCH NOW' : 'I\'M INTERESTED'
        "
        [title]="certification.title" [description]="certification.description" [thumbnail]="certification.thumbnail"
        (knowMoreClicked)="certificationClicked(certification)" [showSpinner]="sendingMailInProgress[certification.id]"></app-knowmore-card>
    </app-scroll-handler>
  </div>
</div>