<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: time spent" class="margin-left-xs">Page Not Found</span>
</mat-toolbar>
<section class="error-container">
  <mat-card class="error-card animation-description fadeInDown">
    <mat-card-header>
      <mat-card-title i18n>We are Sorry</mat-card-title>
      <mat-card-subtitle i18n>The page you requested cannot be found.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="padding-m">
      <p>
        <mat-icon>minimize</mat-icon>
        <ng-container i18n>
          We have redesigned our web site and many URLs have changed. You can go to our Home Page to find the topic you
          are looking
          for, or use the site search or the site map to find the topic you are interested in.
        </ng-container>
      </p>
      <p>
        <mat-icon>minimize</mat-icon>
        <ng-container i18n>
          In case you have typed the URL, please check if the spelling is correct.
        </ng-container>
      </p>
      <p>
        <mat-icon>minimize</mat-icon>
        <ng-container i18n>
          If you suspect a site problem, kindly report the problem. We appreciate your support.
        </ng-container>
      </p>
    </mat-card-content>
    <mat-card-actions class="padding-m">
      <a mat-button i18n routerLink="/contact-us">
        Contact Us
      </a>
    </mat-card-actions>
  </mat-card>
</section>
