/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/styles";
@import "~src/styles/common";
@import "~src/styles/mixins";
@import "~src/styles/vars";

.container {
  @extend %width-balancer;
}

.width-balancer-1-2 {
  max-width: 400px;
}

mat-button-toggle-group {
  border: none !important;
  @extend .flex-wrapped;
  @extend .width-1-1;
  @extend .flex-center;

  mat-button-toggle {
    @extend .margin-right-xs;
    @extend .margin-top-xs;
    border-radius: 4px;
  }
}
