<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-xs">
  <button mat-icon-button (click)="openGoBackDialog()" [disabled]="bookingSendStatus === 'sending'">
    <mat-icon matTooltip="Go Back" i18n-matTooltip>arrow_back</mat-icon>
  </button>
</div>

<section class="container margin-top-m margin-bottom-m">
  <h2 class="mat-title text-center" i18n>At Assessment Center</h2>
  <p class="mat-body text-center" i18n>
    Book this certification exam at available assessment centers in your organisation.
  </p>

  <div class="width-balancer-1-2 margin-auto">
    <form [formGroup]="accForm" (submit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
      <!-- Location -->
      <mat-form-field class="block margin-top-s margin-bottom-s">
        <mat-chip-list #locationChips>
          <mat-chip
            *ngFor="let location of locationChipList"
            [value]="location"
            [selectable]="true"
            [removable]="true"
            (removed)="locationRemoved($event.value)"
          >
            {{ location.dc }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            #locationInput
            matInput
            [matAutocomplete]="locationAutocomplete"
            [matChipInputFor]="locationChips"
            [formControl]="locationCtrl"
            placeholder="Location"
            i18n-placeholder
          />
          <mat-progress-spinner
            matSuffix
            *ngIf="locationFetchStatus === 'fetching'"
            [color]="'primary'"
            [diameter]="16"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
          <mat-autocomplete
            #locationAutocomplete="matAutocomplete"
            [displayWith]="displayLocationNameAutocomplete"
            (optionSelected)="locationSelected($event.option.value)"
          >
            <mat-option *ngFor="let location of filteredLocations$ | async" [value]="location">
              {{ location.dc }}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>

        <mat-hint *ngIf="locationFetchStatus === 'fetching'">Fetching locations...</mat-hint>
        <mat-error *ngIf="locationFetchStatus === 'error'">There was an error fetching locations.</mat-error>
      </mat-form-field>

      <!-- Test Center -->
      <mat-form-field class="block margin-top-s margin-bottom-s">
        <mat-select
          placeholder="Test Center"
          i18n-placeholder
          formControlName="testCenter"
          (selectionChange)="getTestCenterSlots()"
        >
          <ng-container *ngIf="locationCtrl.value && locationCtrl.value.testcenters">
            <mat-option *ngFor="let testcenter of locationCtrl.value.testcenters" [value]="testcenter">
              {{ testcenter }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <!-- Date -->
      <mat-form-field class="block margin-top-s margin-bottom-s">
        <mat-select placeholder="Date" formControlName="dateSlot" (change)="onDateChange()">
          <ng-container *ngIf="slots">
            <mat-option *ngFor="let slotItem of slots.slotdata" [value]="slotItem">{{
              slotItem.date | date: "dd MMM yyyy"
            }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <!-- Slots -->
      <mat-form-field class="block margin-top-s margin-bottom-s" *ngIf="slots && accForm.value.dateSlot">
        <mat-select formControlName="slot" placeholder="Time slot" i18n="time of the certification exam">
          <mat-option *ngFor="let slot of accForm.value.dateSlot.slots" [value]="slot.slot_no">
            {{ slot.slot_time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="text-center">
        <button
          mat-raised-button
          [color]="'primary'"
          type="submit"
          [disabled]="accForm.invalid || bookingSendStatus === 'sending'"
          i18n
        >
          Book slot
        </button>
      </div>
    </form>
  </div>
</section>
