<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="!goal.shared_by" class="flex">
  <span class="spacer"></span>
  <button mat-icon-button (click)="showContentPicker = !showContentPicker">
    <mat-icon *ngIf="!showContentPicker">edit</mat-icon>
    <mat-icon *ngIf="showContentPicker">close</mat-icon>
  </button>
  <button mat-icon-button (click)="openDeleteDialog()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<app-add-goal
  *ngIf="showContentPicker"
  [existingGoal]="goal"
  [goalId]="goal?.goal_id"
  [userGivenGoalDuration]="goal?.goal_duration"
  [goalTitle]="goal?.goal_title"
  [goalDescription]="goal?.goal_desc"
  [disableGoalContent]="goal?.goal_type === 'common'"
  [disableGoalMeta]="goal?.goal_type === 'common'"
  mode="edit"
  [checkedContent]="checkedContent"
></app-add-goal>
<mat-list *ngIf="!showContentPicker">
  <h2 i18n class="mat-title text-center margin-top-m" *ngIf="!goal?.resource_progress?.length">
    Content not available
  </h2>
  <mat-list-item *ngFor="let resource of goal.resource_progress">
    <mat-progress-bar
      mode="determinate"
      [value]="resource.resource_progress * 100 | number"
      class="resourceProgress"
    ></mat-progress-bar>
    <h4 mat-line>
      <a [routerLink]="'/toc/' + resource.resource_id">{{ resource.resource_name }}</a>
    </h4>
    <p mat-line>
      {{ resource.time_left / 60 / 60 < 1 ? "Less than an" : (resource.time_left / 60 / 60 | number: "1.0-0") }}
      <ng-container i18n="text hours remaining suffix"> hour</ng-container>
      <ng-container *ngIf="resource.time_left / 60 / 60 > 1.5" i18n>s</ng-container>
      <ng-container i18n> to go</ng-container>
    </p>
  </mat-list-item>
</mat-list>
