/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/vars';
@import '~src/styles/mixins';

.banner-load {
  height: 280px;
}
.user-img {
  font-size: 50px;
 width: 50px;
 height: 50px;
 display: block;
}
.name {
  font-size: large;
  font-weight: 700;
  line-height: 1.3;
}
.card {
  margin: $size-m;
  @include breakpoint-gt-xs {
    margin: $size-xl;
  }
}
.height-adjust {
  box-sizing: border-box;
}
.border {
  border-right: 1px solid lightgray;
}