<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/my-skills'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title:All Skills" class="margin-left-xs">All Skills</span>
  <span class="spacer"></span>
</mat-toolbar>
<ng-container *ngIf="loader" class="margin-left-s margin-top-xl padding-top-xl">
  <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
    class="progress-circular-full">
  </app-spinner>
</ng-container>
<div *ngIf="!loader" class="margin-top-xl">
  <div class="flex flex-center flex-wrapped margin-top-xl">
    <div class="skill-card">
      <app-card [roleCard]="false" [cardId]="popularSkillId"></app-card>
    </div>
    <mat-card class="chart-card padding-remove-top margin-left-xl">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1">My {{ skillName }} Quotient</span>
      </mat-card-header>
      <mat-card-content class="margin-top-m">
        <app-donut-chart [chartData]="pieChartData" [quotient]="quotient" [donut]="false"></app-donut-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="flex flex-center flex-wrapped margin-top-xl">
    <mat-accordion class="available-card">
      <mat-expansion-panel *ngIf="availableCourse.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Available Courses
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let skill of availableCourse">
            <a href="{{ skill.material_url }}" target="_blank" mat-line class="mat-body-1">{{ skill.content_name }}</a>
            <!-- <p mat-line >{{ skill.description }}</p> -->
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel class="margin-bottom-xl" *ngIf="availableCertification.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title i18n>
            Available Certifications
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let skill of availableCertification">
            <a href="{{ skill.material_url }}" target="_blank" mat-line class="mat-body-1">{{ skill.content_name }}</a>
            <!-- <p mat-line >{{ skill.description }}</p> -->
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
