/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
.chart-card {
  padding: 0px;
}
@import "~src/styles/common";
@import "~src/styles/vars";

.default {
  width: 47%;
  height: 10%;
}
.attempt-score {
  width: 100% !important;
}
.assessment {
  width: 49%;
}
.quotient {
  margin-left: 30%;
}
.title {
  margin-left: 18%;
}
.expansion-panel {
  width: 100%;
  @include breakpoint-xs {
    width: 90%;
    margin: 0%;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: 0%;
  }
}
.graph-card-header {
  margin: 0px;
  background-color: #5ba46e;
  padding-top: 2%;
  color: white;
}
.chart-card {
  padding: 0px;
}
.card-title {
  padding-bottom: 2%;
}
.feature-icon {
  padding-bottom: 2%;
}
.panel-description {
  margin-right: -35%;
}
.default-description {
  margin-right: -27%;
}
.content-quotient {
  margin-right: -47% !important;
}
.content-quotient-zero {
  margin-right: -45%;
}
.skill-card {
  @include breakpoint-xs {
    width: 95%;
    margin-left: -3%;
  }

  @include breakpoint-sm {
    width: 95%;
    margin-left: -3%;
  }
}
.graph-card {
  @include breakpoint-xs {
    width: 95%;
    margin-top: 10%;
    margin-right: 8%;
  }

  @include breakpoint-sm {
    width: 95%;
    margin-top: 10%;
    margin-right: 8%;
  }
}

.chart-card {
  @include breakpoint-xs {
    width: 72%;
    margin: 10%;
  }

  @include breakpoint-sm {
    width: 70%;
    margin: 10%;
  }
}

.skillcourse-card {
  @include breakpoint-xs {
    width: 100%;
    margin: 0%;
  }

  @include breakpoint-sm {
    width: 100%;
    margin: 0%;
  }
}

.expansion-card {
  @include breakpoint-xs {
    width: 90%;
    margin-left: -2%;
  }

  @include breakpoint-sm {
    width: 90%;
    margin-left: -2%;
  }
}

.available-card {
  margin-left: -5%;
  width: 45%;
  @include breakpoint-xs {
    width: 90%;
    margin-left: 20%;
  }

  @include breakpoint-sm {
    width: 90%;
    margin-left: 20%;
  }
}

.skill-card {
  margin-left: -5%;
}
