/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/vars";
@import "~src/styles/mixins";
@import "src/styles/common";

.autocomplete-form {
  width: 100%;
  font-size: 0.75em;
  display: block;
  margin: auto;
}

.search-box {
  width: 100%;
  max-width: 500px;
  padding: 0 $size-xs;
  box-sizing: border-box;
  max-height: 50px;
  margin: 0 $size-s;
}

.search-tabs-group {
  @extend %height-mat-toolbar-sibling;
}

.search-page-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: $size-xl;
  padding-top: $size-xl;
  text-align: center;
  margin: auto;
  width: 80%;
  max-width: 600px;

  .form-container {
    display: block;
  }
}

.hidden {
  display: none !important;
  width: 0;
  height: 0;
}

.feature-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: $size-m;
  padding-bottom: $size-m;

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: $size-xs;
    height: auto;
    box-sizing: border-box;
    border-radius: 0;
    @include breakpoint-xs {
      width: 50%;
    }
  }

  .feature-icon {
    $icon-size: 2.25 * $size-m;
    width: $icon-size;
    height: $icon-size;
    font-size: $size-l;
    @include breakpoint-gt-xs {
      margin-right: 0;
      margin-bottom: $size-s;
    }
  }
}
