<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: search" class="margin-left-xs hidden-inline-s">Search</span>
  <span i18n="page title: search" *ngIf="!searchRequest.query && !hasKeys(searchRequest.filters)" class="margin-left-xs visible-inline-s">Search</span>
  <span class="spacer"></span>
  <div class="search-box" *ngIf="searchRequest.query || hasKeys(searchRequest.filters)">
    <form>
      <mat-form-field class="autocomplete-form" color="primary" [floatLabel]="'never'">
        <input type="search" i18n-placeholder="search content" placeholder="What do you want to learn?" i18-aria-label aria-label="Query"
          matInput [formControl]="queryControl" [matAutocomplete]="auto" #searchInput accesskey="F" />
        <mat-icon (click)="updateQuery(searchInput.value)" matSuffix>search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="updateQuery($event.option.value)">
          <mat-option *ngIf="searchInput.value" [value]="searchInput.value">{{ searchInput.value }} </mat-option>
          <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</mat-toolbar>

<div class="search-page-container" *ngIf="!searchRequest.query && !hasKeys(searchRequest.filters)">
  <h1 class="mat-display-1 margin-remove-bottom margin-bottom-m">
    <ng-container i18n>What do you want to learn?</ng-container>
  </h1>
  <form>
    <mat-form-field class="form-container" color="primary" appearance="outline">
      <input type="search" i18n-placeholder="search content" placeholder="Search..." i18-aria-label aria-label="Query" matInput
        [formControl]="queryControl" [matAutocomplete]="auto" autofocus #searchInput />
      <mat-icon (click)="updateQuery(searchInput.value)" matSuffix>search</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="updateQuery($event.option.value)">
        <mat-option *ngIf="searchInput.value" [value]="searchInput.value">{{ searchInput.value }} </mat-option>
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="feature-group" *ngIf="!isSiemensInstance">
    <a matRipple class="feature" routerLink="/practice/hands-on/puzzle-mania" *wsHasPermission="['practiceHandsOn']; roles: [ROLES.IAP]">
      <button mat-mini-fab color="primary" class="margin-right-xs margin-bottom-xs">
        <mat-icon class="feature-icon">web</mat-icon>
      </button>
      <span class="" i18n="challenges">Puzzle Mania</span>
    </a>
    <a *wsHasPermission="['certifications']" matRipple class="feature" routerLink="/certifications" accesskey="X">
      <button mat-mini-fab color="primary" class="margin-bottom-xs">
        <mat-icon class="feature-icon">chrome_reader_mode</mat-icon>
      </button>
      <span class="" i18n="certifications">Certifications</span>
    </a>
    <a *wsHasPermission="['marketing']" matRipple class="feature" routerLink="/marketing" accesskey="M">
      <button mat-mini-fab color="primary" class="margin-bottom-xs">
        <mat-icon class="feature-icon">trending_up</mat-icon>
      </button>
      <span class="" i18n="marketing brand">Marketing</span>
    </a>
    <a *wsHasPermission="['onboarding']" matRipple class="feature" routerLink="/onboarding" accesskey="O">
      <button mat-mini-fab color="primary" class="margin-bottom-xs">
        <mat-icon class="feature-icon">transfer_within_a_station</mat-icon>
      </button>
      <span class="" i18n="onboarding">OnBoarding</span>
    </a>
  </div>
</div>

<mat-tab-group *ngIf="searchRequest.query || hasKeys(searchRequest.filters)" class="search-tabs-group full-height-tab-group"
  mat-align-tabs="center" dynamicHeight="true" [color]="'accent'" [selectedIndex]="activeTabIndex" (selectedIndexChange)="updateActiveTab($event)">
  <mat-tab *ngFor="let tab of tabs" [label]="tab.title">
    <ng-template matTabContent>
      <app-search-results *ngIf="tab.title !== 'Channels'" [isSiemensCatalogFilterRemoved]="isSiemensCatalogFilterRemoved" [searchRequest]="searchRequest"
        [options]="tab.searchQuery" (filterAdd)="addFilter($event)" (filterRemove)="removeFilter($event)" (siemensCatalogRemoved)="onSiemensCatalogFilterChange($event)"></app-search-results>
      <ws-channel-container *ngIf="tab.title === 'Channels'"></ws-channel-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>