/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/mixins";

.hidden {
  display: none !important;
  width: 0;
  height: 0;
}

.feature-group {
  display: flex;
  flex-wrap: wrap;
  padding: $size-m;
  // @include breakpoint-gt-xs {
  //   padding: $size-m;
  // }
}

.feature-heading {
  width: 100%;
}

.feature {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: $size-xs;
  height: auto;
  box-sizing: border-box;
  border-radius: 0;

  &.hidden {
    @extend .hidden;
  }

  @include breakpoint-gt-xs {
    flex-direction: column;
    padding: $size-m;
  }

  @include breakpoint-sm {
    width: calc(25% - #{2 * $size-m});
    margin: $size-m;
  }

  @include breakpoint-md {
    width: calc(20% - #{2 * $size-m});
    margin: $size-m;
  }

  @include breakpoint-lg {
    width: calc(12.5% - #{2 * $size-m});
    margin: $size-m;
  }

  @include breakpoint-gt-lg {
    width: calc(10% - #{2 * $size-m});
    margin: $size-m;
  }

  // @include breakpoint-gt-md {
  //   padding: $size-m;
  //   width: 20%;
  // }
}
.feature-button {
  border: 0;
}
// .feature-content {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   text-align: center;
//   width: 100%;
//   box-sizing: border-box;
//   font-size: 1.25em;
//   border-bottom: 1px solid transparent;

//   @include breakpoint-gt-xs {
//     padding: $size-xs 0;
//     flex-direction: column;
//   }
// }

.feature-icon {
  $icon-size: 2.25 * $size-m;
  width: $icon-size;
  height: $icon-size;
  font-size: $icon-size;
  margin-right: $size-m;

  @include breakpoint-gt-xs {
    margin-right: 0;
    margin-bottom: $size-s;
  }
}

.app-search-input {
  font-size: 0.75em;
}
