<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title : apps" class="margin-left-xs">Apps</span>
  <span class="spacer"></span>
  <form>
    <mat-form-field class="app-search-input" [floatLabel]="'never'">
      <input name="apps-search" matInput [formControl]="queryControl" i18n-placeholder="Search bar for filtering out apps in Apps page"
        placeholder="Find Apps" autocomplete="off" accesskey="f" />
      <mat-icon matSuffix>find_in_page</mat-icon>
    </mat-form-field>
  </form>
</mat-toolbar>

<mat-toolbar color="warn" [hidden]="hasSomeGroup" i18n>
  No apps matched your query
</mat-toolbar>

<div #featureContainer>
  <section class="feature-group">
    <h1 class="feature-heading" i18n="apps group : my profile">Me</h1>

    <a *wsHasPermission="['badges']" matRipple class="feature mat-card" routerLink="/badges" i18n-feature-name="All canonical names for Badges, separated by semi-colon"
      feature-name="badges;achievements;points;score" accesskey="$">
      <mat-icon class="feature-icon">grade</mat-icon>
      <span i18n="badges">Badges</span>
    </a>
    <a matRipple class="feature mat-card" (click)="mobileAppsSvc.goOffline()" *wsHasPermission="['downloads']; condition: mobileAppsSvc.isMobile"
      i18n-feature-name="All canonical names for Downloads, separated by semi-colon" feature-name="downloads;save;offline">
      <mat-icon class="feature-icon">get_app</mat-icon>
      <span i18n="downloads">Downloads</span>
    </a>

    <a *wsHasPermission="['feedback']" matRipple class="feature mat-card" routerLink="/feedback" i18n-feature-name="All canonical names for Feedback, separated by semi-colon"
      feature-name="feedback;query;bug;help;report;suggestions;like;comment" accesskey="#">
      <mat-icon class="feature-icon">feedback</mat-icon>
      <span i18n="feedback">Feedback</span>
    </a>
    <a *wsHasPermission="['goals']" matRipple class="feature mat-card" routerLink="/goals" i18n-feature-name="All canonical names for Goals, separated by semi-colon"
      feature-name="goals;target;aim;desire" accesskey="G">
      <mat-icon class="feature-icon">adjust</mat-icon>
      <span i18n="user goals">Goals</span>
    </a>
    <a matRipple class="feature mat-card" *wsHasPermission="['practiceDashboard']; roles: [ROLES.IAP]" routerLink="/practice/dashboard"
      i18n-feature-name="All canonical names for Dashboard, separated by semi-colon" feature-name="dashboard;hands-on;coding;solve;evaluate">
      <mat-icon class="feature-icon">web</mat-icon>
      <span i18n="dashboard">Hands-On Dashboard</span>
    </a>
    <a *wsHasPermission="['interest']" matRipple class="feature mat-card" routerLink="/interest" i18n-feature-name="All canonical names for Interests, separated by semi-colon"
      feature-name="interests;topics" accesskey="W">
      <mat-icon class="feature-icon">tag_faces</mat-icon>
      <span i18n="user interests">Interests</span>
    </a>

    <a *wsHasPermission="['learningHistory']" matRipple class="feature mat-card" [routerLink]="isFeatureAvailable.siemens.enabled ? '/my-analytics/learning-history' : '/learning-history'"
      i18n-feature-name="All canonical names for learning history, separated by semi-colon" feature-name="learning history;timeline;progress;past;history"
      accesskey="Y">
      <mat-icon class="feature-icon">timeline</mat-icon>
      <span i18n="learning history">Learning History</span>
    </a>
    <a *wsHasPermission="['learningTime']" matRipple class="feature mat-card" routerLink="/time-spent" i18n-feature-name="All canonical names for Time Spent, separated by semi-colon"
      feature-name="time spent;learning time;learning;time" accesskey=":">
      <mat-icon class="feature-icon">access_time</mat-icon>
      <span i18n="time spent">Learning Time</span>
    </a>
    <a *wsHasPermission="['myAnalytics']" matRipple class="feature mat-card" routerLink="/my-analytics" i18n-feature-name="All canonical names for analytics, separated by semi-colon"
      feature-name="my analytics;dashboard;analytics;user;me" accesskey="U">
      <mat-icon class="feature-icon">bar_chart</mat-icon>
      <span i18n="user analytics">My Analytics</span>
    </a>
    <a *wsHasPermission="['skillQuotient']; roles: [ROLES.MY_SKILLS]" matRipple class="feature mat-card" routerLink="/my-skills"
      i18n-feature-name="All canonical names for skills, separated by semi-colon" feature-name="my skills;dashboard;skills;user;me"
      accesskey="U">
      <mat-icon class="feature-icon">bar_chart</mat-icon>
      <span i18n="user analytics">My Skills</span>
    </a>
    <a matRipple class="feature mat-card" routerLink="/notifications" i18n-feature-name="All canonical names for Notification, separated by semi-colon"
      feature-name="notification;new">
      <mat-icon class="feature-icon">notifications_none</mat-icon>
      <span i18n="app notifications">Notification</span>
    </a>

    <a *wsHasPermission="['playlist']" matRipple class="feature mat-card" routerLink="/playlist" i18n-feature-name="All canonical names for Playlists, separated by semi-colon"
      feature-name="playlists;collection" accesskey="P">
      <mat-icon class="feature-icon">playlist_play</mat-icon>
      <span i18n="user playlists">Playlists</span>
    </a>

    <a *wsHasPermission="['profile']" matRipple class="feature mat-card" routerLink="/profile" i18n-feature-name="All canonical names for Profile, separated by semi-colon"
      feature-name="dashboard;profile;user;me" accesskey="U">
      <mat-icon class="feature-icon">account_circle</mat-icon>
      <span i18n="user profile">Profile</span>
    </a>
  </section>

  <section class="feature-group" *ngIf="isFeatureAvailable.siemens.enabled">
    <h1 class="feature-heading" i18n="apps group : communications">
      Social
    </h1>
    <a *wsHasPermission="['blogPost']" matRipple class="feature mat-card" routerLink="/blog-post" i18n-feature-name="All canonical names for Blogs, separated by semi-colon"
      feature-name="blogs;leader blogs">
      <mat-icon class="feature-icon">insert_drive_file</mat-icon>
      <span i18n="blog routes">Blogs</span>
    </a>
    <a *wsHasPermission="['channels']" routerLink="/channels" i18n-feature-name matRipple class="feature mat-card" feature-name="channels;">
      <mat-icon class="feature-icon">group_work</mat-icon>
      <span i18n="infy radio">Channels</span>
    </a>
    <a *wsHasPermission="['infyRadio']" matRipple class="feature mat-card" routerLink="/communications/radio" i18n-feature-name="All canonical names for Infy Radio, separated by semi-colon"
      feature-name="infy radio;radio;broadcast;podcast" accesskey="R">
      <mat-icon class="feature-icon">radio</mat-icon>
      <span i18n="infy radio">Infy Radio</span>
    </a>
    <a *wsHasPermission="['infyTv']" matRipple class="feature mat-card" routerLink="/infy-tv" i18n-feature-name="All canonical names for Infy TV, separated by semi-colon"
      feature-name="infy tv;box;tv shows;tv" accesskey="T">
      <mat-icon class="feature-icon">videocam</mat-icon>
      <span i18n="infy tv">Infy TV</span>
    </a>
    <a *wsHasPermission="['leadershipMessage']" matRipple class="feature mat-card" routerLink="/from-leaders" i18n-feature-name="All canonical names for From Leaders, separated by semi-colon"
      feature-name="from leaders;talks,leadership messages" accesskey='"'>
      <mat-icon class="feature-icon">portrait</mat-icon>
      <span i18n="leader talks">Leadership Messages</span>
    </a>
    <a *wsHasPermission="['livingLabs']; roles: [ROLES.AUTHOR]" matRipple class="feature mat-card" routerLink="/living-labs"
      i18n-feature-name="All canonical names for From living labs, separated by semi-colon" feature-name="living labs">
      <mat-icon class="feature-icon">business</mat-icon>
      <span i18n="Living Labs route">Living Labs</span>
    </a>
    <a *wsHasPermission="['qna']" matRipple class="feature mat-card" routerLink="/qna" i18n-feature-name="All canonical names for From Leaders, separated by semi-colon"
      feature-name="question and answer;qna;q and a">
      <mat-icon class="feature-icon">question_answer</mat-icon>
      <span i18n="Question and Answer route">Question and Answer</span>
    </a>
  </section>

  <section class="feature-group">
    <h1 class="feature-heading" i18n="apps group : hone skills">
      Hone your Skills
    </h1>

    <a matRipple class="feature mat-card" *wsHasPermission="['practiceBehavioral']; roles: [ROLES.IAP]" routerLink="/practice/behavioral"
      i18n-feature-name="All canonical names for Behavioral skills, separated by semi-colon" feature-name="behavioral skills;hands-on;coding;solve;evaluate;skills;behavioral">
      <mat-icon class="feature-icon">web</mat-icon>
      <span i18n="behavioral-skills">Behavioral Skills</span>
    </a>
    <a matRipple class="feature mat-card" *wsHasPermission="['certifications']" routerLink="/certifications" i18n-feature-name="All canonical names for Certifications, separated by semi-colon"
      feature-name="certifications;certify;assessment" accesskey="X">
      <mat-icon class="feature-icon">chrome_reader_mode</mat-icon>
      <span i18n="certification">Certifications</span>
    </a>
    <a matRipple class="feature mat-card" *wsHasPermission="['practiceHandsOn']; roles: [ROLES.IAP]" routerLink="/practice/hands-on/code-crack"
      i18n-feature-name="All canonical names for Contest, separated by semi-colon" feature-name="hands-on;coding;solve;evaluate;code-crack">
      <mat-icon class="feature-icon">web</mat-icon>
      <span i18n="code-crack">Code Crack</span>
    </a>
    <a matRipple class="feature mat-card" *wsHasPermission="['learningHub']" (click)="isFeatureAvailable.learningHub.onClickAction && isFeatureAvailable.learningHub.onClickAction === 'pop-up' ? openFeatureUnavailableDialog('LEARNING_HUB') : ''" i18n-feature-name="All canonical names for Instructor-led Training, separated by semi-colon"
    [routerLink]="isFeatureAvailable.learningHub.enabled && isFeatureAvailable.learningHub?.onClickAction !== 'pop-up' ? '/training' : null" feature-name="training;instructor;offering;learning;instructor-led">
      <mat-icon class="feature-icon">school</mat-icon>
      <span i18n="trainings | instructor-led training">Instructor-led Training</span>
    </a>
    <a matRipple class="feature mat-card" routerLink="/leaderboard" i18n-feature-name="All canonical names for LeaderBoard, separated by semi-colon"
      feature-name="leaderboard;rank;stand;performance" accesskey="1">
      <mat-icon class="feature-icon">insert_chart_outlined</mat-icon>
      <span i18n="leaderBoard">LeaderBoard</span>
    </a>
    <!-- <a matRipple class="feature mat-card" *wsHasPermission="['practiceObjective']; roles: [ROLES.IAP]" routerLink="/practice/objective"
      i18n-feature-name="All canonical names for Objective Quizzes, separated by semi-colon" feature-name="objective;hands-on;coding;solve;evaluate;quiz;quizzes">
      <mat-icon class="feature-icon">web</mat-icon>
      <span i18n="objective quizzes">Objective Quizzes</span>
    </a> -->
    <a matRipple class="feature mat-card" *wsHasPermission="['playground']" routerLink="/playground" i18n-feature-name="All canonical names for Playground, separated by semi-colon"
      feature-name="playground;hands-on;coding;code;programming;solve;evaluate;dynamic playground">
      <mat-icon class="feature-icon">code</mat-icon>
      <span i18n="playground">Playground</span>
    </a>
    <a matRipple class="feature mat-card" *wsHasPermission="['practiceHandsOn']; roles: [ROLES.IAP]" routerLink="/practice/hands-on/puzzle-mania"
      i18n-feature-name="All canonical names for puzzle mania, separated by semi-colon" feature-name="hands-on;coding;solve;evaluate;challenges;puzzle-mania">
      <mat-icon class="feature-icon">web</mat-icon>
      <span i18n="puzzle-mania">Puzzle Mania</span>
    </a>
    <!-- <a matRipple class="feature mat-card" *wsHasPermission="['practiceSubjective']; roles: [ROLES.IAP]" routerLink="/practice/subjective"
      i18n-feature-name="All canonical names for Subjective Q&A, separated by semi-colon" feature-name="subjective;hands-on;coding;solve;evaluate;que;ans">
      <mat-icon class="feature-icon">web</mat-icon>
      <span i18n="subjective q&a">Subjective Q&A</span>
    </a> -->
  </section>

  <section class="feature-group" [hidden]="contributionFeatureGroupHiddenStatus">
    <h1 class="feature-heading" i18n="apps group : contribution">
      Contribution
    </h1>
    <a matRipple class="feature mat-card cursor-pointer" *wsHasPermission="[]; roles: [ROLES.AUTHOR]" [hidden]="!links?.authoringHome?.url"
      (click)="checkIfIntranet(links?.authoringHome)" i18n-feature-name="All canonical names for Create, separated by semi-colon"
      feature-name="author;authoring tool;create">
      <mat-icon class="feature-icon">create</mat-icon>
      <span i18n="create">Create</span>
    </a>
    <a matRipple class="feature mat-card cursor-pointer" *wsHasPermission="[]; roles: [ROLES.AUTHOR]" [hidden]="!links?.authoringCurate?.url"
      (click)="checkIfIntranet(links?.authoringCurate)" i18n-feature-name="All canonical names for Curate, separated by semi-colon"
      feature-name="author;authoring tool;curate">
      <mat-icon class="feature-icon">create</mat-icon>
      <span i18n="create">Curate</span>
    </a>
    <a matRipple class="feature mat-card" *wsHasPermission="['practiceAuthoring']; roles: [ROLES.IAP]" routerLink="/practice/authoring"
      i18n-feature-name="All canonical names for authoring, separated by semi-colon" feature-name="authoring;coding;solve;evaluate;iap;author;create;hands-on;">
      <mat-icon class="feature-icon">web</mat-icon>
      <span i18n="hand-on authoring">Hands-On Authoring</span>
    </a>
    <a matRipple class="feature mat-card cursor-pointer" *wsHasPermission="[]; roles: [ROLES.REVIEWER]" [hidden]="!links?.authoringPublish?.url"
      (click)="checkIfIntranet(links?.authoringPublish)" i18n-feature-name="All canonical names for Publish, separated by semi-colon"
      feature-name="author;authoring tool;publish">
      <mat-icon class="feature-icon">publish</mat-icon>
      <span i18n="publish">Publish</span>
    </a>
    <a matRipple class="feature mat-card cursor-pointer" *wsHasPermission="[]; roles: [ROLES.REVIEWER]" [hidden]="!links?.authoringReview?.url"
      (click)="checkIfIntranet(links?.authoringReview)" i18n-feature-name="All canonical names for Review, separated by semi-colon"
      feature-name="author;authoring tool;review">
      <mat-icon class="feature-icon">rate_review</mat-icon>
      <span i18n="review">Review</span>
    </a>
  </section>

  <section class="feature-group">
    <h1 class="feature-heading" i18n="apps group : learning assistant">
      Learning Assistant
    </h1>
    <a *wsHasPermission="['navigator']" matRipple class="feature mat-card" routerLink="/navigator" i18n-feature-name="All canonical names for Navigator, separated by semi-colon"
      feature-name="navigator;guide;pilot;innovation">
      <mat-icon class="feature-icon">explore</mat-icon>
      <span i18n="navigator">Navigator</span>
    </a>
    <a *wsHasPermission="['lab42']" matRipple class="feature mat-card" routerLink="/salesleader" i18n-feature-name="All canonical names for lab42, separated by semi-colon"
      feature-name="full stack;fullstack;full-stack sales leader;sales leader;leader; salesleader">
      <mat-icon class="feature-icon">public</mat-icon>
      <span i18n="full-stack sales leader">Full-Stack Sales Leader</span>
    </a>
    <a *wsHasPermission="['onboarding']" matRipple class="feature mat-card" routerLink="/onboarding" i18n-feature-name="All canonical names for Onboarding, separated by semi-colon"
      feature-name="onboarding;onboarding kit" accesskey="O">
      <mat-icon class="feature-icon">transfer_within_a_station</mat-icon>
      <span i18n="onboarding">OnBoarding</span>
    </a>
    <a matRipple class="feature mat-card" [routerLink]="'/' + searchDirector" i18n-feature-name="All canonical names for Search, separated by semi-colon"
      feature-name="search;find;explore">
      <mat-icon class="feature-icon">search</mat-icon>
      <span i18n="application search">Search</span>
    </a>
  </section>

  <section class="feature-group">
    <h1 class="feature-heading" i18n="apps group : knowledge hub">
      Knowledge Hub
    </h1>

    <a *wsHasPermission="['catalog']" matRipple class="feature mat-card" routerLink="/catalog" i18n-feature-name="All canonical names for Catalog, separated by semi-colon"
      feature-name="catalog;explore;inventory;list;brochure;overview">
      <mat-icon class="feature-icon">list</mat-icon>
      <span i18n="catalog">Catalog</span>
    </a>
    <a *wsHasPermission="['marketing.clientStories']" matRipple class="feature mat-card" routerLink="/marketing/Client Stories"
      i18n-feature-name feature-name="brand;client stories;success stories;client success stories">
      <mat-icon class="feature-icon">comment</mat-icon>
      <span i18n>Client Stories</span>
    </a>
    <a *wsHasPermission="['marketing.hubs']" matRipple class="feature mat-card" routerLink="/marketing/Hubs" i18n-feature-name
      feature-name="hubs">
      <mat-icon class="feature-icon">device_hub</mat-icon>
      <span i18n>Hubs</span>
    </a>
    <a *wsHasPermission="['marketing.industries']" matRipple class="feature mat-card" routerLink="/marketing/Industries" i18n-feature-name
      feature-name="brand;industries;industry;enterprises;enterprise">
      <mat-icon class="feature-icon">location_city</mat-icon>
      <span i18n>Industries</span>
    </a>
    <a matRipple *wsHasPermission="['khub']; roles: [ROLES.KHUB]" class="feature mat-card" (click)="!isFeatureAvailable.khub.enabled ? openFeatureUnavailableDialog() : ''"
      [routerLink]="isFeatureAvailable.khub.enabled ? '/khub' : null" i18n-feature-name="All canonical names for Khub, separated by semi-colon"
      feature-name="khub;knowledge;artifacts;explore">
      <mat-icon class="feature-icon">description</mat-icon>
      <span i18n="application khub">Knowledge Hub</span>
    </a>
    <a *wsHasPermission="['marketing']" matRipple class="feature mat-card" routerLink="/marketing" i18n-feature-name feature-name="brand;marketing;advertising;sales;merchandising;promoting"
      accesskey="M">
      <mat-icon class="feature-icon">trending_up</mat-icon>
      <span i18n>Marketing</span>
    </a>
    <a *wsHasPermission="['marketing.productSubsidiary']" matRipple class="feature mat-card" routerLink="/marketing/Products and Subsidiaries"
      i18n-feature-name feature-name="brand;product subsidiaries;product subsidiary">
      <mat-icon class="feature-icon">store</mat-icon>
      <span i18n>Product and Subsidiaries</span>
    </a>
    <a *wsHasPermission="['marketing.services']" matRipple class="feature mat-card" routerLink="/marketing/Services" i18n-feature-name
      feature-name="brand;services;solutions;service;solution">
      <mat-icon class="feature-icon">local_activity</mat-icon>
      <span i18n>Services</span>
    </a>
    <a *wsHasPermission="['conceptGraph']" matRipple class="feature mat-card" routerLink="/concept-graph" i18n-feature-name feature-name="topic;concept-graph;graph">
      <mat-icon class="feature-icon">device_hub</mat-icon>
      <span i18n>Concept Graph</span>
    </a>
  </section>

  <section class="feature-group" *ngIf="!isFeatureAvailable.siemens.enabled">
    <h1 class="feature-heading" i18n="apps group : communications">
      Communications
    </h1>
    <a *wsHasPermission="['blogPost']" matRipple class="feature mat-card" routerLink="/blog-post" i18n-feature-name="All canonical names for From Leaders, separated by semi-colon"
      feature-name="blogs;leader blogs">
      <mat-icon class="feature-icon">insert_drive_file</mat-icon>
      <span i18n="blog routes">Blogs</span>
    </a>
    <a *wsHasPermission="['channels']" routerLink="/channels" i18n-feature-name matRipple class="feature mat-card" feature-name="channels;">
      <mat-icon class="feature-icon">group_work</mat-icon>
      <span i18n="channels">Channels</span>
    </a>
    <a *wsHasPermission="['navigateChange']; roles: [ROLES.ENGAGEMENT]" matRipple class="feature mat-card" (click)="!isFeatureAvailable.navigateChange.enabled ? openFeatureUnavailableDialog() : ''"
      [routerLink]="isFeatureAvailable.navigateChange.enabled ? '/experience-wow' : null" i18n-feature-name="All canonical names for navigate the change, separated by semi-colon"
      feature-name="experience wow;ocm;experience;wow;">
      <mat-icon class="feature-icon">call_merge</mat-icon>
      <span i18n="infy radio">{{isFeatureAvailable.navigateChange.config.boxTitle || 'Experience WOW'}}</span>
    </a>
    <a *wsHasPermission="['infyRadio']" matRipple class="feature mat-card" routerLink="/communications/radio" i18n-feature-name="All canonical names for Infy Radio, separated by semi-colon"
      feature-name="infy radio;radio;broadcast;podcast" accesskey="R">
      <mat-icon class="feature-icon">radio</mat-icon>
      <span i18n="infy radio">Infy Radio</span>
    </a>
    <a *wsHasPermission="['infyTv']" matRipple class="feature mat-card" routerLink="/infy-tv" i18n-feature-name="All canonical names for Infy TV, separated by semi-colon"
      feature-name="infy tv;box;tv shows;tv" accesskey="T">
      <mat-icon class="feature-icon">videocam</mat-icon>
      <span i18n="infy tv">Infy TV</span>
    </a>
    <a *wsHasPermission="['leadershipMessage']" matRipple class="feature mat-card" routerLink="/from-leaders" i18n-feature-name="All canonical names for From Leaders, separated by semi-colon"
      feature-name="from leaders;talks,leadership messages" accesskey='"'>
      <mat-icon class="feature-icon">portrait</mat-icon>
      <span i18n="leader talks">Leadership Messages</span>
    </a>
    <a *wsHasPermission="['livingLabs']; roles: [ROLES.AUTHOR]" matRipple class="feature mat-card" routerLink="/living-labs"
      i18n-feature-name="All canonical names for From living labs, separated by semi-colon" feature-name="living labs">
      <mat-icon class="feature-icon">business</mat-icon>
      <span i18n="Living Labs route">Living Labs</span>
    </a>
    <a *wsHasPermission="['qna']" matRipple class="feature mat-card" routerLink="/qna" i18n-feature-name="All canonical names for From Leaders, separated by semi-colon"
      feature-name="question and answer;qna;q and a">
      <mat-icon class="feature-icon">question_answer</mat-icon>
      <span i18n="Question and Answer route">Question and Answer</span>
    </a>
  </section>


  <section class="feature-group">
    <h1 class="feature-heading" i18n="apps group : events">Events</h1>
    <a *wsHasPermission="['events']" matRipple class="feature mat-card" routerLink="/events/confluence-american-2018" i18n-feature-name="All canonical names for American Confluence, separated by semi-colon"
      feature-name="american-confluence-2018">
      <mat-icon class="feature-icon">event</mat-icon>
      <span i18n="american-confluence-2018">Americas Confluence 2018</span>
    </a>
    <a *wsHasPermission="['events']" matRipple class="feature mat-card" routerLink="/events/confluence-apac-2019" i18n-feature-name="All canonical names for APAC Confluence, separated by semi-colon"
      feature-name="apac-confluence-2018">
      <mat-icon class="feature-icon">event</mat-icon>
      <span i18n="european-confluence-2018">APAC Confluence 2019</span>
    </a>
    <a *wsHasPermission="['events']" matRipple class="feature mat-card" routerLink="/events/connect-2019" i18n-feature-name="All canonical names for Connect 2019, separated by semi-colon"
      feature-name="connect-2019">
      <mat-icon class="feature-icon">event</mat-icon>
      <span i18n="connect-2019">Connect 2019</span>
    </a>
    <a *wsHasPermission="['events']" matRipple class="feature mat-card" routerLink="/events/confluence-european-2018" i18n-feature-name="All canonical names for European Confluence, separated by semi-colon"
      feature-name="european-confluence-2018">
      <mat-icon class="feature-icon">event</mat-icon>
      <span i18n="european-confluence-2018">EMEA Confluence 2018</span>
    </a>
    <a matRipple class="feature mat-card" *wsHasPermission="['events']; roles: [ROLES.LIVE_STREAM]" routerLink="/events" i18n-feature-name="All canonical names for Live, separated by semi-colon"
      feature-name="live;live streams;podcast;live video" accesskey="E">
      <mat-icon class="feature-icon">live_tv</mat-icon>
      <span i18n="live events">Live Streams</span>
    </a>
  </section>

  <section class="feature-group">
    <h1 class="feature-heading" i18n="apps group : platform information">
      Information
    </h1>
    <a matRipple class="feature mat-card" routerLink="/about" i18n-feature-name="All canonical names for About Platform, separated by semi-colon"
      feature-name="about platform;information;about;about us" accesskey="K">
      <mat-icon class="feature-icon">info</mat-icon>
      <span i18n="platform information">About Us</span>
    </a>
    <a matRipple *wsHasPermission="['chatbot']; roles: [ROLES.CHATBOT]" class="feature mat-card" routerLink="/viewer/lex_auth_012775961881313280202"
      i18n-feature-name="All canonical names for About Platform, separated by semi-colon" feature-name="about chatbot;information;chatbot video;">
      <mat-icon class="feature-icon">fast_forward</mat-icon>
      <span i18n="chatbot video">Digital Assistant Tour</span>
    </a>
    <a *wsHasPermission="['contactUs']" matRipple class="feature mat-card" routerLink="/contact-us" i18n-feature-name="All canonical names for Contact Us, separated by semi-colon"
      feature-name="contact us;help;support;mail;contact" accesskey="@">
      <mat-icon class="feature-icon">contact_support</mat-icon>
      <span i18n="contact us">Contact Us</span>
    </a>
    <a *wsHasPermission="['faq']" matRipple class="feature mat-card" routerLink="/faq" i18n-feature-name="All canonical names for FAQs, separated by semi-colon"
      feature-name="faqs;question;query;frequently answered questions;frequently asked questions" accesskey="?">
      <mat-icon class="feature-icon">chat</mat-icon>
      <span i18n="frequently asked questions">FAQs</span>
    </a>

    <a matRipple class="feature mat-card" *wsHasPermission="['analytics']; roles: [ROLES.LEARNING_ANALYTICS]" routerLink="/learning-analytics"
      i18n-feature-name="All canonical names for Learning Analytics, separated by semi-colon" feature-name="learning analytics;graph;data">
      <mat-icon class="feature-icon">bar_chart</mat-icon>
      <span i18n="learning analytics">Learning Analytics</span>
    </a>
    <a matRipple class="feature mat-card" [hidden]="!isMobileAppAvailable" *wsHasPermission="['mobileApps']; condition: !mobileAppsSvc.isMobile"
      routerLink="/mobile-app" i18n-feature-name="All canonical names for Mobile Apps, separated by semi-colon" feature-name="mobile apps;ios;android;download;apps;application;mobile application;app;mobile applications"
      accesskey="J">
      <mat-icon class="feature-icon">phone_iphone</mat-icon>
      <span i18n="mobile applications">Mobile Apps</span>
    </a>

    <a matRipple class="feature mat-card" routerLink="/tour" i18n-feature-name="All canonical names for Quick Tour, separated by semi-colon"
      feature-name="quick tour;overview;demo" accesskey="Q">
      <mat-icon class="feature-icon">fast_forward</mat-icon>
      <span i18n="demo video">Quick Tour</span>
    </a>

    <a *wsHasPermission="['tnc']" matRipple class="feature mat-card" routerLink="/tnc" i18n-feature-name="All canonical names for Terms & Condition, separated by semi-colon"
      feature-name="terms & condition;tnc;terms & conditions;terms and conditions; terms and condition;terms of sale;end user license agreement;license agreement;conditions of sale;terms and conditions of sale"
      accesskey="*">
      <mat-icon class="feature-icon">description</mat-icon>
      <span i18n="terms and conditions">Terms & Condition</span>
    </a>
  </section>

  <section class="feature-group" [hidden]="adminFeatureGroupHiddenStatus">
    <h1 class="feature-heading" i18n="apps group : admin">Admin</h1>

    <a *wsHasPermission="[]; roles: [ROLES.INFTQ_CERTIFICATION_ADMIN]" matRipple class="feature mat-card" routerLink="/infytq/certification/admin"
      i18n-feature-name feature-name="infy tq;certification;infy tq certification;infytq">
      <mat-icon class="feature-icon">chrome_reader_mode</mat-icon>
      <span i18n="application settings">InfyTQ Certifications</span>
    </a>
  </section>

  <section class="feature-group">
    <h1 class="feature-heading" i18n="apps group : account">Account</h1>

    <button matRipple class="feature mat-card feature-button" i18n-feature-name="All canonical names for Logout, separated by semi-colon"
      feature-name="logout;sign-out;logoff;exit;log off;quit" (click)="confirmLogout()" accesskey="L">
      <mat-icon class="feature-icon">power_settings_new</mat-icon>
      <span i18n="sign out">Logout</span>
    </button>
    <a *wsHasPermission="['settings']" matRipple class="feature mat-card" routerLink="/settings" i18n-feature-name="All canonical names for Settings, separated by semi-colon"
      feature-name="settings;adjustments;environments;setup" accesskey="I">
      <mat-icon class="feature-icon">settings</mat-icon>
      <span i18n="application settings">Settings</span>
    </a>
  </section>
</div>