<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar *ngIf="searchDirector === 'search'" color="primary" class="flex flex-wrapped">
  <a mat-icon-button [routerLink]="'/khub'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span *ngIf="!screenSizeIsLtMedium" class="margin-left-xs"
    ><span i18n="page title: Khub Search">Showing Results for </span><i>"{{ searchObj.searchQuery }}"</i></span
  >
  <span class="spacer"></span>
  <form class="example-form" (keydown)="onPress($event)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" value="query" name="search" [formControl]="myControl" [matAutocomplete]="auto" />
      <mat-icon class="search-icon" i18n matSuffix (click)="goToSearch()">search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize style="height: 100% !important;">
  <mat-sidenav
    class="sidenav"
    [mode]="mode$ | async"
    [(opened)]="sideNavBarOpened"
    [ngStyle]="{ width: screenSizeIsLtMedium ? '300px' : '25%' }"
  >
    <h2 i18n="page myanalytics side nav item one">
      <span class="padding-s ">Filters</span>
      <!-- <ng-container i18n> Removing Filters </ng-container> -->
      <!-- <span class="spacer"></span> -->
      <span class="padding-s "
        ><mat-icon
          *ngIf="screenSizeIsLtMedium"
          class="feature-icon margin-remove-bottom "
          style="float:right;margin-right:10px;"
          (click)="sideNavBarOpened = !sideNavBarOpened"
          >close</mat-icon
        ></span
      >
      <span
        class="padding-s "
        *ngIf="dataShown[selectedIndex].appliedRefiners.length > 0"
        style="float:right;margin-right:10px;cursor:pointer;"
        (click)="removeRefiners()"
      >
        <mat-icon>restore</mat-icon>
      </span>
    </h2>
    <mat-expansion-panel class="mat-filter" *ngFor="let filter of dataShown[selectedIndex].refiners">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ filter.name | displayName }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let val of filter.value">
          <mat-checkbox
            [color]="'primary'"
            [checked]="val.checked"
            [id]="filter.key + '*#*' + val.key"
            (change)="clickCheckBox($event); val.checked = !val.checked"
            [matTooltip]="val.key"
            >{{ val.key | trimAndReduce: 18 }}</mat-checkbox
          >
          <span class="spacer"></span>
          <span style="float: right;">{{ val.doc_count }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content class="custom-scroll">
    <div *ngIf="fetchStatus" class="flex flex-middle padding-m">
      <span i18n="search route hits showing">Showing &nbsp;&nbsp;</span>
      <span>{{ dataShown[selectedIndex].count }}&nbsp;&nbsp;</span>
      <span i18n="search route hits results">results</span>&nbsp;&nbsp;
      <mat-icon *ngIf="screenSizeIsLtMedium" (click)="sideNavBarOpened = !sideNavBarOpened">filter_list</mat-icon>
    </div>
    <article>
      <section *ngIf="searchDirector === 'search'">
        <mat-tab-group
          mat-align-tabs="center"
          [selectedIndex]="selectedIndex"
          (selectedIndexChange)="onTabChange($event)"
          style="margin-bottom:10px;"
        >
          <mat-tab label="Knowledge Artifacts"> </mat-tab>
          <mat-tab label="Projects"> </mat-tab>
          <mat-tab label="Search Learning Content"> </mat-tab>
        </mat-tab-group>
      </section>
      <section>
        <section class="text-center margin-top-s" *ngIf="!fetchStatus">
          <app-spinner> </app-spinner>
        </section>
        <section class="flex flex-wrapped search-view-wrapper">
          <div class="card" *ngFor="let tile of dataShown[selectedIndex].data">
            <app-item-tile [show]="fetchStatus" [ref]="'search'" [data]="tile"></app-item-tile>
          </div>
        </section>
      </section>
      <section class="flex flex-center" style="margin-bottom: 15px;margin-top:-10px;">
        <button
          *ngIf="fetchStatus && !fetchmore && !error"
          mat-raised-button
          (click)="fetchMore()"
          color="primary"
          i18n="Khub View More tiles"
        >
          <mat-icon>add</mat-icon> View More
        </button>
        <app-spinner *ngIf="fetchmore"> </app-spinner>
      </section>
      <mat-card *ngIf="error">
        <h2 class="h2-title" i18n="search result fetch error">
          Some error occurred! Please retry
        </h2>
      </mat-card>
    </article>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-modalpopup
  *ngIf="searchDirector === 'search'"
  [show]="errObj.show"
  [title]="errObj.title"
  [body]="errObj.body"
  [modelType]="errObj.modelType"
  [btnType]="errObj.btnType"
  [cancelText]="errObj.cancelText"
  [okText]="errObj.okText"
></app-modalpopup>
