<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h2 class="mat-h2 text-center margin-xl" i18n *ngIf="contentStatus === 'none'">No Data Available</h2>
<app-search-strip [searchRequest]="experienceSearchRequests[0]" (contentStatus)="contentStatus = $event"></app-search-strip>