<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<!-- <iframe
  #courseAnalytics
  [src]="analyticsUrl"
  i18n-title
  title="Content Analytics"
  width="100%"
  [height]="contentHeight$ | async"
></iframe> -->
<app-spinner *ngIf="scheduleFetchStatus === 'fetching'" [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'"
  [spinValue]="70" [spinColor]="'primary'" class="progress-circular-full">
</app-spinner>

<h2 class="text-center" *ngIf="scheduleFetchStatus === 'error'" i18n="Error fetching data">
  Error fetching data
</h2>

<div *ngIf="scheduleFetchStatus === 'done'">
  <!-- <div *ngIf="filter.length>0" class="flex flex-wrapped margin-m">
    <h4 i18n="filter applied">Filter Applied: </h4>
    <mat-chip-list>
      <mat-chip *ngFor="let refiner of filter">{{refiner}}
        <mat-icon matChipRemove *ngIf="removable" (click)="remove(refiner)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div> -->

  <div class="margin-xl">
    <mat-card *ngIf="uniqueUserCount" class="unique-users-card">
      <mat-card-header class="flex flex-center flex-wrapped">
        <mat-card-title>
          <span class="padding-left-xs mat-body-1" i18n="Unique Users">Unique Users</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex flex-center flex-wrapped">
        <h2 i18n="uniqueUserCount">{{uniqueUserCount}}</h2>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="flex flex-center flex-wrapped">
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By Onsite Offshore">Participants By Onsite Offshore</span>
        </mat-card-header>
        <mat-card-content *ngIf="serviceData?.participants?.onsiteOffshoreIndicator?.length>0" class="margin-xl">
          <div class="chart-container padding-top-s" id="onsiteOffshoreChart" class="pieChart"></div>
        </mat-card-content>
        <mat-card-content *ngIf="serviceData?.participants?.onsiteOffshoreIndicator?.length===0" class="text-center margin-xl">
          <h2 i18n>No Data Found</h2>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By Unit">Participants By Unit</span>
        </mat-card-header>
        <mat-card-content *ngIf="serviceData?.participants?.ibu?.length>0" class="margin-xl">
          <div id="UnitChart" class="bar-chart"></div>
        </mat-card-content>
        <mat-card-content class="text-center margin-xl" *ngIf="serviceData?.participants?.ibu?.length===0">
          <h2 i18n>No Data Found</h2>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By PU">Participants By PU</span>
        </mat-card-header>
        <mat-card-content *ngIf="serviceData?.participants?.pu?.length>0" class="margin-xl">
          <div id="PUChart" class="bar-chart"></div>
        </mat-card-content>
        <mat-card-content class="text-center margin-xl" *ngIf="serviceData?.participants?.pu?.length===0">
          <h2 i18n>No Data Found</h2>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By JL">Participants By JL</span>
        </mat-card-header>
        <mat-card-content *ngIf="serviceData?.participants?.jl?.length>0" class="margin-xl">
          <div id="JLChart" class="bar-chart"></div>
        </mat-card-content>
        <mat-card-content class="text-center margin-xl" *ngIf="serviceData?.participants?.jl?.length===0">
          <h2 i18n>No Data Found</h2>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By Location">Participants By Location</span>
        </mat-card-header>
        <mat-card-content *ngIf="serviceData?.participants?.location?.length>0" class="margin-xl">
          <div id="LocationChart" class="bar-chart"></div>
        </mat-card-content>
        <mat-card-content class="text-center margin-xl" *ngIf="serviceData?.participants?.location?.length===0">
          <h2 i18n>No Data Found</h2>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container>
      <mat-card class="pie-card">
        <mat-card-header class="graph-card-header padding-xs">
          <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="Participants By Account">Participants By Account</span>
        </mat-card-header>
        <mat-card-content *ngIf="serviceData?.participants?.account?.length>0" class="margin-xl">
          <div id="AccountChart" class="bar-chart"></div>
        </mat-card-content>
        <mat-card-content class="text-center margin-xl" *ngIf="serviceData?.participants?.account?.length===0">
          <h2 i18n>No Data Found</h2>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

</div>
