<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: sales competencies" class="margin-left-xs">Sales Navigator</span>
</mat-toolbar>
<app-carousel [banners]="banners">
  <ng-template let-banner>
    <a [routerLink]="banner.url" [ngSwitch]="banner.titleKey">
      <span *ngSwitchCase="banners[0].titleKey" i18n="sales navigator carousel slide 0">Tip Of the Spear (TOST)</span>
      <span *ngSwitchCase="banners[1].titleKey" i18n="sales navigator carousel slide 1">Get Ready for your Industries</span>
      <span *ngSwitchCase="banners[2].titleKey" i18n="sales navigator carousel slide 2">Digital for Sales</span>
      <span *ngSwitchCase="banners[3].titleKey" i18n="sales navigator carousel slide 3">Success Stories</span>
      <span *ngSwitchCase="banners[4].titleKey" i18n="sales navigator carousel slide 4">Titan Accounts</span>
    </a>
  </ng-template>
</app-carousel>

<div class="flex flex-center flex-wrapped padding-s">
  <div class="card-section">
    <app-feature-card url="/toc/lex_auth_0126130158325104641110" i18n-name i18n-description name="Tip Of the Spear (TOST)"
      description="Become an effective front line sales leader"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/industries" i18n-name i18n-description name="Get Ready for your Industries"
      description="Get up-to-date on Industry verticals and related tech skills"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/pillars" i18n-name i18n-description name="Digital for Sales" description="Learn the latest technologies and gain competitive advantage"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/sales/stories" i18n-name i18n-description name="Success Stories" description="Learn from our successes and Navigate to Win"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/accounts" i18n-name i18n-description name="Titan Accounts" description="Account based Learning and Sharing"></app-feature-card>
  </div>
</div>
