<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="showFeatures" class="feature-container">
  <div class="flex flex-between">
    <h1 class="mat-title" i18n="connect with platform">
      Featured Apps
    </h1>
    <div>
      <button mat-icon-button (click)="hideFeatures()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <app-scroll-handler [contentStatus]="'done'">
    <mat-card class="feature-card-container" *wsHasPermission="['onboarding']">
      <a routerLink="/onboarding" class="feature-card">
        <div>
          <mat-icon class="feature-icon">transfer_within_a_station</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="Onboarding feature title">
          Onboarding
        </h2>
        <div class="mat-subheading-1">
          <ng-container i18>Get on-boarded with</ng-container>
          &nbsp;{{ appName }}
        </div>
      </a>
    </mat-card>
    <mat-card class="feature-card-container" *wsHasPermission="['playlist']">
      <a routerLink="/playlist" class="feature-card">
        <div>
          <mat-icon class="feature-icon">playlist_play</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="Playlist feature title">
          Playlists
        </h2>
        <div class="mat-subheading-1" i18n="Onboarding feature description">
          Create and learn from playlists. Share with your friends too.
        </div>
      </a>
    </mat-card>
    <mat-card
      class="feature-card-container"
      *wsHasPermission="['practiceHandsOn']; roles: ['ROLES.IAP']"
    >
      <a routerLink="/practice/hands-on/challenges" class="feature-card">
        <div>
          <mat-icon class="feature-icon">create</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="Hands-on feature title">
          HandsOn
        </h2>
        <div class="mat-subheading-1" i18n="Hands-on feature description">
          Test your coding skills by solving our hands-on challenges
        </div>
      </a>
    </mat-card>
    <mat-card class="feature-card-container" *wsHasPermission="['navigator']">
      <a routerLink="/navigator" class="feature-card">
        <div>
          <mat-icon class="feature-icon">explore</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="Navigator feature title">
          Navigator
        </h2>
        <div class="mat-subheading-1" i18n="Navigator feature description">
          Learn by the help of our guide
        </div>
      </a>
    </mat-card>
    <mat-card class="feature-card-container" *wsHasPermission="['leaderboard']">
      <a routerLink="/leaderboard" class="feature-card">
        <div>
          <mat-icon class="feature-icon">poll</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="LeaderBoard feature title">
          Leaderboard
        </h2>
        <div class="mat-subheading-1" i18n="LeaderBoard feature description">
          Check the leaderboard and see where you stand
        </div>
      </a>
    </mat-card>
    <mat-card class="feature-card-container" *wsHasPermission="['goals']">
      <a routerLink="/goals" class="feature-card">
        <div>
          <mat-icon class="feature-icon">adjust</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="Goals feature title">
          Goals
        </h2>
        <div class="mat-subheading-1" i18n="Goals feature description">
          Create and learn from goals. Share with your friends too.
        </div>
      </a>
    </mat-card>
    <mat-card class="feature-card-container" *wsHasPermission="['feedback']">
      <a routerLink="/feedback" class="feature-card">
        <div>
          <mat-icon class="feature-icon">feedback</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="Feedback feature title">Feedback</h2>
        <div class="mat-subheading-1" i18n="Feedback feature description">
          Like us? Have some suggestions? Want to report a bug?
        </div>
      </a>
    </mat-card>
    <mat-card
      class="feature-card-container"
      *wsHasPermission="['learningTime']"
    >
      <a routerLink="/time-spent" class="feature-card">
        <div>
          <mat-icon class="feature-icon">access_time</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="time-spent feature title">
          View time spent
        </h2>
        <div class="mat-subheading-1" i18n="time-spent feature description">
          Check the time spent on the learning platform
        </div>
      </a>
    </mat-card>
    <mat-card
      class="feature-card-container"
      *wsHasPermission="['learningHistory']"
    >
      <a routerLink="/learning-history" class="feature-card">
        <div>
          <mat-icon class="feature-icon">timeline</mat-icon>
        </div>
        <h2 class="mat-subheading-2" i18n="learning-history feature title">
          View your progress
        </h2>
        <div
          class="mat-subheading-1"
          i18n="learning-history feature description"
        >
          Check your course progress
        </div>
      </a>
    </mat-card>
  </app-scroll-handler>
</div>
