<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="isSiemensAvailable">
  <section *ngIf="!loader2">
    <div class="feature-container">
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage mylearning">My Learning</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Mins'" [tileValue]="tileData.learningMin" [orgValue]="learningMins"></app-tile>
        <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Points'" [tileValue]="tileData.learningPoints" [orgValue]="pointsEarned"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Badges'" [tileValue]="tileData.badges"></app-tile>
      </div>
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage myassessment">My Assessments</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="true" [title]="'Total Assessments'" [tileValue]="tileData.totalAssessments" [orgValue]="orgAssessement"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Pending Assessments'" [message]="'Pending Assessments'" [tileValue]="tileData.pendingAssessments"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Certifications'" [tileValue]="tileData.certificates"></app-tile>
      </div>
      <!-- <div class="mat-title margin-left-s margin-top-s" i18n="featureusage refactoringprograms">My Refactoring Programs</div>
    <div class="flex flex-wrapped flex-left">
    <app-tile class="tiles-css" style="margin-left: 25px" [showSecond]="false" [title]="'My Refactoring Program'"  [tileValue]="tileData.nsoProgram"></app-tile> -->
      <!-- <app-tile class="tiles-css" [showSecond]="false" [title]="'My Refactoring Certifications'"
        [tileValue]="tileData.nsoCertificates"></app-tile> -->
      <!-- <app-tile class="tiles-css" [showSecond]="false" [title]="'Navigator'" [tileValue]="tileData.navigator"></app-tile>
  </div> -->
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage myplans">My Plans</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="false" [title]="'My Goals'" [tileValue]="tileData.goals"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Playlist'" [tileValue]="tileData.playlist"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Goals Shared with Me'" [tileValue]="tileData.goalsSharedToMe"></app-tile>
      </div>
      <!-- <div class="mat-title margin-left-s" i18n="featureusage mycollaboration">My Collaboration</div>
    <div class="flex flex-wrapped flex-center">
    <app-tile class="tiles-css" [showSecond]="false" [title]="'Goals Shared by Me'"  [tileValue]="tileData.goalsSharedByMe"></app-tile>
      <app-tile class="tiles-css" [showSecond]="false" [title]="'Artifacts Shared by Me'"
        [tileValue]="tileData.artifactSharedByMe"></app-tile>
      <app-tile class="tiles-css" [showSecond]="false" [title]="'Experts Contacted'" [tileValue]="tileData.expertsContacted"></app-tile>
  </div> -->
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage other lex features">My other LEX feature usage</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Playground'" [tileValue]="tileData.playGround"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Likes'" [tileValue]="tileData.likes"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Search'" [tileValue]="tileData.search"></app-tile>
      </div>
      <div class="mat-title margin-left-s margin-top-s"></div>
      <div class="flex flex-wrapped flex-center" style="margin-bottom: 20px">
        <!-- <app-tile  class="tiles-css" [showSecond]="false" [title]="'Catalog Search'"  [tileValue]="tileData.catelogue"></app-tile> -->
        <!-- <app-tile class="tiles-css" [showSecond]="false" [title]="'Infy TV'" [tileValue]="tileData.infyTV"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Infy Radio'" [tileValue]="tileData.infyRadio"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Infy Live'" [tileValue]="tileData.infyRadio"></app-tile> -->
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="!isSiemensAvailable">
  <section *ngIf="!loader2">
    <div class="feature-container">
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage mylearning">My Learning</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Mins'" [tileValue]="tileData.learningMin" [orgValue]="learningMins"></app-tile>
        <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Points'" [tileValue]="tileData.learningPoints" [orgValue]="pointsEarned"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Badges'" [tileValue]="tileData.badges"></app-tile>
      </div>
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage myassessment">My Assessments</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="true" [title]="'Total Assessments'" [tileValue]="tileData.totalAssessments" [orgValue]="orgAssessement"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Pending Assessments'" [message]="'Pending Assessments'" [tileValue]="tileData.pendingAssessments"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Certifications'" [tileValue]="tileData.certificates"></app-tile>
      </div>
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage refactoringprograms">My Refactoring Programs</div>
      <div class="flex flex-wrapped flex-left">
        <app-tile class="tiles-css" style="margin-left: 25px" [showSecond]="false" [title]="'My Refactoring Program'" [tileValue]="tileData.nsoProgram"></app-tile>
        <!-- <app-tile class="tiles-css" [showSecond]="false" [title]="'My Refactoring Certifications'"
          [tileValue]="tileData.nsoCertificates"></app-tile> -->
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Navigator'" [tileValue]="tileData.navigator"></app-tile>
      </div>
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage myplans">My Plans</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="false" [title]="'My Goals'" [tileValue]="tileData.goals"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Playlist'" [tileValue]="tileData.playlist"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Goals Shared with Me'" [tileValue]="tileData.goalsSharedToMe"></app-tile>
      </div>
      <div class="mat-title margin-left-s" i18n="featureusage mycollaboration">My Collaboration</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Goals Shared by Me'" [tileValue]="tileData.goalsSharedByMe"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Artifacts Shared by Me'" [tileValue]="tileData.artifactSharedByMe"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Experts Contacted'" [tileValue]="tileData.expertsContacted"></app-tile>
      </div>
      <div class="mat-title margin-left-s margin-top-s" i18n="featureusage other lex features">My other LEX feature usage</div>
      <div class="flex flex-wrapped flex-center">
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Playground'" [tileValue]="tileData.playGround"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Likes'" [tileValue]="tileData.likes"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Search'" [tileValue]="tileData.search"></app-tile>
      </div>
      <div class="mat-title margin-left-s margin-top-s"></div>
      <div class="flex flex-wrapped flex-center" style="margin-bottom: 20px">
        <!-- <app-tile  class="tiles-css" [showSecond]="false" [title]="'Catalog Search'"  [tileValue]="tileData.catelogue"></app-tile> -->
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Infy TV'" [tileValue]="tileData.infyTV"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Infy Radio'" [tileValue]="tileData.infyRadio"></app-tile>
        <app-tile class="tiles-css" [showSecond]="false" [title]="'Infy Live'" [tileValue]="tileData.infyRadio"></app-tile>
      </div>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="loader2" class="margin-left-s margin-top-s">
  <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
    class="progress-circular-full">
  </app-spinner>
</ng-container>
