/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';

.tiles-css {
    width: 30%;
   
   margin: -15px 20px 0px 5px;

    @include breakpoint-xs {
      width: 90%;
      margin: $size-s;
    }
  
    @include breakpoint-sm {
      width: 45%;
      margin: $size-s;
    }
  }
  .mat-title{
    margin-top:25px !important;
  }