<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="config">
  <div class="flex flex-wrapped" *ngFor="let data of config">
    <ng-container *ngFor="let layout of data">
      <div class="layout" [ngStyle]="{'width': layout.width}">
        <ws-widget-resolver [config]="layout.widget"></ws-widget-resolver>
      </div>
    </ng-container>
  </div>
</ng-container>