<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="tile-card">
  <h4 class="text-center margin-remove">{{ tileTitle }}</h4>
  <div class="flex flex-around flex-wrapped">
    <mat-card-content *ngIf="firstValue" (click)="filterSource(titleFirstSubHeading)" class="margin-remove padding-bottom-s text-center">
      <h2 class="margin-remove">{{ firstValue }}</h2>
      <h5 class="margin-remove">{{ titleFirstSubHeading }}</h5>
    </mat-card-content>
    <mat-card-content *ngIf="secondValue" (click)="filterSource(titleSecondSubHeading)" class="margin-remove text-center">
      <h2 class="margin-remove">{{ secondValue }}</h2>
      <h5 class="margin-remove">{{ titleSecondSubHeading }}</h5>
    </mat-card-content>
    <mat-card-content *ngIf="thirdValue" (click)="filterSource(titleThirdSubHeading)" class="margin-remove text-center">
      <h2 class="margin-remove">{{ thirdValue }}</h2>
      <h5 class="margin-remove">{{ titleThirdSubHeading }}</h5>
    </mat-card-content>
    <mat-card-content *ngIf="fourthValue" (click)="filterSource(titleFourthSubHeading)" class="margin-remove text-center">
      <h2 class="margin-remove">{{ fourthValue }}</h2>
      <h5 class="margin-remove">{{ titleFourthSubHeading }}</h5>
    </mat-card-content>
  </div>
</mat-card>
