<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="flex">
  <span class="spacer"></span>
  <a mat-icon-button [routerLink]="'/goals/track/' + goal.goal_id" *ngIf="goal?.shared_users_progress?.length">
    <mat-icon>track_changes</mat-icon>
  </a>
  <button mat-icon-button *ngIf="!goal?.shared_users_progress?.length" (click)="showContentPicker = !showContentPicker">
    <mat-icon *ngIf="!showContentPicker">edit</mat-icon>
    <mat-icon *ngIf="showContentPicker">close</mat-icon>
  </button>
  <button mat-icon-button (click)="deleteGoal()">
    <mat-icon *ngIf="!showDeleteCard">delete</mat-icon>
    <mat-icon *ngIf="showDeleteCard">close</mat-icon>
  </button>
  <button mat-icon-button (click)="shareGoal()">
    <mat-icon>share</mat-icon>
  </button>
</div>
<!--
  <app-shared-goal-progress [goal]="goal" *ngIf="showTrackProgress"></app-shared-goal-progress>
-->
<app-add-goal *ngIf="showContentPicker" [goalId]="goal?.goal_id" [existingGoal]="goal" [userGivenGoalDuration]="goal?.goal_duration"
  [goalTitle]="goal?.goal_title" [goalDescription]="goal?.goal_desc" [disableGoalContent]="
    goal?.goal_type === 'common' || goal?.goal_type === 'commonshared'
  "
  [disableGoalMeta]="
    goal?.goal_type === 'common' || goal?.goal_type === 'commonshared'
  " mode="edit"
  [checkedContent]="checkedContent"></app-add-goal>
<div *ngIf="showDeleteCard">
  <app-delete-shared-goal [goal]="goal"></app-delete-shared-goal>
</div>
<!-- <h3 class="mat-h3" i18n>Goal Content</h3> -->
<mat-list>
  <mat-list-item *ngFor="let item of goal.resource">
    <h4 mat-line class="mat-h4">
      <a [routerLink]="'/toc/' + item.resource_id">{{ item.resource_name }}</a>
    </h4>
  </mat-list-item>
</mat-list>
