<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="flex">
  <span class="spacer"></span>
  <button mat-icon-button (click)="openAcceptDialog()">
    <mat-icon>check</mat-icon>
  </button>
  <button mat-icon-button (click)="openRejectDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-list>
  <mat-list-item *ngFor="let item of goal.resource">
    <h4 mat-line class="mat-h4">
      <a [routerLink]="'/toc/' + item.resource_id">{{ item.resource_name }}</a>
    </h4>
  </mat-list-item>
</mat-list>

<input #goalAccepted type="hidden" i18n-value value="Goal successfully added" />

<input #goalRejected type="hidden" i18n-value value="Goal Rejected" />

<input #errorOccurred type="hidden" i18n-value value="Some error occurred! Please try again" />
