<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="padding-remove-bottom tile-card">
  <h3 class="text-center margin-remove">Goals</h3>
  <mat-card-content *ngIf="page1" class="margin-remove text-center flex flex-around flex-wrapped">
    <div (click)="filterSource(titleFirstSubHeading)">
      <h2 class="margin-remove">{{ data.user_goal }}</h2>
      <h4 class="margin-remove">Goals</h4>
    </div>
    <div (click)="filterSource(titleSecondSubHeading)">
      <h2 class="margin-remove">{{ data.user_playlist }}</h2>
      <h4 class="margin-remove">Playlists</h4>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="page2" class="margin-remove text-center flex flex-around flex-wrapped">
    <div (click)="filterSource(titleFirstSubHeading)">
      <h2 class="margin-remove">{{ data.user_shared_goal }}</h2>
      <h4 class="margin-remove">Goals Shared</h4>
    </div>
    <div (click)="filterSource(titleSecondSubHeading)">
      <h2 class="margin-remove">{{ data.user_shared_playlist }}</h2>
      <h4 class="margin-remove">Playlists Shared</h4>
    </div>
  </mat-card-content>
  <div class="text-right">
    <mat-icon (click)="onLeftArrow()" class="cursor-pointer">keyboard_arrow_left</mat-icon>
    <mat-icon (click)="onRightArrow()" class="cursor-pointer">keyboard_arrow_right</mat-icon>
  </div>
</mat-card>
