<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="catalog back" class="margin-left-xs">Catalog</span>
</mat-toolbar>

<mat-card class="breadcrumb-card">
  <mat-card-content>
    <nav class="breadcrumb row-wrap">
      <a mat-button routerLink="/catalog">Catalog</a>
      <ng-container *ngFor="let edge of path; let last = last">
        <mat-icon>chevron_right</mat-icon>
        <a mat-button [routerLink]="'/catalog/' + edge.identifier">{{
          edge.value
        }}</a>
      </ng-container>
    </nav>
  </mat-card-content>
</mat-card>

<h2 class="mat-title text-center margin-top-xl" *ngIf="!pageHasContent" i18n>
  No Data Available
</h2>
<!-- <app-search-strip
  *ngIf="showStrip.overview"
  [searchRequest]="searchRequest['Concepts']"
  (contentStatus)="status($event, 'overview')"
  i18n-heading="heading catalog concepts"
  heading="Conceptual Overview"
></app-search-strip> -->
<app-search-strip
  [searchRequest]="searchRequest['Programs']"
  (contentStatus)="status($event, 'program')"
  i18n-heading="heading catalog concepts"
  heading="Programs"
></app-search-strip>
<app-search-strip
  [searchRequest]="searchRequest['Course']"
  i18n-heading="heading catalog courses"
  heading="Courses"
  (contentStatus)="status($event, 'course')"
></app-search-strip>
<app-search-strip
  [searchRequest]="searchRequest['Collection']"
  i18n-heading="heading catalog learning module"
  heading="Learning Modules"
  (contentStatus)="status($event, 'collection')"
></app-search-strip>
<app-search-strip
  [searchRequest]="searchRequest['Resource']"
  i18n-heading="heading catalog resources"
  heading="Resources"
  (contentStatus)="status($event, 'resource')"
></app-search-strip>
