<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div
  class="mat-toolbar padding-s text-center"
  *ngIf="discussionFetchStatus === 'done' && !isDiscussionsDoneByLeader"
  i18n
>
  You can start participating in discussions once Leader initiates it.
</div>
<div class="mat-toolbar padding-s text-center" *ngIf="discussionFetchStatus === 'error'" i18n>
  Uh oh! Looks like our services have crashed. Unable to fetch discussions.
</div>
<h3 *ngIf="discussionFetchStatus === 'fetching'" class="margin-top-s text-center" i18n>
  Fetching discussions...
</h3>
<ws-discussion-forum
  class="discussion-container"
  *ngIf="discussionForumInput"
  [discussionForumInput]="discussionForumInput"
></ws-discussion-forum>
