<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs">{{ fullStackProgram?.fs_name }}</span>
</mat-toolbar>
<section class="margin-bottom-xl">
  <div class="banner overflow">
    <div class="content-strip">
      <p class="mat-subheading-2 text-white">{{ fullStackProgram?.fs_desc }}</p>
    </div>
  </div>

  <div *ngIf="fullStackProgram?.fs_course?.length">
    <section class="content-strip overflow">
      <app-content-strip id="pentagonResults" *ngIf="availableCourses?.length" i18n-heading heading="Courses"
        contentStatus="done" [contents]="availableCourses"></app-content-strip>
    </section>
    <app-certification-panel [lpItems]="[fullStackProgram]"></app-certification-panel>
    <section class="content-strip">
      <app-content-strip id="pentagonResults" *ngIf="availablePlaygrounds?.length" i18n-heading heading="Practice"
        contentStatus="done" [contents]="availablePlaygrounds"></app-content-strip>
    </section>
  </div>
  <div *ngIf="!fullStackProgram?.fs_course?.length" class="margin-top-xl">
    <app-spinner></app-spinner>
  </div>
</section>
