<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs" i18n>Core Development Paths</span>
</mat-toolbar>
<div *ngIf="cdpFetchStatus === 'fetching'" class="text-center margin-xl">
  <app-spinner></app-spinner>
</div>
<h2 *ngIf="cdpFetchStatus === 'error'" class="text-center margin-xl" i18n>
  Error Fetching Data
</h2>
<div *ngIf="cdpFetchStatus === 'done'" class="flex flex-center flex-wrapped padding-s">
  <div class="card-section margin-bottom-xl">
    <mat-card class="height-1-1">
      <h2 class="mat-h2" i18n>
        Select a Career Stream
      </h2>
      <mat-chip-list>
        <mat-chip *ngFor="let stream of cdpData?.careerStreams" class="width-1-1" [disabled]="!stream?.roles?.length"
          [selected]="stream.name === selectedStream?.name" color="primary" (click)="stream?.roles?.length ? selectedStream = stream : undefined">
          <span class="width-1-1 text-center text-truncate">{{ stream.name }}</span>
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
  <div class="card-section margin-bottom-xl">
    <mat-card class="height-1-1" *ngIf="selectedStream">
      <h2 class="mat-h2" i18n>
        Select a Role
      </h2>
      <mat-chip-list>
        <mat-chip *ngFor="let role of selectedStream.roles" class="width-1-1" [disabled]="!role?.skills?.length"
          [selected]="role.name === selectedRole?.name" color="primary" (click)="role?.skills?.length ? selectedRole = role : undefined">
          <span class="width-1-1 text-center text-truncate">{{ role.name }}</span>
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
  <div class="card-section margin-bottom-xl">
    <mat-card *ngIf="selectedRole" class="height-1-1">
      <h2 class="mat-h2" i18n>Select a Skill</h2>
      <div class="flex flex-center">
        <ws-skill-card [role]="selectedRole"></ws-skill-card>
      </div>
    </mat-card>
  </div>
</div>