<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="padding-top-l padding-bottom-l">
  <section class="margin-bottom-l">
    <button
      mat-stroked-button
      color="primary"
      i18n
      (click)="openJITForm()"
      *ngIf="selectedView === 'training' && isUserJL6OrAbove"
    >
      <mat-icon inline="true">add</mat-icon>
      <span class="margin-left-xs" i18n="make training request for team">Request Training</span>
    </button>
    <button mat-stroked-button color="primary" i18n (click)="openTrainings()" *ngIf="selectedView === 'jit'">
      View Trainings
    </button>
  </section>

  <ng-container *ngIf="selectedView === 'training'; else jit" [ngTemplateOutlet]="trainings"></ng-container>
</section>

<!-- Templates -->

<!-- Trainings List -->
<ng-template #trainings>
  <div class="flex flex-between margin-bottom-m">
    <mat-chip-list>
      <mat-chip [color]="'primary'" selected *ngIf="filterData.location">
        <span class="mat-caption">
          <mat-icon inline="true">location_on</mat-icon>
          <span class="margin-left-xs">{{ filterData.location }}</span>
        </span>
      </mat-chip>

      <mat-chip [color]="'primary'" selected>
        <span class="mat-caption">
          <mat-icon inline="true">calendar_today</mat-icon>
          <span class="margin-left-xs hidden-gt-xs">{{
            {
              startDate: filterData.fromDate,
              endDate: filterData.toDate
            } | conciseDateRange
          }}</span>
          <span class="margin-left-xs hidden-xs" i18n="showing trainings b/w <date range>">
            Showing trainings from:
            {{
              {
                startDate: filterData.fromDate,
                endDate: filterData.toDate
              } | conciseDateRange
            }}
          </span>
        </span>
      </mat-chip>
    </mat-chip-list>

    <button
      mat-mini-fab
      [color]="'primary'"
      (click)="openFilterDialog()"
      matTooltip="Filter"
      i18n-matTooltip
      matTooltipPosition="above"
    >
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <mat-tab-group mat-align-tabs="center" [dynamicHeight]="true" [(selectedIndex)]="currentTab">
    <mat-tab label="Registered" i18n-label>
      <section class="flex flex-wrapped flex-center width-1-1" *ngIf="!fetchingTrainings; else loading">
        <ng-container *ngIf="registeredTrainings.length; else noTrainingsAvailable">
          <ng-container
            *ngFor="let training of registeredTrainings"
            [ngTemplateOutlet]="trainingCard"
            [ngTemplateOutletContext]="{ $implicit: training }"
          ></ng-container>
        </ng-container>
      </section>
    </mat-tab>

    <mat-tab label="Upcoming" i18n-label>
      <section class="flex flex-wrapped flex-center width-1-1" *ngIf="!fetchingTrainings; else loading">
        <ng-container *ngIf="currentTrainings && currentTrainings.length; else noTrainingsAvailable">
          <ng-container
            *ngFor="let training of currentTrainings"
            [ngTemplateOutlet]="trainingCard"
            [ngTemplateOutletContext]="{ $implicit: training }"
          ></ng-container>
        </ng-container>
      </section>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<!-- Create a new JIT request -->
<ng-template #jit>
  <app-jit-request [content]="content" [savedForm]="jitForm" (jitSubmit)="openTrainings()"></app-jit-request>
</ng-template>

<!-- Loading -->
<ng-template #loading>
  <div class="margin-top-l flex flex-center width-1-1">
    <app-spinner [spinColor]="'primary'"></app-spinner>
  </div>
</ng-template>

<!-- Training Card -->
<ng-template #trainingCard let-training>
  <mat-card class="training-card flex flex-column">
    <section class="training-details">
      <div class="flex flex-between">
        <div class="mat-caption width-1-1">
          <ng-container
            [ngTemplateOutlet]="trainingType"
            [ngTemplateOutletContext]="{ $implicit: training.deliveryType }"
          ></ng-container>
        </div>

        <button mat-icon-button class="btn-training-menu" [matMenuTriggerFor]="trainingOptionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #trainingOptionsMenu>
          <button
            mat-menu-item
            [matMenuTriggerFor]="educatorsMenu"
            *ngIf="training.sessions && training.sessions.length"
          >
            <mat-icon>school</mat-icon>
            <span i18n>Educators</span>
          </button>
          <button mat-menu-item (click)="openShareDialog(training)">
            <mat-icon>share</mat-icon>
            <span i18n>Share</span>
          </button>
        </mat-menu>
        <mat-menu #educatorsMenu>
          <ng-template matMenuContent>
            <a mat-menu-item *ngFor="let educator of training.sessions[0].educator" href="mailto:{{ educator.email }}">
              <mat-icon>email</mat-icon>
              {{ educator.name }}
            </a>
          </ng-template>
        </mat-menu>
      </div>

      <div class="margin-bottom-xs margin-top-xs flex">
        <mat-icon [inline]="true">calendar_today</mat-icon>
        <div class="margin-left-xs">
          <span class="mat-body-2">{{
            {
              startDate: training.start_dt,
              endDate: training.end_dt
            } | conciseDateRange
          }}</span>
          <span class="mat-body" *ngIf="training.sessions && training.sessions.length">
            ({{ training.sessions[0].start_time }} - {{ training.sessions[0].end_time }})</span
          >
        </div>
      </div>

      <div class="margin-bottom-xs margin-top-xs flex">
        <mat-icon [inline]="true">access_time</mat-icon>
        <div class="margin-left-xs">
          <span class="mat-body-2" i18n="time zone">Time Zone: </span>
          <span class="mat-body"> {{ training.time_zone }}</span>
        </div>
      </div>

      <div class="margin-bottom-xs margin-top-xs flex">
        <mat-icon [inline]="true">location_on</mat-icon>
        <div class="margin-left-xs">
          <span class="mat-body-2">{{ training.location + " " }}</span>
          <span class="mat-body" *ngIf="training.sessions && training.sessions.length"
            >({{ training.sessions[0].building + ", " + training.sessions[0].classroom }})</span
          >
        </div>
      </div>

      <div class="margin-bottom-xs margin-top-xs flex">
        <mat-icon [inline]="true">assignment</mat-icon>
        <div class="margin-left-xs mat-body-2">
          <ng-container *ngIf="training.hasAssessment; else noAssessment" i18n>Has assessment</ng-container>
          <ng-template #noAssessment i18n>No assessment</ng-template>
        </div>
      </div>

      <div class="margin-bottom-xs margin-top-xs flex">
        <mat-icon [inline]="true">event_seat</mat-icon>
        <p class="margin-left-xs">
          <ng-container *ngIf="training.slots_available; else noSeats" i18n>
            <span class="mat-body-2" i18n="seats available">Seats Available: </span>
          </ng-container>
          <ng-container *ngIf="training.slots_available">{{ training.slots_available + " " }}</ng-container>
          <ng-template #noSeats>
            <span color="warn" class="mat-body" i18n="seats full">Seats full!</span>
          </ng-template>
        </p>
      </div>

      <div class="flex margin-bottom-xs" *ngIf="!training.eligible">
        <mat-icon class="small-icon" inline="true">warning</mat-icon>
        <div class="margin-left-xs mat-caption">
          <ng-container [ngTemplateOutlet]="ineligibleForTraining" [ngTemplateOutletContext]="{ $implicit: training }">
          </ng-container>
        </div>
      </div>
    </section>

    <div class="text-center" [ngClass]="{ 'flex flex-between': isUserJL6OrAbove }">
      <button
        mat-raised-button
        color="primary"
        *ngIf="!training.registered"
        (click)="onBtnRegisterClick(training)"
        [disabled]="!(training.slots_available && training.eligible) || training.submitting"
        i18n
      >
        Register
      </button>
      <button
        mat-stroked-button
        color="primary"
        *ngIf="training.registered"
        (click)="onBtnRegisterClick(training)"
        [disabled]="training.submitting"
        i18n
      >
        De-Register
      </button>

      <button
        mat-stroked-button
        color="primary"
        *ngIf="isUserJL6OrAbove"
        [disabled]="!training.slots_available || training.submitting"
        (click)="openNominateDialog(training)"
        i18n="nominate"
      >
        Nominate for Training
      </button>
    </div>
  </mat-card>
</ng-template>

<!-- Training Type -->
<ng-template #trainingType let-type>
  <span [ngSwitch]="type">
    <ng-container *ngSwitchCase="'Classroom'" i18n>CLASSROOM TRAINING</ng-container>
    <ng-container *ngSwitchCase="'Virtual Classroom'" i18n>VIRTUAL TRAINING</ng-container>
    <ng-container *ngSwitchCase="'Blended Classroom'" i18n>BLENDED TRAINING</ng-container>
  </span>
</ng-template>

<!-- Messages in case of no offerings -->
<ng-template #noTrainingsAvailable>
  <div [ngSwitch]="currentTab">
    <p class="mat-body margin-top-xl margin-left-sm margin-right-sm text-center" [ngSwitch]="currentTab">
      <ng-container *ngSwitchCase="0" i18n>You haven't registered for any trainings. </ng-container>
      <ng-container *ngSwitchCase="1" i18n>There aren't any trainings available right now. </ng-container>
    </p>
  </div>
</ng-template>

<!-- If the user cannot register for an offering. -->
<ng-template #ineligibleForTraining let-training>
  <span [ngSwitch]="training.ineligibility_reasons[0]">
    <ng-container *ngSwitchCase="'JL'" i18n>This training is not for your JL.</ng-container>
    <ng-container *ngSwitchCase="'PU'" i18n>This training is not for your unit.</ng-container>
    <ng-container *ngSwitchCase="'Role'" i18n>This training is not for your role.</ng-container>
    <ng-container *ngSwitchDefault i18n>You are not eligible for this training.</ng-container>
  </span>
</ng-template>

<!-- Snackbars -->
<!-- Registration successful -->
<ng-template #registrationSuccessful>
  <div class="text-center" i18n>
    You have registered for this training!
  </div>
</ng-template>

<!-- Registration unsuccessful -->
<ng-template #registrationUnsuccessful>
  <div class="text-center" i18n>
    Could not register you for this training.
  </div>
</ng-template>

<!-- Deregistration successful -->
<ng-template #deregistrationSuccessful>
  <div class="text-center" i18n>
    You have deregistered for this training!
  </div>
</ng-template>

<!-- Deregistration unsuccessful -->
<ng-template #deregistrationUnsuccessful>
  <div class="text-center" i18n>
    Could not deregister you from this training.
  </div>
</ng-template>

<!-- Failed to fetch trainings and sessions -->
<ng-template #trainingsFetchFailed>
  <div class="text-center" i18n>
    There was an error while fetching trainings.
  </div>
</ng-template>
