<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="pad container-height-adjust" *ngIf="mailsNotification">
  <h2>{{mailsNotification.title}}</h2>
  <mat-card-content>
    <ng-container i18n *ngIf="mailsNotification.mails && !mailsNotification.mails?.length">
      Your mails will appear here.
    </ng-container>

    <ng-container *ngIf="mailsNotification.mails && mailsNotification.mails.length">
      <div *ngFor="let mail of mailsNotification.mails" class="marginSmall">
        <div class="mail-title mat-body-strong">{{mail.mailTitle }}</div>
        <div class="mat-caption">{{mail.mailDate}}</div>
        <a href="{{mail.mailContentDownloadUrl}}" download i18n class="mat-caption download">Download here</a>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>