<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<app-progress *ngIf="loader"></app-progress>
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: Khub home" class="margin-left-xs">{{ query }}</span>
</mat-toolbar>
<div *ngIf="loader" style="margin-top:30px;">
  <app-spinner></app-spinner>
</div>
<!-- <div *ngIf="!loader" class="flex flex-wrapped " style="margin:10px;">
  Showing Results for : <i>{{ query }}</i>
</div> -->
<div *ngIf="!loader" style="margin-top:30px;">
  <span class="flex flex-wrapped flex-center">
    <span class="{{ item }}" *ngFor="let item of groupArr" (click)="showOnly(item)">{{ item | displayName }}</span>
  </span>
</div>
<div id="vizDemo" style="height:76vh"></div>
