<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="container-balanced margin-top-l margin-bottom-l">
  <p class="mat-bold text-center" *ngIf="fetchStatus === 'done'" i18n>
    Provide feedback for trainings that you have attended.
  </p>

  <div class="flex flex-wrapped flex-between">
    <ng-container *ngIf="fetchStatus === 'done'">
      <div class="card-container" *ngFor="let training of trainings">
        <app-feedback-card [training]="training"></app-feedback-card>
      </div>
      <div class="text-center margin-top-m margin-bottom-m width-1-1" *ngIf="!trainings.length" i18n>
        You have not attended any trainings yet.
      </div>
    </ng-container>

    <ng-container *ngIf="fetchStatus === 'fetching'">
      <div class="flex flex-center width-1-1">
        <div>
          <app-spinner [spinColor]="'primary'"></app-spinner>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="fetchStatus === 'error'">
      <div class="text-center margin-top-m margin-bottom-m width-1-1" i18n>
        There was an error fetching trainings for feedback.
      </div>
    </ng-container>
  </div>
</section>
