<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary" class="flex flex-between">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: badges" class="margin-left-xs">Badges</span>
  <span class="spacer"></span>
  <span *ngIf="badges && badges.totalPoints">
    {{
      badges.totalPoints[0].learning_points +
        badges.totalPoints[0].collaborative_points
    }}
    <ng-container i18n="badges points"> points</ng-container>
  </span>
  <button
    type="button"
    i18n-matTooltip
    matTooltip="Re Calculate Badges"
    mat-icon-button
    (click)="reCalculateBadges()"
  >
    <mat-icon>update</mat-icon>
  </button>
</mat-toolbar>

<mat-card *ngIf="status !== 'done'" [ngSwitch]="status">
  <h2
    *ngSwitchCase="'error'"
    i18n="badges fetch error"
    class="mat-h2 text-center"
  >
    Unable to fetch data!
  </h2>
</mat-card>

<h3 *ngIf="isUpdating" class="text-center" i18n>
  Re calculating badges. Please hold on...
</h3>

<ng-container *ngIf="status === 'done'">
  <mat-card class="margin-top-m" *ngIf="badges?.recent?.length">
    <ng-container *ngFor="let badge of badges.recent">
      <div class="flex flex-middle">
        <div
          class="width-auto badge-container"
          [matTooltip]="badge.how_to_earn"
        >
          <img
            class="medium-badge"
            [src]="badge.image"
            [alt]="badge.badge_name"
          />
        </div>
        <div class="width-expand">
          <h2 class="mat-h2">{{ badge.badge_name }}</h2>
          <div class="mat-subheading-2 margin-remove">{{ badge.message }}</div>
          <div class="mat-caption" *ngIf="badge.last_received_date">
            <ng-container i18n>Received on</ng-container> &nbsp;
            {{ badge.last_received_date | date }}
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card>
  <mat-card class="flex flex-wrapped" *ngIf="badges?.earned?.length">
    <h2 class="mat-h2 width-1-1" i18n>You have earned</h2>
    <ng-container *ngFor="let badge of badges.earned">
      <div class="badge-container text-center inline-block">
        <img
          class="medium-badge mat-lite-background"
          [matTooltip]="badge.how_to_earn"
          [src]="badge.image"
          [alt]="badge.badge_name"
        />
        <div>{{ badge.badge_name }}</div>
        <div class="mat-caption">{{ badge.last_received_date | date }}</div>
        <div
          *ngIf="badge.badge_type && badge.badge_type === 'R'"
          class="mat-caption"
        >
          <ng-container i18n> Earned </ng-container>
          <ng-container>{{ badge.received_count }}</ng-container>
          <ng-container i18n> times </ng-container>
        </div>
      </div>
    </ng-container>
  </mat-card>
  <mat-card class="flex flex-wrapped" *ngIf="badges.closeToEarning.length">
    <h2 class="mat-h2 width-1-1" i18n>Close to earn</h2>
    <ng-container *ngFor="let badge of badges.closeToEarning">
      <div class="badge-container text-center inline-block">
        <img
          [matTooltip]="badge.hover_text"
          class="medium-badge mat-lite-background op-60"
          [src]="badge.image"
          [alt]="badge.badge_name"
        />
        <div>{{ badge.badge_name }}</div>
      </div>
    </ng-container>
  </mat-card>
  <mat-card *ngIf="badges.canEarn.length">
    <h2 class="mat-h2" i18n>Your next target</h2>
    <ul class="flex flex-wrapped padding-remove">
      <li
        class="flex flex-middle can-earn"
        *ngFor="let badge of badges.canEarn"
      >
        <div>
          <img
            class="small-badge"
            [src]="badge.image"
            [alt]="badge.badge_name"
          />
        </div>
        <div class="margin-left-m">
          <div class="mat-subheading-2 margin-remove">
            {{ badge.badge_name }}
          </div>
          <div class="mat-subheading-1 margin-remove">
            {{ badge.how_to_earn }}
          </div>
          <div class="mat-caption">{{ badge.hover_text }}</div>
        </div>
      </li>
    </ul>
  </mat-card>

  <div class="text-center mat-caption margin-bottom-s">
    <ng-container i18n>Last updated on </ng-container>
    {{ badges.lastUpdatedDate }}
  </div>
</ng-container>
