/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';
@import '~src/styles/mixins';

$medium-badge-size: 90px;
$small-badge-size: 50px;
$badge-padding: 12px;

mat-card {
  margin-bottom: 12px;
  @extend %width-balancer;
}

.badge-container {
  padding: $badge-padding;
  box-sizing: border-box;
  width: $medium-badge-size + 2 * $badge-padding;
}

.medium-badge {
  width: $medium-badge-size;
  height: $medium-badge-size;
  border-radius: 50%;
}

.op-60 {
  opacity: 0.6;
}

.small-badge {
  width: $small-badge-size;
  opacity: 0.45;
}

.can-earn {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

@include breakpoint-gt-xs {
  .can-earn {
    width: 50%;
  }
}
