/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
@import "~src/styles/mixins";
.home-corousal-wrapper {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 40px;
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; // IE 10+
    overflow-x: -moz-scrollbars-none;
    .card {
      display: inline-block;
    }
  }
  ::-webkit-scrollbar {
    height: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    // background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
