<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="home-corousal-wrapper">
  <h2 *ngIf="tiles.length > 0" style="margin-top: 15px;margin-bottom: 15px;">
    {{ title | displayName }}
  </h2>
  <!-- desktop scroller -->
  <div *ngIf="!screen">
    <app-item-tile-slider
      [id]="title.toLowerCase()"
      [sliderId]="title.toLowerCase()"
      [itemtileData]="tiles"
      [fetchMoreCallback]="fetchMore"
      [hasMore]="true"
      [invokedBy]="'home'"
      [showFetchMore]="false"
    >
    </app-item-tile-slider>
  </div>
  <!-- mobile scroller -->
  <div class="scrolling-wrapper" *ngIf="screen">
    <div class="card" *ngFor="let item of tiles" style="display:inline-flex;margin-right: 20px;">
      <app-item-tile [show]="load" [data]="item" [ref]="'home'"></app-item-tile>
    </div>
  </div>
</section>
