<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-nav-list>
  <ng-container *ngIf="programs.length">
    <a mat-list-item [routerLink]="'/toc/' + content.identifier" *ngFor="let content of programs">
      <h4 matLine>{{content.name}}</h4>
      <p matLine class="mat-caption" i18n>Program</p>
    </a>
  </ng-container>
  <ng-container *ngIf="courses.length">
    <a mat-list-item [routerLink]="'/toc/' + content.identifier" *ngFor="let content of courses">
      <h4 matLine>{{content.name}}</h4>
      <p matLine class="mat-caption" i18n>Course</p>
    </a>
  </ng-container>
  <ng-container *ngIf="modules.length">
    <a mat-list-item [routerLink]="'/toc/' + content.identifier" *ngFor="let content of modules">
      <h4 matLine>{{content.name}}</h4>
      <p matLine class="mat-caption" i18n>Module</p>
    </a>
  </ng-container>
</mat-nav-list>
