<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="config && browserName != 'ie'">
  <ng-container *ngFor="let row of config.grid.rows; let j = index">
    <h2 *ngIf="row?.title?.length > 0" class="margin-top-m padding-left-m">
      {{ row.title }}
    </h2>
    <div class="flex flex-wrapped flex-center" [style]="'height:auto;min-height:' + row.height | safe: 'style'">
      <div *ngFor="let column of row.columns" class="layout" [style]="'width:' + column.width | safe: 'style'">
        <div *ngIf="column.widget" style="height:90%;padding: 16px;">
          <ws-main-title class="layout" [data]="column" *ngIf="column.widget.type === 'main-banner'"> </ws-main-title>
          <ws-linker class="layout" [data]="column" *ngIf="column.widget.type === 'linker'"></ws-linker>
          <ws-linker-small
            class="layout"
            [data]="column"
            *ngIf="column.widget.type === 'linker-small'"
          ></ws-linker-small>
          <ws-image-title class="layout" [data]="column" *ngIf="column.widget.type === 'image-title'"> </ws-image-title>
          <ws-card class="layout" [data]="column" *ngIf="column.widget.type === 'card'"></ws-card>
          <ng-container *ngIf="column.widget.type === 'magazine-banner'">
            <ws-linker class="layout" [data]="column"></ws-linker>
          </ng-container>
        </div>
        <ws-slider *ngIf="column.slides" [data]="column"></ws-slider>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="browserName === 'ie'">
  <mat-card>
    <mat-card-content>
      <div class="text-center text-warn padding-m">
        This page is viewed best on chrome browser.
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
