<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: playlists" class="margin-left-xs">Playlists</span>
  <span class="spacer"></span>
  <button i18n-matTooltip="Playlist Action Btn Tooltip" matTooltip="Create Playlist" *ngIf="!showCreate"
    mat-raised-button (click)="showCreate = true" accesskey="+">
    <mat-icon>add</mat-icon>
    <ng-container i18n> CREATE</ng-container>
  </button>
  <button i18n-matTooltip="Close Create Playlist Tooltip" matTooltip="Close" *ngIf="showCreate" mat-icon-button (click)="showCreate = false" accesskey="X">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="playlist-container">
  <app-add-playlist *ngIf="showCreate"></app-add-playlist>
  <app-shared-playlist [playlistShared]="playlistShared"></app-shared-playlist>
  <app-user-playlist [playlistUser]="playlistUser"></app-user-playlist>
</div>
