<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigate the change" class="margin-left-xs">{{pageTitle}}</span>
</mat-toolbar>

<app-carousel [banners]="banners" [showNavigation]="false">
  <ng-template let-banner>
    <a [routerLink]="banner.url" [ngSwitch]="banner.titleKey">
      {{ banner.title }}
    </a>
  </ng-template>
</app-carousel>

<ng-container *ngIf="ocmRequestData">
  <div class="margin-s margin-remove-top flex flex-wrapped">
    <ws-about class="width-2-3 container padding-s spacer" *ngIf="ocmSubFeaturesStatus.about" [config]="ocmRequestData['about']"></ws-about>
    <app-search-results-strip *ngIf="ocmSubFeaturesStatus.sentientInfosys" class="spacer width-1-3 container padding-s" [config]="ocmRequestData['sentientInfosys']">
    </app-search-results-strip>
  </div>

  <div class="margin-s flex flex-wrapped">
    <app-search-results-strip *ngIf="ocmSubFeaturesStatus.leadChange" class="width-2-3 spacer container padding-s" [config]="ocmRequestData['leadChange']">
    </app-search-results-strip>
    <app-change-champions *ngIf="ocmSubFeaturesStatus.changeChampions" [config]="ocmRequestData['changeChampions']" class="spacer width-1-3 container padding-s">
    </app-change-champions>
  </div>

  <app-sentient-programs *ngIf="ocmSubFeaturesStatus.sentientPrograms" [config]="ocmRequestData['programs']"></app-sentient-programs>

  <div class="margin-s flex flex-wrapped">
    <app-what-next *ngIf="ocmSubFeaturesStatus.whatNext" [config]="ocmRequestData['events']" class="width-2-3 spacer container padding-s"></app-what-next>
    <app-to-do-list *ngIf="ocmSubFeaturesStatus.toDoList" [config]="ocmRequestData['toDoList']" class="spacer width-1-3 container padding-s">
    </app-to-do-list>
  </div>

  <app-adoption-dashboard *ngIf="ocmSubFeaturesStatus.adoptionDashboard" [config]="ocmRequestData['dashboards']"></app-adoption-dashboard>

  <div class="margin-s flex flex-wrapped">
    <app-search-results-strip *ngIf="ocmSubFeaturesStatus.changeCollectibles" class="spacer width-1-2 container padding-s" [config]="ocmRequestData['changeCollectibles']">
    </app-search-results-strip>
    <ws-feedback *ngIf="ocmSubFeaturesStatus.feedback" class="spacer width-1-2 container padding-s" [config]="ocmRequestData['feedback']"></ws-feedback>
  </div>

  <div class="margin-s flex flex-wrapped">
    <app-co-create *ngIf="ocmSubFeaturesStatus.coCreate" class="width-1-2 container padding-s spacer" [config]="ocmRequestData['coCreate']"></app-co-create>
    <app-influence-change class="spacer width-1-2 container padding-s" *ngIf="ocmSubFeaturesStatus.influenceChange" [config]="ocmRequestData['influenceChange']">
    </app-influence-change>
  </div>

  <div class="margin-l">
    <app-search-results-strip *ngIf="ocmSubFeaturesStatus.changeStories" [config]="ocmRequestData['changeStories']">
    </app-search-results-strip>
  </div>

</ng-container>