<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">Skills</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Skills">
    <app-skills-tab></app-skills-tab>
  </mat-tab>
  <mat-tab label="Roles">
    <app-sample-role-tab></app-sample-role-tab>
  </mat-tab>
  <mat-tab label="Endorsements"> Content 3 </mat-tab>
</mat-tab-group>
