<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<span [ngSwitch]="displayType" class="mat-body-strong text-uppercase">
  <span *ngSwitchCase="'video'" i18n="content display-type video">Video</span>
  <span *ngSwitchCase="'interactive-video'" i18n="content display-type interactive-video">Interactive Video</span>
  <span *ngSwitchCase="'audio'" i18n="content display-type audio">Audio</span>
  <span *ngSwitchCase="'pdf'" i18n="content display-type pdf">PDF</span>
  <span *ngSwitchCase="'quiz'" i18n="content display-type quiz">Quiz</span>
  <span *ngSwitchCase="'assessment'" i18n="content display-type assessment">Assessment</span>
  <span *ngSwitchCase="'youtube'" i18n="content display-type youtube">YouTube</span>
  <span *ngSwitchCase="'web-module'" i18n="content display-type web-module">Web Module</span>
  <span *ngSwitchCase="'iap'" i18n="content display-type iap hands-on coding">Hands-On</span>
  <span *ngSwitchCase="'certification'" i18n="content display-type certification">Certification</span>
  <span *ngSwitchCase="'external-certification'" i18n="content display-type external-certification"
    >External Certification</span
  >
  <span *ngSwitchCase="'instructor-led'" i18n="content display-type instructor-led">Instructor-Led</span>
  <span *ngSwitchCase="'external'" i18n="content display-type external">External Course</span>
  <span *ngSwitchCase="'program'" i18n="content display-type program">Program</span>
  <span *ngSwitchCase="'course'" i18n="content display-type course">Course</span>
  <span *ngSwitchCase="'module'" i18n="content display-type module">Module</span>
  <span *ngSwitchCase="'resource'" i18n="content display-type resource">Resource</span>
  <span *ngSwitchCase="'knowledge-artifact'" i18n="content display-type knowledge-artifact">Knowledge Artifact</span>
</span>
