<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">Learning History</span>
  <span class="spacer"></span>
  <!-- <mat-slide-toggle class="mat-body" i18n="learning history completed" >Completed</mat-slide-toggle> -->
</mat-toolbar>
<section *ngIf="!loader2" class="myPlans-wrapper">
  <mat-card *ngIf="!close" class="flex flex-between flex-middle margin-remove-left">
    <div class="mat-caption" i18n>
      This page provides learning completion status from several sources once it is integrated.
    </div>
    <mat-icon class="feature-icon margin-left-xl margin-remove-bottom cursor-pointer" (click)="closeCard()">close</mat-icon>
  </mat-card>
  <mat-tab-group mat-align-tabs="left" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Courses">
      <div class="margin-bottom-xl">
        <table *ngIf="progressData1[0].status" mat-table [dataSource]="courseData" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef i18n> Course </th>
            <td mat-cell *matCellDef="let element" i18n> {{element.course}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="userProgress">
            <th mat-header-cell *matHeaderCellDef i18n> User Progress </th>
            <td mat-cell *matCellDef="let element" i18n>
              <div class="spinner-card">
                <app-progress-spinner [progress]="element.userProgress"></app-progress-spinner>
              </div>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="system">
            <th mat-header-cell *matHeaderCellDef i18n> System </th>
            <td mat-cell *matCellDef="let element" i18n> {{element.system}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator *ngIf="progressData1[0].status && courseData?.length>10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
        </mat-paginator>
      </div>

      <div *ngIf="!progressData1[0].status" class="margin-top-l">
        <app-spinner [spinSize]="'large'" class="progress-circular-full">
        </app-spinner>
      </div>
    </mat-tab>
    <mat-tab label="Programs">
      <div class="margin-bottom-xl">
        <table *ngIf="progressData1[1].status" mat-table [dataSource]="courseData" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef i18n> Program </th>
            <td mat-cell *matCellDef="let element" i18n> {{element.course}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="userProgress">
            <th mat-header-cell *matHeaderCellDef i18n> User Progress </th>
            <td mat-cell *matCellDef="let element" i18n>
              <div class="spinner-card">
                <app-progress-spinner [progress]="element.userProgress"></app-progress-spinner>
              </div>
            </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="system">
            <th mat-header-cell *matHeaderCellDef i18n> System </th>
            <td mat-cell *matCellDef="let element" i18n> {{element.system}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator *ngIf="progressData1[1].status && courseData?.length>10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
        </mat-paginator>
      </div>

      <ng-container *ngIf="!progressData1[1].status" class="margin-left-s margin-top-xl">
        <app-spinner 
          class="progress-circular-full">
        </app-spinner>
      </ng-container>
    </mat-tab>
    <mat-tab *ngIf="userprogressData?.is_resource_available" label="Resources">
      <div class="margin-bottom-xl">
        <table *ngIf="progressData1[2].status" mat-table [dataSource]="courseData" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef i18n> Resource </th>
            <td mat-cell *matCellDef="let element" i18n> {{element.course}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="userProgress">
            <th mat-header-cell *matHeaderCellDef i18n> User Progress </th>
            <td mat-cell *matCellDef="let element" i18n>
              <div class="spinner-card">
                <app-progress-spinner [progress]="element.userProgress"></app-progress-spinner>
              </div>
            </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="system">
            <th mat-header-cell *matHeaderCellDef i18n> System </th>
            <td mat-cell *matCellDef="let element" i18n> {{element.system}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator *ngIf="progressData1[2].status && courseData?.length>10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
        </mat-paginator>
      </div>

      <div *ngIf="!progressData1[2].status" class="margin-top-l">
        <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
          class="progress-circular-full">
        </app-spinner>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
<div *ngIf="loader2" class="margin-top-l">
  <app-spinner [spinSize]="'large'" class="progress-circular-full">
  </app-spinner>
</div>