<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h1 mat-dialog-title>Send Mail</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{data.content.name}}</mat-label>
    <textarea matInput i18n-placeholder="Placeholder for message to be sent for a query to a user" placeholder="I need your help in 'Elaborate your query'"
      #mailBody rows="5">
    </textarea>
  </mat-form-field>
  <div class="mat-caption" *ngIf="sendStatus === 'INVALID_ID'" i18n>
    Invalid Ids. Failed to send mail.
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="mailSendInProgress"></mat-progress-bar>
</div>
<div mat-dialog-actions class="flex-row-reverse">
  <button mat-raised-button [disabled]="mailSendInProgress" [color]="'primary'" (click)="send(mailBody.value, successToast.value, errorToast.value, invalidIdToast.value)"
    i18n-aria-label aria-label="Send Your Query" i18n>
    Send Mail
  </button>
</div>
<input type="hidden" aria-value value="Mail Sent" #successToast>
<input type="hidden" aria-value value="Invalid id. Unable to send mail." #invalidIdToast>
<input type="hidden" aria-value value="Unable to share mail. Please try again" #errorToast>