<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<app-spinner *ngIf="!data" spinSize="small"></app-spinner>

<div #viewContent *ngIf="data" class="height-1-1">
  <div class="flex flex-between flex-middle margin-bottom-m">
    <div *ngIf="data.emailId" class="mat-caption">
      <ng-container i18n>Submitted by </ng-container>
      <span class="boldText">{{ data.emailId.split("@")[0] }}</span>
      <ng-container i18n *ngIf="data.submissionDate">&nbsp;on&nbsp;</ng-container>
      <span class="boldText">{{ data.submissionDate | date: "d MMM, y" }}</span>
    </div>
    <app-btn-element-fullscreen *ngIf="showFullScreenButton && data.type === mimeType.pdf" [elementRef]="viewContentRef"></app-btn-element-fullscreen>
  </div>


  <div class="height-1-1" [ngSwitch]="data.type">
    <div *ngSwitchCase="'input'" class="contentPlay">
      <app-spinner *ngIf="fetchingText" spinSize="small"></app-spinner>
      <h4 *ngIf="!fetchingText">
        {{ processedContent || "No Data Available" }}
      </h4>
    </div>

    <audio class="audioPlay" autoplay controls controlsList="nodownload" *ngSwitchCase="'audio/mp3' || 'audio/mpeg'">
      <source [src]="data.url" type="audio/mp3; audio/mpeg" /> Your browser does not support the audio tag.
    </audio>

    <video class="contentPlay h300" autoplay controls controlsList="nodownload" *ngSwitchCase="mimeType.mp4">
      <source [src]="data.url" type="video/mp4" /> Your browser does not support the video tag.
    </video>

    <div [hidden]="!mimeType.pdf" class="height-1-1">
      <div *ngSwitchCase="mimeType.pdf" class="height-1-1">
        <!-- <div class="text-right">
          <app-btn-element-fullscreen *ngIf="showFullScreenButton" [elementRef]="viewContentRef"></app-btn-element-fullscreen>
        </div> -->
        <iframe title="PDF Viewer" class="pdf-iframe" i18n-title [src]="pdfUrl" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
    </div>


    <ng-container *ngSwitchDefault>
      <mat-error class="mat-h3">
        <ng-container i18n>No plugin found for</ng-container>
        {{ '.' + data.type }}
        <ng-container>mimetype.</ng-container>
      </mat-error>
    </ng-container>
  </div>
</div>