<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div [hidden]="!showLoader" class="margin-top-m">
  <app-spinner></app-spinner>
</div>

<div *ngIf="srcUrl" class="proctoring-container">
  <iframe [src]="srcUrl" allow="autoplay;encrypted-media;microphone;camera;" [hidden]="showLoader || errorMessageCode"
    frameBorder=0 width="100%" height="100%" (load)="showLoader=false" (error)="errorMessageCode='IFRAME_FAILURE'; showLoader=false"></iframe>
</div>

<div *ngIf="errorMessageCode" class="mat-toolbar">
  <span class="mat-body-strong" i18n>Error:</span>
  <span [ngSwitch]="errorMessageCode">
    <ng-container *ngSwitchCase="'PROCTOR_URL_MISSING'" i18n>Proctor Url Missing</ng-container>
    <ng-container *ngSwitchCase="'API_FAILURE'" i18n>Content Fetch Failure</ng-container>
    <ng-container *ngSwitchCase="'NO_CONTENT_ID'" i18n>No content id provided</ng-container>
    <ng-container *ngSwitchCase="'IFRAME_FAILURE'" i18n>Unable to load proctor url</ng-container>
  </span>
</div>
