<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/my-skills'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">Assign Role</span>
  <span class="spacer"></span>
  <a mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </a>
</mat-toolbar>
<div *ngIf="loader" class="margin-left-s margin-top-xl padding-top-xl">
  <app-spinner
    [spinMode]="'indeterminate'"
    [spinSize]="'large'"
    [spinWidth]="'thin'"
    [spinValue]="70"
    [spinColor]="'primary'"
    class="progress-circular-full"
  >
  </app-spinner>
</div>
<div *ngIf="!loader" class=" roles-container flex flex-center flex-wrapped margin-top-xl">
  <div class="margin-bottom-xl ">
    <h2 class="mat-title" i18n="section heading create new role">{{ roleName }} Assign Role</h2>

    <mat-card class="edit-role-card">
      <mat-card-content>
        <form [formGroup]="shareForm" class="tab-width">
          <mat-form-field class="length-field">
            <input
              type="text"
              matInput
              minlength="10"
              maxlength="100"
              i18n-placeholder="input placeholder Role Title"
              placeholder="Role Title (required)"
              [value]="roleName"
              formControlName="roleName"
              readonly
            />
          </mat-form-field>

          <mat-form-field class="length-field">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let email of emailIdList"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(emailId)"
              >
                {{ email }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Enter Email Id"
                #emailInput
                [formControl]="shareControl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              />
              <!-- <input type="text" placeholder="Enter Email Id" aria-label="Email Id" #emailInput [matAutocomplete]="auto" [formControl]="shareControl"
                formControlName="emailId" [matChipInputFor]="chipList" /> -->
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onOptionSelected($event.option.value)"
              [displayWith]="displayFn"
            >
              <mat-option *ngFor="let option of filteredOptions" [value]="option.emailId">
                {{ option.emailId }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="length-field">
            <input type="text" matInput placeholder="Your Message" formControlName="message" />
          </mat-form-field>
          <div class="flex flex-center flex-wrapped">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="editRole(roleName, shareForm.get('message').value)"
              i18n="button add content to playlist"
            >
              Assign
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
