/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';

.edit-role-card{
    width: 100%;
    @include breakpoint-xs {
        width: 80%;
        margin: $size-s;
      }

      @include breakpoint-sm {
        width: 80%;
        margin: $size-s;
      }
}
.tab-width{
    width:60vw;
    @include breakpoint-xs {
        width: 70vw;
        margin: $size-s;
      }

      @include breakpoint-sm {
        width: 70vw;
        margin: $size-s;
      }
}

.chip-list {
    width: 100%;
    @include breakpoint-xs {
        width: 90%;
        margin: $size-s;
      }

      @include breakpoint-sm {
        width: 90%;
        margin: $size-s;
      }
  }

.length-field{
    width:80%;
    @include breakpoint-xs {
        width: 90%;
        margin: $size-s;
      }

      @include breakpoint-sm {
        width: 90%;
        margin: $size-s;
      }
}
