<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span *ngIf="fetchStatus" class="margin-left-xs">{{ type }} <span i18n="page title: Khub View">Details</span></span>
</mat-toolbar>
<app-spinner *ngIf="!fetchStatus"></app-spinner>
<article class="flex flex-wrapped flex-center khub-view-wrapper" *ngIf="fetchStatus">
  <!-- *appFixedTop -->
  <section class="first-section">
    <div *ngIf="result.source !== 'PROMT'">
      <div>
        <span class="text-{{ result.source.toLowerCase() }}" style="float:left;">
          {{ result.source }}
        </span>
        <span style="float:right;">
          {{ result.dateCreated | date }}
        </span>
      </div>
      <br />
      <h2>{{ result.title }}</h2>
      <p *ngIf="result.source !== 'PROMT'">
        {{ result.description }}
      </p>
      <div class="flex flex-wrapped">
        <span class="margin-top-s margin-top-xs flex" *ngFor="let author of result.author" [matTooltip]="'Author'">
          <!-- <app-user-image
          class="user-profile-image"
          [email]="result.author[0].mailId"
        ></app-user-image> -->
          <span class="user-profile-image"> <mat-icon class="user-icon">person</mat-icon></span>
          <span style="margin-top: 15px;">{{ author.name }}</span>
        </span>
      </div>
      <p *ngIf="result.url.length > 0 && !screenSizeIsLtMedium && !hasInternetUrl">
        <span i18n="message saying the url link">You can access it </span>
        <a style="color:cadetblue;" href="{{ result.url }}" target="_blank"><b>Here</b></a>
        <br />
        <!-- <span i18n="message saying it will soon be available"
          >You can soon access this and many other artifacts from anywhere, any
          time</span
        > -->
      </p>
      <p *ngIf="result.url.length > 0 && hasInternetUrl">
        <span i18n="message saying the url link">You can access it </span>
        <a style="color:cadetblue;" [routerLink]="'/viewer/' + url"><b>Here</b></a>
        <br />
      </p>
      <p *ngIf="result.url.length > 0 && !hasInternetUrl" i18n="message saying content available in intranet">
        This artifact is currently available only on Infosys Network. You can soon access this and many other artifacts
        from anywhere, any time.
        <br />
      </p>
      <!-- <iframe *ngIf="hasInternetUrl" [src]="url" width="100%" height="600px" style="background-color: white;"></iframe> -->
    </div>
    <div *ngIf="result.source === 'PROMT'">
      <app-project-snapshot
        [projectDetails]="viewData"
        [isIntranet]="isIntranet"
        [islargeScreen]="screenSizeIsLtMedium"
      ></app-project-snapshot>
    </div>
  </section>
  <section *ngIf="fetchStatus" class="second-section flex flex-wrapped">
    <app-topic-tagger
      style="width:100%"
      [itemType]="type"
      [topics]="result.topics"
      [showLimit]="3"
      [itemId]="viewObj.itemId"
    ></app-topic-tagger>
    <app-spinner *ngIf="!recsStatus"></app-spinner>
    <h3 *ngIf="recsStatus && moreRecs.length > 0" style="margin-top: 10px;">
      <span i18n="Label for showing morelike Recommendations">Explore Similar</span>
      {{ type }}s
    </h3>
    <div *ngIf="recsStatus && !screenSizeIsLtMedium">
      <section *ngFor="let tile of moreRecs | slice: 0:5; index as i" style="margin-bottom:10px;">
        <app-item-tile [show]="recsStatus" [ref]="'view'" [data]="tile"></app-item-tile>
      </section>
    </div>
    <div class="scrolling-wrapper" *ngIf="recsStatus && screenSizeIsLtMedium">
      <div class="card" *ngFor="let tile of moreRecs" style="display:inline-flex;margin-right: 20px;">
        <app-item-tile [show]="recsStatus" [data]="tile" [ref]="'view'"></app-item-tile>
      </div>
    </div>
  </section>
</article>
<app-modalpopup
  [show]="errObj.show"
  [title]="errObj.title"
  [body]="errObj.body"
  [modelType]="errObj.modelType"
  [btnType]="errObj.btnType"
  [cancelText]="errObj.cancelText"
  [okText]="errObj.okText"
></app-modalpopup>
