/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/mixins";
@import "src/styles/common";
@import "src/styles/styles";
@import "~src/styles/vars";

.content-strip {
  margin-left: 10%;
  margin-right: 10%;
}
.column {
  width: 50%;
}
.default {
  width: 47%;
  height: 10%;
}
table {
  width: 100%;
}
.attempt-score {
  width: 100% !important;
  margin-top: 1% !important;
}
.assessment {
  width: 49%;
}
.quotient {
  margin-left: 30%;
}
.check-circle {
  color: green;
}
.cancel-icon {
  color:gray;
}
.title {
  margin-left: 18%;
  // padding-bottom: 3%;
}
.learning-path{
text-decoration: underline;
color:navy;
cursor: pointer;
}
.expansion-panel {
  width: 100%;
  @include breakpoint-xs {
    width: 90%;
    margin: 0%;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: 0%;
  }
}
.siemens-panel {
  width: 50%;
  @include breakpoint-xs {
    width: 90%;
    margin: 0%;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: 0%;
  }
}
.role {
  width: 25%;
}
.graph-card-header {
  margin: 0px -16px -8px -16px;
  background-color: #5ba46e;
  padding-top: 2%;
  color: white;
}
.card-title {
  padding-top: 0%;
}
.feature-icon {
  padding-bottom: 1% !important;
}
.default-quotient {
  margin-right: -5%;
}

.chart-card {
  width:50%;
  @include breakpoint-xs {
    width: 100%;
    margin: $size-l;
  }

  @include breakpoint-sm {
    width: 100%;
    margin: $size-l;
  }
}

.skill-course-card {
  @include breakpoint-xs {
    width: 100%;
    margin: $size-l;
  }

  @include breakpoint-sm {
    width: 100%;
    margin: $size-l;
  }
}
.chart-pie-card {
  width:50%;
  @include breakpoint-xs {
    width: 100%;
    margin: $size-l;
  }

  @include breakpoint-sm {
    width: 100%;
    margin: $size-l;
  }
}

.role-quotient-card{
  width:20%
}
.expansion-card {
  @include breakpoint-xs {
    width: 90%;
    margin-left: -2%;
  }

  @include breakpoint-sm {
    width: 90%;
    margin-left: -2%;
  }
}

.improve-card {
  width: 100%;
  @include breakpoint-xs {
    width: 55%;
    margin-left: 0%;
  }

  @include breakpoint-sm {
    width: 55%;
    margin-left: 0%;
  }
}

.available-card {
  width: 74%;
  @include breakpoint-xs {
    width: 100%;
   margin:$size-m;
  }

  @include breakpoint-sm {
    width:100%;
    margin:$size-m;
  }

}

.assign-card {
  width: 66%;
  @include breakpoint-xs {
    width: 100%;
   margin:$size-m;
  }

  @include breakpoint-sm {
    width:100%;
    margin:$size-m;
  }

}
span:before {
  content: "";
  display: inline-block;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  margin-right: 2px;
}
.star {
  font-weight: 400;
  margin-right: 15px;
  font-size: 12px;
  &::before {
    background-color: rgb(179, 55, 113);
  }
}
.expert {
  font-weight: 400;
  margin-right: 15px;
  font-size: 12px;
  &::before {
    background-color: #227093;
  }
}
.novice {
  font-weight: 400;
  margin-right: 15px;
  font-size: 12px;
  &::before {
    background-color: #CAD3C8;
  }
}
.inprogress {
  font-weight: 400;
  margin-right: 15px;
  font-size: 12px;
  &::before {
    background-color: #10ac84;
  }
}
.excellent {
  font-weight: 400;
  margin-right: 15px;
  font-size: 12px;
  &::before {
    background-color: rgb(72, 126, 176);
  }
}


.status-table{
  width: 75%;
  @include breakpoint-xs {
    width: 100%;
   margin:$size-m;
  }

  @include breakpoint-sm {
    width:100%;
    margin:$size-m;
  
  }
}
.assign-siemens-card{
  width: 72%;
  @include breakpoint-xs {
    width: 100%;
   margin:$size-m;
  }

  @include breakpoint-sm {
    width:100%;
    margin:$size-m;
  }

}
.mat-expansion-panel-body {
  padding: 0 20px 16px !important;
}
.box-plot-graph-card-header {
  padding-top: 1%;
  margin: 0px -1px -8px -1px;
  background-color: #5ba46e;
  color: white;
}
