/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import 'src/styles/mixins';
.project-card-container {
  display: flex;
  margin: 0 1rem;
  flex-wrap: wrap;
  @include breakpoint-lt-sm {
    justify-content: center;
  }
}

.project-card {
  height: 130px;
  width: 200px;
  margin: 0 10px 10px 10px;
  cursor: pointer;
}

.project-name {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-stats {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.project-details {
  margin: 2rem;
}

.project-details-close {
  text-align: right;
}

.project-manager {
  margin: 2rem 0;
}
