<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-m" *ngIf="projectFetchStatus === 'fetching'">
  <app-spinner></app-spinner>
</div>

<div class="margin-top-m text-center" *ngIf="projectFetchStatus === 'error'">
  <h2 class="mat-h2" i18n="toc: projects fetch error">Error fetching projects</h2>
</div>

<div class="margin-top-m text-center" *ngIf="projectFetchStatus === 'done' && !projects?.length">
  <h2 class="mat-h2" i18n="toc: projects no data">No projects found for this content</h2>
</div>

<div *ngIf="projectFetchStatus === 'done' && projects?.length">
  <section class="project-card-container" *ngIf="!showSelectedProject">
    <mat-card *ngFor="let project of projects" class="project-card" (click)="toggleProjectDetails(project)">
      <div class="mat-body-strong project-name">{{project?.MstProjectName}}</div>

      <div class="project-info">
        <div class="mat-caption">Status: {{project?.Status}}</div>
        <div class="mat-caption">Unit: {{project?.PU}}</div>
        <div class="mat-caption">Type: {{project?.ChildContractType.join(', ')}}</div>
      </div>

      <section class="project-stats">
        <div>
          <div class="mat-body">{{project?.MstInnovations.length}}</div>
          <div class="mat-caption">Innovations</div>
        </div>
        <div>
          <div class="mat-body">{{project.MstStrategies.length}}</div>
          <div class="mat-caption">Strategies</div>
        </div>
      </section>
    </mat-card>
  </section>

  <section class="project-details" *ngIf="showSelectedProject">
    <div class="project-details-close">
      <button mat-button (click)="toggleProjectDetails()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="mat-title">{{selectedProject.MstProjectName}}</div>

    <div class="project-info">
      <div class="mat-body">
        <ng-container i18n> Status: </ng-container>
        {{selectedProject.Status}}
      </div>
      <div class="mat-body">
        <ng-container i18n>Unit: </ng-container>
        {{selectedProject.PU}}
      </div>
      <div class="mat-body">
        <ng-container i18n>Type: </ng-container>
        {{selectedProject.ChildContractType.join(', ')}}
      </div>
    </div>

    <div class="project-manager">
      <div i18n="toc: project manager" class="mat-subheading-2">Project Manager</div>
      <div class="mat-body">{{selectedProject.DM.EmpName}}</div>
      <div class="mat-body">
        <ng-container i18n="toc: project manager email">Email:&nbsp;</ng-container>
        {{selectedProject.DM.EmpMailId}}
      </div>
    </div>

    <div class="project-manager">
      <div i18n="toc: delivery manager" class="mat-subheading-2">Delivery Manager</div>
      <div class="mat-body">{{selectedProject.PM.EmpName}}</div>
      <div class="mat-body">
        <ng-container i18n="toc: project manager email">Email:&nbsp;</ng-container>
        {{selectedProject.PM.EmpMailId}}
      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="toc: project innovations">Innovations</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let innovation of selectedProject.MstInnovations">
            <span class="mat-body">{{innovation.Name}}</span>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title i18n="toc: project strategies">Strategies</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let strategy of selectedProject.MstStrategies">
            <span class="mat-body">{{strategy.Name}}</span>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>
