<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-progress-bar mode="indeterminate" *ngIf="loadStatus === 'LOADING'"></mat-progress-bar>

<div #viewerContent class="height-1-1" (swipeleft)="slide('right')" (swiperight)="slide('left')">
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <a mat-icon-button [routerLink]="'/home'">
      <img [src]="navConfig.logo" [alt]="navConfig.name" class="logo-img" />
    </a>
    <a
      mat-icon-button
      [routerLink]="routingSvc.getLastUrl().route"
      [queryParams]="routingSvc.getLastUrl().qparams"
      [fragment]="routingSvc.getLastUrl().fragment"
    >
      <mat-icon>arrow_back</mat-icon>
    </a>
    <a
      mat-icon-button
      class="width-auto"
      [routerLink]="prevResourceUrl"
      *ngIf="flatToc.length > 1"
      [disabled]="!prevResourceUrl"
      queryParamsHandling="preserve"
      accesskey="<"
    >
      <mat-icon>navigate_before</mat-icon>
    </a>
    <span class="width-expand text-center text-truncate">
      <span i18n="player back" class="margin-left-xs body-2" *ngIf="!resource?.name">Player</span>
      <span class="margin-left-xs">{{ resource?.name }}</span>
    </span>
    <a
      mat-icon-button
      class="width-auto"
      [routerLink]="nextResourceUrl"
      *ngIf="flatToc.length > 1"
      [disabled]="!nextResourceUrl"
      queryParamsHandling="preserve"
      accesskey=">"
    >
      <mat-icon>navigate_next</mat-icon>
    </a>
    <app-btn-element-fullscreen class="width-auto" [elementRef]="viewerContentRef"></app-btn-element-fullscreen>
    <a mat-icon-button class="width-auto" (click)="toggleSideBar()" accesskey="M">
      <mat-icon>menu</mat-icon>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="viewer-sidenav-container">
    <mat-sidenav
      class="viewer-sidenav"
      [mode]="mode$ | async"
      position="end"
      (closedStart)="closeSidenav()"
      [opened]="sideNavBarOpened"
      *ngIf="pluginType === 'content'"
    >
      <mat-accordion [multi]="true">
        <mat-expansion-panel [expanded]="true" [hidden]="!resource?.name">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ resource?.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <app-btn-download [content]="resource"></app-btn-download>
          <app-btn-like [contentId]="resource?.identifier"></app-btn-like>
          <app-btn-share [content]="resource"></app-btn-share>
          <app-btn-cohorts [contentId]="resource?.identifier"></app-btn-cohorts>
          <app-btn-goals
            [contentId]="resource?.identifier"
            [contentName]="resource?.name"
            [contentDuration]="resource?.duration"
          ></app-btn-goals>
          <app-btn-playlists [content]="resource" [contentName]="resource?.name"></app-btn-playlists>
          <app-btn-content-feedback [contentId]="resource?.identifier" [contentName]="resource?.name">
          </app-btn-content-feedback>
          <a [routerLink]="'/toc/' + resource?.identifier" mat-icon-button i18n-matTooltip matTooltip="View toc">
            <mat-icon>toc</mat-icon>
          </a>
        </mat-expansion-panel>
        <mat-expansion-panel [hidden]="partOfCollectionCount === 0">
          <mat-expansion-panel-header>
            <mat-panel-title i18n="content also belongs to">
              Part of
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ws-part-of
            *ngIf="resource"
            [resourceId]="resource.identifier"
            [collectionId]="toc?.identifier"
            (collectionCountChange)="partOfCollectionCount = $event"
          ></ws-part-of>
        </mat-expansion-panel>
        <mat-expansion-panel class="expansion-no-padding" *ngIf="hasCollection" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title i18n="content table of contents">Table of Contents</mat-panel-title>
          </mat-expansion-panel-header>
          <ws-player-toc [toc]="toc" [flatList]="flatToc" [resource]="resource" (closeToc)="closeToC()">
          </ws-player-toc>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="end-recommendations" *ngIf="showRecommendations && nextResource">
        <ws-recommendations
          [toc]="toc"
          [nextResource]="nextResource"
          (closeRecommendations)="showRecommendations = false"
        ></ws-recommendations>
      </div>

      <ng-container [ngSwitch]="loadStatus">
        <mat-card *ngSwitchCase="'RESOURCE_NOT_IN_COLLECTION'">
          <mat-card-title i18n>Requested Resource is not in collection</mat-card-title>
        </mat-card>
        <mat-card *ngSwitchCase="'INVALID_RESOURCE'">
          <mat-card-title i18n>Invalid Resource</mat-card-title>
          <mat-card-content>
            <div i18n>
              The content type of the requested content is not 'Resource'
            </div>
            <div>
              <b i18n>Content Type: </b>
              {{ resource?.contentType }}
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'INVALID_MIME'">
          <mat-card-title i18n>The provided MIME Type is not supported</mat-card-title>
          <mat-card-content>
            <div>
              <b i18n>Mime Type: </b>
              {{ resource?.mimeType }}
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'COOKIE_SET_FAILURE'">
          <mat-card-title i18n>Failed to set cookie for the content.</mat-card-title>
          <mat-card-content>
            <b i18n>Artifact Url: </b>
            {{ resource?.artifactUrl }}
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'MANIFEST_FETCH_FAILED'">
          <mat-card-title i18n>Looks like we are having some issues in our content.</mat-card-title>
          <mat-card-content>
            <div>
              <b i18n>Manifest Url: </b>
              {{ resource?.artifactUrl }}
            </div>
            <div>
              <b i18n>Mime Type: </b>
              {{ resource?.mimeType }}
            </div>
            <div class="margin-top-m text-center">
              <a class="mat-primary-text" [routerLink]="'/feedback/bug'" i18n>Report to us</a>
              <span i18n> and we will make it work</span>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'NO_CONTENT'">
          <mat-card-title i18n>Content unavailable</mat-card-title>
        </mat-card>
        <mat-card *ngSwitchCase="'MIME_CONTENT_MISMATCH'">
          <mat-card-title i18n>Looks like we are having some issues in our content.</mat-card-title>
          <mat-card-content>
            <div class="mat-caption">
              Debug Message: Content for given mime type does not have all the required fields
            </div>
            <div>
              <b i18n>Mime Type: </b>
              {{ resource?.mimeType }}
            </div>
            <div class="margin-top-m text-center">
              <a class="mat-primary-text" [routerLink]="'/feedback/bug'" i18n>Report to us</a>
              <span i18n> and we will make it work</span>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="mat-title margin-top-s" *ngSwitchCase="'CLASSROOM'">
          <div i18n>
            This is instructor-led classroom course and is not available online. Please register at Learning Hub on
            Intranet.
          </div>
          <div class="text-center margin-top-m">
            <a i18n mat-stroked-button [color]="'primary'" [routerLink]="'/toc/' + resource.identifier">
              View Toc
            </a>
          </div>
        </div>
        <div class="mat-title margin-top-s" *ngSwitchCase="'EXTERNAL_COURSE'">
          <div>
            <ng-container i18n>
              This is a third party online training program. You can access the content by
            </ng-container>
            <a mat-flat-button [color]="'primary'" [href]="resource.artifactUrl" target="_blank" i18n>
              clicking here.
            </a>
          </div>
          <div class="text-center margin-top-m">
            <a i18n mat-stroked-button [color]="'primary'" [routerLink]="'/toc/' + resource.identifier">
              View Toc
            </a>
          </div>
        </div>
        <mat-card *ngSwitchCase="'UNKNOWN_ERROR'">
          <mat-card-title i18n>Something went wrong. Not able to load the content</mat-card-title>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="processedResource?.content || pluginType !== 'content'">
        <router-outlet></router-outlet>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<input type="hidden" i18n-value value="Webinar Recording" #toastWebinarTitle />
<input
  type="hidden"
  i18n-value
  value="This is a live-recording of a webinar/classroom session. While we aim to provide you the best content, you may experience some unavoidable inaccuracies in audio/video relay.
Please be assured our endeavor is to provide you the best learning experience always."
  #toastWebinar
/>

<input
  type="hidden"
  i18n-value
  value="This course is an external content and is viewed best on chrome browser."
  #toastIosExternalContent
/>
