<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="pad container-height-adjust">

  <mat-card-content>
    <h2 i18n>Mark the date</h2>
    <ng-container i18n *ngIf="markTheDateEvents && !markTheDateEvents?.length">
      Your upcoming events will appear here.
    </ng-container>

    <ng-container *ngIf="markTheDateEvents && markTheDateEvents.length">
      <ng-container [ngTemplateOutlet]="events" [ngTemplateOutletContext]="{
      events: markTheDateEvents,
      limit: 3
    }"></ng-container>
    </ng-container>

    <h2 i18n>Your upcoming events</h2>
    <ng-container i18n *ngIf="upcomingEvents && !upcomingEvents?.length">
      Your upcoming events will appear here.
    </ng-container>

    <ng-container *ngIf="upcomingEvents && upcomingEvents?.length">
      <ng-container [ngTemplateOutlet]="events" [ngTemplateOutletContext]="{
      events: upcomingEvents,
      limit: 2
    }"></ng-container>
    </ng-container>

    <ng-template #events let-events="events" let-limit="limit">
      <div *ngFor="let event of (events | limitTo:limit) " class="flex flex-middle marginSmall">
        <mat-icon class="icon">event</mat-icon>
        <div class="margin-left-s">
          <div class="event-name mat-body-strong">{{event.eventTitle }}</div>
          <div class="mat-caption">{{months[event.eventDate.getMonth()] + " " + event.eventDate.getDate() + ", " + event.eventDate.getFullYear()}}</div>
          <div class="mat-caption">{{event.eventTime}}</div>
        </div>
      </div>

    </ng-template>

  </mat-card-content>
</mat-card>