<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="articles-container">
  <mat-card class="margin-top-s" *ngFor="let article of articles">
    <div class="flex padding-bottom-s">
      <div class="icon">
        <a [href]="article.url" target="_blank">
          <img [src]="article.iconUrl" />
        </a>
      </div>
      <div class="width-expand">
        <h2 class="margin-remove text-truncate">
          <a [href]="article.url" target="_blank">
            {{ article.title }}
          </a>
        </h2>
        <h3 class="text-truncate">{{ article.abstract }}</h3>
        <p class="margin-remove mat-caption">{{ article.postedOn }}</p>
      </div>
    </div>
  </mat-card>
</div>
