<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="content-strip" *ngIf="searchResults?.totalHits || searchResultsStatus === 'fetching'">
  <app-content-strip [contents]="searchResults.result" [cardType]="cardType" [contentStatus]="searchResultsStatus" (loadNext)="initiateSearch()">
    <div class="heading-container">
      <h1 class="mat-title">{{ heading }}</h1>
      <span class="spacer"></span>
      <a routerLink="/search" [queryParams]="queryParams" *ngIf="searchRedirection" i18n-matToolTip matToolTip="See in Search Page">
        <mat-icon>view_list</mat-icon>
      </a>
    </div>
  </app-content-strip>
</section>