/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import 'src/styles/mixins';

@mixin card-width {
  margin: 1rem auto;

  @include breakpoint-xs {
    width: 80%;
  }

  @include breakpoint-sm {
    width: 80%;
  }

  @include breakpoint-md {
    width: 70%;
  }

  @include breakpoint-lg {
    width: 70%;
  }

  @include breakpoint-xl {
    width: 50%;
  }
}

@mixin align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin align-horizontal {
  margin: 0 auto;
  justify-content: center;
}

.cohorts-select {
  text-align: center;
  padding: $size-m 0;
}

.cohorts-card {
  @include card-width();
}

.cohorts-list {
  list-style-type: none;
  padding: 0;

  @include breakpoint-gt-xs {
    padding: 0 16px;
  }
}

.cohorts-list-item {
  margin: 1rem 0;
  height: auto !important;
  display: flex;
  justify-content: space-between;
}

.cohorts-user-img {
  font-size: 40px;
  width: 40px;
  height: 40px;
  // margin-right: 1rem;
  display: block;
}

.cohorts-name,
.cohorts-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cohorts-spinner,
.cohorts-error {
  width: 50%;
  margin: 2rem auto;
}
