<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-tab-group
  mat-align-tabs="center"
  [dynamicHeight]="true"
  [(selectedIndex)]="selectedTabIndex"
  (selectedIndexChange)="onTabChange()"
>
  <mat-tab *ngIf="cohortsConfig.activeLearners">
    <ng-template mat-tab-label>
      <span i18n="cohorts: learners tab" accesskey="1">Active Learners</span>
    </ng-template>
    <ng-container
      [ngTemplateOutlet]="tabContent"
      [ngTemplateOutletContext]="{
        list: activeUsersSelected,
        status: activeUsersStatus,
        tabIndex: selectedTabIndex,
        isProfile: true
      }"
    ></ng-container>
  </mat-tab>

  <mat-tab *ngIf="cohortsConfig.expertAndTutors">
    <ng-template mat-tab-label>
      <span i18n="cohorts: educators tab" accesskey="2">Experts and tutors</span>
    </ng-template>
    <ng-container
      [ngTemplateOutlet]="tabContent"
      [ngTemplateOutletContext]="{
        list: smesSelected,
        status: smesStatus,
        tabIndex: selectedTabIndex,
        isProfile: cohortsConfig.isProfileSupported
      }"
    >
    </ng-container>
  </mat-tab>

  <mat-tab *ngIf="cohortsConfig.batchCohorts">
    <ng-template mat-tab-label>
      <span i18n="cohorts: batch learners tab" accesskey="2">Batch Cohorts</span>
    </ng-template>
    <ng-container
      [ngTemplateOutlet]="tabContent"
      [ngTemplateOutletContext]="{
        list: batchCohorts,
        status: batchCohortsStatus,
        tabIndex: selectedTabIndex,
        isProfile: true
      }"
    ></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #tabContent let-list="list" let-status="status" let-tabIndex="tabIndex" let-isProfile="isProfile">
  <div class="cohorts-select" *ngIf="status === 'done'">
    <ng-container *ngIf="tabIndex === 0" [ngTemplateOutlet]="activeUsersSelect"></ng-container>
    <ng-container *ngIf="tabIndex === 1" [ngTemplateOutlet]="smesSelect"></ng-container>
  </div>
  <mat-card class="cohorts-card" *ngIf="status === 'done'">
    <h3 class="text-center mat-h3" *ngIf="!list.length" i18n="cohort: none">
      No cohort found
    </h3>
    <ul class="cohorts-list" *ngIf="list.length">
      <!-- <li class="cohorts-list-item cursor-pointer" [routerLink]="'/profile/'+user.email" *ngFor="let user of list"> -->
      <!-- <li
        class="cohorts-list-item cursor-pointer"
        [ngClass]="{ 'cursor-auto': !isProfile }"
        [routerLink]="isProfile ? '/profile/' + user.email : null"
        *ngFor="let user of list"
      > -->
      <li class="cohorts-list-item cursor-pointer" [ngClass]="{ 'cursor-auto': !isProfile }" *ngFor="let user of list">
        <div class="width-auto">
          <app-user-image class="cohorts-user-img" [email]="user.email"></app-user-image>
        </div>
        <div class="width-expand padding-left-xs">
          <!-- <div class="mat-body-strong cohorts-name">{{user.first_name + ' ' + user.last_name}}</div> -->
          <div class="mat-body-strong cohorts-name">
            {{
              {
                firstName: user.first_name,
                lastName: user.last_name,
                email: user.email
              } | nameTransform
            }}
          </div>
          <div class="mat-caption cohorts-desc">{{ user.desc }}</div>
        </div>
        <div class="width-auto">
          <app-btn-mail-user *ngIf="isProfile" [users]="[user.email]" [content]="content"></app-btn-mail-user>
          <app-btn-call
            [contentId]="content.identifier"
            [userName]="user.first_name + ' ' + user.last_name"
            [userPhone]="user.phone_No"
          ></app-btn-call>
        </div>
      </li>
    </ul>
    <div class="text-right mat-caption" *ngIf="!isProfile">
      For any query, you can contact us.
      <a mat-button href="mailto:{{ contactUsMail }}" i18n="contact section">
        Click to mail
      </a>
    </div>
  </mat-card>

  <div class="cohorts-spinner" *ngIf="status === 'fetching'">
    <app-spinner></app-spinner>
  </div>

  <div class="cohorts-error" *ngIf="status === 'error'">
    <p i18n="cohorts: error" class="mat-body">Sorry, an error occurred.</p>
  </div>
</ng-template>

<ng-template #activeUsersSelect>
  <mat-radio-group [(ngModel)]="activeUsersFilter" (change)="onActiveUsersFilterChange()">
    <mat-radio-button i18n="cohorts: all" value="all">All</mat-radio-button>
    <mat-radio-button class="margin-left-m" i18n="cohorts: active" value="active">Active</mat-radio-button>
    <mat-radio-button class="margin-left-m" i18n="cohorts: sharing same goals" value="sharing"
      >Sharing the same goals
    </mat-radio-button>
  </mat-radio-group>
</ng-template>

<ng-template #smesSelect>
  <mat-radio-group [(ngModel)]="smesFilter" (change)="onSmesFilterChange()">
    <mat-radio-button i18n="cohorts: all" value="all">All</mat-radio-button>
    <mat-radio-button class="margin-left-m" i18n="cohorts: author" value="author">Authors</mat-radio-button>
    <mat-radio-button class="margin-left-m" i18n="cohorts: educator" value="educator">Educators</mat-radio-button>
    <mat-radio-button class="margin-left-m" i18n="cohorts: topper" value="topper">Toppers</mat-radio-button>
  </mat-radio-group>
</ng-template>
