<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n class="margin-left-xs">CMT Learning Hub</span>
</mat-toolbar>

<app-carousel [banners]="banners" [showNavigation]="false">
  <ng-template let-banner>
    <a (click)="navigateBanner(banner)" *ngIf="banner.title" class="text-truncate">
      {{ banner.title }}
    </a>
  </ng-template>
</app-carousel>

<mat-tab-group mat-align-tabs="center" (selectedTabChange)="navigate($event)" [selectedIndex]="selectedIndex" dynamicHeight="true">
  <mat-tab label="About" i18n-label>
    <ng-template matTabContent>
      <div class="about">
        <div class="margin-left-xl">
          <h3 class="margin-s">Welcome! Let’s build a Learning Community to amplify each other’s creative potentials and accelerate our business
            growth.
          </h3>
        </div>
        <div class="container flex flex-wrapped flex-center">
          <mat-card class="contentCard margin-l" *ngFor="let tab of cmtTabs">
            <a [routerLink]="'/cmt/' + tab?.urlKey">
              <img mat-card-image [src]="tab?.imageSrc" height=150>
              <div>
                <h3 class="contentTitle" i18n>{{tab?.title}}</h3>
              </div>
            </a>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </mat-tab>


  <mat-tab label="{{ tab.title }}" *ngFor="let tab of cmtTabs">
    <ng-template matTabContent>
      <ng-container *ngFor="let strip of tab.strips">
        <app-search-strip [heading]="strip.title" [searchRequest]="strip.searchQuery" (contentStatus)="handleNoContent($event, tab.urlKey)">
        </app-search-strip>
        <h2 *ngIf="dataUnavailableCountHash[tab.urlKey] === tab.strips.length" i18n class="margin-top-m text-center">
          Currently, we don't have any data available under this section.
        </h2>
      </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>