<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-xl text-center flex flex-wrapped flex-around">
  <a [routerLink]="leader.link" *ngFor="let leader of leaders" class="margin-m">
    <img alt="Leader" class="mat-lite-background" [src]="leader?.profileImage" />
    <div class="text-center">
      <h2 class="margin-remove margin-top-xs">{{leader?.name}}</h2>
      <p class="designation">{{leader?.designation}}</p>
    </div>
  </a>
</div>