<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title faq back" class="margin-left-xs">FAQ</span>
</mat-toolbar>
<div *ngIf="!faqFeature">
  <h1 i18n class="mat-title margin-top-xl text-center">
    Frequently asked questions can be configured here.
  </h1>
</div>
<mat-sidenav-container class="sidenav-container" *ngIf="faqFeature" autosize>
  <mat-sidenav class="sidenav" [mode]="mode$ | async" [(opened)]="sideNavBarOpened">
    <mat-nav-list>
      <a mat-list-item aria-label="Login Related Faqs" class="" [routerLink]="'/faq/login'" routerLinkActive="faq-active-class mat-toolbar mat-stroked-button"
        (click)="sideNavOnClick()" i18n="page faq side nav item one" accesskey="1">Login</a>
      <a mat-list-item aria-label="ODC Access Related Faqs" class="" [routerLink]="'/faq/odcAccess'" routerLinkActive="faq-active-class mat-toolbar mat-stroked-button"
        (click)="sideNavOnClick()" i18n="page faq side nav item two" accesskey="2">ODC Access</a>
      <a mat-list-item aria-label="Compatibility Related Faqs" class="" [routerLink]="'/faq/compatibility'"
        routerLinkActive="faq-active-class mat-toolbar mat-stroked-button" (click)="sideNavOnClick()" i18n="page faq side nav item three"
        accesskey="3">Compatibility</a>
      <a mat-list-item aria-label="Installation Related Faqs" class="" [routerLink]="'/faq/installation'"
        routerLinkActive="faq-active-class mat-toolbar mat-stroked-button" (click)="sideNavOnClick()" i18n="page faq side nav item four"
        accesskey="4">Installation</a>
      <a mat-list-item aria-label="Progress Completion Related Faqs" class="" [routerLink]="'/faq/progressCompletion'"
        routerLinkActive="faq-active-class mat-toolbar mat-stroked-button" (click)="sideNavOnClick()" i18n="page faq side nav item five"
        accesskey="5">Progress
        Completion</a>
      <a mat-list-item aria-label="Video Related Faqs" class="" [routerLink]="'/faq/video'" routerLinkActive="faq-active-class mat-toolbar mat-stroked-button"
        (click)="sideNavOnClick()" i18n="page faq side nav item six" accesskey="6">Video</a>
      <a mat-list-item aria-label="Authoring Related Faqs" class="" [routerLink]="'/faq/authoring'" routerLinkActive="faq-active-class mat-toolbar mat-stroked-button"
        (click)="sideNavOnClick()" i18n="page faq side nav item seven" accesskey="7">Authoring</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div *ngIf="screenSizeIsLtMedium" class="flex flex-middle padding-m">
      <button type="button" mat-icon-button (click)="sideNavBarOpened = !sideNavBarOpened">
        <mat-icon>menu</mat-icon>
      </button>
      <h2 class="mat-subheading-2 margin-remove padding-left-xs" [ngSwitch]="currentTab">
        <span *ngSwitchCase="'login'" i18n="page faq mobile top nav item one" accesskey="1">Login</span>
        <span *ngSwitchCase="'odcAccess'" i18n="page faq mobile top nav item two" accesskey="2">ODC Access</span>
        <span *ngSwitchCase="'compatibility'" i18n="page faq mobile top nav item three" accesskey="3">Compatibility</span>
        <span *ngSwitchCase="'installation'" i18n="page faq mobile top nav item four" accesskey="4">Installation</span>
        <span *ngSwitchCase="'progressCompletion'" i18n="page faq mobile top nav item five" accesskey="5">Progress
          Completion</span>
        <span *ngSwitchCase="'video'" i18n="page faq mobile top nav item six" accesskey="6">Video</span>
        <span *ngSwitchCase="'authoring'" i18n="page faq mobile top nav item seven" accesskey="7">Authoring</span>
      </h2>
    </div>
    <section class="padding-m" [ngSwitch]="currentTab">
      <mat-card *ngSwitchCase="'login'">
        <p class="mat-body-2" i18n="faq page panel one question one">
          Q1. Unable to login to Lex
        </p>
        <p class="mat-body-1">
          <ng-container i18n="faq page panel one answer one section one">
            For using Lex you have to register yourself for Multi-Factor
            Authentication.<br />
            Please login to Lex from
          </ng-container>
          <ng-container>
            https://lex.infosysapps.com
          </ng-container>
          <ng-container i18n="faq page panel one answer one section two">
            <br />
            Lex is an internet facing application there are two scenarios.<br />
            1. You are accessing Lex on Infosys Intranet (VPN yes but not
            IConnect)<br />
            2. You are accessing Lex on Internet (from your personal
            laptop/desktop/Mobile browser/Android/iOS native applications)<br />
            In 1) you will not have to do separate authentication, your windows
            login will be automatically used for letting you in Lex<br />
            In 2) You need to register yourself first for Multi-Factor
            Authentication (MFA) at
          </ng-container>
          <ng-container>
            https://rasssp.ad.infosys.com/MultiFactorAuth/
          </ng-container>
          <ng-container i18n="faq page panel one answer one section three">
            on intranet and register.<br />
            The passcode or pin you set up here will be used for login later.<br />
            Once you enter your Infosys user name and password on a Microsoft
            Page, you will receive a call prompting you to use the passcode/pin to
            authenticate yourself.<br />
            You can also either register or change your pin if you have forgotten.
          </ng-container>
        </p>
        <mat-divider></mat-divider>
        <p class="mat-body-2" i18n="faq page panel one question two">
          Q2. Unable to logon to Lex, enclosed blue screen error
        </p>
        <p class="mat-body-1" i18n="faq page panel one answer two">
          Request to kindly clear your cookies and cache of the desktop browser
          once before trying.<br />
          Also you can use Incognito mode or Private Browsing modes of Chrome
          and IE.<br />
          Restart the browser and try accessing Lex.
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel one question three">
          Q3. Login credentials for Lex
        </p>
        <p class="mat-body-1">
          <ng-container i18n="faq page panel one answer three section one">
            Please visit:<br />
          </ng-container>
          <ng-container>
            https://rasssp.ad.infosys.com/MultiFactorAuth/<br />
          </ng-container>
          <ng-container i18n="faq page panel one answer three section two">
            and register yourself for Multi-Factors Authentication.<br />
            You can set a passcode of your choice. Select Call-In method for
            authentication.<br />
            For accessing Lex this is a “must” criteria.<br />
            1. Visit
          </ng-container>
          <ng-container>
            https://lex.infosysapps.com
          </ng-container>
          <ng-container i18n="faq page panel one answer three section three">
            <br />
            2. Press Login Button<br />
            3. If you are on Infosys Network, you will not have to just enter your
            Infosys Mail ID<br />
            4. If you are on Internet, on button click, you will be taken to
            Microsoft Login Site. Please enter your Infosys Mail ID<br />
            5. You will be taken to stsakaash site which is from Infosys. Here you
            provide your email id and password(Infosys account)<br />
            6. You will receive a phone call from Microsoft on your registered
            phone number<br />
            7. You are required to key-in your passcode and #<br />
            8. If your authentication is successful, the web browser will
            automatically take you to Lex.
          </ng-container>
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel one question four">
          Q4. Unable to logon to Lex , getting Microsoft Login page
        </p>
        <p class="mat-body-1" i18n="faq page panel one answer four">
          Clear the browser cache and cookies (going as far back as
          possible).<br />
          This issue is mainly for user who use other Infosys O365 Applications
          like Mail, VPN, Yammer and many more.<br />
          The token issued by Microsoft when you used such an application is
          stored in the cookies and Microsoft needs to be forced to issue a
          fresh token which will allow access the Lex application which is also
          a O365 Application.<br />
          Clear the cache and cookies and restart the browser and try accessing
          Lex
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel one question five">
          Q5. Account Already Exists
        </p>
        <p class="mat-body-1" i18n="faq page panel one answer five">
          Raise an AHD
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel one question six">
          Q6. I am not able to get my PIN to enter with password in LEX
          application. Would you please help me with this?
        </p>
        <p class="mat-body-1">
          <ng-container i18n="faq page panel one answer six section one">
            Can you mail CCD-Helpdesk (Global Support)
          </ng-container>
          <ng-container>
            EMAIL
          </ng-container>
          <ng-container i18n="faq page panel one answer six section two">
            and get them to reset the same?
          </ng-container>
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel one question seven">
          Q7. Downtime
        </p>
        <p class="mat-body-1" i18n="faq page panel one answer seven">
          Request you to kindly clear your cookies and cache of the desktop
          browser once before trying.<br />
          Also you can use Incognito mode or Private Browsing modes of Chrome
          and IE.
        </p>
      </mat-card>
      <mat-card *ngSwitchCase="'odcAccess'">
        <p class="mat-body-2" i18n="faq page panel two question one">
          Q1. ODC Connectivity
        </p>
        <p class="mat-body-1" i18n="faq page panel two answer one">
          If you are working from an ODC, it is possible it might have been
          blocked.<br />
          Please raise a CCD AHD under “Local Connectivity Issues” category and
          mention that you are unable to access Lex.
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel two question two">
          Q2. Browser Issue
        </p>
        <p class="mat-body-1" i18n="faq page panel two answer two">
          It looks like you are not either having Internet Access or ODC has
          blocked the access to Lex.<br />
          Please raise a CCD AHD under “Local Connectivity Issues”
        </p>
      </mat-card>
      <mat-card *ngSwitchCase="'compatibility'">
        <p class="mat-body-2" i18n="faq page panel three question one">
          Q1. Compatibility
        </p>
        <p class="mat-body-1">
          <ng-container i18n="faq page panel three answer one">
            It looks like you are using IE in Compatibility Mode (IE7 or IE11)
            please open developer console and switch to IE11 or IE10.<br />
            Please follow the video:<br />
          </ng-container>
          <ng-container>
            https://www.youtube.com/watch?v=XGEYmkI66jQ
          </ng-container>
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel three question two">
          Q2. Browser Issue
        </p>
        <p class="mat-body-1" i18n="faq page panel three answer two">
          It looks like you are using IE in Compatibility Mode (IE7 or IE11)
          please open developer console and switch to IE11 or IE10
        </p>
      </mat-card>
      <mat-card *ngSwitchCase="'installation'">
        <p class="mat-body-2" i18n="faq page panel four question one">
          Q1. Regarding Lex installation on Smart Phone
        </p>
        <p class="mat-body-1">
          <ng-container i18n="faq page panel four answer one section one">
            There are 2 ways for doing the same in android:<br />
            1. open Lex in browser and click on burger menu. Now click mobile apps
            under android click the link. From there you can directly download the
            app like other apps.<br />
            2. Directly open the play store and search for "Infosys Lex" and
            install the apps. Before going with the above step make sure to go
            through with the following steps if you have not done before/ using it
            for the first time using Infosys network.<br />
            Please visit:<br />
          </ng-container>
          <ng-container>
            https://rasssp.ad.infosys.com/MultiFactorAuth/<br />
          </ng-container>
          <ng-container i18n="faq page panel four answer one section two">
            and register yourself for Multi-Factors Authentication.<br />
            You can set a passcode of your choice.<br />
            Select Call-In method for authentication.<br />
            For accessing Lex this is a “must” criteria.<br />
            1. Visit
          </ng-container>
          <ng-container>
            https://lex.infosysapps.com<br />
          </ng-container>
          <ng-container i18n="faq page panel four answer one section three">
            2. Press Login Button<br />
            3. If you are on Infosys Network, you will not have to just enter your
            Infosys Mail ID<br />
            4. If you are on Internet, on button click, you will be taken to
            Microsoft Login Site. Please enter your Infosys Mail ID<br />
            5. You will be taken to stsakaash site which is from Infosys. Here you
            provide your email id and password(Infosys account)<br />
            6. You will receive a phone call from Microsoft on your registered
            phone number<br />
            7. You are required to key-in your passcode and #<br />
            8. If your authentication is successful, the web browser will
            automatically take you to Lex.<br />
          </ng-container>
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel four question two">
          Q2. IOS - To Install IOS App
        </p>
        <p class="mat-body-1">
          <ng-container i18n="faq page panel four answer two section one">
            Kindly find the steps enclosed below for your request please.<br />
            To install the app, Safari Web browser is required.<br />
            Please follow the following steps<br />
            1. Go to
          </ng-container>
          <ng-container>
            https://lex.infosysapps.com
          </ng-container>
          <ng-container i18n="faq page panel four answer two section two">
            on Safari browser on your iPhone
            (This will not work on Google Chrome or other browsers)<br />
            2. Login to the app (using MFA)<br />
            3. Go to “Mobile Apps” under the ☰<br />
            4. Click on IOS tab<br />
            5. Click on Download<br />
            You will be prompted to Install the app, Please click on install.<br />
            Once you accept the installation, the app would start the download
            process in the background and the AppIcon would be visible on the home
            screen of your phone<br />
            Fix for “Untrusted Developer” Error (Comes up if Lex is the first app
            installed from “Infosys Limited”)<br />
            To fix this, you need to Trust the Developer “Infosys Limited”.
            Setting to trust the app are as follows<br />
            1. Go to Device Management in your iPhone (Settings > General > Device
            Management)<br />
            2. Click on “Infosys Limited” Under the Enterprise Apps<br />
            3. Click on “Trust”<br />
            4. Re-launch the app.<br />

            Mobile app needs your one-time Login after the first launch.
          </ng-container>
        </p>
      </mat-card>
      <mat-card *ngSwitchCase="'progressCompletion'">
        <p class="mat-body-2" i18n="faq page panel five question one">
          Q1. I recently completed a course in lex (Introduction to data
          science )and I passed the assessment exam also. But it is not
          reflecting in my dashboard. Can you please look into this?
        </p>
        <p class="mat-body-1" i18n="faq page panel five answer one">
          Lex does not calculate progress instantly. It is a batch process and
          data might take 15 minutes to reflect.
        </p>
      </mat-card>
      <mat-card *ngSwitchCase="'video'">
        <p class="mat-body-2" i18n="faq page panel six question one">
          Q1. Issues playing the video content.
        </p>
        <p class="mat-body-1" i18n="faq page panel six answer one">
          Please raise a CCD AHD to reinstall Audio Video Drivers. This issue
          happens when either audio or video drivers are corrupt or not
          installed.
        </p>
      </mat-card>
      <mat-card *ngSwitchCase="'authoring'">
        <p class="mat-body-2" i18n="faq page panel seven question one">
          Q1. Upload a content in Lex
        </p>
        <p class="mat-body-1">
          <ng-container i18n="faq page panel seven answer one section one">
            Please find demo video enclosed on how to upload content in Lex.<br />
            Kindly use the below URL :<br />
          </ng-container>
          <ng-container>
            https://lex-dev.infosysapps.com/toc/lex_auth_0125796987905802241<br />
          </ng-container>
          <ng-container i18n="faq page panel seven answer one section one">
            Please use Chrome for accessing the staging environment.<br />
            To create content through Authoring Tool :<br />
            Link :
          </ng-container>
          <ng-container>
            https://lex-staging.infosysapps.com/home
          </ng-container>
        </p>

        <mat-divider></mat-divider>

        <p class="mat-body-2" i18n="faq page panel seven question two">
          Q2. Could you please guide me on how to record a video in LEX with
          real time voice over.
        </p>
        <p class="mat-body-1" i18n="faq page panel seven answer two">
          Lex does not have the capabilities to record videos or author PDF or
          HTML Content directly on its authoring tool.<br />
          If you have created Videos either using screen-capture using tools
          like Captivate, Camtasia or converting PPTs to Videos with voiceover
          or even using a video recording device like Phones, Video Cameras, Lex
          allows you to create courses out of such content.<br />
          Course creation involves providing a good amount of meta-data for
          non-text based contents such as Videos.
        </p>
      </mat-card>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
