<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs" i18n>Core Development Paths</span>
  <span class="spacer"></span>
  <a mat-raised-button routerLink="/navigator/new-cdp/1" i18n>Switch View</a>
</mat-toolbar>

<div class="flex flex-wrapped">
  <div class="width-1-2 container padding-s">
    <mat-card class="padding-m container-height-adjust">
      <div class="text-center margin-xl" *ngIf="variantFetchStatus === 'fetching'">
        <app-spinner></app-spinner>
      </div>
      <h2 class="mat-h2 text-center margin-xl" *ngIf="variantFetchStatus === 'error'" i18n>
        Error fetching Data
      </h2>
      <h2 class="mat-h2" i18n *ngIf="variantFetchStatus === 'done'">Click on a variant to know more</h2>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <button mat-button (click)="nodeSelected(node)">{{node.name}}</button>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <button mat-button (click)="nodeSelected(node)">{{node.name}}</button>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-card>
  </div>
  <div class="width-1-2 container padding-s" *ngIf="selectedNode">
    <mat-card class="padding-m container-height-adjust">
      <h2 class="mat-h2">{{ selectedNode.name }}</h2>
      <p>{{ selectedNode.description }}</p>
      <mat-card-actions>
        <button mat-button color="primary" i18n *ngIf="selectedNode?.content?.length" (click)="scroll(contentStrip)">View
          Content</button>
        <button mat-button color="primary" i18n *ngIf="selectedNode?.certifications?.length" (click)="scroll(certificationStrip)">View
          Certifications</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="text-center margin-xl" *ngIf="contentFetchStatus === 'fetching'">
  <app-spinner></app-spinner>
</div>
<h2 class="mat-h2 text-center margin-xl" *ngIf="contentFetchStatus === 'error'" i18n>
  Error fetching Data
</h2>
<span #contentStrip></span>
<section class="content-strip" [hidden]="!content?.length">
  <app-content-strip class="uk-card uk-card-body" heading="Courses" [contents]="content" contentStatus="done"></app-content-strip>
</section>
<span #certificationStrip></span>
<section class="content-strip" [hidden]="!certifications?.length">
  <app-content-strip class="uk-card uk-card-body" heading="Certifications" [contents]="certifications" contentStatus="done"></app-content-strip>
</section>