<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs">Instructor-Led Training</span>
</mat-toolbar>

<section class="container">
  <h2 class="mat-title">Available Programs</h2>

  <section class="margin-top-l margin-bottom-l" *ngFor="let programGroup of trainingData.program_groups">
    <mat-card
      [routerLink]="programGroup.programs.length ? ['../program-group/' + programGroup.group_id] : null"
      [ngClass]="{ 'cursor-pointer': programGroup.programs.length }"
    >
      <h2 class="mat-title">{{ programGroup.program_group }}</h2>

      <!-- <div class="margin-top-s margin-bottom-s" *ngFor="let program of program.trainings">
          <ws-training-card [training]="training"></ws-training-card>
        </div> -->
      <div class="mat-body">
        <ng-container *ngIf="programGroup.programs.length">
          {{ programGroup.programs.length }} programs available
        </ng-container>
        <ng-container *ngIf="!programGroup.programs.length">
          No programs available
        </ng-container>
      </div>
    </mat-card>
  </section>

  <section class="margin-top-l margin-bottom-l" *ngFor="let program of trainingData.programs">
    <mat-card>
      <div class="cursor-pointer" (click)="program.expanded = !program.expanded">
        <div class="flex flex-between">
          <div class="width-9-10">
            <h2 class="mat-title margin-bottom-remove text-truncate">{{ program.program_name }}</h2>
            <div class="mat-body text-truncate">{{ program.trainings.length }} trainings available</div>
          </div>
          <div class="flex flex-column flex-center width-1-10">
            <div class="text-center">
              <mat-icon *ngIf="program.expanded">expand_less</mat-icon>
              <mat-icon *ngIf="!program.expanded">expand_more</mat-icon>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="program.expanded">
        <div class="margin-top-s margin-bottom-s" *ngFor="let training of program.trainings">
          <ws-training-card [training]="training"></ws-training-card>
        </div>
      </ng-container>
    </mat-card>
  </section>
</section>
