/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/styles";
@import "src/styles/common";
@import "src/styles/mixins";
@import "src/styles/vars";

.container {
  @extend %width-balancer;

  @include breakpoint-xs {
    padding: $size-xs;
  }

  padding: $size-l;
}

.hidden-xs {
  @include breakpoint-xs {
    display: none !important;
  }
}

.width-9-10 {
  width: 90% !important;
}

.width-1-10 {
  width: 10% !important;
}
