<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card *ngIf="content" class="toc-card">
  <mat-card-content>
    <div class="flex flex-middle" [title]="content.name">
      <a [routerLink]="cardRoute" class="image-section">
        <img i18n-alt alt="thumbnail" [src]="content.appIcon | sliceIp" [appDefaultImage]="missingThumbnail" />
      </a>
      <div class="width-expand card-content">
        <h4 [title]="content.name" class="margin-remove-top margin-remove-bottom flex flex-middle">
          <mat-icon *ngIf="contentProgress > 0.99" i18n-matTooltip matTooltip="Completed" class="completed-icon"
            >check_circle</mat-icon
          >
          <a [routerLink]="cardRoute" class="margin-remove-bottom text-truncate mat-title">{{ content.name }}</a>
        </h4>
        <div>
          <app-content-type
            [mimeType]="content.mimeType"
            [contentType]="content.contentType"
            [isExternalCourse]="content.isExternalCourse"
            [isExternal]="content.isExternal"
            [resourceType]="content.resourceType"
            [learningMode]="content.learningMode"
          ></app-content-type>
          <span *ngIf="content.complexityLevel"> | {{ content.complexityLevel | titlecase }}</span>
        </div>
        <div>
          <span *ngIf="content.duration">{{ content.duration | durationTransform }} | </span>
          <span *ngIf="content.lastUpdatedOn" class="hidden-inline-s">{{
            content.lastUpdatedOn | date: "MMM'' yy"
          }}</span>
          <!-- <span *ngIf="content.me_totalSessionsCount > 1"> | {{ content.me_totalSessionsCount | countTransform }} views</span> -->
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="width-expand padding-top-xs">
        <div
          class="mat-body text-justify"
          [ngClass]="{ 'text-truncate': !isExpanded }"
          (click)="isExpanded = !isExpanded"
        >
          {{ content.description }}
        </div>
      </div>
      <div class="width-auto">
        <button (click)="isExpanded = !isExpanded" mat-icon-button>
          <mat-icon>{{ isExpanded ? "expand_less" : "expand_more" }}</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="isExpanded" class="flex flex-between">
      <span>
        <app-btn-download [content]="content"></app-btn-download>
        <app-btn-like [contentId]="content.identifier"></app-btn-like>
        <app-btn-share [content]="content"></app-btn-share>
        <app-btn-playlists [content]="content" [contentName]="content.name"></app-btn-playlists>
        <app-btn-goals
          [contentId]="content.identifier"
          [contentName]="content.name"
          [contentDuration]="content.duration"
        ></app-btn-goals>
        <app-btn-mail-me [content]="content"></app-btn-mail-me>
      </span>
      <app-action-bottom-toc
        *ngIf="!(content.learningMode === 'Instructor-Led' || content.isExternalCourse)"
        [contentId]="content.identifier"
        [contentName]="content.name"
      ></app-action-bottom-toc>
    </div>
    <div *ngIf="isExpanded && content.children && content.children.length">
      <mat-divider></mat-divider>
      <div class="padding-top-s">
        <app-toc-card
          [tocId]="tocId"
          [content]="child"
          *ngFor="let child of content.children; trackBy: cardTrackBy"
        ></app-toc-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
