<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<a
  mat-icon-button
  [routerLink]="url"
  [hidden]="!url"
  *wsHasPermission="['btnAnalytics']"
  i18n-aria-label="See Analytics|Action Btn for navigating to Analytics"
  aria-label="See Analytics"
  i18n-matTooltip="Analytics Action Btn Tooltip"
  matTooltip="Show Analytics"
  (click)="execute($event)"
>
  <mat-icon>bar_chart</mat-icon>
</a>
