<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="recommendations-container">
  <a *ngIf="nextResource" [routerLink]="nextResourceUrl" class="next-resource">
    <img
      class="mat-elevation-z8 mat-app-background"
      [src]="nextResource.appIcon | sliceIp"
      [appDefaultImage]="missingThumbnail"
    />
    <div class="title text-truncate">{{ nextResource.name }}</div>
    <button type="button" class="play" color="primary" mat-icon-button>
      <mat-icon>play_circle_filled</mat-icon>
    </button>
    <div class="duration mat-caption" *ngIf="nextResource.duration">
      {{ nextResource.duration | durationTransform: "time24" }}
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="nextItemPlaybackProgress"
    ></mat-progress-bar>
    <div class="text-center margin-top-s">
      <button
        type="button"
        color="primary"
        mat-flat-button
        (click)="cancelPlay($event)"
      >
        Cancel
      </button>
    </div>
  </a>
</div>
