<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="materials-container" *ngIf="materials && materials.length">
  <ng-container *ngFor="let content of materials">
    <mat-card class="padding-m flex flex-middle flex-between margin-m">
      <div class="flex flex-middle">
        <mat-icon class="icon-size">description</mat-icon>
        <div class="margin-left-m">
          <h2 class="margin-remove-bottom">{{content.title}}</h2>
          <div>
            {{content.author}} | {{content.date}}
          </div>
        </div>
      </div>
      <a [href]="content.downloadUrl" (click)="downloadIntiated()" mat-icon-button download>
        <mat-icon>vertical_align_bottom</mat-icon>
      </a>
    </mat-card>
  </ng-container>
</div>