<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="content-strip" *ngIf="fetchStatus === 'done'" [hidden]="selectedFilter==='org' && !latestRecommendations?.length">
  <div class="flex flex-between flex-middle">
    <h1 class="mat-title" [ngClass]="{'margin-remove': showFilters}" i18n="home latest recommendations">Latest</h1>
    <mat-form-field *ngIf="showFilters">
      <mat-select [(value)]="selectedFilter" (selectionChange)="fetchLatest(true)">
        <div *ngFor="let item of latestFilterMapping|keyvalue">
          <mat-option value={{item.key}} i18n>{{item.value}}</mat-option>
        </div>
        <!-- <mat-option value="org" i18n>Organization</mat-option>
        <mat-option value="role" i18n>Role</mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>
  <app-spinner *ngIf="isUpdating" [spinSize]="'small'" [spinWidth]="'thin'"></app-spinner>
  <app-content-strip *ngIf="latestRecommendations?.length" [cardType]="cardType" [contents]="latestRecommendations" [contentStatus]="'done'"></app-content-strip>
  <div *ngIf="!latestRecommendations?.length" i18n>Items under this category are unavailable, please select another category from dropdown</div>
</section>