/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";
// Wingspan theme
$ws-primary: mat-palette($mat-light-blue, 800, 200, 900);
$ws-accent: mat-palette($mat-blue-grey, 800, 200, 900);
$ws-warn: mat-palette($mat-red, 500);

$wingspan-theme-base: mat-light-theme($ws-primary, $ws-accent, $ws-warn);
$wingspan-theme: map-merge(
  $map1: $wingspan-theme-base,
  $map2: (
    foreground:
      map-merge(
        map-get($wingspan-theme-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.blue-theme {
  @include angular-material-theme($wingspan-theme);
  @include theme-based-configurations($wingspan-theme);
}
