/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";

$black-primary: mat-palette($mat-grey, 700, 300, 900);
$black-accent: mat-palette($mat-blue-grey, 400);
$black-warn: mat-palette($mat-red, 500);

$black-theme-base: mat-dark-theme($black-primary, $black-accent, $black-warn);
$black-theme: map-merge(
  $map1: $black-theme-base,
  $map2: (
    foreground:
      map-merge(
        map-get($black-theme-base, foreground),
        (
          text: #eeeeee
        )
      )
  )
);

.black-theme {
  @include angular-material-theme($black-theme);
  @include theme-based-configurations($black-theme);
}
