/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";
// Wingspan deep blue theme
$ws-dp-primary: mat-palette($mat-deep-purple, 400, 100, 700);
$ws-dp-accent: mat-palette($mat-blue-grey, 800, 200, 900);
$ws-dp-warn: mat-palette($mat-red, 500);

$wingspan-theme-dp-base: mat-light-theme($ws-dp-primary, $ws-dp-accent, $ws-dp-warn);
$wingspan-theme-dp: map-merge(
  $map1: $wingspan-theme-dp-base,
  $map2: (
    foreground:
      map-merge(
        map-get($wingspan-theme-dp-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.deep-purple-theme {
  @include angular-material-theme($wingspan-theme-dp);
  @include theme-based-configurations($wingspan-theme-dp);
}
