/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";
// HSBC theme
$mat-hsbc-grey: (
    50: #767676,
    100: #F5F5F5,
    200: #767676,
    300: #767676,
    400: #767676,
    500: #767676,
    600: #767676,
    700: #767676,
    800: #767676,
    900: #767676,
    A100: #767676,
    A200: #767676,
    A400: #767676,
    A700: #767676,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$grey-primary: mat-palette($mat-hsbc-grey, 700, 100);
$grey-accent: mat-palette($mat-blue-grey, 400);
$grey-warn: mat-palette($mat-red, 500);

$theme-grey-base: mat-light-theme($grey-primary, $grey-accent, $grey-warn);
$theme-grey: map-merge(
  $map1: $theme-grey-base,
  $map2: (
    foreground:
      map-merge(
        map-get($theme-grey-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.grey-theme {
  @include angular-material-theme($theme-grey);
  @include theme-based-configurations($theme-grey);
}

