/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";

$lex-primary: mat-palette($mat-indigo);
$lex-accent: mat-palette(
  $mat-blue-grey,
  800,
  200,
  900
); // mat-palette($mat-orange);
$lex-warn: mat-palette($mat-red, 500);

$lex-theme-base: mat-light-theme($lex-primary, $lex-accent, $lex-warn);
$lex-theme: map-merge(
  $map1: $lex-theme-base,
  $map2: (
    foreground:
      map-merge(
        map-get($lex-theme-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.indigo-theme {
  @include angular-material-theme($lex-theme);
  @include theme-based-configurations($lex-theme);
}
