/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";

$lite-primary: mat-palette($mat-grey, 700, 300, 900);
$lite-accent: mat-palette($mat-blue-grey, 400);
$lite-warn: mat-palette($mat-red, 500);

$lite-theme-base: mat-light-theme($lite-primary, $lite-accent, $lite-warn);
$lite-theme: map-merge(
  $map1: $lite-theme-base,
  $map2: (
    foreground:
      map-merge(
        map-get($lite-theme-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.lite-theme {
  @include angular-material-theme($lite-theme);
  @include theme-based-configurations($lite-theme);
}
