/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";
// Orange theme
$orange-primary: mat-palette($mat-orange, 800, 100, 700);
$orange-accent: mat-palette($mat-teal);
$orange-warn: mat-palette($mat-red, 500);

$theme-orange-base: mat-light-theme($orange-primary, $orange-accent, $orange-warn);
$theme-orange: map-merge(
  $map1: $theme-orange-base,
  $map2: (
    foreground:
      map-merge(
        map-get($theme-orange-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.orange-theme {
  @include angular-material-theme($theme-orange);
  @include theme-based-configurations($theme-orange);
}
