/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";
// HSBC theme

$mat-hsbc-red: (
    50: #db0011,
    100: #FFCDD2,
    200: #db0011,
    300: #db0011,
    400: #db0011,
    500: #db0011,
    600: #db0011,
    700: #db0011,
    800: #db0011,
    900: #db0011,
    A100: #db0011,
    A200: #db0011,
    A400: #db0011,
    A700: #db0011,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$red-primary: mat-palette($mat-hsbc-red, 700, 100);
$red-accent: mat-palette($mat-blue-grey, 400);
$red-warn: mat-palette($mat-red, 500);

$theme-red-base: mat-light-theme($red-primary, $red-accent, $red-warn);
$theme-red: map-merge(
  $map1: $theme-red-base,
  $map2: (
    foreground:
      map-merge(
        map-get($theme-red-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.red-theme {
  @include angular-material-theme($theme-red);
  @include theme-based-configurations($theme-red);
}

