/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";
// Siemens theme
$teal-primary: mat-palette($mat-teal);
$teal-accent: mat-palette($mat-indigo, 800, 200, 900);
$teal-warn: mat-palette($mat-red, 500);

$teal-theme-base: mat-light-theme($teal-primary, $teal-accent, $teal-warn);
$teal-theme: map-merge(
  $map1: $teal-theme-base,
  $map2: (
    foreground:
      map-merge(
        map-get($teal-theme-base, foreground),
        (
          text: #666666
        )
      )
  )
);

.teal-theme {
  @include angular-material-theme($teal-theme);
  @include theme-based-configurations($teal-theme);
}
