/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@mixin theme-based-configurations($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-lite-background {
    background-color: mat-color($primary, lighter);
  }

  .mat-primary-background {
    background-color: mat-color($primary);
  }

  .mat-accent-background {
    background-color: mat-color($accent);
  }

  .mat-primary-text {
    color: mat-color($primary);
  }

  .mat-accent-text {
    color: mat-color($accent);
  }

  .mat-primary-border {
    border: 1px solid mat-color($primary);
  }

  .mat-accent-border {
    border: 1px solid mat-color($accent);
  }
}
