/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~@angular/material/theming";

// Typography Settings
// font-size | line-height | font-weight
$smallTypography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px - 24px, 112px - 24px, 300),
  $display-3: mat-typography-level(56px - 16px, 56px - 16px, 300),
  $display-2: mat-typography-level(45px - 12px, 48px - 12px, 300),
  $display-1: mat-typography-level(34px - 6px, 40px - 8px, 300),
  $headline: mat-typography-level(24px - 4px, 32px - 6px, 300),
  $title: mat-typography-level(20px - 4px, 32px - 6px, 300),
  $subheading-2: mat-typography-level(16px - 2px, 28px - 4px, 300),
  $subheading-1: mat-typography-level(15px - 2px, 24px - 4px, 300),
  $body-2: mat-typography-level(14px - 2px, 24px - 4px, 600),
  $body-1: mat-typography-level(14px - 2px, 20px - 4px, 300),
  $caption: mat-typography-level(12px - 2px, 20px - 4px, 300),
  $button: mat-typography-level(14px - 2px, 14px - 2px, 300),
  // Line-height must be unit-less fraction of the font-size. $input: mat-typography-level(inherit, 1.125, 400)
);
$normalTypography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 300),
  $display-2: mat-typography-level(45px, 48px, 300),
  $display-1: mat-typography-level(34px, 40px, 300),
  $headline: mat-typography-level(24px, 32px, 300),
  $title: mat-typography-level(20px, 32px, 300),
  $subheading-2: mat-typography-level(16px, 28px, 300),
  $subheading-1: mat-typography-level(15px, 24px, 300),
  $body-2: mat-typography-level(14px, 24px, 600),
  $body-1: mat-typography-level(14px, 20px, 300),
  $caption: mat-typography-level(12px, 20px, 300),
  $button: mat-typography-level(14px, 14px, 300),
  // Line-height must be unit-less fraction of the font-size. $input: mat-typography-level(inherit, 1.125, 400)
);
$largeTypography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px + 24px, 112px + 24px, 400),
  $display-3: mat-typography-level(56px + 16px, 56px + 16px, 400),
  $display-2: mat-typography-level(45px + 12px, 48px + 12px, 400),
  $display-1: mat-typography-level(34px + 6px, 40px + 8px, 400),
  $headline: mat-typography-level(24px + 4px, 32px + 6px, 400),
  $title: mat-typography-level(20px + 4px, 32px + 6px, 400),
  $subheading-2: mat-typography-level(16px + 2px, 28px + 4px, 400),
  $subheading-1: mat-typography-level(15px + 2px, 24px + 4px, 400),
  $body-2: mat-typography-level(14px + 2px, 24px + 4px, 600),
  $body-1: mat-typography-level(14px + 2px, 20px + 4px, 400),
  $caption: mat-typography-level(12px + 2px, 20px + 4px, 400),
  $button: mat-typography-level(14px + 2px, 14px + 2px, 400),
  // Line-height must be unit-less fraction of the font-size. $input: mat-typography-level(inherit, 1.125, 400)
);

.typography-small {
  @include angular-material-typography($smallTypography);
}

.typography-normal {
  @include angular-material-typography($normalTypography);
}

.typography-large {
  @include angular-material-typography($largeTypography);
}
