/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "./theme-mixins";
// AIB theme

$mat-aib-violet: (
    50: #C42F9E,
    100: #E1BEE7,
    200: #C42F9E,
    300: #C42F9E,
    400: #C42F9E,
    500: #C42F9E,
    600: #C42F9E,
    700: #C42F9E,
    800: #C42F9E,
    900: #C42F9E,
    A100: #C42F9E,
    A200: #C42F9E,
    A400: #C42F9E,
    A700: #C42F9E,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$violet-primary: mat-palette($mat-aib-violet, 700, 100);
$violet-accent: mat-palette($mat-blue-grey, 400);
$violet-warn: mat-palette($mat-red, 500);

$theme-violet-base: mat-light-theme($violet-primary, $violet-accent, $violet-warn);
$theme-violet: map-merge(
  $map1: $theme-violet-base,
  $map2: (
    foreground:
      map-merge(
        map-get($theme-violet-base, foreground),
        (
          text: #666666
        )
      )
  )
);


.violet-theme {
  @include angular-material-theme($theme-violet);
  @include theme-based-configurations($theme-violet);
}

