<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="events-container">
  <mat-card class="event-card" *ngFor="let event of events">
    <div>
      <h3>{{ event.title }}</h3>
      <div class="mat-caption">{{ event.time | date }}</div>
    </div>
  </mat-card>
</div>
