/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/mixins";

.events-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: $size-xs 0;
  @include breakpoint-xs {
    padding: $size-xs;
  }
}

.event-card {
  width: 100%;
  padding: $size-s;
  margin: $size-xs 0;
  box-sizing: border-box;
  @include breakpoint-gt-xs {
    width: 48%;
  }
}
