/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import 'src/styles/vars';
@import "~src/styles/mixins";

.card-section {
  width: 30%;
  margin: $size-m;

  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 45%;
    margin: $size-s;
  }
}

.banner {
  background-position: right;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.text-white {
  color: white;
}

app-knowmore-card {
  margin-right: $size-l;
  margin-bottom: $size-xs;
}
