<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs" *ngIf="viewMode === 'level1'" i18n="page title: delivery partners">Delivery Partners</span>
  <span class="margin-left-xs" *ngIf="viewMode === 'level2'">{{ bannerText }}</span>
</mat-toolbar>
<div class="banner" [style.backgroundImage]="'url(' + banner.l + ')'">
  <div class="content-strip">
    <h1 class="mat-headline text-white" i18n>Navigator for Delivery Partners</h1>
    <p class="mat-subheading-2 text-white">
      <ng-container *ngIf="viewMode === 'level1'" i18n>Be an effective Delivery Partner</ng-container>
      <ng-container *ngIf="viewMode === 'level2'">{{ bannerDescription }}</ng-container>
    </p>
  </div>
</div>

<div class="flex flex-center flex-wrapped padding-s">
  <div class="card-section">
    <app-feature-card url="/catalog/1545659839381" i18n-name i18n-description name="TECHNICAL TRAININGS FOR DP" description="Learn the emerging and digital technologies and gain competitive advantage"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/industries" i18n-name i18n-description name="GET READY FOR YOUR INDUSTRY" description="Get up-to-date on industry verticals and related tech skills"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/catalog/1525338740987" i18n-name i18n-description name="BEHAVIORAL SKILLS" description="Learn essential behavioral skills"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/catalog/1525338740953" i18n-name i18n-description name="BUSINESS AND SALES SKILLS" description="Become an effective business leader"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/catalog/1551076504769" i18n-name i18n-description name="KNOW YOUR DP ACCOUNTS" description="Explore and know about strategic accounts"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/coming-soon" i18n-name i18n-description name="BEST PRACTICES SHARING" description="Account-based learning and sharing"></app-feature-card>
  </div>
</div>
