<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h2 *ngIf="totalEventCount === hubsSearchRequests.length && doneCount === 0" i18n class="mat-h2 text-center margin-top-m">Data
  for different hubs will appear here</h2>

<app-search-strip i18n-heading heading="Arizona" [searchRequest]="hubsSearchRequests[0]" (contentStatus)="handleNoContent($event, 'arizona')"></app-search-strip>
<app-search-strip i18n-heading heading="Connecticut" [searchRequest]="hubsSearchRequests[1]" (contentStatus)="handleNoContent($event, 'connecticut')"></app-search-strip>
<app-search-strip i18n-heading heading="Indiana" [searchRequest]="hubsSearchRequests[2]" (contentStatus)="handleNoContent($event, 'indiana')"></app-search-strip>
<app-search-strip i18n-heading heading="North Carolina" [searchRequest]="hubsSearchRequests[3]" (contentStatus)="handleNoContent($event, 'north-carolina')"></app-search-strip>
<app-search-strip i18n-heading heading="Rhode Island" [searchRequest]="hubsSearchRequests[4]" (contentStatus)="handleNoContent($event, 'rhode-island')"></app-search-strip>
<app-search-strip i18n-heading heading="Texas" [searchRequest]="hubsSearchRequests[5]" (contentStatus)="handleNoContent($event, 'texas')"></app-search-strip>
