<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<button mat-icon-button type="button" (click)="openBottomSheet()" *ngIf="isLtMedium$ | async">
  <mat-icon>unfold_more</mat-icon>
</button>
<ng-container *ngIf="!(isLtMedium$ | async)">
  <mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="'/viewer/' + contentId">
      <mat-icon class="padding-right-m">play_arrow</mat-icon>
      <span i18n>Start Playing</span>
    </a>
    <a mat-menu-item [routerLink]="'/toc/' + contentId">
      <mat-icon class="padding-right-m">toc</mat-icon>
      <span i18n>View TOC / Details</span>
    </a>
    <a *ngIf="tocSubFeatures.cohorts.enabled" mat-menu-item [routerLink]="'/toc/' + contentId + '/cohorts'">
      <mat-icon class="padding-right-m">people</mat-icon>
      <span i18n>Cohorts</span>
    </a>
    <a *ngIf="tocSubFeatures.courseAnalytics" mat-menu-item [routerLink]="'/toc/' + contentId + '/analytics'">
      <mat-icon class="padding-right-m">bar_chart</mat-icon>
      <span i18n>Analytics</span>
    </a>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</ng-container>