/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
.table-scroll {
    overflow: auto;
    padding: 10px;
}

.font-weight {
    font-weight: 800;
}

.executed-result .mat-header-cell {
    color: #1e6942;
    background-color: #c7ffb3;
}

.mat-row, .mat-header-row {
    height: 34px !important;
}

.mat-header-cell {
    font-weight: bold;
    background-color:#ddd;
    flex: 0 0 25% !important;
    min-width: 88px !important;
}

.mat-row:nth-child(even){
    background-color:#f9f9f9;
}
