/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/common';
@import '~src/styles/vars';

.courses-card{
  // background-color: white;
    width:47%; 
    margin: $size-m;
    height: 100% !important;
    padding:0px;

  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
    display: block;

  }

  @include breakpoint-sm {
    width: 80%;
    margin: $size-s;
    display: block;
  }
}


.donutGraph{
  @include breakpoint-xs {
    width: 50%;
    margin: $size-s;
    display: block;

  }

  @include breakpoint-sm {
    width: 55%;
    margin: $size-s;
    display: block;
  }
  @include breakpoint-gt-sm {
    width: 50%;
    margin: $size-s;
    display: block;
  }
}

.graph-card-header{
    // margin:-16px -16px 8px -16px;
    background-color: #5ba46e;
    padding:1%;
    color: white;
}
span:before {
  content: "";
  display: inline-block;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  margin-right: 2px;
}
.star{
    font-weight: 400;
    margin-right: 5px;
    font-size: 12px;
    &::before{
      background-color: rgb(179, 55, 113);
  }
}
.expert{
    font-weight: 400;
    margin-right: 5px;
    font-size: 12px;
    &::before{
      background-color: rgb(250, 130, 49);
  }
}
.novice{
    font-weight: 400;
    margin-right: 5px;
    font-size: 12px;
    &::before{
      background-color: rgb(247, 183, 49);
  }
}
.excellent{
  font-weight: 400;
  margin-right: 5px;
  font-size: 12px;
  &::before{
    background-color: rgb(106, 176, 76);
 }
}
