<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section  *ngIf="!loader2">
<div class="flex flex-wrapped flex-center">
    <mat-card class="courses-card">
      <mat-card-header class="graph-card-header flex flex-middle">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="topcourse title">Top Courses By my Unit</span>
      </mat-card-header>
      <div *ngIf="userprogressData.top_content_unit.length === 0" class="flex flex-wrapped flex-center" i18n="topcourses no content">
        No Data Available
      </div>
      <div *ngIf="userprogressData.top_content_unit.length > 0">
        <div class="flex">
          <span>
              <span class="star" i18n="nsopage percent">0-25%</span>
              <span class="expert" i18n="nsopage percent">25-50%</span>
              <span class="novice" i18n="nsopage percent">50-75%</span>
              <span class="excellent" i18n="nsopage percent">75-100%</span>
          </span>
      </div>
      <div class="flex">
      <app-donut-graph class="donutGraph" [showLegend]="false" [graphTitle]="topContentUnit[0]?.name" [graphData]="topContentUnit[0]?.data"></app-donut-graph>
        <app-donut-graph class="donutGraph" [showLegend]="false" [graphTitle]="topContentUnit[1]?.name" [graphData]="topContentUnit[1]?.data"></app-donut-graph>
      </div>
      <div class="flex">
          <app-donut-graph class="donutGraph" [showLegend]="false" [graphTitle]="topContentUnit[2]?.name" [graphData]="topContentUnit[2]?.data"></app-donut-graph>
        <app-donut-graph class="donutGraph" [showLegend]="false" [graphTitle]="topContentUnit[3]?.name" [graphData]="topContentUnit[3]?.data"></app-donut-graph>
      </div>
      </div>
      
    </mat-card>
    <mat-card class="courses-card">
        <mat-card-header class="graph-card-header flex flex-middle">
          <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
          <span class="padding-left-xs mat-body-1" i18n="topcourse title">Top Courses By my Peers</span>
        </mat-card-header>
        <div *ngIf="userprogressData.top_content_jl.length === 0" class="flex flex-wrapped flex-center" i18n="topcourses no content">
          No Data Available
        </div>
        <div *ngIf="userprogressData.top_content_jl.length > 0">
          <div class="flex">
            <span>
                <span class="star" i18n="nsopage percent">0-25%</span>
                <span class="expert" i18n="nsopage percent">25-50%</span>
                <span class="novice" i18n="nsopage percent">50-75%</span>
                <span class="excellent" i18n="nsopage percent">75-100%</span>
            </span>
        </div>
        <div class="flex ">
        <app-donut-graph class="donutGraph" [showLegend]="false" [graphTitle]="topContentJL[0]?.name" [graphData]="topContentJL[0]?.data"></app-donut-graph>
          <app-donut-graph class="donutGraph" [showLegend]="false" [graphTitle]="topContentJL[1]?.name" [graphData]="topContentJL[1]?.data"></app-donut-graph>
        </div>
        <div class="flex">
            <app-donut-graph  class="donutGraph" [showLegend]="false" [graphTitle]="topContentJL[2]?.name" [graphData]="topContentJL[2]?.data"></app-donut-graph>
          <app-donut-graph class="donutGraph" [showLegend]="false" [graphTitle]="topContentJL[3]?.name" [graphData]="topContentJL[3]?.data"></app-donut-graph>
        </div>
        </div>
        
      </mat-card>
  </div>
</section>
<ng-container *ngIf="loader2" class="margin-left-s margin-top-s">
  <app-spinner  [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'"
    [spinValue]="70" [spinColor]="'primary'" class="progress-circular-full">
  </app-spinner>
</ng-container>