<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<button
  mat-icon-button
  i18n-aria-label="Download Button"
  *wsHasPermission="['btnDownload']; condition: downloadable"
  aria-label="Download Content"
  i18n-matTooltip="Download Content Button Tooltip"
  (click)="download($event, downloadedMsg.value)"
>
  <mat-icon i18n-matTooltip matTooltip="Download" *ngIf="!isDownloaded">cloud_download</mat-icon>
  <mat-icon *ngIf="isDownloaded">offline_pin</mat-icon>
</button>

<input type="hidden" #downloadedMsg i18n-value value="Content downloaded" />
