<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div>
  <h3 class="mat-h3" i18n>Delete goal for particular users</h3>
  <mat-selection-list #deleteSelection (selectionChange)="
      selectionChanged(deleteSelection.selectedOptions.selected)
    ">
    <mat-list-option *ngFor="let user of sharedWithList" checkboxPosition="before" [value]="user">
      {{ user }}
    </mat-list-option>
  </mat-selection-list>
  <div *ngIf="goalDeleteInProgress" class="text-center">
    <app-spinner></app-spinner>
  </div>
  <div class="margin-bottom-xl" *ngIf="!goalDeleteInProgress">
    <!-- <button title="Cancel" mat-button class="uk-button uk-button-default" i18n>
      Cancel
    </button> -->
    <button i18n mat-raised-button color="primary" [disabled]="!deleteSelection?.selectedOptions?.selected?.length" (click)="deleteSharedGoal()"
      title="proceed " class="margin-left-m">
      Delete
    </button>
  </div>
</div>
