<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: concept graph" class="margin-left-xs">Concept Graph</span>
  <span class="occupy-space"></span>
  <button *ngIf="graphData.nodeDetails.fetching && screenSizeIsLtMedium" mat-button [matMenuTriggerFor]="conceptMenu">
    <span>{{ graphData.nodeDetails.fetchedFor }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #conceptMenu="matMenu">
    <button
      *ngIf="graphData.nodeDetails.program > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.proName)]"
      class="flex flex-between"
    >
      <span i18n="programs in concept graph">Programs</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.program }}</span>
    </button>
    <button
      *ngIf="graphData.nodeDetails.course > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.courseName)]"
      class="flex flex-between"
    >
      <span i18n="Courses in concept graph">Courses</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.course }}</span>
    </button>
    <button
      *ngIf="graphData.nodeDetails.module > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.moduleName)]"
      class="flex flex-between"
    >
      <span i18n="Modules in concept graph">Modules</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.module }}</span>
    </button>
    <button
      *ngIf="graphData.nodeDetails.resource > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.resourceName)]"
      class="flex flex-between"
    >
      <span i18n="Resources in concept graph">Resources</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.resource }}</span>
    </button>
  </mat-menu>

  <mat-expansion-panel
    class="expansion"
    *ngIf="graphData.nodeDetails.fetching && !screenSizeIsLtMedium"
    [expanded]="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ graphData.nodeDetails.fetchedFor }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button
      *ngIf="graphData.nodeDetails.program > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.proName)]"
      class="flex flex-between"
    >
      <span i18n="programs in concept graph">Programs</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.program }}</span>
    </button>
    <button
      *ngIf="graphData.nodeDetails.course > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.courseName)]"
      class="flex flex-between"
    >
      <span i18n="Courses in concept graph">Courses</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.course }}</span>
    </button>
    <button
      *ngIf="graphData.nodeDetails.module > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.moduleName)]"
      class="flex flex-between"
    >
      <span i18n="Modules in concept graph">Modules</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.module }}</span>
    </button>
    <button
      *ngIf="graphData.nodeDetails.resource > 0"
      mat-menu-item
      (click)="[backToSearch(searchTab.resourceName)]"
      class="flex flex-between"
    >
      <span i18n="Resources in concept graph">Resources</span>
      <span class="margin-left-s">{{ graphData.nodeDetails.resource }}</span>
    </button>
  </mat-expansion-panel>
</mat-toolbar>

<!-- Main SVG section -->
<div *ngIf="!graphData.noId" (window:resize)="onResize($event)">
  <svg id="conceptGraphV3"></svg>
</div>

<!-- main loader of page -->
<app-spinner *ngIf="graphData.loader && !graphData.noId"></app-spinner>

<!-- Error message when there is no data-->
<div *ngIf="graphData.noId" class="flex flex-middle flex-center margin-top-m">
  <mat-icon>warning</mat-icon>
  <h1 i18n="concept graph no data" class="mat-h1 margin-remove margin-left-xs">No data available</h1>
</div>
