/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";

.track-container {
  box-sizing: border-box;
  @extend %width-balancer;
}

.resourceProgress {
  width: 9%;
  padding: 0px;
}

.progress-card-wrapper {
  margin: 0px !important;
  padding: 5px 0px;
}

.progress-card-wrapper-exceeded {
  border-top: 1px solid #f9a9a9;
  margin: 0px !important;
  padding: 5px 0px;
}

.goal-title {
  font-size: 1.1rem;
  margin-bottom: 5px !important;
  font-weight: 500;
  line-height: 1.2;
}

.heading1 {
  padding: 5px 5px 5px 15px;
}

.course-name {
  font-size: 1rem !important;
  text-decoration: none;
  color: #666;
}

.goalProgressPercentage {
  font-size: 12px;
}

.resourceProgress {
  width: 9%;
  margin-left: 5px;
  text-align: center;
}

#js-progressbar {
  height: 4px;
  margin-top: 0px;
}

.uk-list {
  margin-bottom: 0 !important;
}

.edit {
  margin-bottom: 10px;
  padding: 0 7px;
}

.uk-button-default {
  line-height: 38px !important;
}

.progress-count-chart {
  // height: 128px;
}

table {
  width: 100%;
}

.float-right {
  float: right;
}
