<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/goals">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: goal tracking" class="margin-left-xs">Track Goal Progress</span>
</mat-toolbar>
<div class="track-container margin-bottom-xl">
  <section class="content-strip" *ngIf="goal">
    <mat-card>
      <h2 class="mat-title">{{ goal?.goal_title }}</h2>
      <p class="margin-remove-bottom">
        <ng-container i18n="goal completion target time">Target time for completion</ng-container>
        {{ goal?.goal_duration }}
        <ng-container i18n="number of days label">day(s)</ng-container>
      </p>
      <p>
        <ng-container i18n="number of people shared with">Shared with</ng-container> {{ totalCount }}
        <ng-container i18n="number of people label">people</ng-container>
      </p>
    </mat-card>
  </section>
  <div class="margin-m" *ngIf="fetchProgressCountInProgress">
    <app-spinner></app-spinner>
  </div>
  <section class="content-strip" *ngIf="goal?.status?.rejected">
    <h2 class="mat-title"><ng-container i18n>Rejected</ng-container> ({{ goal.status.rejected }})</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" *ngIf="dataSource && goal?.status?.rejected">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th i18n mat-header-cell *matHeaderCellDef class="padding-left-s padding-right-s">
          User
        </th>
        <td mat-cell *matCellDef="let element" class="padding-left-s padding-right-s">
          {{ element.shared_with | formatMail }}
        </td>
      </ng-container>

      <!-- Reason Column -->
      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef i18n>Reason for Rejection</th>
        <td mat-cell *matCellDef="let element">{{ element.status_message }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
    </table>

    <div class="margin-top-m flex">
      <span class="spacer"></span>
      <button *ngIf="!shareAPIProgress" mat-raised-button color="primary" i18n (click)="shareAgain()">
        Share Again
      </button>
      <app-spinner *ngIf="shareAPIProgress" spinSize="small" spinWidth="thin"></app-spinner>
    </div>
  </section>

  <section class="content-strip" *ngIf="goal?.status?.accepted">
    <h2 class="mat-h2"><ng-container i18n>Accepted</ng-container> ({{ goal.status.accepted }})</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let goal of progressData?.accepted">
        <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto" class="padding-top-s padding-bottom-s">
          <div class="flex flex-middle width-1-1">
            <app-progress-spinner [progress]="goal.goal_progress"></app-progress-spinner>

            <div class="margin-left-m margin-right-m width-expand">
              <h3 class="mat-h3 margin-remove-bottom text-truncate">
                <ng-container i18n>User: </ng-container>{{ goal?.shared_with | formatMail }}
              </h3>
              <p class="margin-remove-bottom text-truncate">
                <ng-container i18n>Due-In </ng-container>{{ goal.goal_end_date | daysRemaining }}
              </p>
            </div>
          </div>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let resource of goal?.resource_progress_tracker">
            <mat-progress-bar
              mode="determinate"
              [value]="resource.resource_progress * 100 | number"
              class="resourceProgress"
            ></mat-progress-bar>
            <h4 mat-line>
              <a [routerLink]="'/toc/' + resource.resource_id">{{ resource.resource_name }} </a>
            </h4>
            <p mat-line>
              {{
                resource.time_left / 60 / 60 < 1 ? "Less than an" : (resource.time_left / 60 / 60 | number: "1.0-0")
              }}
              <ng-container i18n="text hours remaining suffix"> hour</ng-container>
              <ng-container *ngIf="resource.time_left / 60 / 60 > 1.5" i18n>s</ng-container>
              <ng-container i18n> to go</ng-container>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <section class="content-strip" *ngIf="goal?.status?.pending">
    <h2 class="mat-h2"><ng-container i18n>Pending</ng-container> ({{ goal.status.pending }})</h2>
    <table
      mat-table
      [dataSource]="dataSourcePending"
      class="mat-elevation-z2"
      *ngIf="dataSourcePending && goal?.status?.pending"
    >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterTogglePending() : null"
            [checked]="selectionPending.hasValue() && isAllSelectedPending()"
            [indeterminate]="selectionPending.hasValue() && !isAllSelectedPending()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectionPending.toggle(row) : null"
            [checked]="selectionPending.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef i18n>User</th>
        <td mat-cell *matCellDef="let element">
          {{ element.shared_with | formatMail }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPending"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPending" (click)="selectionPending.toggle(row)"></tr>
    </table>

    <div class="margin-top-m flex">
      <span class="spacer"></span>
      <button *ngIf="!remindAPIProgress" mat-raised-button color="primary" i18n (click)="remindUsers()">
        Remind
      </button>
      <app-spinner *ngIf="remindAPIProgress" spinSize="small" spinWidth="thin"></app-spinner>
    </div>
  </section>
</div>

<input #errorOccurred type="hidden" i18n-value value="Some error occurred! Please try again" />

<input #selfShare type="hidden" i18n-value value="You cannot share a goal with yourself" />

<input #goalSharingSuccessful type="hidden" i18n-value value="Successfully shared goal with " />

<input #noPending type="hidden" i18n-value value="No pending request" />

<input #noAccepted type="hidden" i18n-value value="Nobody has accepted this goal" />

<input #noRejected type="hidden" i18n-value value="Nobody has rejected this goal" />

<input #noReminderSelected type="hidden" i18n-value value="Select at least one user to send a reminder" />

<input #noShareAgainSelected type="hidden" i18n-value value="Select at least one user to share again" />

<input #reminderMailSent type="hidden" i18n-value value="Reminder mail has been sent to " />
