<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="isSiemensAvailable">
  <div class="flex flex-wrapped flex-center" style="margin-left: 0.7%;">
    <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Mins'" [orgValue]="org_wide_avg_time_spent" [tileValue]="(time_spent_by_user / 60).toFixed(0)"></app-tile>
    <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Points'" [orgValue]="org_wide_avg_points_earned" [tileValue]="user_points_earned"></app-tile>
    <app-tile class="tiles-css" [showSecond]="false" [title]="'Badges'" [tileValue]="total_badges_earned"></app-tile>
  </div>
  <div class="flex flex-wrapped flex-center">
    <mat-card class="bubble-card">
      <mat-card-header class="graph-card-header flex flex-middle">
        <mat-icon class="feature-icon margin-remove-top">bubble_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning timespent">Time Spent by me - Track wise</span>
      </mat-card-header>
      {{ bubbleChartLabels }}
      <app-bubble-chart *ngIf="bubbleData.length > 0" [bubbleChartLabels]="bubbleChartLabels" [startDate]="startDate" [endDate]="endDate"
        [bubbleData]="bubbleData"></app-bubble-chart>
      <div *ngIf="bubbleData.length == 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <!-- <app-pie-chart></app-pie-chart> -->
    </mat-card>
  </div>
  <div class="flex flex-wrapped flex-center">
    <mat-card class="month-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">calendar_today</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">Avg # of mins on LEX - this calender year</span>
      </mat-card-header>

      <app-monthly-calender-graph *ngIf="isCalenderChart" [count]="count" [startDate]="startDate" [data]="calendarGraphData"></app-monthly-calender-graph>
    </mat-card>
    <mat-card class="month-card padding-bottom-l">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">Avg # mins across dimensions</span>
      </mat-card-header>
      <div *ngIf="radarData.length > 0">
        <app-radar-graph [radarChartLabels]="radarCategoryLabels" [chartData]="radarData"></app-radar-graph>
      </div>
    </mat-card>
    <!-- <mat-card class="pie-card">
        <mat-card-header class="graph-card-header">
          <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
          <span class="padding-left-xs" i18n="Assessment Details">My % Time spent by Category</span>
        </mat-card-header>
        <app-offset-pie-graph *ngIf="isPieChart" [pieChartData]="pieChartDataCategory"></app-offset-pie-graph>

      </mat-card> -->
  </div>
  <!-- <div class="flex flex-wrapped flex-center">
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">% Time spent by Me</span>
      </mat-card-header>
      <div *ngIf="pieChartData.length === 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <div *ngIf="pieChartData.length > 0 && isPieChart">
        <app-pie-chart
          [pieChartData]="pieChartData"
          [pieChartLabel]="pieChartLabel"
          [pieId]="'pieCategoryOne'"
        ></app-pie-chart>
      </div>
    </mat-card>
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">
          % Time spent by Infoscions</span
        >
      </mat-card-header>
      <div *ngIf="pieUnitData.length === 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <app-pie-chart
        *ngIf="pieUnitData.length > 0 && isPieChart"
        [pieChartData]="pieUnitData"
        [pieChartLabel]="pieUnitLabel"
        [pieId]="'pieInfoscions'"
      ></app-pie-chart>
    </mat-card>
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">% Time spent by my Peers</span>
      </mat-card-header>
      <div *ngIf="pieJlData.length === 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <app-pie-chart
        *ngIf="pieJlData.length > 0 && isPieChart"
        [pieChartData]="pieJlData"
        [pieChartLabel]="pieJlLabel"
        [pieId]="'pieJl'"
      ></app-pie-chart>
    </mat-card>
  </div> -->
  <!-- <div class="flex flex-wrapped flex-center" *ngIf="!screenSizeIsLtMedium">
      <mat-card class="year-card">
        <mat-card-header class="graph-card-header flex flex-middle">
          <mat-icon class="feature-icon margin-remove-top">calendar_today</mat-icon>
          <span class="padding-left-xs" i18n="Assessment Details">My Avg #of mins on LEX - this calender year</span>
        </mat-card-header>
        <app-calender-graph [calendarData]="calendarData"></app-calender-graph>
      </mat-card>
    </div> -->
</ng-container>
<ng-container *ngIf="!isSiemensAvailable">
  <div class="flex flex-wrapped flex-center" style="margin-left: 0.7%;">
    <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Mins'" [orgValue]="org_wide_avg_time_spent" [tileValue]="(time_spent_by_user / 60).toFixed(0)"></app-tile>
    <app-tile class="tiles-css" [showSecond]="true" [title]="'My Learning Points'" [orgValue]="org_wide_avg_points_earned" [tileValue]="user_points_earned"></app-tile>
    <app-tile class="tiles-css" [showSecond]="false" [title]="'Badges'" [tileValue]="total_badges_earned"></app-tile>
  </div>
  <div class="flex flex-wrapped flex-center">
    <mat-card class="bubble-card">
      <mat-card-header class="graph-card-header flex flex-middle">
        <mat-icon class="feature-icon margin-remove-top">bubble_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning timespent">Time Spent by me - Track wise</span>
      </mat-card-header>
      {{ bubbleChartLabels }}
      <app-bubble-chart *ngIf="bubbleData.length > 0" [bubbleChartLabels]="bubbleChartLabels" [startDate]="startDate" [endDate]="endDate"
        [bubbleData]="bubbleData"></app-bubble-chart>
      <div *ngIf="bubbleData.length == 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <!-- <app-pie-chart></app-pie-chart> -->
    </mat-card>
  </div>
  <div class="flex flex-wrapped flex-center">
    <mat-card class="month-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">calendar_today</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">Avg # of mins on LEX - this calender year</span>
      </mat-card-header>

      <app-monthly-calender-graph *ngIf="isCalenderChart" [count]="count" [startDate]="startDate" [data]="calendarGraphData"></app-monthly-calender-graph>
    </mat-card>
    <mat-card class="month-card padding-bottom-l">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">Avg # mins across dimensions</span>
      </mat-card-header>
      <div *ngIf="radarData.length > 0">
        <app-radar-graph [radarChartLabels]="radarCategoryLabels" [chartData]="radarData"></app-radar-graph>
      </div>
    </mat-card>
    <!-- <mat-card class="pie-card">
        <mat-card-header class="graph-card-header">
          <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
          <span class="padding-left-xs" i18n="Assessment Details">My % Time spent by Category</span>
        </mat-card-header>
        <app-offset-pie-graph *ngIf="isPieChart" [pieChartData]="pieChartDataCategory"></app-offset-pie-graph>

      </mat-card> -->
  </div>
  <div class="flex flex-wrapped flex-center">
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">% Time spent by Me</span>
      </mat-card-header>
      <div *ngIf="pieChartData.length === 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <div *ngIf="pieChartData.length > 0 && isPieChart">
        <app-pie-chart [pieChartData]="pieChartData" [pieChartLabel]="pieChartLabel" [pieId]="'pieCategoryOne'"></app-pie-chart>
      </div>

      <!-- <app-offset-pie-graph *ngIf="isPieChart" [pieChartData]="pieChartDataCategory"></app-offset-pie-graph> -->
    </mat-card>
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">
          % Time spent by Infoscions</span>
      </mat-card-header>
      <div *ngIf="pieUnitData.length === 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <!-- <app-offset-pie-graph *ngIf="isPieChart" [pieChartData]="pieChartDataUnit"></app-offset-pie-graph> -->
      <app-pie-chart *ngIf="pieUnitData.length > 0 && isPieChart" [pieChartData]="pieUnitData" [pieChartLabel]="pieUnitLabel" [pieId]="'pieInfoscions'"></app-pie-chart>
    </mat-card>
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header">
        <mat-icon class="feature-icon margin-remove-top">pie_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="mylearning average minutes spent">% Time spent by my Peers</span>
      </mat-card-header>
      <div *ngIf="pieJlData.length === 0" class="flex flex-wrapped flex-center" i18n="mylearning no content">
        No Data Available
      </div>
      <app-pie-chart *ngIf="pieJlData.length > 0 && isPieChart" [pieChartData]="pieJlData" [pieChartLabel]="pieJlLabel" [pieId]="'pieJl'"></app-pie-chart>

      <!-- <app-offset-pie-graph *ngIf="isPieChart" [pieChartData]="pieChartDataJL"></app-offset-pie-graph> -->
    </mat-card>
  </div>

</ng-container>
<ng-container *ngIf="!loader" class="margin-left-s margin-top-s">
  <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
    class="progress-circular-full">
  </app-spinner>
</ng-container>
