<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="interactionGroup?.length">
  <ng-container>
    <div class="flex flex-between">
      <button *ngIf="interactionGroupMeta?.canSkip" (click)="skipAll()" type="button" mat-raised-button i18n>
        Skip All
      </button>
      <button *ngIf="interactionGroup[currentQuestionIndex]?.canSkip" (click)="showNextQuestion()" type="button"
        mat-raised-button i18n>
        Skip This
      </button>
    </div>
    <h3 class="mat-h3 mat-accent mat-toolbar question" *ngIf="interactionGroup[currentQuestionIndex].question">
      <span>Q{{currentQuestionIndex + 1}} of {{interactionGroup?.length}}. </span>
      {{ interactionGroup[currentQuestionIndex].question }}
    </h3>
    <mat-divider></mat-divider>
    <div class="flex flex-between flex-wrapped margin-top-m">
      <div matRipple role="button" *ngFor="let option of interactionGroup[currentQuestionIndex].options; let i= index"
        (click)="selectOption(i)" class="option-text mat-toolbar" [ngClass]="{'mat-primary': checkIfSelected(i), 'correct': ((checkIfCorrect(i) && checkIfSelected(i) && interactionGroup[currentQuestionIndex].isSubmitted) || (interactionGroup[currentQuestionIndex].isSubmitted && interactionGroup[currentQuestionIndex].options[i].isCorrect)), 'wrong': (!checkIfCorrect(i) && checkIfSelected(i) && interactionGroup[currentQuestionIndex].isSubmitted)}">{{
        option.text }}</div>
    </div>
  </ng-container>
  <div class="flex flex-between margin-top-m">
    <div class="mat-accent mat-toolbar">
      <button *ngIf="currentQuestionIndex > 0 && currentQuestionIndex < interactionGroup?.length" (click)="showPrevQuestion()"
        type="button" mat-raised-button i18n>
        Prev
      </button>
    </div>
    <div class="mat-accent mat-toolbar">
      <button type="button" *ngIf="!interactionGroup[currentQuestionIndex].isSubmitted" [disabled]="!interactionResponse[currentQuestionIndex].length"
        (click)="submitInteraction()" mat-raised-button [color]="'primary'" i18n>Submit</button>
      <button type="button" *ngIf="currentQuestionIndex === (interactionGroup.length - 1) && interactionGroup[currentQuestionIndex].isSubmitted"
        (click)="interactionDone()" mat-raised-button [color]="'primary'" i18n>Done</button>
    </div>
    <div class="mat-accent mat-toolbar">
      <button [disabled]="!interactionGroup[currentQuestionIndex]?.canSkip && !interactionGroup[currentQuestionIndex].isSubmitted"
        *ngIf="currentQuestionIndex < (interactionGroup?.length - 1) && interactionGroup?.length > 1" (click)="showNextQuestion()"
        type="button" mat-raised-button i18n>
        Next
      </button>
    </div>
  </div>
</div>
