<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams" [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n class="margin-left-xs">Infosys Knowledge Institute</span>
</mat-toolbar>

<app-carousel [banners]="banners" [showNavigation]="false">
  <ng-template let-banner>
    <a (click)="navigateBanner(banner)" *ngIf="banner.title" class="text-truncate">
      {{ banner.title }}
    </a>
  </ng-template>
</app-carousel>

<mat-tab-group mat-align-tabs="center" (selectedTabChange)="navigate($event)" [selectedIndex]="selectedIndex" dynamicHeight="true">
  <mat-tab label="About Us" i18n-label>
    <ng-template matTabContent>
      <div class="about-us">
        <div class="margin-bottom-s" i18n>
          The Infosys Knowledge Institute (IKI) helps industry leaders develop a deeper understanding of business and technology trends
          through compelling thought leadership. Our researchers and subject matter experts provide a fact base that aids
          decision making on critical business and technology issues.
        </div>
        <div class="margin-bottom-s" i18n>
          The Infosys Knowledge Institute was established in 2018 to develop a deeper understanding of business and technology, and
          how their relationship can create shareholder value. The Knowledge Institute develops insights through primary
          and secondary research and shares publicly through reports, management journals, articles, and other audio and
          video media – showcasing our points of view, leading practices, and analysis on industry and technology shifts
          and trends.
        </div>
        <div class="margin-bottom-s" i18n>
          The Knowledge Institute research utilizes industry, functional, and technology expertise, combined with the insight of business
          leaders. Current research focuses on five strategic themes: employee experience and learning, impact of AI and
          automation, Agile enterprises, design as a multi-faceted discipline, and the role of physical location in the future
          of work. The Knowledge Institute also publishes regularly on industry, function, and technology trends. Recent
          papers have included connected technology for the automotive aftermarket, impact of AI and automation on insurance,
          change management in transformations, and the potential of data-centric enterprises.
        </div>
        <div class="margin-bottom-s" i18n>
          Our offices are located in Dallas, Bangalore, and London, and supported by a global team.
        </div>
        <div class="margin-bottom-s">
          <div class="mat-body-strong" i18n>Leadership</div>
          <p i18n>
            The Infosys Knowledge Institute is led by Jeff Kavanaugh, based in the Dallas office. Together with other senior Infosys
            leaders, he advises research teams and sets the Knowledge Institute’s editorial agenda, with input from our industry
            and domain councils, as well as our academic advisors.
          </p>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <!-- dummy changes for push -->
  <mat-tab label="{{ tab.title }}" *ngFor="let tab of ikiTabs">
    <ng-template matTabContent>
      <ng-container *ngFor="let strip of tab.strips">
        <app-search-strip [heading]="strip.title" [searchRequest]="strip.searchQuery" (contentStatus)="handleNoContent($event, tab.urlKey)">
        </app-search-strip>
        <h2 *ngIf="dataUnavailableCountHash[tab.urlKey] === tab.strips.length" i18n class="margin-top-m">
          Currently, we don't have any data available under this section.
        </h2>
      </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>