/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/vars";

$discussion-bg-lite-color: #f1f1f1;
$discussion-border-color: #dcdcdc;

.discussion {
  margin-top: $size-s;
  margin-bottom: $size-l;
  .discussion-header {
    padding: $size-s;
    // background: $discussion-bg-lite-color;
    .question-container {
      display: flex;
      justify-content: space-between;
      app-user-image {
        $size: 48px;
        font-size: $size;
        width: $size;
        height: $size;
        margin-right: $size-m;
      }
      .editor {
        min-height: 50px;
        padding: $size-s;
        padding-bottom: $size-l;
      }
    }
  }

  .discussion-body {
    margin-top: $size-m;
    .no-conversation {
      background: $discussion-bg-lite-color;
      padding: $size-s;
      text-align: center;
    }
  }
}
