<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h1 mat-dialog-title i18n>Logout</h1>
<div mat-dialog-content i18n>
  Are you sure to logout
</div>
<div mat-dialog-actions class="flex-row-reverse">
  <button mat-button [mat-dialog-close]="true" i18n>Logout Now</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial i18n>Cancel</button>
</div>
