<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<article class="home-bubble-wrapper">
  <div class="text-center note-text">
    <span>Submit your knowledge artifacts </span
    ><a href="http://IP-ADDR:3006/editor/kArtifacts" target="_blank" style="color:cadetblue;">Here</a>
  </div>
  <section class="container-for-land">
    <div class="path-wrapper">
      <img id="path" src="{{ banner.bannerImg }}" />
    </div>
    <!-- division showing the position of bubbles -->
    <div
      *ngFor="let item of (iconData | keys)"
      class="icon-wrapper"
      id="{{ item.value.id }}"
      (mouseenter)="[showModalHover(item.key, item.value.countText)]"
      (mouseleave)="[hideModal()]"
      (click)="[showModal(item.key, item.value.id, show1)]"
      [ngStyle]="{
        opacity: item.value.opacity,
        cursor: item.value.name === 'Marketing' ? 'pointer' : 'pointer'
      }"
      [matTooltip]="item.value.name === 'Marketing' ? 'Marketing' : item.value.text"
    >
      <div class="icon-image-wrapper" [ngClass]="{ 'grow-out': item.value.grow == true }">
        <img
          [ngStyle]="{
            opacity: item.value.opacity,
            cursor: item.value.name === 'Marketing' ? 'pointer' : 'pointer',
            filter: item.value.name === 'Marketing' ? 'grayscale(0%)' : 'grayscale(0%)'
          }"
          src="{{ item.value.icon }}"
        />
        <div class="overlay"></div>
      </div>
      <mat-card class="icon-info-wrapper">
        <div class="icon-text-wrapper" id="{{ item.value.id + 'textWrapper' }}">
          <table
            [ngStyle]="{
              opacity: item.value.opacity,
              cursor: item.value.name === 'Sales' ? 'not-allowed' : 'pointer'
            }"
          >
            <tr>
              <td *ngIf="!show">
                <img src="{{ banner.loaderGif }}" />
              </td>
              <td *ngIf="show" style="font-size: 18px;padding-right: 5px;">
                {{ item.value.countText }}
              </td>
              <td>{{ item.value.text }}</td>
            </tr>
          </table>
        </div>
        <div class="overlay"></div>
      </mat-card>
    </div>
  </section>
  <div class="note-text" style="position: absolute;top: 70%;" [matTooltip]="'This detail is currently available only on Infosys Network'">
    <span>Visit KShop classic </span
    ><a href="http://iscls4apps/MyKshop/ASPX/MyKshopAllHomePage.aspx" target="_blank" style="color:cadetblue;">Here</a>
  </div>

  <div id="translucent-black" (click)="hideBubble()">
    <div class="items-modal" *ngIf="showModelTile">
      <div id="{{ selected.toLowerCase() }}modal" class="flex flex-wrapped cards-modal">
        <div class="tile-modal-wrapper grow " *ngFor="let tiles of (iconData[selected].data | slice: 0:2)">
          <app-item-tile [show]="show" [data]="tiles"></app-item-tile>
        </div>
        <div class="view-more-wrapper">
          <button mat-raised-button (click)="scrollToElement()" color="primary" i18n="Khub View More tiles">
            View More
          </button>
        </div>
      </div>
    </div>
  </div>
</article>
