/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";
@import "~src/styles/mixins";
.home-bubble-wrapper {
  position: relative;
  margin-top: 150px;
  width: 95%;
  // @media  (max-width:600px){    }
  min-height: 550px;
  margin: 20px 2.5% 0px 2.5%;
  .container-for-land {
    position: relative;
  }
  .note-text {
    font-size: 18px;
    margin-top: -5px;
  }
  .path-wrapper {
    background-repeat: no-repeat;
    height: 95%;
    margin: auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    #path {
      height: 460px;
      width: 90%;
      margin: 0px 5% 0px 5%;
    }
  }
  .icon-wrapper {
    cursor: default;
    position: absolute;
    .icon-image-wrapper {
      border-radius: 50%;
      // box-shadow: 0px 0px 0px 0px $color-dark-gray;
      display: inline-block;
      img {
        height: 130px;
        width: 130px;
        &:hover {
          cursor: pointer;
        }
      }
      .overlay {
        position: absolute;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        background-color: black;
        top: 0;
        left: 0;
        opacity: 0.3;
        visibility: hidden;
      }
      &.grow-out {
        // position: relative;
        transform: scale(1.05, 1.05);
      }
    }
    .icon-info-wrapper {
      display: inline-block;
      position: relative;
      top: -40px;
      margin-left: 5px;
      padding: 0px;
      &:hover {
        cursor: pointer;
      }
      .icon-number-wrapper,
      .icon-text-wrapper {
        // border-radius: 5px 5px 5px 5px;
        // box-shadow: 1px 2px 3px 1px $color-dark-gray;
        // display: inline-block;
        img {
          width: 29px;
          height: 29px;
        }
        .widget-text {
          padding-left: 8px;
        }
      }
      .icon-number-wrapper {
        @include font-size(25px);
        //border-right-
        padding: 0px 0px 0px 9px;
        position: relative;
        min-width: 30px;
        height: 30px;
        &:before {
          content: "";
          border-radius: 0px 0px 0px 10px;
          height: 45px;
          left: 0;
          min-width: 4px;
          position: absolute;
          top: 0;
        }
        &:after {
          content: "";
          background-color: $color-background-gray;
          height: 45px;
          left: 49px;
          min-width: 2px;
          position: absolute;
          top: 0;
        }
        .no-text {
          color: transparent;
        }
      }
      .no-text {
        color: transparent;
      }
      .icon-text-wrapper {
        padding-right: 10px;
        position: relative;
        padding-left: 10px;
        height: 30px;
        vertical-align: middle;
        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: inherit;
          background-color: blue;
          left: 0px;
          border-radius: 5px 0px 0px 5px;
        }
        table {
          vertical-align: middle;
          height: inherit;
        }
      }
    }
  }
  #project-icon-wrapper {
    top: 2px;
    left: 90px;
    .icon-text-wrapper {
      &:before {
        background-color: $color-cdg-project;
      }
    }
  }
  #kshop-icon-wrapper {
    // top: 150px;
    // left: 1000px;
    top: 0;
    left: 840px;
    @media (min-width: 900px) and (max-width: 1100px) {
      top: 0;
      left: 720px;
    }
    .icon-text-wrapper {
      &:before {
        background-color: $color-cdg-document;
      }
    }
  }
  #automationcentral-icon-wrapper {
    top: 330px;
    left: 770px;
    .icon-text-wrapper {
      &:before {
        background-color: $color-cdg-tool;
      }
    }
  }
  #learning-icon-wrapper {
    top: 230px;
    left: 160px;
    .icon-text-wrapper {
      &:before {
        background-color: $color-cdg-learning;
      }
    }
  }
  #video-icon-wrapper {
    top: 6px;
    left: 785px;
    .icon-text-wrapper {
      &:before {
        background-color: $color-primary-purple;
      }
    }
  }
  #technology-icon-wrapper {
    top: 370px;
    left: 360px;
    .icon-text-wrapper {
      &:before {
        background-color: $color-cdg-innovation;
      }
    }
  }
  #sales-icon-wrapper {
    top: 110px;
    left: 540px;
    @media (min-width: 900px) and (max-width: 1100px) {
      top: 110px;
      left: 400px;
    }
    .icon-text-wrapper {
      &:before {
        background-color: $color-cdg-Sales;
      }
    }
  }

  #translucent-black {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;

    .items-modal {
      position: relative;

      // Modal style for non-leaders
      .cards-modal {
        position: absolute;

        .tile-modal-wrapper {
          display: inline-block;
          padding: 0px 5px 0px 5px;

          .itemtile-wrapper {
            box-shadow: 0px 0px 0px 0px !important;
          }
        }
      }

      // Modal styles for leaders
      .leader-cards-modal {
        position: absolute;
        z-index: 400;
        .leader-tile-container {
          // padding: 0px 5px 0px 5px;
          padding-bottom: 6px;

          .itemtile-wrapper {
            box-shadow: 0px 0px 0px 0px !important;
          }
        }
      }

      // Modal locations for non-leaders
      #projectmodal {
        // top: 245px;
        // left: 273px;
        top: 210px;
        left: 170px;
      }
      #kshopmodal {
        // top: 655px;
        // left: 443px;
        top: 250px;
        left: 690px;
      }
      #automationcentralmodal {
        // top: 370px;
        // left: 705px;
        top: 220px;
        left: 650px;
      }
      #innovationsmodal {
        // top: 295px;
        // left: 700px;

        top: 510px;
        left: 720px;
      }
      #videomodal {
        // top: 555px;
        // left: 666px;
        top: 290px;
        left: 720px;
      }
      #learningsmodal {
        // top: 515px;
        // left: 385px;
        top: 480px;
        left: 360px;
      }
      #salesmodal {
        top: 220px;
        left: 600px;
      }

      .project-circle {
        background-color: #e94a48;
      }
      .software-circle {
        background-color: #2faeb8;
      }
      .innovation-circle {
        background-color: #80aa40;
      }
    }
    .view-more-wrapper {
      text-align: right;
      margin-left: 1%;
      margin-top: 10px;
    }
    .icon-wrapper {
      transform: scale(1.04);
    }
  }
}
