<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-top-m flex-around flex flex-wrapped ">
  <app-tile class="tile" [titleFirstSubHeading]="'Goals'" [firstValue]="clientData.user_goal" [secondValue]="clientData.user_shared_goal"
    [titleSecondSubHeading]="'Goals shared'"></app-tile>
  <app-tile class="tile" [titleFirstSubHeading]="'Playlists'" [firstValue]="clientData.user_playlist" [secondValue]="clientData.user_shared_playlist"
    [titleSecondSubHeading]="'Playlists shared'"></app-tile>
  <!-- <app-tile class="tile" [titleFirstSubHeading]="'Goals shared'" [firstValue]="clientData.user_shared_goal"></app-tile> -->
</div>
<div class="margin-xl">
  <table mat-table [dataSource]="goalDetails" class="mat-elevation-z8">
    <ng-container matColumnDef="goals">
      <th mat-header-cell *matHeaderCellDef>Goals</th>
      <td mat-cell *matCellDef="let element" class="cursor-pointer" color="primary" (mouseover)="getType('content_name')" (click)="filterCourse(element.title)">
        <a>{{ element.goals }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="users">
      <th mat-header-cell *matHeaderCellDef class="text-center" i18n="user count"># Users</th>
      <td mat-cell *matCellDef="let element" class="text-center">{{ element.users }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>
