<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="text-center padding-top-l">
  <h1 *ngIf="!isLeadershipTabAvailable"> Browse Channel Sites </h1>
  <div *ngIf="channels && channels.length" class="margin-top-xl text-center flex flex-wrapped flex-around">
    <ng-container *ngFor="let channel of channels">
      <a *ngIf="channel.isAvailable" class="margin-m" [routerLink]="channel.routerLink">
        <mat-card class="card cursor-pointer">
          <mat-icon class="icon">{{channel.icon}}</mat-icon>
          <h2 class="mat-h2 font-weight-bold margin-top-l" *ngIf="channel.title"> {{channel.title}} </h2>
          <div *ngIf="channel.desc" class="margin-top-l"> {{channel.desc}} </div>
        </mat-card>
      </a>
    </ng-container>
  </div>
</section>