<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<app-spinner *ngIf="fetchPlaylistDiffStatus === 'fetching'"></app-spinner>
<h2 class="mat-title" i18n *ngIf="fetchPlaylistDiffStatus === 'error'">
  Unable to fetch data
</h2>
<h2 *ngIf="syncInformation && !syncInformation.isSame" class="mat-title">
  <ng-container i18n="dialog heading sync playlist">Sync your playlist</ng-container>
  - {{ playlist.playlist_title }}
</h2>
<h2 *ngIf="syncInformation && syncInformation.isSame" class="mat-title" i18n>
  Your playlist is already up to date
</h2>
<div *ngIf="syncInformation && !syncInformation.isSame" class="sync-dialog-body">
  <mat-list class="margin-bottom-m">
    <h3 matSubheader i18n="sync dialog section 0 heading" *ngIf="toBeRemoved?.length">
      Will be removed
    </h3>
    <mat-selection-list #remove>
      <mat-list-option *ngFor="let item of toBeRemoved" selected="true" [value]="item">
        {{ item.resource_name }}
      </mat-list-option>
    </mat-selection-list>
    <mat-divider *ngIf="toBeRemoved?.length && toBeAdded?.length"></mat-divider>
    <h3 matSubheader i18n="sync dialog section 1 heading" *ngIf="toBeAdded?.length">
      Will be added
    </h3>
    <mat-selection-list #add>
      <mat-list-option *ngFor="let item of toBeAdded" selected="true" [value]="item">
        {{ item.resource_name }}
      </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
  </mat-list>
  <div class="flex margin-top-m">
    <span class="spacer"></span>
    <button mat-raised-button color="primary" *ngIf="syncStatus !== 'fetching'" [disabled]="!remove?.selectedOptions?.selected?.length && !add?.selectedOptions?.selected?.length"
      (click)="
        syncPlaylist(
          remove?.selectedOptions?.selected,
          add?.selectedOptions?.selected
        )
      " i18n="button sync playlist">
      Sync
    </button>
    <app-spinner spinSize="small" spinWidth="thin" *ngIf="syncStatus === 'fetching'"></app-spinner>
  </div>
  <mat-error class="margin-top-m" *ngIf="syncStatus === 'error'" i18n>Error syncing playlist</mat-error>
</div>
