<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<button mat-icon-button (click)="onBtnWatchClick()" *ngIf="!existsInWatchlist" aria-label="Add to Watchlist"
  i18n-aria-label="add to watchlist" matTooltip="Add to Watchlist" i18n-matTooltip="add to watchlist">
  <mat-icon>bookmark_border</mat-icon>
</button>
<button mat-icon-button (click)="onBtnWatchClick()" *ngIf="existsInWatchlist" aria-label="Remove from Watchlist"
  i18n-aria-label="remove from watchlist" matTooltip="Remove from Watchlist" i18n-matTooltip="remove from watchlist">
  <mat-icon>bookmark</mat-icon>
</button>

<!-- Templates -->

<!-- Success Snackbar -->
<ng-template #success>
  <div class="mat-body text-center">
    <ng-container *ngIf="existsInWatchlist; else successRemove" i18n="added to watchlist">Added to your watchlist!
    </ng-container>
    <ng-template #successRemove i18n="removed from watchlist">Removed from your watchlist!</ng-template>
  </div>
</ng-template>

<!-- Error Snackbar -->
<ng-template #error>
  <div class="mat-body">
    <ng-container *ngIf="existsInWatchlist; else errorAdding" i18n="error removing from watchlist">There was an error
      while removing this course from your watchlist.
    </ng-container>
    <ng-template #errorAdding i18n="error adding to watchlist">There was an error while adding this course to your
      watchlist.</ng-template>
  </div>
</ng-template>
