<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/my-skills'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title:Endorsement" class="margin-left-xs">Endorsement</span>
  <span class="spacer"></span>
  <a *ngIf="!project" mat-icon-button (click)="noProject()">
    <mat-icon>close</mat-icon>
  </a>
</mat-toolbar>

<ng-container *ngIf="loader" class="margin-left-s margin-top-xl padding-top-xl">
  <app-spinner
    [spinMode]="'indeterminate'"
    [spinSize]="'large'"
    [spinWidth]="'thin'"
    [spinValue]="70"
    [spinColor]="'primary'"
    class="progress-circular-full"
  >
  </app-spinner>
</ng-container>
<ng-container *ngIf="isSiemensInstance">
  <p class="mat-small margin-right-m text-right" i18n>For illustrative purposes only</p>
  <div *ngIf="!loader && !project" class="roles-container flex flex-center flex-wrapped margin-top-xl">
    <mat-card class="flex flex-center flex-wrapped project-card">
      <h3 i18n>Create Endorsement Request</h3>
      <form class="margin-left-xl" [formGroup]="requestForm" (ngSubmit)="createRequest(requestForm)">
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <input
              type="text"
              name="skill"
              [(ngModel)]="skill"
              placeholder="Skill"
              aria-label="Skill"
              matInput
              (ngModelChange)="onAutoCompleteFieldChange($event, 'skill')"
              formControlName="skill"
              [matAutocomplete]="auto"
              ngModel
              required
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySkill">
              <mat-option *ngFor="let s of skill_list" [value]="s">
                {{ s?.skill_name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ng-container>
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <input
              type="text"
              name="approver_email_id"
              [(ngModel)]="approver_email_id"
              placeholder="Approver's email id"
              aria-label="approver"
              matInput
              (ngModelChange)="onAutoCompleteFieldChange($event, 'employee')"
              formControlName="approver_email_id"
              [matAutocomplete]="approverEmail"
              ngModel
              required
            />
            <mat-autocomplete #approverEmail="matAutocomplete" [displayWith]="displayApproverEmail">
              <mat-option *ngFor="let s of approver_email_id_list" [value]="s">
                {{ s?.emailId }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ng-container>
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <mat-label i18n>Select a skill level</mat-label>
            <mat-select name="level" formControlName="level" [(value)]="selected">
              <mat-option value="Basic" i18n>Basic</mat-option>
              <mat-option value="Advanced" i18n>Advanced</mat-option>
              <mat-option value="Expert" i18n>Expert</mat-option>
            </mat-select>
            <!-- <input type="text" name="project_code" [(ngModel)]="project_code" placeholder="Project code" aria-label="Project" matInput
              (ngModelChange)="onAutoCompleteFieldChange($event, 'employee')" formControlName="project_code" [matAutocomplete]="projectCode"
              ngModel required />
            <mat-autocomplete #projectCode="matAutocomplete" [displayWith]="displayProjectCode">
              <mat-option *ngFor="let option of project_code_list" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete> -->
          </mat-form-field>
        </ng-container>
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <textarea
              matInput
              name="description"
              [(ngModel)]="description"
              placeholder="Add a Description"
              formControlName="description"
              ngModel
              required
            ></textarea>
          </mat-form-field>
        </ng-container>
        <ng-container>
          <div class="flex flex-center flex-wrapped">
            <button mat-raised-button color="primary" type="submit" i18n="button to create project endorsement request">
              Create Request
            </button>
          </div>
        </ng-container>
      </form>
    </mat-card>
  </div>
</ng-container>
<ng-container *ngIf="!isSiemensInstance">
  <div *ngIf="!loader && !project" class="roles-container flex flex-center flex-wrapped margin-top-xl">
    <mat-card class="flex flex-center flex-wrapped project-card">
      <h3 i18n>Create Endorsement Request</h3>
      <form class="margin-left-xl" [formGroup]="requestForm" (ngSubmit)="createRequest(requestForm)">
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <input
              type="text"
              name="skill"
              [(ngModel)]="skill"
              placeholder="Skill"
              aria-label="Skill"
              matInput
              (ngModelChange)="onAutoCompleteFieldChange($event, 'skill')"
              formControlName="skill"
              [matAutocomplete]="auto"
              ngModel
              required
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySkill">
              <mat-option *ngFor="let s of skill_list" [value]="s">
                {{ s?.skill_name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ng-container>
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <input
              type="text"
              name="approver_email_id"
              [(ngModel)]="approver_email_id"
              placeholder="Approver's email id"
              aria-label="approver"
              matInput
              (ngModelChange)="onAutoCompleteFieldChange($event, 'employee')"
              formControlName="approver_email_id"
              [matAutocomplete]="approverEmail"
              ngModel
              required
            />
            <mat-autocomplete #approverEmail="matAutocomplete" [displayWith]="displayApproverEmail">
              <mat-option *ngFor="let s of approver_email_id_list" [value]="s">
                {{ s?.emailId }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ng-container>
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <input
              type="text"
              name="project_code"
              [(ngModel)]="project_code"
              placeholder="Project code"
              aria-label="Project"
              matInput
              (ngModelChange)="onAutoCompleteFieldChange($event, 'employee')"
              formControlName="project_code"
              [matAutocomplete]="projectCode"
              ngModel
              required
            />
            <mat-autocomplete #projectCode="matAutocomplete" [displayWith]="displayProjectCode">
              <mat-option *ngFor="let option of project_code_list" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ng-container>
        <ng-container class="flex flex-center flex-wrapped">
          <mat-form-field class="text-width">
            <textarea
              matInput
              name="description"
              [(ngModel)]="description"
              placeholder="Add a Description"
              formControlName="description"
              ngModel
              required
            ></textarea>
          </mat-form-field>
        </ng-container>
        <ng-container>
          <div class="flex flex-center flex-wrapped">
            <button mat-raised-button color="primary" type="submit" i18n="button to create project endorsement request">
              Create Request
            </button>
          </div>
        </ng-container>
      </form>
    </mat-card>
  </div>
  <div *ngIf="!loader && project">
    <div class="margin-top-xl margin-right-m text-right cursor-pointer">
      <button
        color="primary"
        mat-raised-button
        i18n-matTooltip="Goals Action Btn Tooltip"
        matTooltip="Create endorsement"
        (click)="onCreate()"
        color="primary"
        accesskey="+"
        i18n
      >
        <mat-icon>add</mat-icon>
        CREATE
      </button>
    </div>
    <div class="flex flex-center flex-wrapped margin-top-xl">
      <h2 class="flex flex-center flex-wrapped" i18n>
        You have no project endorsements
      </h2>
    </div>
  </div>
</ng-container>

<!-- <div *ngIf="ref">
  {{ project }}
  <div class="margin-top-xl margin-right-m text-right cursor-pointer">
    <button
      color="primary"
      mat-raised-button
      i18n-matTooltip="Goals Action Btn Tooltip"
      matTooltip="Create Endorsement Request"
      (click)="onCreate()"
      color="primary"
      accesskey="+"
    >
      <mat-icon>add</mat-icon>
      CREATE
    </button>
  </div>
  <div class="flex flex-center flex-wrapped margin-top-xl">
    <mat-card>
      <h4 class="flex flex-center flex-wrapped">
        You have no Project Endorsements
      </h4>
    </mat-card>
  </div>
</div> -->
