/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/vars";

.main-post-user-image {
  display: inline-block;
  $size: 48px;
  width: $size;
  height: $size;
  font-size: $size;
}

.write-reply-container {
  display: flex;
  align-items: stretch;
  padding: $size-s;
  margin-top: $size-xs / 2;
  .write-reply-user-image {
    display: inline-block;
    $size: 36px;
    width: $size;
    height: $size;
    font-size: $size;
  }
  .write-reply-placeholder {
    display: flex;
    align-items: center;
    height: 100%;
    background: white;
    padding-left: $size-s;
    cursor: pointer;
  }
  .write-reply-editor {
    display: block;
    padding: $size-s;
    padding-bottom: 0;
  }
}

.background-white {
  background: white;
}
