<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-card class="margin-bottom-s">
  <div class="flex flex-middle">
    <app-user-image class="main-post-user-image" [email]="post.postCreator.emailId"></app-user-image>
    <div class="padding-left-s width-expand flex flex-between">
      <div>
        <span class="mat-primary-text">{{ post.postCreator.name }}</span>
        <div class="mat-caption">
          {{ post?.dtLastModified | date }}
          <ng-container i18n> at </ng-container>
          <ng-container>{{ post?.dtLastModified | date: "shortTime" }}</ng-container>
        </div>
      </div>
      <button
        type="button"
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        *ngIf="userId === post.postCreator.postCreatorId"
      >
        <mat-icon>more_vertical</mat-icon>
      </button>
    </div>
  </div>
  <div
    class="margin-top-s"
    *ngIf="!editMode && post.postContent.title.length"
    [innerHTML]="post.postContent.title"
  ></div>
  <div *ngIf="editMode" class="margin-top-s padding-s mat-primary-border">
    <app-editor-quill [minLength]="'10'" [htmlText]="post.postContent.title" (textData)="onTextChange($event)">
    </app-editor-quill>
    <div class="text-right">
      <button
        type="button"
        class="margin-top-s"
        [disabled]="!postPublishEnabled"
        mat-raised-button
        color="primary"
        i18n
        (click)="editPost(editFailMsg.value)"
      >
        Update
      </button>
      <button
        type="button"
        class="margin-top-s margin-left-s"
        mat-stroked-button
        color="primary"
        i18n
        (click)="editMode = false"
      >
        Cancel
      </button>
    </div>
  </div>
  <span class="flex flex-between" *ngIf="post.activity && post.status === 'Active'">
    <span>
      <app-btn-vote
        [postId]="post.id"
        [activity]="post.activity"
        [voteType]="'upVote'"
        [postCreatorId]="post?.postCreator?.postCreatorId"
      ></app-btn-vote>
      <app-btn-vote
        class="margin-left-xs"
        [postId]="post.id"
        [activity]="post.activity"
        [voteType]="'downVote'"
        [postCreatorId]="post?.postCreator?.postCreatorId"
      >
      </app-btn-vote>
    </span>
    <app-btn-like [postId]="post.id" [postCreatorId]="post?.postCreator?.postCreatorId" [activity]="post.activity">
    </app-btn-like>
  </span>
  <div class="mat-app-background write-reply-container">
    <app-user-image class="write-reply-user-image" [email]="userEmail"></app-user-image>
    <div class="padding-left-m width-expand">
      <div
        [hidden]="replyPlaceholderToggler"
        (click)="replyPlaceholderToggler = !replyPlaceholderToggler"
        class="write-reply-placeholder"
        role="button"
      >
        Write a reply
      </div>
      <div [hidden]="!replyPlaceholderToggler" class="background-white">
        <app-editor-quill
          class="write-reply-editor"
          [minLength]="'10'"
          (textData)="onReplyTextChange($event)"
          #discussionReplyEditor
        ></app-editor-quill>
        <div class="text-right padding-top-s mat-app-background">
          <button
            [disabled]="!isValidReply || isPostingReply"
            (click)="publishReply(editFailMsg.value)"
            type="button"
            mat-raised-button
            color="primary"
            i18n
          >
            Reply
          </button>
          <button
            type="button"
            class="margin-left-xs"
            mat-stroked-button
            (click)="replyPlaceholderToggler = !replyPlaceholderToggler"
            i18n
          >
            Cancel
          </button>
          <div class="text-center" *ngIf="isPostingReply">
            <app-spinner [spinSize]="'small'" [spinWidth]="'thin'"></app-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ws-discussion-reply
    *ngFor="let reply of postReplies; let i = index"
    [reply]="reply"
    (deleteSuccess)="onDeleteReply(i)"
  ></ws-discussion-reply>
  <div *ngIf="replyFetchStatus === 'fetching'" class="margin-top-s text-center">
    <app-spinner [spinWidth]="'thin'" [spinSize]="'small'"></app-spinner>
    <div class="mat-caption" class="margin-top-xs">Fetching replies</div>
  </div>
  <div
    *ngIf="replyFetchStatus === 'hasMore' || isNewRepliesAvailable"
    class="text-center margin-top-xs flex flex-around"
  >
    <button
      type="button"
      mat-stroked-button
      color="primary"
      *ngIf="replyFetchStatus === 'hasMore'"
      (click)="fetchPostReplies()"
    >
      Load Previous Replies
    </button>
    <button
      type="button"
      mat-stroked-button
      color="primary"
      *ngIf="isNewRepliesAvailable"
      (click)="fetchPostReplies(true)"
    >
      Load New Replies
    </button>
  </div>
</mat-card>

<mat-menu #editMenu="matMenu">
  <ng-template matMenuContent>
    <button type="button" (click)="editMode = true" mat-menu-item i18n>Edit Post</button>
    <button type="button" (click)="deletePost(deleteFailMsg.value)" mat-menu-item i18n>Delete Post</button>
  </ng-template>
</mat-menu>

<input type="hidden" i8n-value value="Something went wrong! Unable to delete." #deleteFailMsg />
<input type="hidden" i8n-value value="Something went wrong! Unable to post." #editFailMsg />
