<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/my-skills'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: Add Role" class="margin-left-xs">Add Role</span>
  <span class="spacer"></span>
  <a *ngIf="!noRoles" mat-icon-button (click)="onNoRoles()">
    <mat-icon>close</mat-icon>
  </a>
</mat-toolbar>
<div *ngIf="!noRoles" class="roles-container flex flex-center flex-wrapped margin-top-xl">
  <div class="margin-bottom-xl ">
    <h2 class="mat-title" i18n="section heading add new role">
      Add New Role
    </h2>
    <mat-card class="add-role-card">
      <mat-tab-group class="tab-width">
        <mat-tab label="Pick from Suggested Roles">
          <ng-container *ngIf="loader" class="margin-left-s margin-top-m padding-top-m">
            <app-spinner [spinMode]="'indeterminate'" [spinSize]="'large'" [spinWidth]="'thin'" [spinValue]="70" [spinColor]="'primary'"
              class="progress-circular-full">
            </app-spinner>
          </ng-container>
          <mat-accordion *ngIf="!loader">
            <mat-expansion-panel *ngFor="let role of availableRoles">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ role.role_name}}
                </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <mat-list>
                  <mat-list-item *ngFor="let i of role.skills">
                    <h4 mat-line class="margin-right-m">
                      {{ i?.skill_name }}
                    </h4>
                    <p mat-line class="margin-right-m">{{ i?.description }}</p>
                  </mat-list-item>
                </mat-list>
                <button mat-raised-button color="primary" i18n (click)="addPredefinedRole(role.role_id)">
                  Add
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="Create your Own" class="width-1-1">
          <form class="mat-form-field">
            <mat-form-field class="width-1-1">
              <input matInput minlength="4" maxlength="100" [(ngModel)]="role_name" i18n-placeholder="input placeholder Role Title" placeholder="Role Title (required)"
                name="role_name" autocomplete="off" ngModel required />
            </mat-form-field>
          </form>
          <mat-chip-list>
            <mat-chip *ngFor="let skill of selectedSkills" [selectable]="selectable" [removable]="removable" (removed)="remove(skill)">
              {{ skill?.skill_name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <form class="example-form">
            <mat-form-field>
              <input type="text" name="skillName" placeholder="Search for skills(required)" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto" [(ngModel)]="skill_id" (ngModelChange)="onAutoComplete($event)" ngModel required />
              <mat-icon matSuffix>search</mat-icon>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)" [displayWith]="displayFn">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option?.skill_name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-form-field class="text-width">
              <mat-label>Select a skill level</mat-label>
              <mat-select name="level" formControlName="level" [(value)]="selected">
                <mat-option (click)="addLevel('Basic')" value="Basic">Basic</mat-option>
                <mat-option (click)="addLevel('Advanced')" value="Advanced">Advanced</mat-option>
                <mat-option (click)="addLevel('Expert')" value="Expert">Expert</mat-option>
              </mat-select>
            </mat-form-field> -->
            <div class="flex">
              <span class="spacer"></span>
              <button mat-raised-button color="primary" type="submit" (click)="createNewRole(role_name, skill_id)" i18n>
                Add
              </button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
<div *ngIf="noRoles">
  <div class="margin-top-xl margin-right-m text-right cursor-pointer">
    <button color="primary" mat-raised-button i18n-matTooltip="Goals Action Btn Tooltip" matTooltip="Create Role" (click)="onCreateRole()"
      color="primary" accesskey="+" i18n>
      <mat-icon>add</mat-icon>
      CREATE
    </button>
  </div>
  <div class="flex flex-center flex-wrapped margin-top-xl">
    <h2 class="flex flex-center flex-wrapped" i18n>
      You have no roles
    </h2>
  </div>
</div>