<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="flex">
  <h2 class="mat-title">
    {{ playlist.playlist_title }}
  </h2>
  <span class="spacer"></span>
  <button mat-icon-button (click)="copyPlaylist()">
    <mat-icon>file_copy</mat-icon>
  </button>
</div>
<mat-list role="list">
  <mat-list-item
    role="listitem"
    *ngFor="let item of playlist.resource"
    mat-line
  >
    <a [routerLink]="'/toc/' + item.resource_id">{{ item.resource_name }}</a>
  </mat-list-item>
</mat-list>
<input type="hidden" i18n-value value="Failed to save playlist" #failureToast />

<input type="hidden" i18n-value value="Playlist Created!" #successToast />
