<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div>
    <h4 class="text-center margin-top-m">
        <span class="margin-top-l" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          <b  class="arrow-left margin-top-l">
            <mat-icon class="feature-icon">keyboard_arrow_left</mat-icon>
          </b>
        </span>
        <span>
          {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        </span>
        <span class="margin-top-l" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          <b  class="arrow-right margin-top-l">
            <mat-icon class="feature-icon">keyboard_arrow_right</mat-icon>
          </b>
        </span>
      </h4>

</div>
<ng-template #customCellTemplate let-day="day" let-events="events" let-locale="locale">
    <div  class="cal-cell-top">
      <span  class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      <!-- <span style="font-size:8px;margin-top:0%;" class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{day.badgeTotla}}</span>  -->

      <!-- <span class="cal-event"></span> -->

      <div class="cal-events" *ngIf="day.events.length > 0">
        <div class="cal-event" *ngFor="let event of day.events" [style.backgroundColor]="event.color.primary" (mouseenter)="highlightDay.emit({event: event})"
          (mouseleave)="unhighlightDay.emit({event: event})" [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
          [tooltipPlacement]="tooltipPlacement" [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody"
          (mwlClick)="onEventClick($event, event)">
        </div>
      </div>
    </div>
  </ng-template>

  <div  [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="chartData" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
  </div>
