<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h1 mat-dialog-title i18n>
  Add to Goals
</h1>
<h3 class="mat-h3">{{ data.title }}</h3>
<div mat-dialog-content>
  <app-spinner [hidden]="!isFetching"></app-spinner>
  <div *ngIf="!isFetching &&  hasErrorInFetching" i18n="Error in fetching user goals">
    Unable To Fetch user goals
  </div>
  <div *ngIf="!isFetching && goals.length === 0" i18n="No existing goals for user">
    No existing goal. Please create a new goal
  </div>
  <div *ngIf="goalCreationEnabled">
    <form>
      <div>
        <mat-form-field class="width-1-1">
          <input type="text" matInput i18n-placeholder="Goal Name Placeholder" placeholder="Provide a name for your goal" [formControl]="goalNameFormControl"
            #goalNameInput>
          <mat-hint i18n="goal name length is invalid">Provide minimum 10 characters</mat-hint>
          <mat-error i18n="goal name is mandatory" *ngIf="goalNameFormControl.hasError('required')">Goal name is required
          </mat-error>
          <mat-error i18n="goal name is invalid" *ngIf="goalNameFormControl.hasError('required') && goalNameFormControl.hasError('minLength')">Enter at least 10 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="margin-top-s">
        <mat-form-field class="width-1-1">
          <input type="number" matInput i18n-placeholder="Number of days for goal completion" placeholder="Set goal duration(days)"
            [formControl]="goalDurationFormControl" #goalDurationInput>
          <mat-hint>
            <ng-container i18n="suggested goal duration">Suggested: </ng-container>
            <ng-container *ngIf="data.contentDuration === 0" i18n>less than an hour</ng-container>
            <ng-container *ngIf="data.contentDuration === 1" i18n>1 hour</ng-container>
            <span *ngIf="data.contentDuration > 1">
              {{data.contentDuration}}&nbsp;
              <ng-container i18n>hours</ng-container>
            </span>
          </mat-hint>
          <mat-error i18n>Invalid goal duration</mat-error>
        </mat-form-field>
      </div>
      <div class="margin-top-s text-right">
        <button mat-raised-button i18n i18n-aria-label aria-label="Create Goal" [color]="'primary'" [disabled]="goalNameFormControl.invalid || goalDurationFormControl.invalid || isCreating"
          (click)="createGoal(goalNameInput.value, goalDurationInput.value, createGoalToast.value)">Create Goal</button>
        <button mat-button i18n i18n-aria-label aria-label="Cancel" (click)="cancelGoalCreation()">Cancel</button>
      </div>
    </form>
  </div>
  <div [hidden]="goalCreationEnabled" class="margin-bottom-xs" *ngFor="let goalUnit of goals; trackBy: goalTrackBy">
    <mat-checkbox [color]="'primary'" [ngModel]="goalUnit.hasContent" (change)="updateGoal(goalUnit)">
      <span class="flex flex-middle">
        <mat-icon [hidden]="!goalUnit.updating">
          hourglass_empty
        </mat-icon>
        {{ goalUnit.goal.goal_title }}
      </span>
    </mat-checkbox>
  </div>
</div>
<div mat-dialog-actions class="flex-row-reverse" [hidden]="goalCreationEnabled">
  <button mat-button i18n aria-label="Okay" [mat-dialog-close]="false">Okay</button>
  <button mat-button i18n aria-label="Create New" (click)="goalCreationEnabled = true">
    Create New
  </button>
</div>

<input type="hidden" i18n-value value="New Goal created" #createGoalToast />
<input type="hidden" i18n-value value="Some error occured. Please try again" #failedGoalToast />
<input type="hidden" i18n-value value="Goal updated successfully" #goalUpdateSuccess/>
