<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="margin-m" *ngIf="deleteGoalInProgress">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!deleteGoalInProgress">
  <h2 mat-dialog-title>
    <ng-container *ngIf="data?.goal_title">
      <ng-container i18n>Do you really want to remove </ng-container> "{{ data.goal_title }}"?
    </ng-container>
    <ng-container *ngIf="!data?.goal_title" i18n>Do you really want to remove this goal?</ng-container>
  </h2>
  <mat-dialog-actions class="flex-row-reverse">
    <button mat-button mat-dialog-close i18n>No</button>
    <button mat-button (click)="deleteGoal()" i18n>Yes</button>
  </mat-dialog-actions>
</div>

<input #goalDeleted type="hidden" i18n-value value="Goal deleted successfully." />