<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="flex flex-wrapped margin-left-m">
  <form [formGroup]="skillForm" class="allSkills Form margin-s flex flex-around flex-wrapped">
    <mat-form-field class="search">
      <input
        type="text"
        placeholder="Search for a skill"
        aria-label="Skill Name"
        matInput
        (ngModelChange)="autoCompleteAllSkills($event, 'skill')"
        formControlName="search"
        [matAutocomplete]="auto"
        [value]="skillForm.get('search').value"
        (keydown)="onPress($event)"
        ngModel
      />
      <mat-icon class="cursor-pointer" (click)="searchAllSkills(skillForm.get('search').value, 'skill')" matSuffix
        >search</mat-icon
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions"
          (click)="searchAllSkills(option.skill_name, 'skill')"
          [value]="option.skill_name"
        >
          {{ option.skill_name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" class="view-button margin-top-m" (click)="viewAllSkills()">
    View all skills
  </button>
</div>
<div class="margin-left-xl">
  <div class="flex flex-center margin-bottom-s">
    <!-- <img src="/public-assets/common/images/skill_images/tagCloud1.JPG" style="width: 25vw;height: 25vh;" />
    <img src="/public-assets/common/images/skill_images/tagCloud2.JPG" style="width: 25vw;height: 25vh;" />
    <img src="/public-assets/common/images/skill_images/tagCloud3.JPG" style="width: 25vw;height: 25vh;" />
    <img src="/public-assets/common/images/skill_images/tagCloud4.JPG" style="width: 25vw;height: 25vh;" /> -->
    <div class="skills">
      <h2>My Skills</h2>
      <!-- <img src="/public-assets/common/images/skill_images/capture1.PNG" style="width: 70vw;height: 45vh;" /> -->
    </div>
    <div>
      <h2>Your Manager Recommendations</h2>
      <app-scroll-handler [contentStatus]="'done'">
        <app-card
          class="margin-left-s"
          *ngFor="let i of Skills"
          [popular]="true"
          [count]="true"
          [courseCount]="i.course_count"
          [certificationCount]="i.certification_count"
          [imageurl]="i.image_url"
          [skillName]="i.skill_name"
          [criticality]="i.criticality"
        ></app-card>
      </app-scroll-handler>
    </div>
  </div>
</div>
<div class="content-strip margin-left-xl">
  <h2>Recommended skills for you</h2>
  <app-scroll-handler [contentStatus]="'done'">
    <app-card
      class="margin-left-s"
      *ngFor="let i of popularSkills"
      [popular]="true"
      [count]="true"
      [courseCount]="i.course_count"
      [certificationCount]="i.certification_count"
      [imageurl]="i.image_url"
      [skillName]="i.skill_name"
      [criticality]="i.criticality"
    ></app-card>
  </app-scroll-handler>
</div>
