/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";

.search-tab {
  width: 60% !important;
  margin-right: 0% !important;
}
.form-container {
  width: 80%;
}
.view-button {
  height: 30%;
}
$card-padding: $size-m;
$action-btn-size: 2.5 * $size-m; // 40px
$card-width: 265px;
.content-strip {
  padding: 0%;
}
.skills {
  margin-left: -6%;
}
.search {
  width: 80%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
.allSkills {
  width: 80%;
}
