<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h1 mat-dialog-title>
  <ng-container i18n="dialog heading share goal">Share Goal - </ng-container>{{ goal.goal_title }}
</h1>
<div mat-dialog-content>
  <h3 class="mat-h3" i18n>Share with</h3>
  <mat-form-field class="width-1-1">
    <mat-chip-list #userEmailList>
      <mat-chip *ngFor="let user of userEmailIds" [selectable]="true" [removable]="true" (removed)="remove(user)"
        [color]="user.color">
        {{ user.email }} {{ user.suffix ? "@" + user.suffix : "" }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input [disabled]="sendInProgress" i18n-placeholder placeholder="Email Ids" [matChipInputFor]="userEmailList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addAll($event)" />
      <mat-error class="mat-caption" *ngIf="errorType === 'SelfShare'" i18n>
        You cannot share a goal with yourself. Please remove your id.
      </mat-error>
      <mat-error class="mat-caption" *ngIf="errorType === 'NoDomain'" i18n>
        Domain name is mandatory for email addresses
      </mat-error>
      <mat-error class="mat-caption" *ngIf="errorType === 'InvalidDomain'" i18n>
        Invalid domain name. This domain is not allowed for sharing content
      </mat-error>
      <mat-error class="mat-caption" *ngIf="sendStatus === 'INVALID_IDS_ALL'" i18n>
        Invalid Ids
      </mat-error>
      <mat-error class="mat-caption" *ngIf="sendStatus === 'INVALID_ID_SOME'" i18n>
        Unable to share for above ids. Sharing with other ids are successful
      </mat-error>
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field class="width-1-1">
    <textarea matInput [disabled]="sendInProgress" i18n-placeholder placeholder="Your message ..." rows="5"
      #txtBody></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex-row-reverse">
  <button mat-button (click)="share(txtBody.value, successToast.value)" i18n-aria-label
    aria-label="Share this Goal with specified email address" [disabled]="userEmailIds.length === 0"
    [hidden]="sendInProgress">
    Share
  </button>
  <app-spinner *ngIf="sendInProgress" spinSize="small"></app-spinner>
  <div *ngIf="sendStatus === 'ANY'" i18n>Unable to share. Try later</div>
</div>
<input type="hidden" i18n-value="Toast msg after successfully sharing" value="Goal successfully shared" #successToast />

<input #selfShare type="hidden" i18n-value value="You cannot share a goal with yourself" />

<input #alreadyShared type="hidden" i18n-value value="You have already shared with" />

<input #invalidIds type="hidden" i18n-value value="Your goal was shared with all except these invalid ids " />

<input #allInvalidIds type="hidden" i18n-value
  value="Your goal has not been shared with anyone as there are no valid ids" />

<input #sendMailSuccess type="hidden" i18n-value value="Successfully sent mail to " />

<input #goalSharingSuccessful type="hidden" i18n-value value="Successfully shared goal with " />

<input #mailSendFail type="hidden" i18n-value value="Unable to send mail" />

<input #goalAddedError type="hidden" i18n-value value="Unable to send goal" />