/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "src/styles/mixins";
@import "src/styles/vars";
@import "src/styles/styles";

.login-section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: $size-m;
  box-sizing: border-box;
}


.product-logo {
  max-width: 90%;
  max-height: 300px;
  width: 200px;
  margin: $size-xl auto;
  display: block;
  padding: $size-m;

  @include breakpoint-gt-md {
    margin: 2*$size-xl auto;
  }
}

.company-logo {
  display: block;
  margin: auto;
  margin-top: $size-m;
  height: 36px;
  max-width: 90%;
  padding: 20px 0;
}

.login-btn {
  margin: auto;
  margin-top: $size-xs;
  display: block;
}

.login-card {
  max-width: 500px;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  height: 250px;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;

  @include breakpoint-xs {
    width: 300px;
  }
  @include breakpoint-sm {
    width: 400px;
  }
  @include breakpoint-gt-lg {
    height: 500px;
  }
}

.login-footer {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: column-reverse;
  align-content: center;
  text-align: center;

  @include breakpoint-gt-xs {
    flex-direction: row;
  }
}

.eta-logo {
  max-width: 100%;
  max-height: calc(100% - 16px);
  padding: 8px;
  margin: auto;
  // width: 100px;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // margin: auto;
}

.welcome{
  font-size: 1.5em;
  line-height: 1.2;
  color:white;
  margin-bottom:$size-xs;
  margin-left:$size-s;
  @include breakpoint-gt-sm {
    font-size: 1.75em;
  } 
  
}
.tag{
  line-height:1.2;
  font-size: 1.8em;
  color:white;
  margin-bottom:$size-s;
  margin-left:$size-s;
  @include breakpoint-gt-sm {
    font-size: 2em;
  } 
}

.card {
  background: #ff4900;
  max-width: 500px;
  height: 250px;
  margin: auto;
  box-sizing: border-box;
  
  @include breakpoint-gt-sm {
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: 0px;
  }

  @include breakpoint-xs {
    width: 300px;
  }
  @include breakpoint-sm {
    width: 400px;
  }
  @include breakpoint-gt-lg {
    height: 500px;
  }
}
.pathfinders-logo {
  max-width: 90%;
  max-height: 320px;
  width: 200px;
  margin: $size-m auto;
  display: block;
  padding: $size-m;

  @include breakpoint-gt-md {
    margin: 2*$size-xl auto;
  }
}
.pathfinders-footer{
  bottom: 0;
  display:flex;
  flex-direction: column !important;
  @include breakpoint-gt-sm {
    position: absolute;
   
    z-index: 0;
  }
}
.triangle {
  @include breakpoint-gt-sm {
    width: 0;
    height: 0;
    border-bottom: 70px solid #0277bd;
    border-left: 1250px solid transparent;
  }  
}
.card-triangle {
    height: 0;
    position: absolute;
    right:0;
    border-bottom: 70px solid  #ff4900;
    border-left: 396px solid transparent;
}
.section-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  @include breakpoint-gt-md {
    position: relative;
  }
}