<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="mat-toolbar mat-primary login-section" style="background-repeat: no-repeat;
background-size: cover" [style.backgroundImage]="
    loginConfig.bodyBackgroundImageUrl &&
    loginConfig.bodyBackgroundImageUrl.length
      ? 'url(' + loginConfig.bodyBackgroundImageUrl + ')'
      : null
  ">
  <mat-card class="login-card" *ngIf="loginConfig?.bodyBackgroundImageUrl?.length; else loginBody">
    <ng-container [ngTemplateOutlet]="loginBody"></ng-container>
  </mat-card>
  <div>
    <img alt="logo" *ngIf="companyLogo" [src]="companyLogo" class="company-logo" />
    <mat-toolbar color="primary" class="login-footer">
      <ng-container [ngTemplateOutlet]="
          loginConfig?.footer?.hasLogo && loginConfig?.footer?.logoUrl?.length
            ? trialFooter
            : footerContent
        "></ng-container>
    </mat-toolbar>
  </div>
</section>

<!-- Templates -->
<ng-template #loginBody>
  <img alt="logo" [src]="productLogo" class="product-logo" />
  <div>
    <button *ngIf="isClientLogin" [color]="
        loginConfig.bodyBackgroundImageUrl.length ? 'primary' : 'default'
      " mat-raised-button i18n="login: client" class="login-btn " (click)="login('S')">
      Login
    </button>
    <button *ngIf="!isClientLogin" mat-raised-button i18n="login: employee" class="login-btn" (click)="login('E')">
      Login For Infoscions
      <mat-icon class="margin-left-xs">exit_to_app</mat-icon>
    </button>
    <button *ngIf="!isClientLogin" mat-stroked-button i18n="login: subsidiary" class="login-btn" (click)="login('S')">
      Login For Subsidiaries
    </button>
    <button *ngIf="!isClientLogin" mat-stroked-button i18n="login: new recruits" class="login-btn" (click)="login('N')">
      Login For New Recruits
    </button>
  </div>
</ng-template>

<ng-template #footerContent>
  <span class="mat-body mat-button" i18n="copyright : infosys limited">&copy; Infosys Limited</span>
  <div>
    <a mat-button i18n="terms and conditions" routerLink="/tnc">Terms of use</a>
    <a *wsHasPermission="['faq']" mat-button i18n="frequently asked questions" routerLink="/faq">FAQs</a>
    <a *wsHasPermission="['contactUs']" mat-button i18n="contact us" routerLink="/contact-us">Contact Us</a>
  </div>
</ng-template>

<ng-template #trialFooter>
  <img [src]="loginConfig.footer.logoUrl" alt="Infosys ETA" class="eta-logo" />
</ng-template>


<section *ngIf="isPathfindersLogin.enabled" class="section-container"
  style="background-repeat: no-repeat; background-size: cover" [style.backgroundImage]="welcomeFooter.available ?'url(' + loginConfig.bodyBackgroundImageUrl + ')'
: null">
  <mat-card class="card">
    <img alt="logo" [src]="productLogo" class="product-logo margin-bottom-l" [ngStyle]="{'width': productLogoWidth}" />
    <button *ngIf="isClientLogin" [color]="
    loginConfig.bodyBackgroundImageUrl.length ? 'primary' : 'default'
      " mat-raised-button i18n="login: client" class="login-btn " (click)="login('S')">Login</button>
  </mat-card>
  <div class="pathfinders-footer">
    <div class="triangle">
    </div>
    <div class="mat-primary-background padding-top-m">
      <div class="welcome">{{welcomeFooter.welcomeMessage}}</div>
      <div class="tag">{{welcomeFooter.welcomeTagline}}</div>
    </div>
  </div>
  <div [style.backgroundImage]="
  isPathfindersLogin.enabled ? 'url(' + isPathfindersLogin.config.loginImage + ')'
    : null">
  </div>
</section>