<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    routerLink="/navigator"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: navigator pentagon" class="margin-left-xs">For Leaders</span>
</mat-toolbar>
<div class="banner">
  <div class="content-strip">
    <h1 class="mat-display-1 margin-bottom-l text-white" i18n>Good news for Business and Technology leaders</h1>
    <p i18n class="mat-subheading-2 text-white">Learn the latest technologies and gain competitive advantage</p>
  </div>
</div>
<section class="margin-bottom-m">
  <div class="content-strip">
    <h2 class="mat-h2" i18n>Click on pillars to know more</h2>
    <app-pentagon [default]="'Accelerate'" (trackClicked)="trackClicked($event)"></app-pentagon>
  </div>

  <div class="content-strip">
    <app-content-strip *ngIf="availableCourses?.length" i18n-heading heading="Courses"
      [contentStatus]="'done'" [contents]="availableCourses"></app-content-strip>
  </div>
  <div *ngIf="fetchingCourses" class="margin-xl">
    <app-spinner></app-spinner>
  </div>

</section>
