/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/common";
@import "~src/styles/vars";

.pie-card {
  padding: 0px;
  width: 98%;
  margin: $size-s;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
.bar-card {
  padding: 0px;
  width: 47%;
  margin: $size-s;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
.graph-card-header {
  background-color: rgb(44, 128, 111);
  color: white;
}
table {
  width: 100%;
}
.tile {
  width: 45%;
  margin-left: -3%;
  @include breakpoint-xs {
    width: 90%;
    margin: $size-s;
  }

  @include breakpoint-sm {
    width: 90%;
    margin: $size-s;
  }
}
