<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<!-- <mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="'/'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: My Analytics" class="margin-left-xs">Learning Analytics</span>
  <span class="spacer"></span>
  <app-search class="search-bar ql-size-small" (filterEvent)="callFilteredGet($event)"></app-search>

</mat-toolbar>  -->
<app-spinner
  *ngIf="analyticsFetchStatus === 'fetching'"
  [spinMode]="'indeterminate'"
  [spinSize]="'large'"
  [spinWidth]="'thin'"
  [spinValue]="70"
  [spinColor]="'primary'"
  class="progress-circular-full"
>
</app-spinner>

<h2 class="text-center" *ngIf="analyticsFetchStatus === 'error'" i18n="Error fetching data">
  Error fetching data
</h2>

<div class="margin-xl" *ngIf="analyticsFetchStatus === 'done'">
  <!-- <ng-container>
    <app-quater-filter (filterEvent)="callFilteredGet($event)"></app-quater-filter>
  </ng-container> -->
  <ng-container>
    <div class="remove-margin-top margin-m " i18n="last updated on">
      Last Updated on : {{ data.last_indexed_on | date: "d MMM, y" }}
    </div>
  </ng-container>
  <ng-container>
    <app-filter (filterEvent)="callFilteredGet($event)"></app-filter>
  </ng-container>
  <div class="margin-bottom-m flex flex-around flex-wrapped">
    <app-tile
      class="tile"
      [firstValue]="this.data?.totalUsers"
      [tileTitle]="'Users'"
      [titleFirstSubHeading]="'All users'"
      [secondValue]="this.data?.content_users"
      [titleSecondSubHeading]="'Users accessing content'"
      [thirdValue]="this.data?.assessment_users"
      [titleThirdSubHeading]="'Users taking assessments'"
    ></app-tile>
    <app-tile
      class="tile"
      [firstValue]="this.data?.avg_time_spent / 60"
      [tileTitle]="'Activities'"
      [titleFirstSubHeading]="'Avg Learning Time in Mins'"
      [secondValue]="this.data?.assessment"
      [titleSecondSubHeading]="'Assessments'"
      [thirdValue]="this.data?.playground"
      [titleThirdSubHeading]="'Playground'"
    ></app-tile>
    <!-- <app-tile class="tile" [firstValue]="this.data?.assessment" [tileTitle]="'User Progress'" [titleFirstSubHeading]="'Assessments'"
      [secondValue]="this.data?.certifiaction" [titleSecondSubHeading]="'Certifications'" [thirdValue]="this.data?.playground"
      [titleThirdSubHeading]="'Playground'"></app-tile>
    <app-client-tile class="tile" [data]="data"></app-client-tile> -->
  </div>
  <div class="flex flex-around flex-wrapped">
    <mat-card class="bar-card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="Users by region">Users by Region</span>
      </mat-card-header>
      <mat-card-content class=" margin-xl">
        <app-bar-chart
          *ngIf="regionChartData.length > 0"
          (filterEvent)="callFilteredGet($event)"
          [barChartData]="regionChartData"
          [barChartLabel]="regionChartLabel"
          [barId]="'region'"
          [type]="'country'"
          [xAxisLabels]="''"
          [yAxisLabels]="'Users'"
        ></app-bar-chart>
        <h2 *ngIf="regionChartData.length === 0">No data found</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="bar-card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="users by source">Users by Source</span>
      </mat-card-header>
      <mat-card-content class=" margin-xl">
        <app-bar-chart
          *ngIf="systemChartData.length > 0"
          (filterEvent)="callFilteredGet($event)"
          [barChartData]="systemChartData"
          [barChartLabel]="systemChartLabel"
          [barId]="'system'"
          [type]="'system'"
          [xAxisLabels]="''"
          [yAxisLabels]="'Users'"
        ></app-bar-chart>
        <h2 *ngIf="systemChartData.length === 0">No data found</h2>
      </mat-card-content>
    </mat-card>
    <!-- <mat-card class="bar-card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="users by Skill">Content by Skill</span>
      </mat-card-header>
      <mat-card-content class=" margin-xl">
        <app-bar-chart *ngIf="skillData.length>0" (filterEvent)="callFilteredGet($event)" [barChartData]="skillData" [barChartLabel]="skillLabel"
          [barId]="'skill'" [xAxisLabels]="''" [type]="'skill'" [yAxisLabels]="'Contents'"></app-bar-chart>
        <h2 *ngIf="skillData.length===0">No data found</h2>
      </mat-card-content>
    </mat-card> -->
  </div>
  <ng-container>
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class="padding-left-xs mat-body-1" i18n="users by growth">Users by Growth</span>
      </mat-card-header>
      <mat-card-content class=" margin-xl">
        <app-line-bar-chart
          [linePlusBarData]="timeSpentData"
          [mainTitle]="'Users Growth'"
          [y1Axis]="'Users'"
          [y2Axis]="'Avg. Time Spent in Minutes'"
        ></app-line-bar-chart>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-container>
    <mat-card class="pie-card">
      <mat-card-header class="graph-card-header padding-xs">
        <mat-icon class="feature-icon margin-remove-top">bar_chart</mat-icon>
        <span class=" mat-body-1" i18n="onboarding trend">Onboarding Trend </span>
      </mat-card-header>
      <mat-card-content class="padding-bottom-l padding-left-l padding-right-m">
        <mat-tab-group>
          <mat-tab label="Daily">
            <app-bar-graph
              [barChartData]="dailyUsersData"
              [barChartLabel]="barGraphDailyLabels"
              [barId]="'dailyUsers'"
              [xAxisLabels]="'Dates'"
            ></app-bar-graph>
          </mat-tab>
          <mat-tab label="Weekly">
            <app-bar-graph
              [barChartData]="weeklyUsersData"
              [barChartLabel]="barGraphWeeklyLabels"
              [barId]="'weeklyUsers'"
              [xAxisLabels]="'Weeks'"
            ></app-bar-graph>
          </mat-tab>
          <mat-tab label="Monthly">
            <app-bar-graph
              [barChartData]="monthlyUsersData"
              [barChartLabel]="barGraphMonthlyLabels"
              [barId]="'monthlyUsers'"
              [xAxisLabels]="'Months'"
            ></app-bar-graph>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <!-- <ng-container>
    <app-course-details (filterEvent)="callFilteredGet($event)" [data]="data"></app-course-details>
  </ng-container> -->
</div>
