<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a
    mat-icon-button
    [routerLink]="routingSvc.getLastUrl().route"
    [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment"
  >
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="margin-left-xs" [ngSwitch]="currentTab">
    <ng-container *ngSwitchCase="'puzzle-mania'" i18n>Puzzle Mania</ng-container>
    <ng-container *ngSwitchCase="'playground'" i18n>Playground</ng-container>
    <ng-container *ngSwitchCase="'code-crack'" i18n>Code Crack</ng-container>
    <ng-container *ngSwitchCase="'subjective'" i18n>Subjective QnA</ng-container>
    <ng-container *ngSwitchCase="'objective'" i18n>Objective Quizzes</ng-container>
    <ng-container *ngSwitchCase="'dashboard'" i18n>Hands-On Dashboard</ng-container>
    <ng-container *ngSwitchCase="'behavioral'" i18n>Behavioral Skills</ng-container>
    <ng-container *ngSwitchCase="'authoring'" i18n>Hands-On Authoring</ng-container>
    <ng-container *ngSwitchDefault i18n>No Such Page Found</ng-container>
  </span>
</mat-toolbar>

<iframe
  *ngIf="practiceUrl?.length"
  id="practice-iframe"
  class="practice-iframe"
  allowfullscreen="true"
  allow="autoplay;encrypted-media;microphone;camera;"
  [src]="practiceUrl | sanitizeUrl"
  i18n-title
  title="iap"
></iframe>

<div [ngClass]="{ 'proctoring-warning-holder': proctoringWarning }">
  <mat-card class="proctoring-warning" [hidden]="!proctoringWarning">
    <h2 class="mat-h2" i18n="proctoring warning">
      Accessible only on fullscreen. Click Okay to continue
    </h2>
    <button type="button" i18n mat-flat-button [color]="'primary'" (click)="enterFullScreen()">
      Okay
    </button>
  </mat-card>
</div>
