<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: sales launchpad" class="margin-left-xs">Sales Launchpad</span>
</mat-toolbar>

<section *ngIf="contentStripHash['programs']?.length" class="content-strip">
  <app-content-strip class="uk-card uk-card-body" i18n-heading heading="Programs" contentStatus="done" [contents]="contentStripHash['programs']"></app-content-strip>
</section>
<section *ngIf="contentStripHash['courses']?.length" class="content-strip">
  <app-content-strip class="uk-card uk-card-body" i18n-heading heading="Courses" contentStatus="done" [contents]="contentStripHash['courses']"></app-content-strip>
</section>
<section *ngIf="contentStripHash['modules']?.length" class="content-strip">
  <app-content-strip class="uk-card uk-card-body" i18n-heading heading="Learning Modules" contentStatus="done"
    [contents]="contentStripHash['modules']"></app-content-strip>
</section>
<section *ngIf="contentStripHash['resources']?.length" class="content-strip">
  <app-content-strip class="uk-card uk-card-body" i18n-heading heading="Resources" contentStatus="done" [contents]="contentStripHash['resources']"></app-content-strip>
</section>
