<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div  id="boxPlot" >
  <nvd3  [options]="options" [data]="buttonGraphData"></nvd3>
  <div  class="icon" >
      <span (click)="changeData2()" ><mat-icon *ngIf="showLeft" style=" float: right; margin: -30px 5px 5px 5px;cursor: pointer;" >keyboard_arrow_left</mat-icon></span>
      <span (click)="changeData()" ><mat-icon *ngIf="showRight" style=" float: right; margin: -30px -10px 5px 5px;cursor: pointer;" >keyboard_arrow_right</mat-icon></span>
  </div>
</div>

