<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="reply-container mat-app-background">
  <app-user-image class="user-image" [email]="reply.postCreator.emailId"></app-user-image>
  <div class="padding-left-s width-expand">
    <div class="flex flex-between">
      <div>
        <span class="mat-primary-text">{{ reply.postCreator.name }}</span>
        <div class="mat-caption">
          {{ reply.dtLastModified | date }}
          <ng-container i18n> at </ng-container>
          <ng-container>{{ reply.dtLastModified | date: "shortTime" }}</ng-container>
        </div>
      </div>
      <button
        type="button"
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        *ngIf="userId === reply.postCreator.postCreatorId"
      >
        <mat-icon>more_vertical</mat-icon>
      </button>
    </div>
    <div *ngIf="!editMode" class="margin-top-s" [innerHTML]="reply.postContent.body"></div>
    <div *ngIf="editMode" class="margin-top-s padding-s mat-primary-border">
      <app-editor-quill [minLength]="'10'" [htmlText]="reply.postContent.body" (textData)="onReplyTextChange($event)">
      </app-editor-quill>
      <div class="text-right">
        <button
          type="button"
          class="margin-top-s"
          [disabled]="!replyPostEnabled"
          mat-raised-button
          color="primary"
          i18n
          (click)="editReply(editFailMsg.value)"
        >
          Update
        </button>
        <button
          type="button"
          class="margin-top-s margin-left-s"
          mat-stroked-button
          color="primary"
          i18n
          (click)="editMode = false"
        >
          Cancel
        </button>
      </div>
    </div>
    <span class="margin-top-s flex flex-between" *ngIf="reply.activity && reply.status === 'Active'">
      <span>
        <app-btn-vote
          [postId]="reply.id"
          [activity]="reply.activity"
          [voteType]="'upVote'"
          [postCreatorId]="reply?.postCreator?.postCreatorId"
        ></app-btn-vote>
        <app-btn-vote
          class="margin-left-s"
          [postId]="reply.id"
          [activity]="reply.activity"
          [voteType]="'downVote'"
          [postCreatorId]="reply?.postCreator?.postCreatorId"
        >
        </app-btn-vote>
      </span>
      <app-btn-like [postId]="reply.id" [postCreatorId]="reply?.postCreator?.postCreatorId" [activity]="reply.activity">
      </app-btn-like>
    </span>
  </div>
</div>

<mat-menu #editMenu="matMenu">
  <ng-template matMenuContent>
    <button type="button" (click)="editMode = true" mat-menu-item i18n>Edit</button>
    <button type="button" (click)="deletePost(deleteFailMsg.value)" mat-menu-item i18n>Delete</button>
  </ng-template>
</mat-menu>

<input type="hidden" i8n-value value="Something went wrong! Unable to delete." #deleteFailMsg />
<input type="hidden" i8n-value value="Something went wrong! Unable to post." #editFailMsg />
