<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="mat-toolbar mat-primary footer-container px-6 sm:px-10 py-4">
  <div class="mat-body">
    <ng-container i18n>
      Powered by Infosys Wingspan
    </ng-container>
path
path
    </ng-container>
  </div>
  <div class="mat-body">
    <span i18n>&copy; Infosys Ltd. 2019-2020.</span> | <a routerLink="/app/tnc" i18n>Privacy</a> |
    <a routerLink="/app/info/faq" i18n>Help & Contact</a>
  </div>
</div>
