<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="tile-card">
  <mat-card style="height: 100%;">
    <mat-card-content class="text-center margin-remove-bottom">
    {{title}}
    </mat-card-content>
    <mat-card-content class="text-center margin-remove-bottom">
      <h2>{{tileValue}}</h2>
    </mat-card-content>
  
    <!-- <mat-card-content *ngIf="!value && showSecond" class="mat-small text-center margin-remove-bottom">
      {{comment}}
    </mat-card-content> -->
    <mat-card-content *ngIf="orgValue>0 && showSecond" class="mat-small text-center margin-remove-bottom">
      <span class="mat-body-1">{{orgValue}}% <span i18n="more than organization average">more than Org Average</span></span>
    </mat-card-content>
    <mat-card-content *ngIf="orgValue===0 && showSecond" class="mat-small text-center margin-remove-bottom">
     <span class="mat-body-1" i18n="with organization average">you are with Org Average</span>
    </mat-card-content>
    <mat-card-content *ngIf="orgValue<0 && showSecond" class="mat-small text-center margin-remove-bottom">
      <span class="mat-body-1">{{absoluteValue}}% <span i18n="less than organization average">less than Org Average</span></span>
    </mat-card-content>
    <!-- <mat-card-content *ngIf="value && showSecond" class="mat-small text-center margin-remove-bottom">
        {{comment}}{{message}}
      </mat-card-content> -->
      
  </mat-card>
</div>