/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";

.card-container {
  position: relative;
  width: 265px;
  height: 100%;
}
.detail-button {
  position: absolute;
  top: $size-s;
  right: $size-s;
  z-index: 1;
}

mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

mat-card-content {
  margin-top: - $size-s;
  margin-bottom: $size-s;
}

mat-card-actions {
  position: absolute;
  bottom: $size-s;
  right: $size-s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

