<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="card-container">
  <a [routerLink]="'/navigator/fullstack/program/' + fullStackProgram.fs_id">
    <mat-card>
      <img mat-card-image class="card-img mat-lite-background" role="link" aria-label="Content" i18n-aria-label="Content | Click to view"
        [src]="thumbnail || (THUMBNAIL_BASE_PATH + 'card_img.jpg')" [appDefaultImage]="THUMBNAIL_BASE_PATH + 'card_img.jpg'"
        height="150" width="265" />
      <mat-card-content>
        <a aria-label="Full Stack Content" i18n-aria-label="Full Stack Content | Click to view" class="card-title-link mat-subheading-2 margin-bottom-s">
          {{ fullStackProgram.fs_name | limitTo: 30 }}
        </a>
        <p class="margin-top-xs">
          {{ fullStackProgram.fs_desc | limitTo: 150 }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="
            '/navigator/fullstack/program/' + fullStackProgram.fs_id
          "
          mat-flat-button i18n>
          KNOW MORE
        </a>
      </mat-card-actions>
    </mat-card>
  </a>
</div>
