<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<section class="content-strip" *ngIf="continueLearningData.length">
  <div class="flex flex-between flex-middle margin-bottom-m">
    <h1 class="mat-title margin-remove" i18n="home continue learning">Continue Learning</h1>
    <div [hidden]="isSmall">
      <mat-checkbox [(ngModel)]="showCompleted" (change)="applyCompletedFilter()" i18n>Show Completed</mat-checkbox>
      <mat-checkbox [(ngModel)]="showResources" (change)="applyResourceFilter()" class="margin-left-m" i18n
        >Show Resources</mat-checkbox
      >
    </div>
    <div [hidden]="!isSmall">
      <button type="button" mat-icon-button [matMenuTriggerFor]="historyFilter">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <app-content-strip
    [contents]="continueLearningData"
    [contentStripHash]="contentStripHash"
    [contentStatus]="continueLearningRequest.status"
    (loadNext)="fetchContinueLearning()"
    [cardType]="cardType"
  ></app-content-strip>
</section>

<mat-menu #historyFilter="matMenu">
  <div class="cl-filter-container">
    <mat-checkbox [(ngModel)]="showCompleted" (change)="applyCompletedFilter()" i18n>Show Completed</mat-checkbox>
  </div>
  <div class="cl-filter-container">
    <mat-checkbox [(ngModel)]="showResources" (change)="applyResourceFilter()" i18n>Show Resources</mat-checkbox>
  </div>
</mat-menu>
