<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<form class="margin-left-xl" #skillForm="ngForm" (submit)="approveEndorsement()">
  <div class="block text-center">
    <label class="rating-container text-center">
      <p class="mat-title" i18n>Rate the Skills of the User</p>
      <input matInput name="rating" [(ngModel)]="ratingRequest.rating" style="height: 0px;width: 0px" ngModel required />
      <button type="button" class="rating-button" mat-icon-button *ngFor="let _ of ratingLoop; let i = index" (click)="ratingRequest.rating = i + 1"
        color="primary">
        <mat-icon class="rating-icon"> {{ (ratingRequest?.rating || -1) > i ? "star" : "star_border" }}</mat-icon>
      </button>
    </label>
    <ng-container class="block">
      <mat-form-field class="block text-center text-width">
        <textarea matInput name="approver_description" [(ngModel)]="approverDescription" placeholder="Describe User's Skill" ngModel></textarea>
      </mat-form-field>
    </ng-container>
  </div>
  <ng-container>
    <div class="flex flex-center flex-wrapped">
      <button mat-raised-button color="primary" type="submit" i18n="button to endorse a request">Endorse</button>
      <button mat-raised-button color="primary" type="submit" i18n="button to endorse a request">Cancel</button>
    </div>
  </ng-container>
</form>