<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<ng-container *ngIf="displayType === 'basic'">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="content | route">{{ content.name }}</a>
      </mat-card-title>
      <mat-card-subtitle class="margin-remove-bottom">{{ content.description | limitTo: 250 }} </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-container>

<ng-container *ngIf="displayType === 'advanced'">
  <mat-card *ngIf="content" class="advanced-view">
    <mat-card-content>
      <h3 *ngIf="content.exclusiveContent" class="mat-accent-text premium-content">Explore Exclusive Content!</h3>
      <div class="flex flex-middle" [title]="content.name">
        <a [routerLink]="content | route" class="image-section">
          <img
            i18n-alt
            alt="thumbnail"
            class="mat-lite-background"
            [src]="content.appIcon | sliceIp"
            [appDefaultImage]="missingThumbnail"
          />
        </a>
        <div class="width-expand card-content">
          <h4 [title]="content.name" class="margin-remove-top margin-remove-bottom flex flex-middle">
            <mat-icon *ngIf="contentProgress > 0.99" i18n-matTooltip matTooltip="Completed" class="completed-icon">
              check_circle</mat-icon
            >
            <a [routerLink]="content | route" class="margin-remove-bottom text-truncate mat-title">{{
              content.name
            }}</a>
          </h4>
          <div>
            <app-content-type
              [mimeType]="content.mimeType"
              [contentType]="content.contentType"
              [learningMode]="content.learningMode"
              [resourceType]="content.resourceType"
              [isExternalCourse]="content.isExternalCourse"
              [isExternal]="content.isExternal"
            ></app-content-type>
            <span *ngIf="content.complexityLevel"> | {{ content.complexityLevel | titlecase }}</span>
          </div>
          <div>
            <span *ngIf="content.duration">{{ content.duration | durationTransform }} | </span>
            <span *ngIf="content.lastUpdatedOn" class="hidden-inline-s">{{
              content.lastUpdatedOn | date: "MMM'' yy"
            }}</span>
            <!-- <span *ngIf="content.me_totalSessionsCount > 1"> | {{ content.me_totalSessionsCount | countTransform }} views</span> -->
          </div>
          <div *ngIf="content.trainingCount" class="mat-body-2">
            <span>{{ content.trainingCount }}</span>
            <span>
              <ng-container *ngIf="content.trainingCount > 1" i18n> trainings available</ng-container>
              <ng-container *ngIf="content.trainingCount === 1" i18n> training available</ng-container>
            </span>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="width-expand padding-top-xs" [ngClass]="{ 'text-truncate': !isExpanded }">
          <div (click)="isExpanded = !isExpanded" class="mat-body text-justify">{{ content.description }}</div>
        </div>
        <div class="width-auto">
          <button (click)="isExpanded = !isExpanded" mat-icon-button>
            <mat-icon>{{ isExpanded ? "expand_less" : "expand_more" }}</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="isExpanded" class="flex flex-between">
        <span>
          <app-btn-download [content]="content"></app-btn-download>
          <app-btn-like [contentId]="content.identifier"></app-btn-like>
          <app-btn-share [content]="content"></app-btn-share>
          <app-btn-playlists [content]="content" [contentName]="content.name"></app-btn-playlists>
          <app-btn-goals
            [contentId]="content.identifier"
            [contentName]="content.name"
            [contentDuration]="content.duration"
          ></app-btn-goals>
          <app-btn-mail-me [content]="content"></app-btn-mail-me>
        </span>
        <app-action-bottom-toc
          *ngIf="!(content.learningMode === 'Instructor-Led' || content.isExternalCourse)"
          [contentId]="content.identifier"
          [contentName]="content.name"
        ></app-action-bottom-toc>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
