/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import '~src/styles/vars';

$bar-line-height: 50px;

.cur-pointer {
  cursor: pointer;
}

.duration {
  padding-right: $size-xs;
  padding-left: $size-xs;
  margin-left: $size-xs;
  display: flex;
  align-items: center;
}

.chart__lpname {
  line-height: $bar-line-height;
  padding-left: $size-m;
}
