/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";
@import "~src/styles/common";
.page-title {
  margin-bottom: $size-xl;
}
.release-notes-container {
  padding: $size-m;
  @extend %width-balancer;
}
.release-notes-card {
  margin-bottom: $size-m;
}
.release-notes-card-buttons {
  min-width:120px;
}
.flex-align-start{
  align-self: flex-start;
}
.added-button{
  background: #357a38 !important;
  color: white !important;
}
.changed-button{
  background: #1c54b2 !important;
  color: white !important;
}
