<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n class="margin-left-xs">Release Notes</span>
</mat-toolbar>

<section class="release-notes-container">

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span i18n style="color:primary">Release v3.7</span>
      <span i18n> (April 04, 2019) </span>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Playground resources are now available as part of the ToC.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Fullscreen option has been made available from the player navigation bar.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Navigation buttons have been enabled in fullscreen mode
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <a [routerLink]="'/events/confluence-apac-2019'" mat-raised-button
            class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </a>
        </span>
        <div i18n>
          APAC Confluence events content can be viewed from My Apps section.
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span i18n style="color:primary">Release v3.6</span>
      <span i18n> (March 28, 2019) </span>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          You can now follow your friends and keep up with their learning progress.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <a [routerLink]="'/settings'" mat-raised-button
            class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </a>
        </span>
        <div i18n>
          User Privacy Settings: You can decide who can see your data - likes, goals, history and more.
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span i18n style="color:primary">Release v3.5</span>
      <span i18n> (March 14, 2019) </span>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Access restriction enabled on business playground
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Confirmation message for content sharing feature.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Timelines are now editable on suggested goals
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span i18n style="color:primary">Release v3.4</span>
      <span i18n> (March 1, 2019) </span>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Know Your DP Account for Delivery Partners
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Addition of Julia to Coding Languages
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Voice input for Safari Browsers
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Next video autoplay wait time reduced
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Resources shown in Flatlist option in TOC page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Duration information shown in Snackbar in TOC page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Exercise Verify and Submit Functionality
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Removing BTN section from 'Brand' Home Page
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span i18n style="color:primary">Release v3.3</span>
      <span i18n> (February 15, 2019) </span>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Web module content padding increased and center aligned in page for large screen devices
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Check marks for completed contents in search, toc and player page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Be The Navigator section removed from Marketing page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          User selected Color Theme events
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/playground">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          New page 'Popular Playgrounds'
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Autoplay next resource at video and podcast end
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/marketing">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Hubs Section in Marketing and Insights sub-section in Brand Section of Marketing
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Content Expand button in player
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/marketing/Client%20Stories">
          <button mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Changed
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Client Stories Tab in Marketing
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span i18n style="color:primary">Release v3.2</span>
      <span i18n> (January 18, 2019) </span>
    </mat-card-title>

    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Chatbot as bubble
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/learning-history">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Certifications tab on Learning History page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Access control on content pages (toc, viewer)
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/settings">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Multi Language Support: Language support introduced for Arabic, Chinese, German, Dutch, French, Japanese,
          Spanish
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Webinar recordings message display on content open
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/home">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          New recommendations strip at home page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Web Module font selection option for users
        </div>
      </div>
    </mat-card-content>





    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/my-analytics">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          My Analytics
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span i18n style="color:primary">Release v3.1</span>
      <span i18n> (January 7, 2019) </span>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Shortcut key modal to show which keyboard shortcuts are there in the page.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Plugin for Drag-and-Drop plugin for Lex Player.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/settings">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Language Change in Settings page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/mobile-app">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Android app download option if user faces issue opening on play store
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Exercise and Feedback Submission: File or text submission for exercises.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Exercise and Feedback Submission: File or text feedbacks for exercises.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Exercise and Feedback Submission: Mapping for educators-groups(batches)-students.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Delivery Partner for Sales Navigator
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Changes in Sales Onboarding
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="release-notes-card">
    <mat-card-title class="text-center mat-display-1">
      <span style="color:primary" i18n>Release v3.0</span>
      <span i18n>(December 13, 2019)</span>
    </mat-card-title>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Made
          <ng-container>{{platform}}</ng-container> accessibility friendly
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/settings">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n i18n>
          Personalize the look of
          <ng-container>{{platform}}</ng-container> with themes and text size selector
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/search">
          <button mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Changed
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Changed usability of Search feature
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/apps">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Quickly access any feature through apps corner
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Create goals from any screen, without navigating away!
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/time-spent">
          <button mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Changed
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          View your learning time data as a line graph, and filter it by date range
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/home">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          View your recent resources with filters on the home page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/notifications">
          <button mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Changed
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Keep track of your achievements through the notifications page
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/badges">
          <button mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Added
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          New seasonal badges
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Courses on
          <ng-container>{{platform}}</ng-container> now allow you to learn in full screen to avoid distractions!
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <a routerLink="/faq">
          <button mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            <ng-container i18n>
              Changed
            </ng-container>
            <mat-icon>
              input
            </mat-icon>
          </button>
        </a>
        <div i18n>
          Updates to FAQ, Contacts and TnC pages
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Code snippets now have syntax highlighting
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Keep track of your progress through PDF, YouTube video
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Performance improvements and bug fixes
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Quizzes with new types – Match the following
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Integrated Code Pane
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="changed-button release-notes-card-buttons margin-right-m">
            Changed
          </button>
        </span>
        <div i18n>
          Changed the Player experience
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Interactive Videos
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <div class="flex flex-middle">
        <span>
          <button i18n mat-raised-button class="added-button release-notes-card-buttons margin-right-m">
            Added
          </button>
        </span>
        <div i18n>
          Submission page for exercises and get feedback from Instructors
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</section>
