<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div *ngIf="playlistShared?.length" class="margin-bottom-m">
  <h2 class="mat-title" i18n="heading shared playlist">Playlists shared with you</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let playlist of playlistShared">
      <mat-expansion-panel-header collapsedHeight="auto" class="padding-top-s padding-bottom-s">
        <div>
          <!-- <a [routerLink]="['/player/playlists/' + playlist.playlist_id]"> -->
          <h3 class="mat-h3 margin-remove-bottom text-line">
            {{ playlist.playlist_title }}
          </h3>
          <p class="margin-remove-bottom text-line" *ngIf="playlist.shared_by">
            <ng-container i18n>shared by </ng-container>{{ playlist.shared_by }}
          </p>
          <!-- </a> -->
        </div>
      </mat-expansion-panel-header>
      <div class="flex margin-right">
        <span class="spacer"></span>
        <button mat-icon-button (click)="copySharedPlaylist(playlist)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button (click)="removeSharedPlaylist(playlist)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h3 class="mat-h3" i18n>Playlist Content</h3>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of playlist.resource">
          {{ item.resource_name }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
