<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button [routerLink]="routingSvc.getLastUrl().route" [queryParams]="routingSvc.getLastUrl().qparams"
    [fragment]="routingSvc.getLastUrl().fragment">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: sales competencies" class="margin-left-xs">Sales Competencies</span>
</mat-toolbar>
<app-carousel [banners]="banners">
  <ng-template let-banner>
    <a [routerLink]="banner.url" [ngSwitch]="banner.titleKey">
      <span *ngSwitchCase="banners[0].titleKey" i18n="sales competencies navigator carousel slide 0">Consultative
        Selling</span>
      <span *ngSwitchCase="banners[1].titleKey" i18n="sales competencies navigator carousel slide 1">Techno-Domain
        Fluency</span>
      <span *ngSwitchCase="banners[2].titleKey" i18n="sales competencies navigator carousel slide 2">Social Selling &
        Networking</span>
      <span *ngSwitchCase="banners[3].titleKey" i18n="sales competencies navigator carousel slide 3">Influencing &
        Winning Deals</span>
      <span *ngSwitchCase="banners[4].titleKey" i18n="sales competencies navigator carousel slide 4">Knowledge of
        Infosys Products & Offerings</span>
      <span *ngSwitchCase="banners[5].titleKey" i18n="sales competencies navigator carousel slide 5">Leveraging Infosys
        Systems & Processes</span>
    </a>
  </ng-template>
</app-carousel>

<div class="flex flex-center flex-wrapped padding-s">
  <div class="card-section">
    <app-feature-card [url]="COMPETENCY_URL_MAPPING['Consultative Selling']" i18n-name i18n-description name="Consultative Selling"
      description="Design Thinking and Out-of-the-box solutions; Being Customer Centric; Becoming a trusted Advisor"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/navigator/industries" i18n-name i18n-description name="Techno-Domain Fluency" description="Thought leadership & Industry expertise, Technology Articulation,
      Story-telling"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card [url]="COMPETENCY_URL_MAPPING['Social Selling & Networking']" i18n-name i18n-description name="Social Selling & Networking"
      description="Presence & impact in Social Networks and Industry Forums, Working
      through Alliances"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card [url]="COMPETENCY_URL_MAPPING['Influencing & Winning Deals']" i18n-name i18n-description name="Influencing & Winning Deals"
      description="Building the Business Case, Negotiating on Solutions & Value, Closing
      Deals on time"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card url="/marketing/Services" i18n-name i18n-description name="Knowledge of Infosys Products & Offerings"
      description="Key features, Target Markets, Comparative Positioning, Seamless
      Solutions across services"></app-feature-card>
  </div>
  <div class="card-section">
    <app-feature-card [url]="COMPETENCY_URL_MAPPING['Leveraging Infosys Systems & Processes']" i18n-name
      i18n-description name="Leveraging Infosys Systems & Processes" description="Sales Process & Work flow, System touch-points & inter linkages,
      Overall efficiencies & Improvements"></app-feature-card>
  </div>
</div>
