<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary" class="flex flex-wrapped">
  <a mat-icon-button [routerLink]="'/apps'">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n="page title: Ask a Question" class="margin-left-xs">Question & Answer</span>
  <span class="spacer"></span>
  <a *ngIf="!(isXSmall$ | async)" mat-raised-button [routerLink]="'/qna/ask'" i18n>
    Ask a Question
  </a>
  <a [matTooltip]="'Ask a Question'" mat-icon-button *ngIf="(isXSmall$ | async) === true" [routerLink]="'/qna/ask'">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>

<div class="qanda-container">
  <div class="text-right margin-bottom-s">
    <mat-slide-toggle [checked]="displayType === 'unanswered'" (change)="modifyDisplayType()" i81n>Unanswered
    </mat-slide-toggle>
    <a mat-stroked-button class="margin-left-s" [routerLink]="'/qna/me'">My Timeline</a>
  </div>
  <app-qanda-results *ngIf="displayType === 'all'" [timelineRequest]="allItemsRequest"></app-qanda-results>
  <app-qanda-results *ngIf="displayType === 'unanswered'" [timelineRequest]="unansweredItemsRequest">
  </app-qanda-results>
</div>
