<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<div class="card-container">
  <mat-card class="grey-filter">
    <img
      mat-card-image
      class="card-img"
      role="link"
      aria-label="Content"
      i18n-aria-label="Content | Click to view"
      [src]="thumbnail"
      [appDefaultImage]="missingThumbnail"
    />

    <mat-card-content>
      <h3 class="mat-subheading-2">{{ name }}</h3>
    </mat-card-content>
  </mat-card>
</div>
