/*               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" */
@import "~src/styles/vars";

$toolbar-height: 44px;

.mat-dialog-container {
  padding: 0 !important;
}

.video-toolbar {
  height: $toolbar-height;
  padding: $size-xs 0 $size-xs $size-s;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#video-container {
  width: 100%;
  height: calc(100% - #{$toolbar-height});
}
