<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/apps">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n class="margin-left-xs">Channels</span>
</mat-toolbar>
<ng-container *ngIf="isContentTabAvailable && isLeadershipTabAvailable">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link [routerLink]="'/channels/leadership'" [active]="currentTab === 'leadership'">
      Leadership
    </a>
    <a mat-tab-link [routerLink]="'/channels/corporate'" [active]="currentTab === 'corporate'">
      Corporate
    </a>
  </nav>
  <ws-channel-container *ngIf="currentTab === 'corporate'"></ws-channel-container>
  <ws-leadership-home *ngIf="currentTab === 'leadership'"></ws-leadership-home>
</ng-container>
<div class="padding" *ngIf="!isLeadershipTabAvailable">
  <ws-channel-container></ws-channel-container>
</div>
<div *ngIf="!isContentTabAvailable">
  <ws-leadership-home></ws-leadership-home>
</div>