<!--               "Copyright 2020 Infosys Ltd.
               Use of this source code is governed by GPL v3 license that can be found in the LICENSE file or at https://opensource.org/licenses/GPL-3.0
               This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License version 3" -->
<h1 mat-dialog-title>{{ data.content.name }}</h1>
<div mat-dialog-content>
  <h3 class="mat-h3" i18n>Share with</h3>
  <mat-form-field class="input-box" [color]="'accent'">
    <mat-chip-list #userEmailList>
      <mat-chip *ngFor="let user of userEmailIds" [selectable]="true" [removable]="true" (removed)="remove(user)"
        [color]="user.color">
        {{ user.email }} {{user.suffix ? '@' + user.suffix: ''}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input i18n-placeholder placeholder="Email  Ids" [matChipInputFor]="userEmailList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addAll($event)" />
      <mat-error class="mat-caption" *ngIf="errorType === 'NoDomain'" i18n>
        Domain name is mandatory for email addresses
      </mat-error>
      <mat-error class="mat-caption" *ngIf="errorType === 'InvalidDomain'" i18n>
        Invalid domain name. This domain is not allowed for sharing content
      </mat-error>
      <mat-error class="mat-caption" *ngIf="sendStatus === 'INVALID_IDS_ALL'" i18n>
        Invalid Ids
      </mat-error>
      <mat-error class="mat-caption" *ngIf="sendStatus === 'INVALID_ID_SOME'" i18n>
        Unable to share for above ids. Sharing with other ids are successful
      </mat-error>
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field class="text-area">
    <textarea matInput i18n-placeholder placeholder="Your message ..." i18n-value
      value="I want to share this artifact that I found on {{platform}}." rows="5" #txtBody></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex-row-reverse">
  <button mat-raised-button (click)="share(txtBody.value, successToast.value)" i18n i18n-aria-label
    aria-label="Share this content with specified email address"
    [disabled]="userEmailIds.length === 0 || sendInProgress" [color]="'primary'">
    Share
  </button>
  <button mat-button [mat-dialog-close]="false" i18n>Close</button>
  <app-spinner *ngIf="sendInProgress" spinSize="small"></app-spinner>
  <div *ngIf="sendStatus === 'ANY'" i18n>
    Unable to share. Try later
  </div>
</div>
<input type="hidden" i18n-value="Toast msg after successfully sharing" value="Content successfully shared"
  #successToast>